<div class="bind-alipay">
    <div class="ui-input-mod">

        <div class="item"><input type="text" class="ui-input  ui-input-size-large ui-input-block ui-input-border-bottom-none ui-input-bottom-left ui-input-bottom-right" placeholder="姓名" data-role="alipay-name"></div>

        <div class="item">
            <input type="text" class="ui-input  ui-input-size-large ui-input-block  ui-input-top-left ui-input-border-bottom-none ui-input-top-right" placeholder="支付宝账号" data-role="alipay-account">
        </div>

        <div class="item">
            <input type="text" class="ui-input  ui-input-size-large ui-input-block  ui-input-top-left ui-input-top-right" placeholder="身份证号码" data-role="id-car">
        </div>

        
    </div>

    <div class="btn mt10">
       <button class="ui-button ui-button-primary ui-button-size-large ui-button-block" data-role="btn">
            <span class="ui-button-content">提交绑定</span>
        </button>
    </div>
    <div class="des">
        <p>注意： </p>
        <p>1、此账户为约约平台与您进行现金结算的通道。</p>
        <p>2、请确认支付宝及姓名为本人使用账户。</p>
        <p>3、为确保您的资金安全，如需解绑账户，请联系人工客服认证。客服电话：<span class="num"><a  class="num"  href="javascript:void(0)">400-082-9003</a></span></p>
    </div>



</div>    