<div class="bind-alipay-success">
            
    <div class="p1">{{data.msg}}</div>
    <div class="p2" data-role="alipay-account">{{alipay_account}}</div>
    <div class="p3">如需解绑，请联系客服</div>
    <div class="p4"><span class="num"><a  class="num" href="javascript:void(0)">400-082-9003</a></span></div>

</div>  