<footer class="footer-v2">
    <ul class="list clearfix f14 ">
        <a href="{{index_link}}"><li ><i class="icon icon-index"></i>首页</li></a>
        <a href="{{my_link}}"><li ><i class="icon icon-my"></i>我的</li></a>
    </ul>        
</footer>