<div class="poco-date-picker fn-hide" data-role="poco-date-picker" >
    <div class="picker-header" style="position: fixed;top: 0px;z-index: 5!important;">
        <h1>日历</h1>
        <div class="picker-return fn-hide" data-role="poco-date-picker-return" ><i class="nok"></i></div>
    </div>
    <ul class="week_day" style="position: fixed;top: 43px;z-index: 5!important;">
        <li>日</li>
        <li>一</li>
        <li>二</li>
        <li>三</li>
        <li>四</li>
        <li>五</li>
        <li>六</li>
    </ul>
    <div role="main" class="days " data-role="picker-days"></div>
</div>
<div data-role="date-container-time"></div>