<div class="guide-page">
    <div class="guide-page-body" data-role="guide-body" >
        <div class="guide-page-warp-box" data-role="guide-page-warp-box" style="background: rgba(255,255,255,0);">
        </div>
    </div>
</div>