<main role="main">
    <header class="nav-header mine-setting-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back" ></i></a>
        </div>
        <h3 class="title" data-role="transit">设置</h3>
        <div class="right-button-wrap"></div>
    </header>
    <div class="setup-page" data-role="container" style="padding-top:10px">
        <div class="warp-box">
            <ul class="list">
                <li data-role="bind-phone" class="fn-hide">
                    <div class="lbox" >绑定手机号</div>
                    <div class="rbox" data-role="phone-num">暂无</div>
                </li>
                <li data-role="undate-pw">
                    <div class="lbox">修改密码</div>
                </li>
                <li data-role="setting">
                    <div class="lbox" >新消息通知</div>
                </li>
                <li data-role="clear-cache">
                    <div class="lbox">清理缓存</div>
                </li>
                <li data-role="bind-alipay">
                    <div class="lbox">支付宝绑定</div>
                </li>
            </ul>
            <div class="btn" data-role="about">关于约约</div>
            <div class="btn" data-role="check-ver" style="margin-top:0;border-top:none;text-align: left;padding-left:15px;">检查新版本 <i class="circle-mod fn-hide" data-appver-update-point="1"></i></div>
            <div class="btn" data-role="logout" style="margin-top:0;border-top:none;text-align: center;padding-left:0;">退出当前账号</div>
            <div class="ver" data-role="ver-num" style="margin-top: 20px;padding: 10px;font-size: 10px;text-align: center;visibility: hidden;">
                v<label ></label>
            </div>
        </div>
    </div>
</main>