<div class="collect-mod dib" data-role="collect">
    <button class="ui-button  ui-button-block  ui-button-size-m ui-button-bd-ff6 {{class_name}}" data-role="btn-collect">
        <span class="ui-button-content" data-role="txt-collect" >{{txt}}</span>
    </button>
</div>
