{{#if list}}
    {{#each list}}
        <div class="item">
            <h3>{{word}}</h3>
                <ul class="list">
                    {{#each city}}
                        <li data-role="date-city" data-location-id="{{location_id}}" data-location-name="{{city}}">{{city}}</li> 
                    {{/each}}        
                </ul>
        </div> 
    {{/each}}   
{{/if}}




                        
                    

                   