<main role="main" class="location ">
    
    <header class="nav-header city-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">选择城市</h3>
        
        <div class="right-button-wrap">
            <a><i class="icon icon-cog"></i></a>
        </div>
    </header> 

    <div data-role="container" class="content-body"  >
        <div>
            <div class="index-select-city">
                    <div class="now-city">
                        <div class="gps"><i class="icon icon-gps"></i>GPS当前定位城市</div>
                        <div class="city border-radius-2px" data-role="now-city" data-location-id="101029001" data-location-name="广州">
                            <button class="ui-button ui-button-primary ui-button-size-middle">
                                <span class="ui-button-content" data-role="now-city-text">广州</span>
                            </button>
                        </div>
                    </div>

                    <div class="" data-role="hot-city-container">
                        
                    </div>
                    

            </div>
        </div>
    </div>

</main>