.list-max-img-mod .item {
  margin-top: 15px;
  float: left;
  width: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-right: 5px; }
  .list-max-img-mod .item .dj {
    display: -webkit-box;
    -webkit-box-pack: justify; }
  .list-max-img-mod .item .img-box {
    width: 100%;
    position: relative;
    padding-top: 100%; }
    .list-max-img-mod .item .img-box i {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background-position: 50%;
      background-repeat: no-repeat;
      -webkit-background-size: cover; }
    .list-max-img-mod .item .img-box .bar {
      position: absolute;
      top: 10px;
      right: 0;
      z-index: 3;
      height: 16px;
      color: #fff; }
      .list-max-img-mod .item .img-box .bar .tag {
        line-height: 16px;
        text-align: center;
        background-color: #fe9920;
        padding: 2px 5px; }
      .list-max-img-mod .item .img-box .bar .triangle {
        position: relative;
        bottom: 20px;
        right: 8px;
        z-index: 3;
        width: 0px;
        height: 0px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 8px solid #fe9920; }
  .list-max-img-mod .item img {
    width: 100%;
    max-height: 133px; }
  .list-max-img-mod .item .item-area {
    border: 1px solid #eeeeee; }
  .list-max-img-mod .item:nth-child(2n+0) {
    padding-right: 0px;
    padding-left: 5px; }
  .list-max-img-mod .item .txt-area {
    padding: 15px 10px 15px 10px; }
    .list-max-img-mod .item .txt-area .price {
      margin-bottom: 8px;
      color: #333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .list-max-img-mod .item .txt-area .des {
      color: #666;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 70%; }
    .list-max-img-mod .item .txt-area .tags {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 5px;
      color: #fff;
      text-align: center;
      line-height: 20px;
      background: #fe9920;
      border-radius: 2px; }
