<div class="component-panel-text-pic" data-role="component-panel-text-pic">
    <div class="icon-con"><i class="icon icon-close-20x20 close" data-role="close-panel"></i></div>
    <input class="module-input" type="text" placeholder="场地/模特介绍..." data-role="module-input"/>
    <div data-role="picture-list"></div>
</div>