<main role="main" class="authentication_level_2_status">
    <header class="nav-header mine-model-car-header-opacity" data-role="slide-header">
        <div class="left-button-wrap" data-role="page-back">
            <a href="javascript:;"><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title" data-role="moteka-title">V2 实名认证</h3>

       <div class="right-button-wrap" data-role="confirm">

        </div> 
    </header>
    <div class="content-body " data-role="content-body">
        <div class="list-container" data-role="list-container">

        </div>
    </div>
    <div class="btn-con">
        <button class="ui-button ui-button-size-middle ui-button-block ui-button-primary ui-button-size-radius-large auto_width" data-role="look">
            <span class="ui-button-content">随便看看</span>
        </button>
    </div>
</main>

