
{{#each list}}
    <div class="item">
        <div class="item-area">
            <a href="{{link}}">
                <div class="img-box">
                    <i style="background-image:url({{images}})"></i>
                </div>
            </a> 
            <div class="txt-area clearfix">
                <p class="price">{{prices}}</p>
                <p class="des">{{titles}}</p>
            </div>
        </div>
    </div>
{{/each}}