.category-page-body .ui-selectbox-option {
  text-align: center; }
.category-page-body .search-ele {
  padding-top: 23px; }
.category-page-body .ui-selectbox {
  height: 30px;
  line-height: 30px; }
.category-page-body .ui-search-com .search-form-container .search-text {
  width: 200px; }
.category-page-body .ui-search-com .search-form-container .search-text .text {
  padding: 3px 38px 3px 20px;
  font-size: 14px;
  width: 142px; }
.category-page-body .ui-search-com .search-form-container .ui-selectbox .ui-selectbox-inner {
  font-size: 14px; }
.category-page-body .ui-search-com .search-form-container .search-text .icon-search {
  background-position: 10px 5px;
  height: 30px;
  padding: 0px 0px 0px 0px; }
.category-page-body .ui-search-com .search-form-container .search-text .label-place-holder {
  visibility: visible;
  left: 20px;
  top: 0;
  z-index: 1;
  padding: 3px 38px 3px 0;
  line-height: 24px;
  font-size: 14px;
  height: 24px;
  max-width: 90%; }

.category-page .p1th .scrollBox-wrap {
  overflow: hidden; }
.category-page .p1th .scrollBox li {
  float: left;
  width: 1000px;
  height: 330px;
  overflow: hidden;
  background-size: cover; }
  .category-page .p1th .scrollBox li a {
    display: block;
    width: 1000px;
    height: 330px; }
.category-page .p1th .scrollBox .page-wrap {
  width: 100%;
  position: relative; }
  .category-page .p1th .scrollBox .page-wrap .pre {display: inline;
    
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    left: -60px;
    bottom: 135px;
    -webkit-transition: right .1s, left .1s;
    -moz-transition: right .1s, left .1s;
    -ms-transition: right .1s, left .1s;
    -o-transition: right .1s, left .1s;
    transition: right .1s, left .1s;background-repeat: no-repeat;}
  .category-page .p1th .scrollBox .page-wrap .next {display: inline;
    width: 60px;
    height: 60px;
    bottom: 135px;
    
    overflow: hidden;
    position: absolute;
    right: -60px;
    -webkit-transition: right .1s, left .1s;
    -moz-transition: right .1s, left .1s;
    -ms-transition: right .1s, left .1s;
    -o-transition: right .1s, left .1s;
    transition: right .1s, left .1s;background-repeat: no-repeat;}
.category-page .p1th .scrollBox .page-box {
  position: absolute;
  left: 50%;
  bottom: 15px;
  margin-left: -100px;
  width: 200px;
  text-align: center; }
  .category-page .p1th .scrollBox .page-box a {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 10px;
    background: #909498;
    margin-right: 10px;
    text-indent: -9999px; }
  .category-page .p1th .scrollBox .page-box a:hover, .category-page .p1th .scrollBox .page-box a.selected {
    background: #fff; }
.category-page .p1th .slide-pic-hover .page-wrap .pre {
  left: 0px; }
.category-page .p1th .slide-pic-hover .page-wrap .next {
  right: 0px; }
.category-page .p2th {
  text-align: center; }
  .category-page .p2th .list {
    padding: 60px 0px 0px 0px;
    display: inline-block; }
    .category-page .p2th .list li {
      width: 84px;
      text-align: center;
      float: left;
      display: inline-block;
      margin-right: 76px; }
      .category-page .p2th .list li a {
        text-decoration: none; }
      .category-page .p2th .list li .img {
        width: 80px;
        height: 80px;
        border-radius: 84px;
        background-size: cover;
        overflow: hidden;
        border: 2px solid #fff; }
        .category-page .p2th .list li .img img {
          max-height: 80px;
          max-height: 80px;
          border: 2px solid #fff;
          border-radius: 80px; }
      .category-page .p2th .list li .h3 {
        padding-top: 10px;
        font-size: 14px; }
      .category-page .p2th .list li:hover .img {
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
        border: 2px solid #aeaeae; }
        .category-page .p2th .list li:hover .img img {
          border: 2px solid #aeaeae; }
      .category-page .p2th .list li:hover .h3 {
        color: #4092f1; }
  .category-page .p2th .search {
    display: inline-block;
    padding-top: 60px;
    width: 82px;
    text-align: center; }
    .category-page .p2th .search a {
      text-decoration: none; }
    .category-page .p2th .search .img {width: 81px;
      height: 81px;background-repeat: no-repeat;}
    .category-page .p2th .search:hover .img {background-repeat: no-repeat;}
    .category-page .p2th .search:hover .h3 {
      color: #4092f1; }
    .category-page .p2th .search .h3 {
      padding-top: 10px;
      font-size: 14px; }
.category-page .p3th .col {
  padding-top: 60px; }
.category-page .p3th .item-wrap .title-top {
  padding-bottom: 5px;
  border-bottom: 1px solid #dddddd; }
  .category-page .p3th .item-wrap .title-top .more {
    padding-top: 5px; }
    .category-page .p3th .item-wrap .title-top .more a {
      color: #4092f1; }
    .category-page .p3th .item-wrap .title-top .more:hover a {
      color: #9fc8f8; }
.category-page .p3th .img-wrap {
  width: 1000px;
  overflow: hidden;
  padding-top: 20px; }
.category-page .p3th .item-area {
  width: 1100px; }
.category-page .p3th .item {
  position: relative;
  float: left;
  display: inline;
  width: 490px;
  height: 300px;
  margin-right: 15px; }
  .category-page .p3th .item .img-box img {
    max-width: 490px;
    height: 300px; }
  .category-page .p3th .item .txt-area {
    position: absolute;
    z-index: 99;
    background: url(http://static.yueus.com/mall/user/test/static/pc/images/line-10x100.png) repeat-x;
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0px;
    font-size: 20px;
    color: #fff; }
    .category-page .p3th .item .txt-area .des {
      padding-top: 53px;
      padding-left: 25px; }
  .category-page .p3th .item .fade-h5 {
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: -65px;
    left: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: bottom 0.1s ease-out; }
  .category-page .p3th .item:hover .fade-h5 {
    bottom: 0; }
.category-page .p4th {
  padding-top: 60px; }
  .category-page .p4th .scrollBox-wrap {
    overflow: hidden; }
  .category-page .p4th .scrollBox li {
    float: left;
    width: 1000px;
    height: 230px;
    overflow: hidden; }
    .category-page .p4th .scrollBox li a {
      display: block;
      width: 1000px;
      height: 230px; }
  .category-page .p4th .scrollBox .page-wrap {
    width: 100%;
    position: relative; }
    .category-page .p4th .scrollBox .page-wrap .pre {display: inline;
      
      width: 60px;
      height: 60px;
      overflow: hidden;
      position: absolute;
      left: -60px;
      bottom: 85px;
      -webkit-transition: right .1s, left .1s;
      -moz-transition: right .1s, left .1s;
      -ms-transition: right .1s, left .1s;
      -o-transition: right .1s, left .1s;
      transition: right .1s, left .1s;background-repeat: no-repeat;}
    .category-page .p4th .scrollBox .page-wrap .next {display: inline;
      width: 60px;
      height: 60px;
      bottom: 85px;
      
      overflow: hidden;
      position: absolute;
      right: -60px;
      -webkit-transition: right .1s, left .1s;
      -moz-transition: right .1s, left .1s;
      -ms-transition: right .1s, left .1s;
      -o-transition: right .1s, left .1s;
      transition: right .1s, left .1s;background-repeat: no-repeat;}
  .category-page .p4th .scrollBox .page-box {
    position: absolute;
    left: 50%;
    bottom: 15px;
    margin-left: -100px;
    width: 200px;
    text-align: center; }
    .category-page .p4th .scrollBox .page-box a {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 10px;
      background: #909498;
      margin-right: 10px;
      text-indent: -9999px; }
    .category-page .p4th .scrollBox .page-box a:hover, .category-page .p4th .scrollBox .page-box a.selected {
      background: #fff; }
  .category-page .p4th .slide-pic-hover .page-wrap .pre {
    left: 0px; }
  .category-page .p4th .slide-pic-hover .page-wrap .next {
    right: 0px; }
.category-page .p1th .scrollBox .page-wrap .pre{background-position:-20px 0px}.category-page .p4th .scrollBox .page-wrap .pre{background-position:-20px 0px}.category-page .p1th .scrollBox .page-wrap .next{background-position:-20px -70px}.category-page .p4th .scrollBox .page-wrap .next{background-position:-20px -70px}.category-page .p2th .search .img{background-position:0px -140px}.category-page .p2th .search:hover .img{background-position:0px -230px}.category-page .p1th .scrollBox .page-wrap .pre,.category-page .p4th .scrollBox .page-wrap .pre,.category-page .p1th .scrollBox .page-wrap .next,.category-page .p4th .scrollBox .page-wrap .next,.category-page .p2th .search .img,.category-page .p2th .search:hover .img{background-image: url(http://static.yueus.com/mall/user/test/static/pc/style/category/index_z.png)}