.footer-v2 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0; }
  .footer-v2 li {
    color: #fff;
    float: left;
    width: 50%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #2c2c2c; }
    .footer-v2 li.cur {
      background: #111111; }
    .footer-v2 li:active {
      background: #111111; }
  .footer-v2 .icon-index {background-repeat: no-repeat;}
  .footer-v2 .icon-my {background-repeat: no-repeat;}
  .footer-v2 .icon {
    vertical-align: -7px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 25px 25px; }
.footer-v2 .icon-index{background-position:0px 0px}.footer-v2 .icon-my{background-position:0px -30px}.footer-v2 .icon-index,.footer-v2 .icon-my{background-size: 25px 55px;background-image: url(http://static.yueus.com/mall/wallet-test/static/wap/modules/common/widget/footer/footer_0.5_z.png)}