<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main" class="">
            <header class="nav-header search-header">            
                <div class="search-index-wrap">
                    <div class="lbox"><i class="icon icon-srarch-m"></i></div>
                    <div class="rbox">取消</div>
                    <div class="main-search">
                        <i class="icon icon-search-gray"></i>
                        <input type="text" name=" " id=" " class="input-text" placeholder="搜索模特" >
                    </div>
                </div>
            </header>

            <div style="height:100%">

               <div class="search-history">
                   <section>
                       <ul class="list clearfix">
                           <li>
                                <div class="lbox"><i class="icon icon-search-gray-s"></i>郭美美</div>
                                <div class="rbox"><i class="icon icon-close-20x20"></i></div>
                           </li>
                            <li>
                                <div class="lbox"><i class="icon icon-search-gray-s"></i>郭美美</div>
                                <div class="rbox"><i class="icon icon-close-20x20"></i></div>
                           </li>
                            <li>
                                <div class="lbox"><i class="icon icon-search-gray-s"></i>郭美美</div>
                                <div class="rbox"><i class="icon icon-close-20x20"></i></div>
                           </li>
                       </ul>        
                   </section>
                   <div class="btn">清空搜索历史</div>
               </div>

            </div>
        </main>
    </div>
</div>

</body>
</html>
