<main role="main" class="authentication_level_2_ready">
    <header class="nav-header mine-model-car-header-opacity" data-role="slide-header">
        <div class="left-button-wrap" data-role="page-back">
            <a href="javascript:;"><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title" data-role="moteka-title">V2 实名认证</h3>

       <div class="right-button-wrap" data-role="confirm">

        </div> 
    </header>
    <div class="content-body " data-role="content-body">
        <div class="list-container" data-role="list-container" >
            <div class="img-con">
                <img style="width: 100%;" data-role="images"/>
            </div>
            <div class="text-con">
                <div class="ui-input-mod">
                    <div class="item"><input type="text" class="ui-input  ui-input-size-large ui-input-block ui-input-top-left ui-input-top-right ui-input-bottom-left ui-input-bottom-right" placeholder="你的真实姓名" data-role="name"></div>
                </div>
                <div class="ui-input-mod">
                    <div class="item"><input type="text" class="ui-input  ui-input-size-large ui-input-block ui-input-top-left ui-input-top-right ui-input-bottom-left ui-input-bottom-right" placeholder="请输入你的身份证号"  data-role="id"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-con">
        <button class="ui-button ui-button-size-middle ui-button-block ui-button-color2 ui-button-size-radius-large auto_width" data-role="re_take_photo">
            <span class="ui-button-content">重新上传</span>
        </button>
        <button class="ui-button ui-button-size-middle ui-button-block ui-button-primary ui-button-size-radius-large auto_width" data-role="submit">
            <span class="ui-button-content">提交审核</span>
        </button>
    </div>
</main>

