@charset "UTF-8";
// ------------------------------
// POCO约拍app -模特卡
// ------------------------------

.model-car{

    .grid-pic-content{
        position: relative;
        height: 213px;
        .grid-pic{
            @include float-left;
        }
    }
    //padding-bottom: 20px;
    .back{
        position: absolute;
        z-index: 9;
        top: 20px;
        left: 5px;
        padding: 10px;
        
    }
    .list-img{
        height: 320px;
        overflow-y: auto;
        @include clearfix;
        li{
            width: 33.3%;
            @include float-left;
            img{
                width: 100%;
                display: block;
            }
        }
        li:nth-child(4){
            width: 66.6%;
        };
    }
    .list-num{
        @include clearfix;
        border-bottom: 1px solid #dddddd;
        @extend %ul-li-center;
        padding: 22px 0 20px 0;
        .pa{
            font-size: 14px;
            color: #ff5000;
        }
        .pb{
            font-size: 10px;
            color: #959595;
        }
    }
    .bar{
            clear: both;
            height: 45px;
            background: #ff0052;
            color: #fff;
            font-size: 15px;
            @include box-sizing(border-box);
            @include flexbox((
                display: box
            ), $version: 1);
            li{
                padding-top: 9px;
                @include flexbox((
                    box-flex: 1
                ), $version: 1);
                text-align: center;
                .icon-yuepai{
                    // @include get-icon('sizhao-50x50', true, block);
                    vertical-align: bottom;
                    margin-right: 3px;
                }
                .icon-sizhao{
                    @include get-icon('yuepai-50x50', true, block);
                    vertical-align: bottom;
                    margin-right: 3px;
                }
                &:nth-child(1){
                    // border-right: 1px solid #fff;
                }
                &:active{
                    background-color: #ff266c;
                };
                .icon-r-16x26-white{
                    @include float-right;
                    margin: 7px 10px 0 0;
                }
            }
    }
    .img-area{
        width: 220px;
        margin: 0 auto;
        @include clearfix;
        padding: 22px 50px 17px;
        div{
            @include float-left;
        }
      .img-area-icon-container{
        height: 69px;
        width: 69px;
      }
        .user-img{
            width: 78px;
            height: 78px;
          background-size:cover
        }
        .icon-add{
            @include get-icon('add-98x98', true, block);
            &:active{
                @include get-icon('add-98x98-active', true, block);
            };
            margin-right: 20px;
            margin-top: 13px;
        }
        .icon-des{
          &:active
          {
            @include get-icon('des-98x98-active', true, block);
          };
          margin-right: 20px;
          margin-top: 13px;
        }
        .icon-msg{
            // @include get-icon('msg-98x98', true, block);
            &:active{
                // @include get-icon('msg-98x98-active', true, block);    
            };
            margin-left: 20px;
            margin-top: 13px;
        }
        .user-img{
            width: 78px;
            height: 78px;
            @include border-radius(50px);
            overflow: hidden;
            border: 1px solid #ff0052;
            img{
                width: 100%;
            }
        }
    }
    .model-info{
      display: -webkit-box;
      -webkit-box-orient:vertical;
        text-align: center;
      .line_one{
        display: -webkit-box;
        -webkit-box-pack:center;
        .model-info-name{
          margin: 0px 10px 0px 5px;
        }
        .model-info-city_name{
          margin: 0px 0px 0px 5px;
        }
      }
      .line_two{
        height: 20px;
        margin-bottom: 5px;
        p{
          color :#bebebe;
          font:{
            size : 11px;
          }
        }
      }
    }
    .p1{
        color: #434343;
        font-size: 15px;

    }
    .p2{
        padding-top: 5px;
        color: #aeaeae;
        font-size: 10px;
    }
    .model-size{
        font-size: 15px;
        padding-top: 20px;
        li{
            width: 25%;
            @include float-left;
            text-align: center;

            // icons
            &:before {
                    margin: 0px auto 0px;
                    width: 76px;
                    height: 76px;
                    margin-bottom: 5px;
            }
            &:nth-child(1){
                @include get-icon('shengao-76x76', true, block);
            }
            &:nth-child(2){
                @include get-icon('tizhong-76x76', true, block);
            }
            &:nth-child(3){
                @include get-icon('xiongwei-76x76', true, block);
            }
            &:nth-child(4){
                @include get-icon('yaowei-76x76', true, block);
            }
        }
    }
    .wrap-box{
        clear: both;
        @include clearfix;
        font-size: 14px;
        padding: 15px 10px 20px 10px;
        .com{
            @include float-left;
            .icon-red{
                @include get-icon('start-red-26x26', true, block);
                vertical-align: middle;
            }
            .icon-grey{
                @include get-icon('start-grey-26x26', true, block);
                vertical-align: middle;
            }
            .red{
                color: #ff0052;
            }
        }
        .num{
            @include float-right;
            .icon-r{
                @include get-icon('r-16x26', true, block);
                vertical-align: middle;
            }
        }
    }
}

.pop-model-car-tips{
    height: 70px;
    position: absolute;
    bottom: 0px;
    background:rgba(0,0,0,0.7);
    width: 100%;
    .txt{
        color: #fff;
        font-size: 12px;
        padding: 20px 0 0 10px;
        .p2{
            padding-top: 5px;
        }
    }
    .icon-close{
        position: absolute;
        right: 13px;
        top: 14px;
        @include get-icon('close-28x28', true, block);
        
    }
}
.model-car-available_notice_text{
  display: -webkit-box;
  -webkit-box-orient:vertical;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: none;
  height: 70px;
  color: #FFF;
  font:{
    size : 12px;
  }
  .congratulations{
    display: -webkit-box;
    -webkit-box-pack:justify;
    margin-top: 15px;
    padding: 0px 10px 0px 10px;
  }
  .congratulations-notice{
    margin-top: 5px;
    padding: 0px 10px 0px 10px;
  }
}
.model-car-available_notice{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #000000;
  height: 70px;
  opacity: 0.6;
}












