<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>
<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main">

            <header class="nav-header my-zone-header">
                    <div class="left-button-wrap" data-role="page-back">
                        <a><i class="icon icon-back"></i></a>
                    </div>

                    <h3 class="title">发起约拍</h3>

                    <div class="right-button-wrap">
                        <a>1/7</a>
                    </div>
            </header>

            <div>

                
                <!-- 发需求 start -->
                <div class="demand-page">

                    <!-- 第1页 start  -->
                    <div class="page-1" style="display:none; ">
                        <div class="box1">
                            你预想的拍摄时间？
                        </div>
                        <div class="box2">
                            选择一个时间
                        </div>
                        <div class="foot">                         
                            <button class="ui-button ui-button-primary ui-button-size-large ui-button-block ui-button-dark">
                                    <span class="ui-button-content">下一步</span>
                            </button>
                        </div>
                    </div>
                    <!-- 第1页 end  -->



                    <!-- 第2页 start  -->
                    <div class="page-2"  style="display:none; ">
                        <div class="title">你想拍什么风格的模特？</div>

                        <div class="item-wrap-mod">
                            <div class="item">
                                <div class="dtitle">性感</div>
                                <ul class="list ">

                                   
                                    <li>
                                        <i class="icon icon-r-grey-m"></i>真空
                                    </li>
                                    
                                </ul>        
                            </div>


                            <div class="item">
                                <div class="dtitle">性感</div>
                                <ul class="list ">

                                 
                                    <li>
                                        <i class="icon icon-r-grey-m"></i>真空
                                    </li>

                                    <li>
                                        <i class="icon icon-r-grey-m"></i>真空
                                    </li>
                                    
                                </ul>        
                            </div>

                        </div>
                       
                       
                    </div>
                    <!-- 第2页 end  -->


                    <!-- 第3页 start  -->
                    <div class="page-3" style="display:none; ">
                       <div class="title">你的预算是多少</div>
                       <div class="item-wrap-mod">
                           <div class="item">
                               <div class="dtitle">100以下 <i class="icon icon-r-grey-m"></i></div>
                           </div>

                           <div class="item">
                               <div class="dtitle">100以下 <i class="icon icon-r-grey-m"></i></div>
                           </div>

                           <div class="item">
                               <div class="dtitle">100以下 <i class="icon icon-r-grey-m"></i></div>
                           </div>

                           <div class="item">
                               <div class="dtitle">100以下 <i class="icon icon-r-grey-m"></i></div>
                           </div>


                       </div>
                       
                    </div>
                    <!-- 第3页 end  -->


                    <!-- 第4页 start  -->
                    <div class="page-4" style="display:none; ">
                       <div class="title">
                           你有定下拍摄场地么？ <br />
                           如果有，请输入拍摄场地方便模特选择。
                       </div>

                       <div class="item-wrap-mod">

                           <div class="item">
                               <div class="dtitle">有 <i class="icon icon-r-grey-m"></i></div>
                           </div>

                           <div class="item">
                               <div class="dtitle">没有 <i class="icon icon-r-grey-m"></i></div>
                           </div>

      


                       </div>
                                   
                    </div>
                    <!-- 第4页 end  -->


                    <!-- 第5页 start  -->
                    <div class="page-5" style="display:none; ">
                        <div class="title">
                            你有定下拍摄场地么？ <br />
                            如果有，请输入拍摄场地方便模特选择。
                        </div>
                        <textarea name=" " id=" "  class="textarea-class"  placeholder="请输入详细地址"></textarea>   
                        <div class="foot">                         
                            <button class="ui-button ui-button-primary ui-button-size-large ui-button-block ">
                                    <span class="ui-button-content">下一步</span>
                            </button>
                        </div>  
                    </div>
                    <!-- 第5页 end  -->


                    <!-- 第6页 start  -->
                    <div class="page-6" style="display:none; ">
                        <div class="title">
                            你需要约约为你提供配套服务么？
                        </div>

                        <div class="item-wrap-mod">

                            <div class="item">
                                <div class="dtitle">场地服务 <i class="icon icon-r-grey-m"></i></div>
                            </div>

                            <div class="item">
                                <div class="dtitle">化妆服务 <i class="icon icon-r-grey-m"></i></div>
                            </div>

                        </div>
                                   
                    </div>
                    <!-- 第6页 end  -->


                    <!-- 第7页 start  -->
                    <div class="page-7"  style="display:none; ">
                        <div class="title">
                            你希望多久内找到合适的模特？
                        </div>
                        <div class="item-wrap-mod">

                            <div class="item">
                                <div class="dtitle">两天内 <i class="icon icon-r-grey-m"></i></div>
                            </div>

                            <div class="item">
                                <div class="dtitle">两天内 <i class="icon icon-r-grey-m"></i></div>
                            </div>

                        </div>           
                    </div>
                    <!-- 第7页 end  -->

                    <!-- 第8页 start  -->
                    <div class="page-8" style="display:none; ">
                        <div class="title">
                            还有其他想让模特知道的吗？
                        </div>
                        <textarea name=" " id=" "  class="textarea-class"  placeholder="选填项；比如身材、样貌等其他要求"></textarea>
                        <div class="foot">                         
                            <button class="ui-button ui-button-primary ui-button-size-large ui-button-block ">
                                    <span class="ui-button-content">发布我的需求</span>
                            </button>
                        </div>    
                    </div>
                    <!-- 第8页 end  -->

                    <!-- 第9页 start  -->
                    <div class="page-9" >
                        <div class="title">
                            <div>
                                <i class="icon icon-success-max"></i>
                            </div>
                            <p class="p1">发布成功</p>
                        </div>
                        
                        <div class="txt">
                            稍后我们会通过消息给你推送模特， <br />
                            请你留意系统消息。
                        </div>
                        <div class="foot">                         
                            <button class="ui-button ui-button-primary ui-button-size-large ui-button-block ">
                                    <span class="ui-button-content">确定</span>
                            </button>
                        </div>    
                    </div>
                    <!-- 第9页 end  -->











                    
                </div>
                <!-- 发需求 end  -->


            </div>

        </main>
    </div>
</div>

</body>
</html>
