<div>
    <div data-role="{{type_tag}}-warp">
        <div class="warp-box">
            <div class="child-content-inside" data-role="{{type_tag}}-content-inside">

            </div>
            <div class="load-more-container" data-role="{{type_tag}}-load_more"></div>
        </div>
    </div>
</div>