<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-热门</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main">
            <header class="page-header">
                    <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                选择城市
            </header>     
            
            <div class="index-select-city">
                <div class="now-city">
                    <div class="gps"><i class="icon icon-gps"></i>GPS当前定位城市</div>
                    <div class="city border-radius-2px">广州</div>
                </div>

                <div class="item">
                    <h3>热门城市</h3>
                    <ul class="list">
                        <li data-role="date-city">北京</li>
                        <li data-role="date-city">上海</li>
                        <li data-role="date-city">广州</li>
                        <li data-role="date-city">深圳</li>
                        <li data-role="date-city">重庆</li>
                        <li data-role="date-city">成都</li>
                        <li data-role="date-city">武汉</li>
                        <li data-role="date-city">杭州</li>
                        <li data-role="date-city">苏州</li>
                    </ul>        
                </div>

                <div class="item">
                    <h3>A</h3>
                    <ul class="list">
                        <li data-role="date-city">北京</li>
                        <li data-role="date-city">上海</li>
                        <li data-role="date-city">广州</li>
                        <li data-role="date-city">深圳</li>
                        <li data-role="date-city">重庆</li>
                        <li data-role="date-city">成都</li>
                        <li data-role="date-city">武汉</li>
                        <li data-role="date-city">杭州</li>
                        <li data-role="date-city">苏州</li>
                    </ul>        
                </div>


            </div>


            <footer data-role="footer">
                
            </footer>
        </main>
    </div>
</div>
<script>
(function() {
    
})();
</script>
</body>
</html>
