<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-热门</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link type="text/css" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <!-- index.hot tpl start -->
        <main role="main" class="index-hot">
            <header class="page-header wryh">
                <div class="hot-find-select">
                    <ul class="hot-find-select-in">
                        <i class="choosen hot cur" data-role="select-hot">热门</i>
                        <i class="choosen find " data-role="select-find">发现</i>
                    </ul>
                </div>
            </header>
            <div data-role="container" class="content-body"  >
                <div data-role="scoll-wrapper">
                    <div data-role="pull-down" class="pull-down-container release">                        
                        <i class="icon icon-more-24x32"></i>
                        <span class="text">下拉刷新</span>
                    </div>
                    <div class="grid-list grid-pic-content" data-role="grid-list-container">

                    </div>
                    <div class="space-bottom"></div>
                </div>
            </div>

        </main>


        <!-- index.hot tpl end -->
    </div>
</div>
<script>
    
</script>
</body>
</html>
