<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-热门</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link type="text/css" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <!-- index.hot tpl start -->
        <main role="main" class="index-hot">
            <header class="nav-header hot-find-nav-header">
                <div class="place">
                    广州 <i class="icon icon-allow-22x12"></i>
                </div>

                <hgroup>
                    <h3 class="title has-new current">热门</h3>
                    <h3 class="title has-new ">发现</h3>
                </hgroup>
                
                <div class="right-button-wrap">
                    <i class="icon icon-add-40x40 more-select-icon"></i>
                </div>
            </header>


            <div data-role="container" class="content-body" >

                <div>
                    
                    <div class="new-index-hot">
                        <div class="scroll-area">
                            <img src="../../assets/images/pai/test/640x149.png" style="width:100%">
                        </div>

                        <div class="item-wrap">

                            <!-- <div class="item" style="display:">
                                <div class="part-a">
                                    <div class="lbox ">模特积分榜</div>
                                    <div class="rbox ">更多 <i class="icon icon-allow-22x12"></i></div>
                                </div>
                                <div class="part-b">
                                    <div class="rank-v2">
                                        <div class="p1th">
                                            <div class="item-wrap">
                                                <div class="item">
                                                    <i class="imgbox"  style=" background: url(http://yueus.com/m/images/test/180x240.jpg);background-size:cover"></i>
                                                    <div class="fade-box">
                                                        张芷晴
                                                    </div>
                                                    <div class="txt"><span class="cor1">6280</span> <span class="cor2">魅力</span></div>
                                                    <div class="tags">性感</div>
                                                </div>
                                                <div class="item">
                                                    <i class="imgbox"  style=" background: url(http://yueus.com/m/images/test/180x240.jpg);background-size:cover"></i>
                                                    <div class="fade-box">
                                                        张芷晴
                                                    </div>
                                                    <div class="txt"><span class="cor1">6280</span> <span class="cor2">魅力</span></div>
                                                    <div class="tags">性感</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="item" style="display:">
                                <div class="part-a">
                                    <div class="lbox ">模特积分榜</div>
                                    <div class="rbox ">更多 <i class="icon icon-allow-22x12"></i></div>
                                </div>
                                <div class="part-b">
                                    <ul class="new-list">
                                        <li>
                                            <div class="avatar-size-mod" style="width:135px;height:184px;">
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                                <div>
                                                    <span class="score">6280</span>
                                                    <span class="text">魅力</span>
                                                </div>
                                            </div>
                                            <div class="avatar-info">
                                                <h3>马冰玉</h3>
                                                <label>性感</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="avatar-size-mod" style="width:135px;height:184px;">
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                                <div>
                                                    <span class="score">6280</span>
                                                    <span class="text">魅力</span>
                                                </div>
                                            </div>
                                            <div class="avatar-info">
                                                <h3>马冰玉</h3>
                                                <label>性感</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="avatar-size-mod" style="width:135px;height:184px;">
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                                <div>
                                                    <span class="score">6280</span>
                                                    <span class="text">魅力</span>
                                                </div>
                                            </div>
                                            <div class="avatar-info">
                                                <h3>马冰玉</h3>
                                                <label>性感</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="avatar-size-mod" style="width:135px;height:184px;">
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                                <div>
                                                    <span class="score">6280</span>
                                                    <span class="text">魅力</span>
                                                </div>
                                            </div>
                                            <div class="avatar-info">
                                                <h3>马冰玉</h3>
                                                <label>性感</label>
                                            </div>
                                        </li>
                                    </ul>        
                                </div>
                            </div>

                            <div class="item" style="display:">
                                <div class="part-a">
                                    <div class="lbox ">模特积分榜</div>
                                    <div class="rbox ">更多 <i class="icon icon-allow-22x12"></i></div>
                                </div>
                                <div class="part-b">
                                    <ul class="list">
                                        <li>
                                            <div class="avatar-size-mod avatar-size-mod-80">
                                                <span class="icon avatar-size-area "></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <h3>马冰玉</h3>
                                            <p><span class="num">8500</span><span class="txt"></span>分</p>
                                        </li>

                                        <li>
                                            <div class="avatar-size-mod avatar-size-mod-80">
                                                <span class="icon avatar-size-area "></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <h3>马冰玉</h3>
                                            <p><span class="num">8500</span><span class="txt"></span>分</p>
                                        </li>

                                        <li>
                                            <div class="avatar-size-mod avatar-size-mod-80">
                                                <span class="icon avatar-size-area "></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <h3>马冰玉</h3>
                                            <p><span class="num">8500</span><span class="txt"></span>分</p>
                                        </li>
                                    </ul>        
                                </div>
                            </div>



                            <div class="item" style="display:">
                                <div class="part-a">
                                    <div class="lbox ">本月热门约拍榜</div>
                                    <div class="rbox ">更多 <i class="icon icon-allow-22x12"></i></div>
                                </div>
                                <div class="part-b">
                                    <ul class="list">
                                        <li>
                                            <div class="avatar-size-mod avatar-size-mod-80">
                                                <span class="icon avatar-size-area "></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <h3>马冰玉</h3>
                                            <p><span class="num">x21</span><span class="txt"></span>次</p>
                                        </li>

                                        <li>
                                            <div class="avatar-size-mod avatar-size-mod-80">
                                                <span class="icon avatar-size-area "></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <h3>马冰玉</h3>
                                            <p><span class="num">x21</span><span class="txt"></span>次</p>
                                        </li>

                                        <li>
                                            <div class="avatar-size-mod avatar-size-mod-80">
                                                <span class="icon avatar-size-area "></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <h3>马冰玉</h3>
                                            <p><span class="num">x21</span><span class="txt"></span>次</p>
                                        </li>
                                    </ul>        
                                </div>
                            </div>




                            <div class="item" style="display:">
                                <div class="part-a">
                                    <div class="lbox ">模特机构</div>
                                    
                                </div>
                                <div class="part-b">


                                    <ul class="list-2">
                                        <li>
                                            <div class="img-list">
                                            
                                                <i class="size-img" style="background-image: url(../../assets/images/pai/test/158x158.png); background-size:cover"></i>
                                            </div>
                                            <h3>爱美购</h3>
                                            
                                        </li>

                                        <li>
                                            <div class="img-list">
                                            
                                                <i class="size-img" style="background-image: url(../../assets/images/pai/test/158x158.png); background-size:cover"></i>
                                            </div>
                                            <h3>爱美购</h3>
                                            
                                        </li>


                                        <li>
                                            <div class="img-list">
                                            
                                                <i class="size-img" style="background-image: url(../../assets/images/pai/test/158x158.png); background-size:cover"></i>
                                            </div>
                                            <h3>爱美购</h3>
                                            
                                        </li>

                                        <li>
                                            <div class="img-list">
                                            
                                                <i class="size-img" style="background-image: url(../../assets/images/pai/test/158x158.png); background-size:cover"></i>
                                            </div>
                                            <h3>爱美购</h3>
                                            
                                        </li>
          
                                    </ul>  

                                </div>
                            </div>

                            <div class="btn-option ">  <!-- btn-option-more -->
                                            <i class="icon icon-r-16x26-cur"></i>
                            </div>



                            <div class="item" style="display:">
                                <div class="part-a">
                                    <div class="lbox ">热门新模</div>
                                  
                                </div>
                                <div class="part-b">
                                    <ul class="list">
                                        <li>
                                            <div class="avatar-size-mod avatar-size-mod-80">
                                                <span class="icon avatar-size-area "></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <h3>马冰玉</h3>
                                            
                                        </li>

                                        <li>
                                            <div class="avatar-size-mod avatar-size-mod-80">
                                                <span class="icon avatar-size-area "></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <h3>马冰玉</h3>
                                            
                                        </li>

                                        <li>
                                            <div class="avatar-size-mod avatar-size-mod-80">
                                                <span class="icon avatar-size-area "></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <h3>马冰玉</h3>
                                            
                                        </li>
                                    </ul>        
                                </div>
                            </div>

                            <div class="btn-option ">  <!-- btn-option-more -->
                                            <i class="icon icon-r-16x26-cur"></i>
                            </div>



                            <div class="item" style="display:">
                                <div class="part-a">
                                    <div class="lbox ">优评推荐</div>
                                  
                                </div>
                                <div class="part-b">
                                    <ul class="list">
                                        <li>
                                            <div class="avatar-size-mod avatar-size-mod-80">
                                                <span class="icon avatar-size-area "></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <h3>马冰玉</h3>
                                            <p><span class="num sec-num">9.2</span><span class="txt"></span>次</p>
                                        </li>

                                        <li>
                                            <div class="avatar-size-mod avatar-size-mod-80">
                                                <span class="icon avatar-size-area "></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <h3>马冰玉</h3>
                                            <p><span class="num sec-num">9.2</span><span class="txt"></span>次</p>
                                        </li>

                                        <li>
                                            <div class="avatar-size-mod avatar-size-mod-80">
                                                <span class="icon avatar-size-area "></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <h3>马冰玉</h3>
                                            <p><span class="num sec-num">9.2</span><span class="txt"></span>次</p>
                                        </li>
                                    </ul>        
                                </div>
                            </div>

                            <div class="btn-option ">  <!-- btn-option-more -->
                                            <i class="icon icon-r-16x26-cur"></i>
                            </div>





                        </div>
                    </div>


                    <footer class="tab-footer-new" data-role="footer">
                        <ul>
                            <li>
                                <div class="nav-wrap " data-role="footer-act">
                                    <i class="icon icon-act">活动</i>
                                </div>
                            </li>
                            <li>
                                <div class="nav-wrap " data-role="footer-model">
                                    <i class="icon icon-model">约拍</i>
                                </div>
                            </li>
                            <li>
                                <div class="nav-wrap  current" data-role="footer-my">
                                    <span class="new-tips">10</span>
                                    <i class="icon icon-my">我的</i>
                                </div>
                            </li>
                        </ul>
                    </footer>

                </div>

            </div>

        </main>


        <!-- index.hot tpl end -->
    </div>
</div>
<script>
    
</script>
</body>
</html>
