 <div class="item">
    <div class="wrap-c">
        <div class="lbox">组织能力：</div>
        <div class="rbox">
            <div class="start"><i data-role="event_zjnl" class="icon icon-start-l-g"></i><i data-role="event_zjnl" class="icon icon-start-l-g"></i><i data-role="event_zjnl" class="icon icon-start-l-g"></i><i data-role="event_zjnl" class="icon icon-start-l-g"></i><i  data-role="event_zjnl" class="icon icon-start-l-g"></i></div>
        </div>
    </div>         
</div>


 <div class="item">
    <div class="wrap-c">
        <div class="lbox">模特水平：</div>
        <div class="rbox">
            <div class="start"><i data-role="event_mtsp" class="icon icon-start-l-g"></i><i data-role="event_mtsp" class="icon icon-start-l-g"></i><i data-role="event_mtsp" class="icon icon-start-l-g"></i><i data-role="event_mtsp" class="icon icon-start-l-g"></i><i  data-role="event_mtsp" class="icon icon-start-l-g"></i></div>
        </div>
    </div>         
</div>

