<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main">
            <header class="nav-header follow-page-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">粉丝</h3>
                
                <div class="right-button-wrap">
                </div>
            </header>    
            

            <div class="follow-page">
            
                <div data-role="container-img-list" class="grid-pic-content" style="display:">
                    <ul class="list-img">
                        <li><img src="../../assets/images/pai/test/212x212.jpg"/></li>
                        <li><img src="../../assets/images/pai/test/212x212.jpg"/></li>
                        <li><img src="../../assets/images/pai/test/212x212.jpg"/></li>
                        <li><img src="../../assets/images/pai/test/425x212.jpg"/></li>
                        <li><img src="../../assets/images/pai/test/212x212.jpg"/></li>
                        <li><img src="../../assets/images/pai/test/212x212.jpg"/></li>
                        <li><img src="../../assets/images/pai/test/212x212.jpg"/></li>
                        <li><img src="../../assets/images/pai/test/212x212.jpg"/></li>
                    </ul> 
                </div>

                
            </div>
     


            <footer data-role="footer">
                
            </footer>
        </main>
    </div>
</div>
<script>
(function() {
    
})();
</script>
</body>
</html>
