<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>



<!-- 弹窗口 -->
<div class="pop-model-car-tips-v2">

        <div class="lbox fldi">
            <i class="icon "></i>
            <div class="s-left">
                <p>约yue</p>
                <p>10000+模特随心约</p>
            </div>
        </div>
        <div class="rbox fldi">
            <button class="ui-button ui-button-primary ui-button-size-min ui-button-block ">
                <span class="ui-button-content">立即打开</span>
            </button>
        </div>

</div>


</body>
</html>
