<main role="main" class="action-list ">



    <header class="nav-header nav-header-special-pop" data-role="test_to_coupon">

        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>
        <h3 class="title">摄影师的需求</h3>
        

    </header>
    <!-- drop module -->

    <!-- drop module end-->
    <div class="content-body" data-role="content-body">
        <div data-role="ad-pic-out">

        </div>

        <div class="measure-choosen" data-role="measure-choosen">
            <ul class="measure-choosen-in">
                <li class="tap_choosen" data-tap>
                    <i class="measure-choosen-child"  data-text data-role="style">风格</i>
                    <div class="icon-container">
                        <i class="icon icon-act-list-arrow" data-role="arrow"></i>
                    </div>
                </li>
                <li class="tap_choosen" data-tap>
                    <i class="measure-choosen-child" data-text data-role="price">价格</i>
                    <div class="icon-container">
                        <i class="icon icon-act-list-arrow" data-role="arrow"></i>
                    </div>
                </li>
                <li class="tap_choosen" data-tap>
                    <i class="measure-choosen-child"  data-text data-role="time">拍摄时间</i>
                    <div class="icon-container">
                        <i class="icon icon-act-list-arrow" data-role="arrow"></i>
                    </div>
                </li>
     
            </ul>
        </div>
        <div class="action-list-condition  fn-hide"  data-role="condition-con">


            <div class="price-condition condition fn-hide" data-con data-role="style-con">
                <div class="child cur" data-carry=""><p class="child-child">全部</p></div>
                <div class="child" data-carry="性感"><p class="child-child">性感</p></div>
                <div class="child" data-carry="清新"><p class="child-child">清新</p></div>
                <div class="child" data-carry="街拍"><p class="child-child">街拍</p></div>
                <div class="child" data-carry="复古"><p class="child-child">复古</p></div>
                <div class="child" data-carry="商业"><p class="child-child">商业</p></div>
            </div>


            <div class="day-condition condition fn-hide" data-con data-role="price-con">
                <div class="child cur" data-carry=""><p class="child-child">全部</p></div>
                <div class="child" data-carry="100以下"><p class="child-child">100以下</p></div>
                <div class="child" data-carry="101-300"><p class="child-child">101-300</p></div>
                <div class="child" data-carry="301-500"><p class="child-child">301-500</p></div>
                <div class="child" data-carry="501-800"><p class="child-child">501-800</p></div>
                <div class="child" data-carry="801-1000"><p class="child-child">801-1000</p></div>
                <div class="child" data-carry="1000以上"><p class="child-child">1000以上</p></div>
            </div>


            <div class="history-condition condition fn-hide" data-con data-role="time-con">
                <div class="child cur" data-carry=""><p class="child-child">全部</p></div>
                <div class="child" data-carry="today"><p class="child-child">今天</p></div>
                <div class="child" data-carry="tomorrow"><p class="child-child">明天</p></div>
                <div class="child" data-carry="next_3_day"><p class="child-child">最近3天</p></div>
                <div class="child" data-carry="next_7_day"><p class="child-child">最近7天</p></div>
                <div class="child" data-carry="weekend"><p class="child-child">周末</p></div>
            </div>


            <div class="fade" data-role="fade">1</div>

        </div>

        <div class="action-list-content h-100 " data-role="action-list-content">
            <div class="wrap-box">
               


                <div class="camera-demand-main-page">

                    <div class="pull_down_container" data-role="pull_down_container"></div>
                    <div class="action-child-con h-100" data-role="action-child-con">

                    <!-- <div class="load-more">正在加载，请稍候…</div> -->

                </div>


            </div>
        </div>

    </div>

</main>