// @import "../widget/animation";
// @import "../widget/ui-dialog";
// @import "../widget/ui-tips";
// @import "../widget/ui-poptips";
// @import "../widget/ui-tooltips";
// @import "../widget/ui-loading";
// @import "../widget/ui-notice";
// @import "../widget/ui-slider";
// @import "../widget/ui-progress";
// @import "../widget/ui-checkbox";
// @import "../widget/ui-form";
// @import "../widget/ui-searchbar";
// @import "../widget/ui-icon";
// @import "../widget/atom";

.page-name-order-list{
  display: -webkit-box;

  -webkit-box-orient:vertical;
  .taps_container{
    display: -webkit-box;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
    height: 40px;
    .inner_tap{
      display: -webkit-box;
      -webkit-box-pack:center;
      -webkit-box-orient:vertical;
      -webkit-box-flex:1;
      height: 39px;
      text-align: center;
      margin:0px 10px;
      color: #999999;
      position:relative;
      .red_dot{
        width: 5px;
        height: 5px;
        background: red;
        position: absolute;
        right: 0px;
        top: 10px;
        border-radius: 2px;
      }
      &.cur{
        color: #333333;
        border-bottom: 1px solid #333333;
      }
    }

  }
  .order_list_container{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    .child{
      background: #fff;
      display: -webkit-box;
      -webkit-box-orient:vertical;
      margin-top: 15px;
      .item_info{
        display: -webkit-box;
        padding: 15px;
        .pics{
          width: 60px;
          height: 60px;
          border-radius: 4px;
          overflow: hidden;
          img{
            width: 60px;

          }
        }
        .notice_contain{
          display: -webkit-box;
          -webkit-box-flex:1;
          -webkit-box-orient:vertical;
          margin-left: 15px;
          .notice{
            display: -webkit-box;
            -webkit-box-flex:1;
            -webkit-box-orient: vertical;
            -webkit-box-pack: center;
            height: 44px;
            line-height: 22px;
            overflow: hidden;
            color: #333333;
            word-break: break-all;
          }
          .o_price{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-box-pack: center;
            color: #666666;
            font-size: 12px;
            height: 16px;
          }
        }


      }
      .r_pay{
        display: -webkit-box;
        -webkit-box-pack:end;
        padding: 12px 0px;
        margin: 0px 15px;

        .info{
          display: -webkit-box;
          .tex{
            color: #aaaaaa;
            font-size: 12px;
          }
          .re_price{
            color: #ff5000;
            font-size: 12px;
          }
        }

      }
      .btns{
        display: -webkit-box;
        -webkit-box-pack:end;

        margin: 0 15px;
        .btn{
          display: -webkit-box;
          -webkit-box-orient:vertical;
          -webkit-box-pack:end;
          text-align: center;
          margin: 0px 10px;
        }
        button{
          background: #ffffff;
          margin: 10px 0px 10px 10px;
          &.bad{
            width: 75px;
          }
          &.good{
            width: 150px;
          }
        }
        .btn_del{
          background: #f2f2f2;
        }
        .btn_close{

        }
        .btn_pay{

        }
        .btn_return{

        }
        .btn_ewm{

        }
        .btn_comment{

        }
        .btn_hid{

        }
      }
    }
  }
  .next_page_btn{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack:center;
    text-align: center;
    margin-top: 15px;
    height: 45px;
    background: #fff;
  }
}