<main role="main" class="cancel-reason ">
    <header class="nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>
        <h3 class="title">取消理由</h3>
        <div class="right-button-wrap"></div>
    </header>

    <div class="content-body">
        <div class="container"  data-role="container">
            <div class="warp-box">
                <div>请选择取消的理由：</div>
                <div class="reason-type" data-role="reason-type"></div>
                <div class="explain">
                    <div class="ui-textarea">
                        <div class="ui-textarea-wrap">
                            <textarea data-role="explain_text" name=" " id=" " class="textarea ui-input-top-left ui-input-top-right ui-input-bottom-left ui-input-bottom-right" placeholder="补充说明"></textarea>
                        </div>
                    </div>
                </div>
                <div class="btn" data-role="btn_container">
                    <button class="ui-button ui-button-primary ui-button-size-large ui-button-block" data-role="submit_btn">
                        <span class="ui-button-content">提交</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>