.time-picker-hour {
  float: left;
  font-size: 14px;
  text-align: center;
  width: 25%;
  margin: 5px 0px; }
  .time-picker-hour.disable {
    color: #ccc; }
  .time-picker-hour:hover {
    background: #f2f2f2; }
