<div class="rows-about">
    <ul class="timeline">
        <li>
            <div class="timeline-image">
                <img class="img-circle img-responsive" src="http://static-c.yueus.com/mall/user/static/pc/images/code-img-149x149_bce7baf.jpg" alt="YUEUS.com">
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>约约</h4>
                    <h4 class="subheading">最高效的时间电商平台</h4>
                </div>
            </div>
            <div class="line"></div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image">
                <img class="img-circle img-responsive" src="http://seller-icon-e.yueus.com/11/117452_468.jpg" alt="willike@YUEUS.com">
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>陈伟标</h4>
                    <h4 class="subheading">A PHP programmer.</h4>
                </div>
            </div>
        </li>
    </ul>
</div>