<div class="rows-title">
    <h1>日志文件列表</h1>
</div>
<div class="tab-pane fade in" id="category">
    <table class="table table-striped custab">
        <?php foreach($list as $key=>$logs):?>
        <thead>
        <tr>
            <th>#</th>
            <th>名称 ( <?php echo $key;?> )</th>
            <th>大小</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <?php foreach($logs as $k=>$val):?>
        <tr>
            <td><?php echo ($k+1);?></td>
            <td><?php echo $val['name'];?></td>
            <td><?php echo $val['size'];?></td>
            <td class="text-center">
                <a href="/protocol/log/<?php echo $key;?>/<?php echo $val['name'];?>" target="_blank" class="btn btn-info btn-xs" data-op="#">
                    <span class="glyphicon glyphicon-remove"></span> 查看
                </a>
                <a class="btn btn-danger btn-xs" data-op="<?php echo $val['link'];?>">
                    <span class="glyphicon glyphicon-remove"></span> 删除
                </a>
            </td>
        </tr>
        <?php endforeach;?>
        <?php endforeach;?>
        <tbody>
        </tbody>
    </table>
</div>