<div class="rows">
    <div class="rows-title">
        <h1>协议输入数据检索&nbsp;<small><small>@willike</small></small></h1>
    </div>
    <form method="POST" action="#" class="margin-base-vertical" role="form">
        <div class="input-group">
            <!--<div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i>base code</i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li data-id="base">base code</li>
                    <li role="separator" class="divider"></li>
                    <li data-id="user_id">user ID</li>
                </ul>
            </div>-->
            <!-- /btn-group -->
            <span class="input-group-addon">数据标识</span>
            <input type="text" name="keyword" class="form-control" placeholder="请输入 user_id / base code (或其他标识)查询" aria-describedby="sizing-addon1">
            <span class="input-group-btn">
            	<input type="hidden" name="action" value="search" />
                <button type="submit" class="btn btn-primary">检&nbsp;索</button>
            </span>
        </div>
    </form>
    <div class="row rows-contents">
        <div class="col-md-6" id="left-section">
        </div>
        <div class="col-md-6" id="right-section">
        </div>
    </div>
</div>
<script type="text/javascript" src="/protocol/master/script/min/bejson.min.js"></script>