<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-关注</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>


<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main">
            <header class="nav-header mine-nav-header">
                <div class="left-button-wrap" data-role="page-back">
                    <a><i class="icon icon-back"></i></a>
                </div>
                <h3 class="title">夏未至</h3>
                <div class="right-button-wrap">
                    <a><i class="circle-min"></i><i class="circle-min"></i><i class="circle-min"></i></a>
                </div>
            </header>  
            
            <div class="model-camera-car native_scroll">

                <div class="p1th" style="display:" ><img src="../../../images/pai/test/car-640.jpg" style="width:100%; display:block"></div>

                <div class="p2th"  style="display:">
                        <div class="avatar">
                            <a data-role="profile">
                                <i class="img avatar-img" style="background-image: url(../../../images/pai/test/160x160.png)"></i>
                            </a>
                        </div>
                        <div class="meta-info">
                            <h2 class="nickname">夏未至</h2>
                            <div class="user-data">
                                <span class="area">ID：066589</span> <span class="line">|</span>  <span class="place">广东 广州</span>
                            </div>
                            <div class="follow">关注</div>
                        </div>
                </div>

                <section class="score-info">
                    <a><em>Lv2</em>会员等级</a>
                    <a><em>123</em>粉丝</a>
                    <a><em>15</em>关注</a>
                </section>


                <section class="p3th">
                    <h3 class="title">约拍过的模特</h3>
                    <ul class="list ">
                        <li>
                            <div class="avatar-size-mod avatar-size-mod-50">
                                <span class="icon avatar-size-area"></span>
                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                            </div>
                            <h4>550魅力</h4>
                        </li>

                        <li>
                            <div class="avatar-size-mod avatar-size-mod-50">
                                <span class="icon avatar-size-area"></span>
                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                            </div>
                            <h4>550魅力</h4>
                        </li>

                        <li>
                            <div class="avatar-size-mod avatar-size-mod-50">
                                <span class="icon avatar-size-area"></span>
                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                            </div>
                            <h4>550魅力</h4>
                        </li>

                        <li>
                            <div class="avatar-size-mod avatar-size-mod-50">
                                <span class="icon avatar-size-area"></span>
                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                            </div>
                            <h4>550魅力</h4>
                        </li>

                        <li>
                            <div class="avatar-size-mod avatar-size-mod-50">
                                <span class="icon avatar-size-area"></span>
                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                            </div>
                            <h4>550魅力</h4>
                        </li>


                    </ul>        
                </section>

                <section class="p4th">
                    <div class="item mgbt_none bdbt_none pdbt_exp" data-role="">
                                <ul class="info">
                                    <i class="icon icon-r-16x26-cur"></i>

                                    <li>
                                        <div class="lbox ">综合评价</div>
                                        <div class="rbox fldi">
                                            <span data-role="starts">
                                                <i class="icon icon-stat-s-y"></i><i class="icon icon-stat-s-y"></i><i class="icon icon-stat-s-y"></i><i class="icon icon-start-m-1"></i><i class="icon icon-start-m-1"></i>
                                            </span>
                                            <span class="cor-5" data-role="" >6分</span>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="lbox ">拍片次数</div>
                                        <div class="rbox fldi" data-role="">2</div>
                                    </li>

                                    <li>
                                        <div class="lbox ">出勤率</div>
                                        <div class="rbox fldi" data-role="">95%</div>
                                    </li>

                                    <li>
                                        <div class="lbox ">风格偏好</div>
                                        <div class="rbox fldi" data-role="">小清新、日系、甜美、时尚、性感%</div>
                                    </li>

                                    <li>
                                        <div class="lbox ">备注</div>
                                        <div class="rbox fldi" data-role="">希望能与你有个愉快的合作旅程，如果你喜欢我的作品，那将是我最大的荣幸。%</div>
                                    </li>

                                </ul>
                    </div>
                </section>



            </div>



           <footer class="pop-model-car-confirm">
               <ul class="list clearfix">
<!--                    <li data-role="yuepai">
                       <button class="ui-button ui-button-size-middle ui-button-block ui-button-primary ui-button-size-radius-large auto_width" data-role="yuepai">
                           
                           <span class="ui-button-content" data-role="yuepai"><i class="icon icon-yuepai-m"></i> 约拍</span>
                           
                       </button>
                   </li> -->
                   <li data-role="msg" class="">
                       <button class="ui-button ui-button-size-middle ui-button-block ui-button-primary ui-button-size-radius-large auto_width">
                           
                           <span class="ui-button-content"><i class="icon icon-siliao-m"></i> 私聊</span>
                           
                       </button>
                   </li>
               </ul>
            </footer>



        </main>
    </div>
</div>

</body>
</html>
