@charset "UTF-8";

@import "../widget/ui-base";
@import "../widget/ui-list";
@import "../widget/ui-avatar";
@import "../widget/ui-btn";

$pay-tt-background-color : #f2f2f2;

.pay-tt {
  .vertical{
      -webkit-box-orient: vertical;
      box-orient: vertical;
  }
  .bg{
    background-color: $pay-tt-background-color;
  }
  .mt30 {
    margin-top: 30px;
  }
  .fb{
    font-weight: bold;
  }
  background-color: $pay-tt-background-color;

  .ui-list-text > li {
    line-height: 20px;
    padding: 15px 15px 15px 0;
    font-size: 12px;
  }
  .ui-list-info > p {
    font-size: 12px;
    color: #000;
  }
  .ui-avatar {
    margin: 0 10px 0 0;
  }
  .ui-list li .ui-edge-right {
    margin-top: -10px;

  }

  .info {
    &.ui-list-text > li {
      line-height: 12px;
      padding: 0 0 10px 0;
      font-size: 12px;
      color: #999;
    }
    &.ui-list-text > li:first-child {
      color: #000;
    }
    .payment-info{
      padding-left: 10px;
      padding-top: 10px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-box-align: start;
      .name{
        padding-bottom:10px;
        box-sizing: border-box;
        display: -webkit-box;
        -webkit-box-pack: justify;
        width: 240px;
        line-height: 18px;
      }
      .num{
        color:#999;
      }
    }
  }

  .count-money-color {
    color: #fe9920;
    font-size: 14px;
    margin-right: 15px;
  }
  .count-money-color_v2 {
    color: #ff6a6e;
    font-size: 14px;
    margin-right: 15px;


  }

  .pay-type {
    display: -webkit-box;
    height: 30px;
    h4 {
      line-height: 14px
    }
    p {
      margin-top: 5px;
      line-height: 10px;
    }
  }
  .pay-type .ui-list-info {
    padding: 0;
  }
  .pay-type .ui-list-info > h4 {
    font-size: 12px;
  }
  .pay-type .ui-list-info > p {
    font-size: 10px;
    color: #999;
  }

  .last-container {
    margin-bottom: 75px;
    padding-bottom: 75px;
  }

  .last-sec-container {
    margin-bottom: 55px;

  }

  // 支付成功
  .pay-tt-success {
    text-align: center;
    padding-top: 170px;
    text-align: center;
  }

  .pay-tt-success > span {
    font-size: 18px;
    color: #63cb76;
    display: block;
    line-height: 18px;
  }

  // 底部按钮
  .buttom-btn-wrap {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 55px;
    line-height: 55px;
    width: 100%;
    background-color: #fff;
    font-size: 12px;
    display: -webkit-box;

    -webkit-box-pack: justify;
    .text-info{
      display: -webkit-box;
      -webkit-box-flex: 1;
      .red-font{
        position: relative;
        top: 3px;
      }
    }
    .right{
      max-width: 50%;
      margin-right: 10px;
      padding-top: 10px;
    }
    .ui-tt-pay-btn{
      display: -webkit-box;
      -webkit-box-flex: 1;
      -webkit-box-pack: end;
      width: 95px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 35px;
      font-size: 14px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      color: white;
      position: relative;
      background-color:#ff6a6e;
      line-height: initial;
      padding: 0 14px;
      &:active{
        background: #ffb4b6;
      }
      .ui-button-content{
        /* position: absolute;
        left: 0px;
        top: 50%;
        margin-top: -10px; */
      }
      .txt{
        //padding-left: 30px;
      }
    }
  }

  &.pay-tt-success-wrap {
    background-color: #fff;

  }
  .icon-btn-icon-fk{
    &:before{
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      background-image: url('../../image/pai/btn-icon-fk-40x40.png?__sprite');
    }
  }

  // 支付选择对号
  .icon-select-active:before {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-image: url('../../image/pai/select-40x40.png?__sprite');
  }
  .icon-select-no:before {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-image: url('../../image/pai/select-before-40x40.png?__sprite');
  }
  .icon-select-big:before {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-image: url('../../image/pai/select-big-100x100.png?__sprite');
    margin-bottom: 20px;
  }
  // 支付宝icon
  .icon-zhifubao:before {
    width: 46px;
    height: 17px;
    margin-top: 8px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-image: url('../../image/pai/zhifubao-92x34.png?__sprite');
  }
  // 支付宝icon
  .icon-wx-pay:before {
    width: 50px;
    height: 30px;
    margin-top: 0px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-image: url('../../image/pai/wx-100x60.png?__sprite');
  }
  .icon-pay-cu-36x36{
    width: 18px;
    height: 18px;
    background-image: url('../../image/icon-pay-cu-36x36.png?__sprite');
    position: relative;
    top: 4px;
  }

}

