<div class="list-dialog">
    <div class="f16">卡号：{{card_no}}</div>
    <div class="f14 mt10">请输入登录密码确认激活</div>
    <div class="mt15 mb15">
        <input type="password" data-role="pwd" placeholder="密码" />
    </div>
    <div class="f12 time-exp mt15 mb20">10分钟内激活，不需要输入密码</div>
</div>