<div>
    <div class="absolute_notice_con" data-role="absolute_notice_con">
        <div class="absolute_notice">
            <div class="alerm_left">
                <i class="icon icon-laba"></i>
                <p class="text" data-role="text">默认提示</p>
            </div>
            <div class="alerm_right">
                <i class="icon icon-r-16x26-white"></i>
            </div>
        </div>
    </div>
</div>