@charset "UTF-8";
.tpl-demo {
  max-width: 720px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
  /* 未访问的链接 */
  /* 已访问的链接 */
  /* 鼠标移动到链接上 */ }
  .tpl-demo .f16 {
    font-size: 16px; }
  .tpl-demo .f10 {
    font-size: 10px; }
  .tpl-demo .f26 {
    font-size: 26px; }
  .tpl-demo .f22 {
    font-size: 22px; }
  .tpl-demo .f0 {
    font-size: 0px; }
  .tpl-demo .text-del {
    text-decoration: line-through;
    color: #999; }
  .tpl-demo .topic-tpl-nowrep {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .tpl-demo .row2-hidden {
    height: 40px;
    overflow: hidden; }
  .tpl-demo a:link {
    color: #FFF; }
  .tpl-demo a:visited {
    color: #FFF; }
  .tpl-demo a:hover {
    color: #FFF; }
  .tpl-demo a:active {
    color: #FFF; }
  .tpl-demo .swiper-pagination-bullet {
    width: 10px;
    height: 2px;
    border-radius: 2px;
    border: 1px solid #cecece;
    background: none;
    display: -webkit-box; }
  .tpl-demo .swiper-pagination-bullet-active {
    background: #ff6a6e;
    border: none;
    height: 4px;
    width: 12px; }
  .tpl-demo .swiper-pagination {
    display: -webkit-box;
    -webkit-box-pack: center;
    width: 100%; }
  .tpl-demo .title-con {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    text-align: center; }
  .tpl-demo .tpl-demo-header {
    position: relative;
    margin-bottom: 15px;
    width: 100%; }
    .tpl-demo .tpl-demo-header .header-img {
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 175px; }
      .tpl-demo .tpl-demo-header .header-img .text-description {
        position: relative;
        width: 100%;
        height: 55%;
        box-sizing: border-box;
        padding: 10px;
        text-align: left;
        bottom: -80px;
        overflow: hidden; }
        .tpl-demo .tpl-demo-header .header-img .text-description .header-title {
          font-size: 20px;
          font-weight: bold; }
        .tpl-demo .tpl-demo-header .header-img .text-description .header-notice {
          font-size: 16px;
          margin-top: 10px; }
  .tpl-demo .tpl-demo-child1 {
    position: relative;
    margin-bottom: 4%; }
    .tpl-demo .tpl-demo-child1 .child1-img {
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 130px; }
      .tpl-demo .tpl-demo-child1 .child1-img .child1-title {
        font-size: 16px;
        font-weight: bold;
        padding-top: 3rem; }
      .tpl-demo .tpl-demo-child1 .child1-img .child1-notice {
        font-size: 14px;
        font-weight: bold; }
  .tpl-demo .category-notice {
    height: 135px;
    background-color: #fff;
    text-align: center; }
    .tpl-demo .category-notice .category-title {
      color: #ccc;
      padding-top: 3rem;
      font-size: 14px; }
    .tpl-demo .category-notice .category-btn {
      margin-top: 1rem;
      border: solid 1px; }
  .tpl-demo .swiper-container {
    width: 100%;
    height: 210px;
    margin-bottom: 4%; }
    .tpl-demo .swiper-container .swiper-wrapper .swiper-slide .slide-items-bg {
      display: block;
      width: 100%;
      position: relative;
      overflow: hidden;
      height: 210px;
      background-size: 100%;
      background-repeat: no-repeat; }
      .tpl-demo .swiper-container .swiper-wrapper .swiper-slide .slide-items-bg .notice {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        text-align: center; }
        .tpl-demo .swiper-container .swiper-wrapper .swiper-slide .slide-items-bg .notice .category-top {
          font-size: 24px;
          padding-top: 2rem; }
  .tpl-demo .category_notice {
    background-color: #fff;
    text-align: center;
    color: #000;
    margin-bottom: 15px;
    padding: 5px;
    line-height: 200%; }
    .tpl-demo .category_notice .title {
      font-size: 26px;
      font-weight: bold;
      padding: 1rem 0; }
    .tpl-demo .category_notice .notice {
      font-size: 16px;
      color: #555;
      text-align: left;
      letter-spacing: 1px; }
  .tpl-demo .tpl-goods-items {
    position: relative;
    width: 100%;
    margin-bottom: 15px; }
    .tpl-demo .tpl-goods-items .title-con {
      position: absolute;
      height: 99%;
      bottom: 4px; }
      .tpl-demo .tpl-goods-items .title-con .title {
        position: absolute;
        bottom: 24px;
        left: 16px;
        font-size: 20px; }
  .tpl-demo .goods-items {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px; }
    .tpl-demo .goods-items .goods-label {
      position: absolute;
      bottom: 15px;
      width: 100%; }
      .tpl-demo .goods-items .goods-label .label-l {
        font-size: 16px;
        font-weight: bold;
        padding-left: 10px;
        line-height: 30px; }
      .tpl-demo .goods-items .goods-label .label-r {
        float: right;
        background-color: #626262;
        padding: 0 5px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        font-size: 16px; }
  .tpl-demo .tpl-goods-demo1-child {
    position: relative;
    width: 49%;
    overflow: hidden;
    background: #fff;
    color: #4d4d4d;
    text-align: center;
    font-size: 0;
    margin-bottom: 15px;
    display: inline-block; }
    .tpl-demo .tpl-goods-demo1-child .sideBar {
      width: 100%;
      margin: 5% 0;
      line-height: 20px;
      color: #666; }
    .tpl-demo .tpl-goods-demo1-child .tpl-btn {
      width: 80%;
      height: 26px;
      margin: 0 auto;
      border: solid 1px;
      font-size: 12px;
      line-height: 26px; }
    .tpl-demo .tpl-goods-demo1-child .msg-title {
      color: #333;
      -webkit-line-clamp: 2;
      vertical-align: middle;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical; }
    .tpl-demo .tpl-goods-demo1-child .money-tag {
      position: relative;
      bottom: 4px;
      color: #333; }
    .tpl-demo .tpl-goods-demo1-child .money {
      color: #ff6a6e;
      text-align: right;
      padding: 10px 5px 0 0;
      font-size: 16px; }
    .tpl-demo .tpl-goods-demo1-child .top {
      position: relative;
      width: 100%;
      display: inline-block;
      overflow: hidden; }
      .tpl-demo .tpl-goods-demo1-child .top .goods-child-img {
        width: 100%; }
      .tpl-demo .tpl-goods-demo1-child .top .tag {
        position: absolute;
        top: 8px;
        right: -48px;
        font-weight: bold;
        height: 25px;
        width: 140px;
        line-height: 25px;
        font-size: 14px;
        transform: rotate(44deg);
        -ms-transform: rotate(44deg);
        /* IE 9 */
        -moz-transform: rotate(44deg);
        /* Firefox */
        -webkit-transform: rotate(44deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(44deg);
        text-align: center;
        color: #fff; }
      .tpl-demo .tpl-goods-demo1-child .top .title {
        position: absolute;
        bottom: 1rem;
        left: 1rem; }
  .tpl-demo .tpl-goods-demo3-child {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #fff;
    color: #4d4d4d;
    text-align: center;
    font-size: 0;
    margin-bottom: 15px; }
    .tpl-demo .tpl-goods-demo3-child .sideBar {
      width: 50%;
      margin-top: 5%;
      line-height: 20px;
      color: #666;
      float: left; }
    .tpl-demo .tpl-goods-demo3-child .tpl-btn {
      width: 80%;
      height: 26px;
      margin: 0 auto;
      border: solid 1px;
      font-size: 12px;
      line-height: 26px; }
    .tpl-demo .tpl-goods-demo3-child .msg-title {
      color: #333;
      -webkit-line-clamp: 2;
      vertical-align: middle;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical; }
    .tpl-demo .tpl-goods-demo3-child .money-tag {
      position: relative;
      bottom: 4px;
      color: #333; }
    .tpl-demo .tpl-goods-demo3-child .money {
      color: #ff6a6e;
      text-align: right;
      padding: 10px 5px 0 0;
      font-size: 16px; }
    .tpl-demo .tpl-goods-demo3-child .top {
      position: relative;
      width: 50%;
      display: inline-block;
      overflow: hidden; }
      .tpl-demo .tpl-goods-demo3-child .top .goods-child-img {
        width: 100%; }
      .tpl-demo .tpl-goods-demo3-child .top .tag {
        position: absolute;
        top: 14px;
        right: -48px;
        font-weight: bold;
        height: 25px;
        width: 140px;
        line-height: 25px;
        font-size: 14px;
        transform: rotate(44deg);
        -ms-transform: rotate(44deg);
        /* IE 9 */
        -moz-transform: rotate(44deg);
        /* Firefox */
        -webkit-transform: rotate(44deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(44deg);
        text-align: center; }
      .tpl-demo .tpl-goods-demo3-child .top .title {
        position: absolute;
        bottom: 1rem;
        left: 1rem; }
  .tpl-demo .items-img {
    width: 100%; }
