.agree-page{
	.p1th{
		.listitem{
			text-align: center;
			font-size: 26px;
		}
		.item-wrap{
			.item{
				margin-top: 40px;
				h3.title{
					font-size: 18px;
					font-weight: normal;
					color:#333;
				}
				p.txt{
					font-size: 16px;
					line-height: 24px;
					margin-top: 15px;
					color:#333;
				}
			}
			.item-tips{
				p.txt{
					text-indent: 2em;
				}
			}
		}
	}
}