.login-page {
  width: 280px;
  margin: 0 auto; }
  .login-page .checkbox-box {
    padding: 20px 0; }
  .login-page .ui-input {
    width: 250px; }
  .login-page .ui-button {
    text-align: center;
    line-height: 50px; }
