<main role="main" class="location ">

    <header class="nav-header rank-v2-header nav-header-special-pop">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>
        <h3 class="title" data-role="title"></h3>



        <div class="right-button-wrap fn-hide" data-role="icon_display">
            <i class="icon i-min-40x40"></i>
        </div>


    </header>

    <div data-role="container" class="content-body"  >
        <div>

            <div class="rank-v2">
                    
                <div data-role="data_top_3">
                    
                </div>

                <div class="p2th">
                    <div class="item-wrap" data-role="data_top_7">
                        

                    </div>

                    <div class="btn" data-role="btn-get-more">加载更多</div>
                </div>

             
            </div>
            
        </div>
    </div>

</main>