<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>信用等级认证</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="authentication">
            <header class="nav-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">信用等级认证</h3>
                
                <div class="right-button-wrap">
                    <a><i class="icon icon-cog"></i></a>
                </div>
            </header>
            
            <div class="content-body " data-role="container" >
                <div data-role="scoll-wrapper">
                    <section class="authentication-list">
                        <div class="ui-input-title-mod ui-input-title-size-large item">
                            <div class="left">v1</div>
                            <div class="vertical-line">|</div>
                            <div class="middle">手机认证</div>
                            <div class="right ok">已认证<i class="icon icon-r-red-m"></i></div>
                        </div>
                        <div class="ui-input-title-mod ui-input-title-size-large item">
                            <div class="left">v2</div>
                            <div class="vertical-line">|</div>
                            <div class="middle">实名认证</div>
                            <div class="right"><i class="icon icon-r-grey-m"></i></div>
                        </div>
                        <div class="ui-input-title-mod ui-input-title-size-large item">
                            <div class="left">v3</div>
                            <div class="vertical-line">|</div>
                            <div class="middle">达人认证</div>
                            <div class="right"><i class="icon icon-r-grey-m"></i></div>
                        </div>
                    </section>
                    <span class="tip">提示：等级越高，越容易约拍模特</span>
               </div> 
            </div>

        </main>
    </div>
</div>
</body>
</html>

