<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main">
            <header class="page-header wryh">
                <div class="mine-model-car-btn"><i></i><i></i><i></i></div>
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                模特卡
            </header>    
            

            <div class="mine-model-car native_scroll">
               
                <div data-role="container-img-list" class="grid-pic-content">
                    <ul class="list-img">
                        <li><img src="../../assets/images/pai/test/212x212.jpg"/></li>
                        <li><img src="../../assets/images/pai/test/212x212.jpg"/></li>
                        <li><img src="../../assets/images/pai/test/212x212.jpg"/></li>
                        <li><img src="../../assets/images/pai/test/426x428.jpg"/></li>
                        <li><img src="../../assets/images/pai/test/212x212.jpg"/></li>
                        <li><img src="../../assets/images/pai/test/212x212.jpg"/></li>

                    </ul> 
                </div>
                <ul class="bar">   <!-- bar-hover -->
                    <li  data-role="yuepai">
                        <i class="icon icon-r-16x26-white"></i>我的约拍条件
                    </li>
                   
 

                </ul>


                <!-- 弹窗口  -->
                <div class="pop-info">
                    <div class="wrap-box">
                        <div class="box1">摄影师信用金要求：￥300</div>
                        <div class="box2">请选择拍摄风格</div>
                        <div class="list-des clearfix">
                            <div class="item">
                                <div class="lbox">日系</div>
                                <div class="rbox"><span class="cor">￥200</span> <span class="font">/小时</span></div>
                            </div>
                            <div class="item">
                                <div class="lbox">日系</div>
                                <div class="rbox"><span class="cor">￥200</span> <span class="font">/小时</span></div>
                            </div>

                            <div class="item">
                                <div class="lbox">日系</div>
                                <div class="rbox"><span class="cor">￥200</span> <span class="font">/小时</span></div>
                            </div>

                            <div class="item">
                                <div class="lbox">日系</div>
                                <div class="rbox"><span class="cor">￥200</span> <span class="font">/小时</span></div>
                            </div>
                        </div>        
                    </div>
                </div>

                <div class="wrap-box">
                    <div class="com">评价 :<i class="icon icon-red"></i><i class="icon icon-red"></i><i class="icon icon-red"></i><i class="icon icon-red"></i><i class="icon icon-grey"></i><span class="red">9.2分</span></div>
                    <div class="num">拍片次数  136 <i class="icon icon-r"></i></div>
                </div>

                <div class="img-area">     
               
                        <div class="user-img"><img src="../../assets/images/pai/test/156x156.jpg"></div>
                 
                </div>

                <div class="model-info">
                    <p class="p1"><i class="icon icon-person"></i>Pan shang <i class="icon icon-place"></i>广州</p>
                    <p class="p2">室内人像 平面广告 外拍活动</p>
                </div>
              
                <ul class="model-size">
                    <li class="icon">165.0cm</li>
                    <li class="icon">44.0kg</li>
                    <li class="icon">75A</li>
                    <li class="icon">80-61-85</li>
                </ul>        
                
                
            </div>
     
            <footer data-role="footer">
                
            </footer>
        </main>
    </div>
</div>
<script>
(function() {
    
})();
</script>
</body>
</html>
