<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>我要约拍</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="mine wryh">
            <header class="page-header wryh">                
                我的
            </header>
            <div class="content-body " data-role="container" >
                <div data-role="scoll-wrapper">
                    <section class="group-user-info">
                        <ul>
                            <li class="item head-icon-item">
                                <div data-role="zone" class="zone">
                                    <i class="icon icon-home-s"></i>
                                    <span>模特卡</span>
                                </div>
                                <div data-role="head-icon" class="head-icon-item">
                                    <i class="img circle-img head-icon" style="background-image:url(http://myicon211-c.poco.cn/5325/53253899.jpg);"></i>
                                </div>
                                <div class="name-and-location">
                                    <div class="user-name">肥龙在天</div>
                                    <div class="location">
                                        <i class="icon icon-place"></i>
                                        <span>广州</span>
                                    </div>
                                </div>
                            </li>
                            <li class="item balance-item">
                                <div data-role="avaliable-banace" class="avaliable-banace">
                                    <p class="money">￥400</p>
                                    <p class="text">信用金</p>
                                </div>
                                <div data-role="add-value-btn" class="add-value-btn">
                                    <span>提现</span>
                                </div>
                            </li>
                        </ul>
                    </section>
                    <section class="group-user-info">
                        <ul>
                            <li class="item" data-role="date">
                                <div class="container">
                                    <div class="date">
                                    <i class="icon icon-camera-s"></i>
                                    约拍
                                    </div>
                                    <i class="icon icon-r"></i>       
                                </div>
                            </li>
                            <li class="item">
                                <div class="container">
                                    <div class="act">
                                        <i class="icon icon-package-s"></i>
                                        活动
                                    </div>
                                    <i class="icon icon-r"></i>       
                                </div>
                                
                            </li>
                            <li class="item">
                                <div class="container">

                                    <div class="msg">
                                        <i class="icon icon-letter-s"></i>
                                        消息
                                    </div>

                                    <i class="icon icon-r"></i> 
                                    <div class="num-box">5</div>                                     
                                </div>                                  
                            </li>
                        </ul>
                        
                        
                    </section>                    
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
