<!doctype html>
<html lang="zh">
<head>
    <meta charset="gb2312">
    <title>POCO约拍 - 我的 - 外拍活动</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="status wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                外拍活动
            </header>
            <div class="content-body">
                <div class="measure-choosen">
                    <ul class="measure-choosen-in">
                        <i class="measure-choosen-child" data-tap data-role="time">代付款</i>
                        <i class="measure-choosen-child" data-tap data-role="price">已付款</i>
                        <i class="measure-choosen-child" data-tap data-role="start">我发布的</i>
                    </ul>
                </div>
                <div class="status-content" data-role="status-content">
                    <div class="wrap-box">
                        <div class="unpay" data-role="unpay">
                            <div class="child" data-role="event-item" data-event-id="{{event_id}}" >
                                <i class="child-img"  data-lazyload="{{cover_image}}">
                                    <div class="tips-con-red">
                                        <div class="tips">官方</div>
                                        <div class="delta"></div>
                                    </div>
                                </i>
                                <div class="child-text">
                                    <p class="title">{{title}}</p>
                                    <p class="detail">发起：{{username}}</p>
                                    <p class="detail">时间：{{active_time}}</p>
                                    <p class="detail">价格：￥{{budget}}/人</p>
                                </div>
                            </div>
                            <!--div class="tips-con-red">           //tips-con-orange tips-con-green
                                <div class="tips">官方</div>
                                <div class="delta"></div>
                            </div-->
                        </div>
                        <div class="payed fn-hide" data-role="payed">

                        </div>
                        <div class="my_pub fn-hide" data-role="my_pub">

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
