@charset "utf-8";
@mixin transitionTransform{
    transition: transform .5s;
    -moz-transition: -moz-transform .5s;   /* Firefox 4 */
    -webkit-transition: -webkit-transform .5s;    /* Safari 和 Chrome */
    -o-transition: -o-transform .5s;
}
.header-index{
    position: relative;
    width: 100%;
    .place{
        font-size: 14px;
        height:44px;
        line-height: 44px;
        padding-left: 35px;
        &:after{
            content:"";
            width: 12px;
            height: 12px;
            background: url(../../image/place-24x24.png)  no-repeat ;
            background-size: 12px 12px; 
            position: absolute;
            top: 17px;
            left: 15px;
        }
    }
    .logo-center{
        background: url(../../image/yue-86x42.png) ;
        width: 43px;
        height: 21px;
        background-size: 43px 21px; 
        left: 50%;
        top: 12px;
        margin-left: -23px;
        position: absolute;
    }
}


.show-category{
    left:0;

}


.hide-category{
    left:400px;
}

.index-blur{
filter:blur(100px);
-webkit-filter:blur(100px);
-moz-filter:blur(100px);
-o-filter:blur(100px);
filter:url(blur.svg#blur);
filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='100');

}
.a{
    background: url(../../image/a.png) no-repeat;
    background-size: cover;
      position: fixed;
  z-index: 99;
  top: 0;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}
.index-page{
    padding-bottom: 50px;
    .p1th{
        .item-wrap{
            padding-top: 45px;
            background: #fff;
            .item{
                float:left;display:inline;  
                width: 50%;
                box-sizing: border-box;
                border-right: 1px  solid #e6e6e6 ;
                height:104px;
                overflow: hidden;
                &:nth-child(1)
                {
                    border-bottom: 1px  solid #e6e6e6 ;
                }
                &:nth-child(2)
                {
                    border-bottom: 1px  solid #e6e6e6 ;
                }
                &:nth-child(even)
                {
                    border-right:none
                }
                .title{
                    color: #bcbcbc;
                    text-align: center;
                    padding: 8px 0;
                }

                .list{
                    width: 100%;
                    overflow: hidden;
                    a:visited {
                        color: #000;
                    }
                    li{
                        width: 50%;
                        float:left;
                        display:inline; 
                        box-sizing: border-box;
                        height:60px; 
                        text-align: center;
                        font-size: 14px;
                        line-height: 16px;
                        margin-bottom: 8px;
                  
                        .icon{
                            
                            width: 35px;
                            height:35px;
                            background-size: 35px 35px;
                            
                        }

                        

                        // .icon-y-mt{
                        //     background-image: url(../../image/y-mt-70x70.png) ;
                        // }
                        // .icon-y-px{
                        //     background-image: url(../../image/y-px-70x70.png) ;
                        // }
                        // .icon-y-hz{
                        //     background-image: url(../../image/y-hz-70x70.png) ;
                        // }
                        // .icon-y-sy{
                        //     background-image: url(../../image/y-sy-70x70.png) ;
                        // }
                        // .icon-y-dz{
                        //     background-image: url(../../image/y-dz-70x70.png) ;
                        // }
                        // .icon-y-hd{
                        //     background-image: url(../../image/y-hd-70x70.png) ;
                        // }
                        // .icon-y-ms{
                        //     background-image: url(../../image/y-ms-70x70.png) ;
                        // }
                        // .icon-y-yx{
                        //     background-image: url(../../image/y-yx-70x70.png) ;
                        // }

                    &.no_open .title-2{
                        color: #bbbbbb;
                    }


                    }
                }
            }
        }
    }
    .p2th{
        margin: 15px 0;
        .swiper-container{
            height: 138px;
        }
        .slide-items-bg {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            background-color: #fafafa;
            -webkit-background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: 50%;
            box-sizing: border-box;
        }
        .swiper-pagination-bullet{
            border: 1px solid #fff;
            width: 5px;
            height:5px;
            background: none;
            border-radius: 50%;
            margin: 0 1px;
            opacity:.7
        }
        .swiper-pagination-bullet-active{
           background: #f2f2f2;
        }
    }
    .p3th{
        
        .title-top{
            .title{
                padding-bottom: 15px;
            }
            .more{
                
                a{
                    display: block;
                    padding: 15px  15px 0px 15px;
                }
            }
        }

        .item-wrap{
            margin-bottom: 15px;
            background: #fff;
            .list-wrap{
                width: 100%;
                overflow-x: scroll;
                padding-bottom: 10px;
            }
            .list{
                display: -webkit-box;
                padding-left: 15px;
                li{
                    width: 150px;
                    padding-right: 15px;
                    .img{
                        i{
                            display: block;
                            width: 150px;
                            height:90px;
                        }
                    }
                    .title{
                        padding: 12px 0 5px 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;   
                    }
                    .p1{
                        font-size: 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;  
                
                    }
                }
            }
            .banner{
                padding: 15px 15px 15px 15px;
                img{
                    width: 100%;
                }
            }
        }


    }

    .p4th{
        .title-top{
            padding: 0 0 12px 15px
        }
        .item-wrap{
            .item{
                margin-bottom: 15px;
                background: #fff;
                .img{
                    img{
                        width: 100%;
                    }
                }
                .des{
                    padding: 10px 15px 10px 15px;
                    .title{
                        padding: 5px 0;
                    }
                }
                
            }
        }


    }

    .p5th{
        background: #fff;
    }
}
.search-category {
    position: fixed;
    z-index: 9999;
    top: 0;
    transform:translate3d(100%,0,0); 
    -webkit-transform:translate3d(100%,0,0); 
    width: 100%;
    height: 100%;
    padding: 0 35px;
    box-sizing: border-box;
    background: #fff;
    @include transitionTransform;
    .categroy {
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;

        .categroy-bg {
            position: fixed;
            z-index: 98;
            top: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
        .title {
            padding: 15px 0;
            font-size: 18px;
            text-align: center;
            color: #666;
        }
        .categroy-content {
            margin-top: 30px;
            display: -webkit-box;
            -webkit-box-pack: center;

            .box {
                width: 100%;

                .menu {
                    display: inline-block;
                    float: left;
                    width: 49%;
                    height: 60px;
                    margin-bottom: 8%;
                    line-height: 60px;
                    text-align: left;
                    font-size: 18px;
                    box-sizing: border-box;
                    
                      
                    .icon {
                        display: inline-block;
                        width: 35px;
                        height: 35px;
                    }
                    .msg {
                        padding-left: 8px;
                        line-height: 36px;
                        color: #666;
                        display: inline-block;
                        width: 75px;
                        text-align: left;
                    }
                    .y-mt {
                        background: url("../../image/y-mt-70x70.png?__sprite");
                    }
                    .y-px {
                        background: url("../../image/y-px-70x70.png?__sprite");
                    }
                    .y-hz {
                        background: url("../../image/y-hz-70x70.png?__sprite");
                    }
                    .y-dz {
                        background: url("../../image/y-dz-70x70.png?__sprite");
                    }
                    .y-hd {
                        background: url("../../image/y-hd-70x70.png?__sprite");
                    }
                    .y-sy {
                        background: url("../../image/y-sy-70x70.png?__sprite");
                    }
                    .y-ms {
                        background: url("../../image/y-ms-70x70.png?__sprite");
                    }
                    .y-yx {
                        background: url("../../image/y-yx-70x70.png?__sprite");
                    }
                }
            }
        }
        .close-icon {
            background: url("../../image/close-page-70x70.png?__sprite");
        }
        .close-icon:active {
            background: url("../../image/close-page-70x70-active.png?__sprite");
        }
        .icon {
            display: inline-block;
            width: 35px;
            height: 35px;
        }
    }
}