

<main role="main" class="index-hot">
    {{#if is_android}}
        <style>
            .index-hot .native_scroll > *
            {
                -webkit-transform: translateZ(0px);
            }

            .index-hot .native_scroll > * {
                -webkit-transform: translate3d(0,0,0);
            }
        </style>
    {{/if}}

    <header class="nav-header hot-find-nav-header">
        <div class="place_em"></div>
        <div class="place" data-role="select-loc">
            <div data-role="select-city">广州</div><i class="icon icon-allow-22x12 "></i>
        </div>

        <hgroup class="">
            <h3 class="title has-new current" data-role="select-hot">热门</h3>
            <h3 class="title has-new" data-role="select-find">发现</h3>
        </hgroup>
        
        <h3 data-role="head-refresh" class="title fn-hide">约yue</h3>

        <div class="right-button-wrap r-icon" data-role="search">


            <i class="icon icon-search-top-m icon-fix-exp"></i>
        </div>
        <div class="right-button-wrap r-icon fn-hide" data-role="select-more">
            <!--div class="search-more-wrap fn-hide" data-role="search">
                <i class="icon icon-search-top-m"></i>
            </div>
            <div class="select-more-wrap" data-role="select-more">
                <i class="icon icon-sao-50x50 more-select-icon"></i>
            </div-->
            <div class="search-more-wrap">
                <i class="icon icon-add-40x40-new more-select-icon"></i>
            </div>
        </div>

    </header>


            <div data-role="container" class="content-body" >

                <div >


                    <div class="new-index-hot" >

                        <div class="pop-model-car-tips-v2 fn-hide" data-role="pop-model-car-tips-v2">
                            <div class="lbox fldi">
                                <i class="icon icon-wx-icon"></i>
                                <div class="s-left">
                                    <p>约yue</p>
                                    <p>10000+模特随心约</p>
                                </div>
                            </div>
                            <div class="rbox fldi">
                                <button class="ui-button ui-button-primary ui-button-size-min ui-button-block ">
                                    <span class="ui-button-content">立即打开</span>
                                </button>
                            </div>

                        </div>
                        

                        <div data-role="refresh-bar-container" class="refresh-bar-container">

                        </div>

                        <div data-role="ad-pic-out" class="ad-pic-out">

                        </div>

                        <div class="item-wrap" data-role="item-wrap" style="padding-bottom: 0;">
                        </div>
                        <div class="w-100" style="height: 65px;"></div>
                    </div>
                </div>
                
            </div>


            

</main>

