<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>空间</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="commit wryh">
            <header class="nav-header mine-nav-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">举报</h3>
                
                <div class="right-button-wrap">
                    <a><i class="icon icon-cog"></i></a>
                </div>
            </header>
            
            <div>
                <div class="yuepai-refuse-v2">
                    <div class="box1">请选择举报的原因</div>
                    <ul class="list">
                        <li class="cur"><i class="icon icon-right-m"></i>垃圾营销</li>
                        <li><i class="icon icon-right-m"></i>污秽色情</li>
                        <li><i class="icon icon-right-m"></i>不实内容</li>
                        <li><i class="icon icon-right-m"></i>敏感信息</li>
                        <li><i class="icon icon-right-m"></i>虚假中奖</li>
                        <li><i class="icon icon-right-m"></i>抄袭内容</li>
        
                    </ul>   

                    <div class="ui-textarea">
                    <div class="ui-textarea-wrap">
                        <textarea name=" " id=" " class="textarea " placeholder="补充说明"></textarea>
                    </div>
                    </div>   

                    <div class="btn">
                        <button class="ui-button ui-button-primary ui-button-size-large ui-button-block">
                            <span class="ui-button-content">提交</span>
                        </button>
                    </div>

                </div>


            </div>

        </main>
    </div>
</div>
</body>
</html>

