<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>空间</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="commit wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                约拍邀请
            </header>
            
            <div>
                <div class="yuepai-refuse">
                    <div class="icon-yes"><i class="icon icon-refuse-s"></i></div>
                    <div class="notice-one">您已拒绝约拍邀请</div>

                    <div class="part">                         
                        <p class="reason">请选择拒绝的原因：</p>
                        <ul class="list clearfix">
                            <li class="current">价格原因</li>
                            <li>时间原因</li>
                            <li>地点原因</li>
                            <li>风格原因</li>
                            <li>摄影水平</li>
                            <li>信用金</li>
                        </ul>
                        <textarea name=" " id=" " class="textarea-class"   placeholder="补充说明"></textarea>
                        <div class="btn">完成</div>
                     </div>
                                
                    <div class="details-notice">
                        <p>温馨提示：</p>
                        <p>为什么要在【约拍】约拍？</p>
                        <p>1.在线支付，不怕假币。</p>
                        <p>2.火眼金睛，帮您看清摄影师以往评价、拍摄水平和账户金额。</p>
                        <p>3.安全保障，您若担心人身、财产安全。可事先要求约拍保证金，也可向官方提出申诉。</p>
                    </div>


                </div>


            </div>

        </main>
    </div>
</div>
</body>
</html>

