<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK">
    <script type="text/javascript" src="../resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/layer/layer.min.js"></script>
    <script type="text/javascript" src="../resources/js/admin.js"></script>
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/table.css">
    <title>约约APP后台</title>
</head>
<body>
<div class="mainbox">
    <!--top-->
    <div id="nav" class="mainnav_title">
        <ul>
            <a href="javascript:void(0);" class="on">消息记录</a>
        </ul>
    </div>
    <!--top-->
    <!--search form-->
    <table class="search_table" width="100%">
        <tbody>
        <tr>
            <td class="search">
                <form  method="get" id="myform">
                    <table class="table-list-search" id="quick_search" width="650">
                        <tbody>
                        <tr>
                            <td>
                                角色:
                                <select name="role">
                                      <option value="">全部</option>
                                      <option value="yuebuyer" <!-- IF role="yuebuyer" -->selected='true'<!-- ENDIF -->>消费者</option>
                                      <option value="yueseller" <!-- IF role="yueseller" -->selected='true'<!-- ENDIF -->>商家</option>
                                </select>
                            </td>
                            <td>
                                用户ID:
                                <input type="text" name="user_id" class="input-text" value="{user_id}" size="6"/>
                            </td>
                            <td>
                                操作ID:
                                <input type="text" name="add_id" class="input-text" value="{add_id}" size="6"/>
                            </td>
                            <td>
                                类型:
                                <select name="type">
                                    <option value="">全部</option>
                                    <option value="text" <!-- IF type="text" -->selected='true'<!-- ENDIF -->>文本</option>
                                    <option value="notify" <!-- IF type="notify" -->selected='true'<!-- ENDIF -->>链接类型</option>
                                    <option value="card" <!-- IF type="card" -->selected='true'<!-- ENDIF -->>卡片</option>
                                </select>
                            </td>
                            <td>
                                <p><input type="button" class="button" value="查找" onclick="this.form.target='_self';$('#action').attr('value','');this.form.submit();">
                                </p>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="hidden" name="act" id="action">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <!--search form end-->
    <form name="list_form" id="list_form"  method="post">
        <div class="table-list" id="table-list">
            <div class="btn">
                总共为:{total_count} 条
            </div>
            <!--list-->
            <table width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th width="130">录入时间</th>
                    <th width="60">类型</th>
                    <th width="60">发送人群</th>
                    <th width="60">用户ID</th>
                    <th width="80">推送账号</th>
                    <th>消息内容</th>
                    <th width="120">卡片描述</th>
                    <th width="120">卡片标题</th>
                    <th width="60">操作人</th>
                </tr>
                </thead>
                <tbody>
                <!-- BEGIN list -->
                <tr>
                    <td align="center" width="120">{dateformat:add_time,'Y-m-d H:i:s'}</td>
                    <td align="center"><!-- IF type="text" -->内容<!-- ELSEIF type="notify" -->链接类型<!-- ELSEIF type="card" -->卡片<!-- ENDIF --></td>
                    <td align="center" width="60"><!-- IF role="yuebuyer" -->消费者<!-- ELSEIF role="yueseller" -->商家<!-- ENDIF role --></td>
                    <td align="center" width="60">{user_id}</td>
                    <td align="center" width="80"><!-- IF send_uid="10002" -->约yue小助手<!-- ELSEIF send_uid="10005" --> 约yue系统助手<!-- ENDIF --></td>
                    <td align="center"><a href="javascript:void(0);" class="desc" data="{content}">{desc}</a></td>
                    <td align="center" width="60">{card_text1}</td>
                    <td align="center" width="60">{card_title}</td>
                    <td align="center" width="60">{send_name}</td>
                </tr>
                <!-- END list -->
                </tbody>
            </table>
            <!--list end-->
        </div>
    </form>
    <div id="pages" class="page">
        {page}
    </div>
</div>
</body>
<script>
    $(function(){
        $("#table-list tbody td").find(".desc").mouseover(function(){
            var $dmid_desc = $(this).attr('data');
            layer.tips($dmid_desc, this, {
                style: ['background-color:#78BA32; color:#fff', '#78BA32'],
                //maxWidth:185,
                time: 3,
                closeBtn:[0, false]
            });
        });
        $("#table-list tbody td").find(".desc").mouseleave(function(){
            layer.closeTips();
        });
    });
</script>
</html>