.channel-page-body .ui-selectbox-option {
  text-align: center; }
.channel-page-body .search-ele {
  padding-top: 23px; }
.channel-page-body .ui-selectbox {
  height: 30px;
  line-height: 30px; }
.channel-page-body .ui-search-com .search-form-container .search-text {
  width: 200px; }
.channel-page-body .ui-search-com .search-form-container .search-text .text {
  padding: 3px 38px 3px 20px;
  font-size: 14px;
  width: 142px; }
.channel-page-body .ui-search-com .search-form-container .ui-selectbox .ui-selectbox-inner {
  font-size: 14px; }
.channel-page-body .ui-search-com .search-form-container .search-text .icon-search {
  background-position: 10px 5px;
  height: 30px;
  padding: 0px 0px 0px 0px; }

.channel-page .p1th .item {
  margin-bottom: 30px;
  width: 1000px;
  position: relative;
  height: 320px;
  overflow: hidden; }
  .channel-page .p1th .item .txt-area {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    left: 0;
    background: url(http://static.yueus.com/mall/user/test/static/pc/images/line-10x100.png) repeat-x;
    color: #fff; }
    .channel-page .p1th .item .txt-area .title {
      padding-left: 20px;
      padding-top: 15px; }
    .channel-page .p1th .item .txt-area .des {
      padding-left: 20px;
      padding-top: 3px; }
  .channel-page .p1th .item .fade-h5 {
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: -90px;
    left: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: bottom 0.1s ease-out; }
  .channel-page .p1th .item:hover .fade-h5 {
    bottom: 0; }
.channel-page .p1th .page {
  padding-top: 50px; }
