.poco-date-picker {
  position: absolute;
  width: 100%;
  background: white;
  left: 100%;
  z-index: 1;
  top: 0px;
  -webkit-transition-property: left;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease; }
  .poco-date-picker.show {
    left: 0px; }
  .poco-date-picker .picker-header {
    width: 100%;
    position: fixed;
    height: 44px;
    background: #6AC332;
    min-width: 320px;
    z-index: 5 !important; }
    .poco-date-picker .picker-header h1 {
      position: absolute;
      line-height: 44px;
      font-family: "Microsoft Yahei",Arial;
      font-weight: lighter;
      letter-spacing: 0;
      font-size: 18px;
      text-align: center;
      color: #fff;
      width: 100%; }
    .poco-date-picker .picker-header .picker-return {
      display: block;
      width: 54px;
      height: 44px;
      left: 0;
      top: 0;
      position: absolute; }
      .poco-date-picker .picker-header .picker-return .nok {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        left: 50%;
        top: 50%;
        margin-top: -7px;
        margin-left: -10px;
        border-left: 2px solid #fff;
        border-top: 2px solid #fff;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background: 0 0; }
  .poco-date-picker .week_day {
    position: fixed;
    z-index: 2;
    top: 44px;
    width: 100%;
    background: #6AC332;
    font-size: 0;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #c8c8c8; }
    .poco-date-picker .week_day li {
      font: 400 12px/24px verdana;
      width: 14%;
      display: inline-block;
      text-align: center;
      color: #fff; }
      .poco-date-picker .week_day li:first-child {
        width: 15%; }
      .poco-date-picker .week_day li:last-child {
        width: 15%; }
