        <main role="main" class="action-apply secondary">


            <header class="nav-header ">
                <div class="left-button-wrap" data-role="page-back">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">报名</h3>
                
                <div class="right-button-wrap">
        <!--             <a class="ui-button ui-button-dark ui-button-size-default reg-button">注册</a> -->
                </div>
            </header>



            <div data-role="container" class="content-body" >
                <div>
                <div class="action-apply-content">

                    <section class="action-apply-list">
                        <div class="item">选择场次：</div>
                        <ul>
                            <li>

                                <div  class="item-input" data-role="session"></div>
                            </li>
                            <li data-has-selected="1" class="box-vertical fn-hide">
                                <div class="item">报名人数：</div>
                                <div  class="item-input" data-role="amount"></div>
                            </li>
                            <li data-has-selected="1" class="box-vertical fn-hide">
                                <div class="item">手机号码：</div>
                                <div class="item-input"><input data-role="phone-number" type="tel" class="phone-number" placeholder="请输入手机号码"></div>
                            </li>


                        </ul>
                    </section>
                    <section data-role="pay-items-container">
                    </section>

                </div>
                </div>

            </div>
            <div class="pay" >
                <!--button data-role="pay"  class="ui-button ui-button-primary ui-button-size-middle  ui-button-block">
                    <span class="ui-button-content">去支付</span>
                </button>

                <button data-role="unpay"  class="ui-button ui-button-primary ui-button-size-middle  ui-button-block ui-button-dark fn-hide">
                    <span class="ui-button-content">去支付</span>
                </button-->

                <button data-role="pay" class="ui-button ui-button-size-middle ui-button-block ui-button-primary ui-button-size-radius-large auto_width">
                    <span class="ui-button-content">去支付</span>
                </button>

                <button data-role="unpay" class="ui-button ui-button-size-middle ui-button-block ui-button-primary ui-button-size-radius-large auto_width fn-hide">
                    <span class="ui-button-content">去支付</span>
                </button>
                <div class="apply-footer_notice fn-hide">在线支付，马上获得<span class="spe">10元优惠券</span></div>
            </div>
        </main>