<div class="index_nav clearfix">
	<div class="sign_up_btn" style="float:left;"><img src="./images/sign_up.png" style="height:48px;"></div>
	<div  class="refresh_btn" style="float:right;"><img src="./images/refresh.png" style="height:48px;"></div>
</div>
<article class="main_wraper">
	<section class="main_container"></section>
	<footer class="load_more_btn" style="display:none;"><span>加载更多</span><img src="./images/big_loading.gif" style="vertical-align:-5px;visibility:hidden;"></footer>
</article>