<div style="border-bottom : 1px solid #cccccc;margin-bottom:10px;padding-bottom:15px;">
	<div class="clearfix" style="margin: 20px 0;">
		<div style="float:left; border-radius: 10px;width: 100px;height: 100px; background:url(http://www.mansonchor.com/images/manson.jpg);background-size:100% 100%;border:1px solid #cccccc;">
			
		</div>
		<div style="font-size:26px;padding-left:115px;">
			{{{des}}}
		</div>
	</div>
	<div class="clearfix">
		<div style="float:left;padding:10px 10px 8px 10px;background:white;border:1px solid #cccccc;box-shadow: 1px 1px 3px #666;"><img src="{{big_img_url}}"></div>
	</div>
</div>