<main role="main" class="">
    <header class="nav-header comment-page-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>
        {{#if is_date}}
            <h3 class="title">模特约拍排行</h3>
        {{/if}}
        {{#if is_score}}
            <h3 class="title">魅力模特排行</h3>
        {{/if}}
        <div class="right-button-wrap">
        </div>
    </header>
    <div data-role="data-role=container">
        <div class="warp-box">
        <div class="rank">
            <div class="part-three">
                <ul class="list" data-role="one-two-three-list">

                </ul>
            </div>
            <div class="part-other">
                <ul class="list clearfix" data-role="more-list">

                </ul>
            </div>
            <div class="more fn-hide" data-role="load_more">查看更多</div>
        </div>
        </div>
    </div>
</main>