// 字体颜色
.cor-409,
.color-409{color: #4092f1;}

.cor-fe9,
.color-fe9{color: #fe9920;}

.cor-000,
.color-000{color: #000;}

.cor-666,
.color-666{color: #666;}

.cor-333,
.color-333{color: #333;}

.cor-aaa,
.color-aaa{color: #aaaaaa;}

.color-ff6{color: #ff6a6e;}


// 背景颜色
.bg-color-f2f{background-color: #f2f2f2}
.bg-color-fff{background-color: #fff}
.bg-color-000{background-color: #000}

// 边框颜色

