<main class="edit-condition-page" role="main">
    <header class="nav-header edit-condition-nav-header">
        <div class="left-button-wrap" data-role="web-page-back">
            <a ><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">选择风格</h3>

        <div class="right-button-wrap price-style-select" data-role="save">
            确定
        </div>
    </header>

    <div class="edit-condition-container" data-role="container">
        <article>
            <div class="content price-style-select">
                <section class="price-style-select">
                    <div data-role="style"></div>
                </section>
            <div>
        </article>
    </div>
</main>