body {
  background: #fff; }

.yue-ui-button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  outline: 0;
  height: 24px;
  line-height: 24px;
  padding: 0 9px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  cursor: pointer;
  text-align: center;
  background-image: none;
  -webkit-box-shadow: #000, 0.05;
  -moz-box-shadow: #000, 0.05;
  box-shadow: #000, 0.05;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  .yue-ui-button:hover, .yue-ui-button:focus {
    text-decoration: none; }
  .yue-ui-button.disabled, .yue-ui-button[disabled], fieldset[disabled] .yue-ui-button {
    cursor: not-allowed;
    pointer-events: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.yue-ui-button-default {
  border-color: #e1e1e1;
  background: #f7f7f7 #fafafa #f5f5f5;
  color: #666; }
  .yue-ui-button-default:hover, .yue-ui-button-default.hover {
    border-color: #e1e1e1;
    background: #f7f7f7 #f5f5f5 #fafafa;
    color: #666; }
  .yue-ui-button-default.disabled, .yue-ui-button-default.disabled:hover, .yue-ui-button-default.disabled:focus, .yue-ui-button-default.disabled:active, .yue-ui-button-default.disabled.active, .yue-ui-button-default[disabled], .yue-ui-button-default[disabled]:hover, .yue-ui-button-default[disabled]:focus, .yue-ui-button-default[disabled]:active, .yue-ui-button-default[disabled].active, fieldset[disabled] .yue-ui-button-default, fieldset[disabled] .yue-ui-button-default:hover, fieldset[disabled] .yue-ui-button-default:focus, fieldset[disabled] .yue-ui-button-default:active, fieldset[disabled] .yue-ui-button-default.active {
    border-color: #e1e1e1;
    background: #f7f7f7 #fafafa #f5f5f5;
    color: #666; }

.yue-ui-button-primary {
  border-color: #2daa00;
  background: #31ba00 #33c200 #2fb300;
  color: #fff; }
  .yue-ui-button-primary:hover, .yue-ui-button-primary.hover {
    border-color: #258b00;
    background: #2ba300 #2dac00 #299b00;
    color: #fff; }
  .yue-ui-button-primary.disabled, .yue-ui-button-primary.disabled:hover, .yue-ui-button-primary.disabled:focus, .yue-ui-button-primary.disabled:active, .yue-ui-button-primary.disabled.active, .yue-ui-button-primary[disabled], .yue-ui-button-primary[disabled]:hover, .yue-ui-button-primary[disabled]:focus, .yue-ui-button-primary[disabled]:active, .yue-ui-button-primary[disabled].active, fieldset[disabled] .yue-ui-button-primary, fieldset[disabled] .yue-ui-button-primary:hover, fieldset[disabled] .yue-ui-button-primary:focus, fieldset[disabled] .yue-ui-button-primary:active, fieldset[disabled] .yue-ui-button-primary.active {
    border-color: #2daa00;
    background: #31ba00 #33c200 #2fb300;
    color: #fff; }

.yue-ui-button-size-small {
  height: 20px;
  line-height: 20px;
  padding: 0 9px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.yue-ui-button-size-large {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.yue-ui-button-size-xlarge {
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.yue-ui-button-size-xxlarge {
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  font-size: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.yue-ui-button-block {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
