<main role="main">
    <header class="nav-header mine-setting-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back" ></i></a>
        </div>
        <h3 class="title">用户许可协议</h3>
        <div class="right-button-wrap"></div>
    </header>
    <div class="setup-page" style="background: #fff;padding:0;">
        <div class="warp-box"  data-role="container">
            <article data-role="text" style="line-height: 1.5;padding: 30px 15px;">


            </article>


        </div>
    </div>
</main>