<div class="scroll-area swiper-wrapper" data-role="ad-pic" style="height: {{height}}px">
        {{#each contents}}
            <div class="swiper-slide"> {{{content}}}</div>
        {{/each}}
</div>

<div class="ad-pic-point-out {{#unless no_single}}fn-hide{{/unless}}"></div>
