/*  订单列表 */
.order-list-page{padding-bottom: 150px;}
.order-list-page .order-bar{width: 100%;border-bottom: 1px solid #e6e6e6;height: 54px;}
.order-list-page .order-bar .list{}
.order-list-page .order-bar .list li{float:left;display:inline;font-size: 14px;padding: 16px 45px 0 0;position: relative;z-index: 1;
}
.order-list-page .order-bar .list li .num{padding: 1px 5px ;border-radius: 15px;background-color: #ff4b47;color: #fff;position: absolute;left: 69px;top: 12px;display: inline-block;height: 12px;line-height: 12px;font-size: 10px;font-family:Arial;}


.order-list-page .order-bar .list li .dn{display:none; }



.order-list-page .order-bar .list li.cur a{font-weight: bold;display: inline-block;}
.order-list-page .dtitle{font-size: 28px;font-weight: normal;padding: 35px 0 35px 0;border-bottom: 1px solid #e6e6e6;}

.order-list-page .no_page_data{color: #999999;font-size: 24px;padding-top: 140px;text-align: center;}


.order-list-page .p2th{}
.order-list-page .p2th ul a{text-decoration: none;display: block; vertical-align: middle; }
.order-list-page .p2th ul a:hover{text-decoration: none;}
.order-list-page .p2th .wbox{border-bottom: 1px solid #e6e6e6;padding: 22px 0;cursor: pointer;}
.order-list-page .p2th .wbox:hover{background-color: #fafafa;}
.order-list-page .p2th .lbox{width: 60px;text-align: center;margin-top: 5px;color: #666666;}
.order-list-page .p2th .icon-com{width: 26px;height: 26px;margin: 0 auto;}
.order-list-page .p2th .lbox .icon-has-see{background: url(../../image/task/has-see-26x26.png?__sprite);}
.order-list-page .p2th .lbox .icon-has-send{background: url(../../image/task/has-send-26x26.png?__sprite);}
.order-list-page .p2th .lbox .icon-has-money{background-image: url(../../image/task/has-money-26x26.png?__sprite);}
.order-list-page .p2th .lbox .icon-price{background-image: url(../../image/task/price-26x26.png?__sprite);}
.order-list-page .p2th .lbox .icon-no-use{background-image: url(../../image/task/no-use-26x26.png?__sprite);}
.order-list-page .p2th .lbox .icon-close{background-image: url(../../image/task/close-26x26.png?__sprite);}
.order-list-page .p2th .lbox .icon-right{background-image: url(../../image/task/icon-right-18x18.png?__sprite);width: 18px;height: 18px;}
.order-list-page .p2th .lbox .icon-has{background: url(../../image/task/icon-list-has-26x26.png?__sprite);width: 26px;height: 26px;margin: 0 auto;}
.order-list-page .p2th .lbox .txt{padding-top: 8px;}
.order-list-page .p2th .cbox{padding: 0px 0 0 20px;width: 680px;line-height: 20px;}


.order-list-page .p2th .cbox h3{font-size: 18px;}
.order-list-page .p2th .cbox .h3{font-size: 18px;}
.order-list-page .p2th .fb_import .cbox .h3,
.order-list-page .p2th .fb_import .cbox .p1
{font-weight: bold;}



.order-list-page .p2th .cbox .p1{color: #666666;font-size: 14px;padding: 3px 0;}
.order-list-page .p2th .cbox .p2{color: #aaaaaa;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.order-list-page .p2th .wbox:hover .cbox .p2{
    white-space:  normal;
    text-overflow: none ;
    overflow:  none;
}

.order-list-page .p2th .rbox{padding: 0px 30px 0 0px;text-align: center;width: 150px;text-align: right;}
.order-list-page .p2th .rbox .time{padding: 10px 0 10px 0;color: #666666;}
.order-list-page .p2th .rbox .btn{cursor: pointer;color: #333333;}