
{{#each list}}
    <li data-role="nav-to-info" data-topic-id="{{id}}">
        <!--div class="topic-title title">{{title}}</div-->
        <div class="topic-front">
            <i class="img image-img" data-lazyload="{{cover_image}}" >
            </i>
        </div>
    </li>
{{/each}}
