<main role="main" class="commit wryh">
    <header class="nav-header mine-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>
        <h3 class="title">约拍邀请</h3>
        <div class="right-button-wrap">
            <a><i class="icon icon-cog"></i></a>
        </div>
    </header>
        <div class="yuepai-refuse" data-role="yuepai-refuse">
            <div class="warp-box">
                <div style="padding-bottom: 85px;">
            <div class="icon-yes"><i class="icon icon-refuse-s"></i></div>
            <div class="notice-one">为啥拒绝呢？</div>
            <div class="part">
                <p class="reason"></p>
                <div class="choosen_group" data-role="choosen_group">

                </div>
                <textarea name=" " id=" " class="textarea-class"   placeholder="补充说明" data-role="cancel_remark"></textarea>
               

                <button data-role="btn" style="margin-top:10px" class="ui-button ui-button-primary ui-button-size-middle ui-button-block ">
                    <span class="ui-button-content">完成</span>
                </button>

            </div>
            <div class="details-notice">
                <p>温馨提示：</p>
                <p>为什么要在【约拍】约拍？</p>
                <p>1.在线支付，不怕假币。</p>
                <p>2.火眼金睛，帮您看清摄影师以往评价、拍摄水平和账户金额。</p>
                <p>3.安全保障，您若担心人身、财产安全。可事先要求约拍保证金，也可向官方提出申诉。</p>
            </div>
                </div>
            </div>
        </div>
</main>