<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>我要约拍</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="commit wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                我要约拍
            </header>
            <div class="content-body">
                <!--use for choise or my-->
                <div class="commit-block">
                    <div class="notice">
                        <p class="commit-notice">摄影师信用金要求： ￥</p>
                        <p class="commit-fee" data-role="commit_fee">300</p>
                    </div>
                    <div class="style-content">
                        <div class="notice-style">请选择拍摄风格：</div>
                        <div class="choosen-style">
                            <!--loop -->
                            <div class="choosen-style-child" data-role="choosen-style-tap">
                                <p class="choosen-style-child-title" data-role="choosen-style">日系</p>                                
                                <div class="choosen-style-child-price-container">
                                    <p class="choosen-style-child-price" data-role="choosen-price">￥200 /小时</p>
                                    <i class="icon icon-r-16x26"></i>
                                </div> 
                            </div>
                            <!--loop end-->
                           
                        </div>
                    </div>
                </div>
                <!--use for choise or my end-->
            </div>
        </main>
    </div>
</div>
</body>
</html>
