<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约约 - 活动报名</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="action-apply wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                报名
            </header>
            <div class="content-body">
                <div class="action-apply-content">
                    <section class="action-apply-list">
                        <ul>
                            <li>
                                <div class="item">手机号码：</div>
                                <div class="item-input"><input data-role="phone-number" type="text" class="phone-number"></div>
                            </li>
                            <li>
                                <div class="item">报名人数：</div>
                                <div class="item-input"><input data-role="phone-number" type="text"></div>
                            </li>
                            <li>
                                <div class="item">选择场次：</div>
                                <div class="item-input"><input data-role="phone-number" type="text"></div>
                            </li>
                        </ul>
                    </section>
                    <section>
                    </section>
                    <div class="pay"><button class="pay-btn" data-role="pay">支付并报名</button></div>
                </div> 
                    
            </div>
            <footer class="tab-footer" data-role="footer">
                <ul>
                    <li>
                        <div class="nav-wrap current" data-role="footer-act">
                            <i class="icon icon-act">外拍活动</i>
                        </div>
                    </li>
                    <li>
                        <div class="nav-wrap" data-role="footer-model">
                            <i class="icon icon-model">模特约拍</i>
                        </div>
                    </li>
                    <li>
                        <div class="nav-wrap" data-role="footer-my">
                            <i class="icon icon-my">我的</i>
                        </div>
                    </li>
                </ul>
            </footer>
        </main>
    </div>
</div>
</body>
</html>
