<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约约 - 发布活动</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="action-preview wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                活动预览
            </header>
            <div class="content-body">
                <div class="measure-choosen">
                    <ul class="measure-choosen-in">
                        <i class="measure-choosen-child" data-role="style-style">活动介绍</i>
                        <i class="measure-choosen-child cur" data-role="style-breast">活动信息</i>
                        <i class="measure-choosen-child" data-role="style-tall">场次安排</i>
                    </ul>
                </div>
                <div class="action-preview-content">
                    <div class="wrap-box">
                        <div class="action-con-info fn-hide">
                            <div class="main-title">已给wife网iojfioew </div>
                            <div class="notice-con">
                                <p class="notice">时间：</p><p class="cont" data-role="time">9626366589955666655665</p>
                            </div>
                            <div class="notice-con">
                                <p class="notice">地址：</p><p class="address" data-role="address"></p>
                            </div>
                            <div class="notice-con">
                                <p class="notice">俱乐部：</p><p class="bar" data-role="bar">广州站</p>
                            </div>
                            <div class="notice-con">
                                <p class="notice">费用：</p><p class="fee" data-role="fee">￥50/人</p>
                            </div>
                        </div>
                        <div class="action-con-arrange fn-hide">
                            <div class="main-title">已给wife网iojfioew </div>
                            <div class="notice-con">
                                <div class="title-con">
                                    <div class="title">场次安排</div>
                                </div>
                                <!--loop-->
                                <div class="con">
                                    <div class="per">
                                        <p class="notice">第一场：</p>
                                        <p class="cont">09:30 - 12:00</p>
                                    </div>
                                    <div class="per">
                                        <p class="notice">名额：</p>
                                        <p class="cont">12人</p>
                                    </div>
                                </div>
                                <!--loop-->
                                <div class="con">
                                    <div class="per">
                                        <p class="notice">第一场：</p>
                                        <p class="cont">09:30 - 12:00</p>
                                    </div>
                                    <div class="per">
                                        <p class="notice">名额：</p>
                                        <p class="cont">12人</p>
                                    </div>
                                </div>
                                <div class="awl-con">
                                    <p class="notice">备注：</p><p class="cont">优质活动，名额有限，不容错过。</p>
                                </div>
                            </div>
                            <div class="notice-con">
                                <div class="title-con">
                                    <div class="title">活动领队</div>
                                </div>
                                <!--loop-->
                                <div class="con">
                                    <div class="per-child">
                                        <div class="per-child-con">
                                            <p class="notice">联系人：</p>
                                            <p class="cont">小绵</p>
                                        </div>
                                        <div class="per-child-con">
                                            <p class="notice">手机：</p>
                                            <p class="cont">18666006716</p>
                                        </div>
                                    </div>
                                </div>
                                <!--loop-->
                                <div class="con">
                                    <div class="per-child">
                                        <div class="per-child-con">
                                            <p class="notice">联系人：</p>
                                            <p class="cont">静心</p>
                                        </div>
                                        <div class="per-child-con">
                                            <p class="notice">手机：</p>
                                            <p class="cont">15815771062</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="btns">
                            <div class="btn_back">返回修改</div>
                            <div class="btn_next">下一步</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
