<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约约 - 我的活动劵</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="action-security wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                我的活动劵
            </header>
            <div class="content-body">
                <div class="action-security-content">
                    <section class="action-security-list">
                        <ul>
                            <li>
                                <div class="item">
                                    <div class="title">
                                        <div class="icon icon-hd"></div>
                                        <div class="text">
                                            <h2>忆夏-POCO小型精品外拍</h2>
                                            <h2>活动时间：2014-06-01</h2>
                                        </div>
                                    </div>
                                    <i class="icon next"></i>
                                </div>
                                <div class="password">
                                    <div class="number">密码：<em>1357 9246 8526</em></div>
                                    <div class="picture"><i></i></div>
                                    <div class="picture"><i></i></div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="title">
                                        <div class="icon icon-time"></div>
                                        <div class="text">
                                            <h2>模特：杨诗乐</h2>
                                            <h2>活动时间：2014-06-01</h2>
                                        </div>
                                    </div>
                                    <div class="next">></div>
                                </div>
                                <div class="password">
                                    <div class="number">密码：<em>1357 9246 8526</em></div>
                                    <i class="picture"></i>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="title">
                                        <div class="icon icon-time"></div>
                                        <div class="text">
                                            <h2>模特：杨诗乐</h2>
                                            <h2>活动时间：2014-06-01</h2>
                                        </div>
                                    </div>
                                    <div class="next">></div>
                                </div>
                                <div class="password">
                                    <div class="number">密码：<em>1357 9246 8526</em></div>
                                    <i class="picture"></i>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>   
            </div>
            <footer class="tab-footer" data-role="footer">
                <ul>
                    <li>
                        <div class="nav-wrap current" data-role="footer-act">
                            <i class="icon icon-act">外拍活动</i>
                        </div>
                    </li>
                    <li>
                        <div class="nav-wrap" data-role="footer-model">
                            <i class="icon icon-model">模特约拍</i>
                        </div>
                    </li>
                    <li>
                        <div class="nav-wrap" data-role="footer-my">
                            <i class="icon icon-my">我的</i>
                        </div>
                    </li>
                </ul>
            </footer>
        </main>
    </div>
</div>
</body>
</html>