<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约约 - 活动详情</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="event-info-page-main wryh">
            <header class="nav-header event-info-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">活动详情</h3>
                
                <div class="right-button-wrap">
                    <a><i class="icon icon-cog"></i></a>
                </div>
                <div class="right-tap fn-hide">完成活动</div>
                <div class="right-tap fn-hide">取消活动</div>
                <div class="right-tap fn-hide">删除订单活动</div>
            </header>
            <div class="event-info-page-container">
                <div class="warp">
                    <div class="refresh-container"></div>
                    <div class="event-info-page">
                        <div class="title">
                            <div class="title-in">
                                <div class="title-pic-container">
                                    <div class="title-pic" style="background:url(../../../images/pai/test/150x150.png);background-size:cover;background-position:50%"></div>
                                </div>
                                <div class="title-describe">
                                    <p class="describe_title">
                                        美丽动人色彩系列之波西莉亚风情外派
                                    </p>
                                    <p class="describe_price">
                                        <span>￥</span>
                                        <span data-role="price">
                                            70.00
                                        </span>
                                        <span class="bla">/人</span>
                                    </p>
                                </div>
                                <div class="an-arrow">
                                    <i class="icon icon-r-16x26"></i>
                                </div>
                            </div>
                        </div>
                        <div class="button fn-hide">
                            <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block  ui-button-size-radius-large exp">
                                <span class="ui-button-content"><i class="icon icon-er-wei-ma-w"></i> 出示活动券二维码</span>
                            </button>
                        </div>
                        <div class="button fn-hide">
                            <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block  ui-button-size-radius-large exp">
                                <span class="ui-button-content"><i class="icon icon-btn-icon-sm"></i> 扫描签到</span>
                            </button>
                        </div>
                        <div class="button fn-hide">
                            <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block  ui-button-size-radius-large exp">
                                <span class="ui-button-content"><i class="icon icon-btn-icon-pj"></i> 评价活动</span>
                            </button>
                        </div>
                        <div class="button fn-hide">
                            <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block  ui-button-size-radius-large exp">
                                <span class="ui-button-content"><i class="icon icon-btn-icon-fk"></i> 去支付</span>
                            </button>
                        </div>
                        <div class="block">
                            <div class="describe">活动已完成</div>
                            <div class="describe-info">
                                <div class="describe-info-line"><span class="notice">单号：</span><span class="notice-inside">201410151022654158</span></div>
                                <div class="describe-info-line"><span class="notice">付款时间：</span><span class="notice-inside">2014.10.23 12:00</span></div>
                                <div class="describe-info-line"><span class="notice">签到时间：</span><span class="notice-inside">2014.10.25 09:00</span></div>
                                <div class="describe-info-line tel"><span class="notice">手机号码：</span><span class="notice-inside">18666006716</span></div>
                                <div class="describe-info-line"><span class="notice">人数：</span><span class="notice-inside">2</span></div>
                                <div class="describe-info-line"><span class="notice">总价：</span><span class="notice-inside">￥140.00</span></div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="describe">已现场签到</div>
                            <div class="describe-info">
                                <div class="describe-info-line"><span class="notice">单号：</span><span class="notice-inside">201410151022654158</span></div>
                                <div class="describe-info-line"><span class="notice">付款时间：</span><span class="notice-inside">2014.10.23 12:00</span></div>
                                <div class="describe-info-line"><span class="notice">签到时间：</span><span class="notice-inside">2014.10.25 09:00</span></div>
                                <div class="describe-info-line tel"><span class="notice">手机号码：</span><span class="notice-inside">18666006716</span></div>
                                <div class="describe-info-line"><span class="notice">人数：</span><span class="notice-inside">2</span></div>
                                <div class="describe-info-line"><span class="notice">总价：</span><span class="notice-inside">￥140.00</span></div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="describe">已付款，准备签到</div>
                            <div class="describe-info">
                                <div class="describe-info-line"><span class="notice">单号：</span><span class="notice-inside">201410151022654158</span></div>
                                <div class="describe-info-line"><span class="notice">付款时间：</span><span class="notice-inside">2014.10.23 12:00</span></div>
                                <div class="describe-info-line tel"><span class="notice">手机号码：</span><span class="notice-inside">18666006716</span></div>
                                <div class="describe-info-line"><span class="notice">人数：</span><span class="notice-inside">2</span></div>
                                <div class="describe-info-line"><span class="notice">总价：</span><span class="notice-inside">￥140.00</span></div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="describe">代付款</div>
                            <div class="describe-info">
                                <div class="describe-info-line"><span class="notice">单号：</span><span class="notice-inside">201410151022654158</span></div>
                                <div class="describe-info-line tel"><span class="notice">手机号码：</span><span class="notice-inside">18666006716</span></div>
                                <div class="describe-info-line"><span class="notice">人数：</span><span class="notice-inside">2</span></div>
                                <div class="describe-info-line"><span class="notice">总价：</span><span class="notice-inside">￥140.00</span></div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="describe">已评价</div>
                            <div class="describe-info">
                                <div class="describe-info-line"><span class="notice">单号：</span><span class="notice-inside">201410151022654158</span></div>
                                <div class="describe-info-line"><span class="notice">付款时间：</span><span class="notice-inside">2014.10.23 12:00</span></div>
                                <div class="describe-info-line"><span class="notice">签到时间：</span><span class="notice-inside">2014.10.25 09:00</span></div>
                                <div class="describe-info-line tel"><span class="notice">手机号码：</span><span class="notice-inside">18666006716</span></div>
                                <div class="describe-info-line"><span class="notice">人数：</span><span class="notice-inside">2</span></div>
                                <div class="describe-info-line"><span class="notice">总价：</span><span class="notice-inside">￥140.00</span></div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="describe">一共20人，6人报名，0人签到</div>
                            <div class="describe-info">
                                <div class="describe-info-line"><span class="notice">发布时间：</span><span class="notice-inside">2014.10.15 10:22</span></div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="describe">一共20人，6人报名，5人签到</div>
                            <div class="describe-info">
                                <div class="describe-info-line"><span class="notice">发布时间：</span><span class="notice-inside">2014.10.15 10:22</span></div>
                                <div class="describe-info-line"><span class="notice">完成时间：</span><span class="notice-inside">2014.10.24 15:00</span></div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="describe">一共20人，6人报名，0人签到</div>
                            <div class="describe-info">
                                <div class="describe-info-line"><span class="notice">发布时间：</span><span class="notice-inside">2014.10.15 10:22</span></div>
                                <div class="describe-info-line"><span class="notice">取消时间：</span><span class="notice-inside">2014.10.24 15:00</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>