.user-info-page {
  color: #333333; }
  .user-info-page .p1th {
    padding: 37px 0 37px 0;
    padding-bottom: 37px;
    border-bottom: 1px solid #eeeeee; }
    .user-info-page .p1th .user-icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-size: cover;
      margin: 0px auto 0 auto; }
    .user-info-page .p1th .level {
      text-align: center;
      margin-top: 8px; }
    .user-info-page .p1th .des {
      text-align: center;
      line-height: 22px;
      font-size: 14px;
      line-height: 24px;
      padding: 10px 15px 15px 15px; }
  .user-info-page .p2th {
    padding-top: 37px;
    padding-bottom: 37px;
    border-bottom: 1px solid #eeeeee; }
    .user-info-page .p2th .list {
      display: -webkit-box;
      display: box;
      -webkit-box-pack: center;
      box-pack: center; }
      .user-info-page .p2th .list li {
        margin: 0 15px 0 15px;
        width: 60px; }
        .user-info-page .p2th .list li .txt {
          color: #333;
          text-align: center;
          padding-top: 10px; }
        .user-info-page .p2th .list li .circle {
          height: 65px; }
          .user-info-page .p2th .list li .circle .pie {
            width: 60px;
            height: 60px;
            background-color: #eeeeee;
            border-radius: 50%;
            position: absolute; }
          .user-info-page .p2th .list li .circle .pie1 {
            clip: rect(0px, 60px, 60px, 30px); }
          .user-info-page .p2th .list li .circle .pie2 {
            clip: rect(0px, 30px, 60px, 0px); }
          .user-info-page .p2th .list li .circle .hold {
            width: 60px;
            height: 60px;
            position: absolute;
            z-index: 1; }
          .user-info-page .p2th .list li .circle .hold1 {
            clip: rect(0px, 60px, 60px, 30px); }
          .user-info-page .p2th .list li .circle .hold2 {
            clip: rect(0px, 30px, 60px, 0px); }
          .user-info-page .p2th .list li .circle .cor-bg {
            width: 58px;
            height: 58px;
            background-color: #555555;
            border-radius: 50%;
            position: absolute;
            margin: 1px 0 0 1px; }
          .user-info-page .p2th .list li .circle .time {
            width: 52px;
            height: 52px;
            margin: 4px 0 0 4px;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            z-index: 1;
            text-align: center;
            line-height: 54px;
            color: #666666;
            font-size: 14px; }
  .user-info-page .p3th {
    padding-top: 37px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eeeeee; }
    .user-info-page .p3th .title {
      font-size: 16px; }
    .user-info-page .p3th .list {
      padding-top: 30px;
      text-align: center;
      width: 100%;
      overflow: hidden; }
    .user-info-page .p3th li {
      width: 50px;
      height: 50px;
      background-size: cover;
      margin-right: 5px;
      background-repeat: no-repeat;
      display: inline-block; }
    .user-info-page .p3th .comment {
      font-size: 16px;
      padding: 25px 0 25px 0; }
    .user-info-page .p3th .ui-start-mod {
      text-align: center; }
    .user-info-page .p3th .zhxq {
      padding: 20px 0 25px 0; }
    .user-info-page .p3th .pbc {
      padding: 10px 20px;
      border: solid 1px #ff6a6e;
      border-radius: 50px;
      color: #ff6a6e; }
    .user-info-page .p3th .stars-all-mod {
      display: inline-block; }
  .user-info-page .p4th {
    padding-top: 37px;
    padding-bottom: 30px; }
    .user-info-page .p4th .list {
      padding-left: 13px;
      margin-top: 30px; }
      .user-info-page .p4th .list li {
        width: 33%;
        padding: 0 10px 10px 0;
        float: left;
        position: relative;
        -webkit-box-sizing: border-box; }
        .user-info-page .p4th .list li .wrap {
          width: 100%; }
        .user-info-page .p4th .list li .img {
          padding-top: 100%;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat; }
