<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约约 - 发布活动</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="action-intro wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                发布活动
            </header>
            <div class="content-body">
                <div class="procedure-header-mod">
                    <ul class="step">
                        <li>活动信息</li>
                        <li class="current">活动介绍</li>
                        <li>场次安排</li>
                    </ul>
                    <ul class="num">
                        <li class="common">
                            <i class="num-icon">1</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                        <li class="common current">
                            <i class="num-icon">2</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                        <li class="common">
                            <i class="num-icon">3</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                    </ul>
                </div>
                <div class="action-intro-content">
                    <div class="wrap-box">
                        <div class="fmt-con">
                            <p class="title">封面图：</p>
                            <div class="title-pic-con" data-role="title-pic-con">

                            </div>
                            <!--div class="title-pic-con" data-role="title-pic-con">
                                <div class="per-pic-con">
                                    <i class="icon icon-add-130x130 add"></i>
                                </div>

                                <div class="per-pic-con">
                                    <div class="" style=" width:66px; height:66px;background-image: url('../../assets/images/pai/test/test.jpg');"></div>
                                    <i class="icon icon-close-40x40 del"></i>
                                </div>

                                <div class="per-pic-con">
                                    <div class="" style=" width:66px; height:66px;background-image: url('../../assets/images/pai/test/test.jpg');"></div>
                                    <i class="icon icon-close-40x40 del"></i>
                                </div>
                                <div class="per-pic-con">
                                    <div class="" style=" width:66px; height:66px;background-image: url('../../assets/images/pai/test/test.jpg');"></div>
                                    <i class="icon icon-close-40x40 del"></i>
                                </div>
                            </div-->
                        </div>
                        <div class="theme-con">
                            <p class="title">主题：</p>
                            <textarea data-role="theme"></textarea>
                        </div>
                        <div class="module-con">
                            <p class="title">场地/模特：</p>
                            <!--loop-->
                            <div class="per-module-con">
                                <div class="icon-con"><i class="icon icon-close-20x20 close"></i></div>
                                <input class="module-input" type="text" placeholder="场地/模特介绍..."/>
                                <div class="module-pic-con">
                                    <!--loop-->
                                    <div class="per-pic-con">
                                        <div class="" style=" width:66px; height:66px;background-image: url('../../assets/images/pai/test/test.jpg');"></div>
                                        <i class="icon icon-close-40x40 del"></i>
                                    </div>
                                    <!--loop-->
                                    <div class="per-pic-con">
                                        <div class="" style=" width:66px; height:66px;background-image: url('../../assets/images/pai/test/test.jpg');"></div>
                                        <i class="icon icon-close-40x40 del"></i>
                                    </div>
                                    <div class="per-pic-con">
                                        <div class="" style=" width:66px; height:66px;background-image: url('../../assets/images/pai/test/test.jpg');"></div>
                                        <i class="icon icon-close-40x40 del"></i>
                                    </div>
                                    <div class="per-pic-con">
                                        <i class="icon icon-add-130x130 add"></i>
                                    </div>
                                </div>
                            </div>
                            <!--loop-->
                            <div class="per-module-con">
                                <div class="icon-con  fn-hide"><i class="icon icon-close-20x20 close"></i></div>
                                <input class="module-input" type="text" placeholder="场地/模特介绍..."/>
                                <div class="module-pic-con">
                                    <!--loop-->
                                    <div class="per-pic-con">
                                        <div class="" style=" width:66px; height:66px;background-image: url('../../assets/images/pai/test/test.jpg');"></div>
                                        <i class="icon icon-close-40x40 del"></i>
                                    </div>
                                    <!--loop-->
                                    <div class="per-pic-con">
                                        <div class="" style=" width:66px; height:66px;background-image: url('../../assets/images/pai/test/test.jpg');"></div>
                                        <i class="icon icon-close-40x40 del"></i>
                                    </div>
                                    <div class="per-pic-con">
                                        <div class="" style=" width:66px; height:66px;background-image: url('../../assets/images/pai/test/test.jpg');"></div>
                                        <i class="icon icon-close-40x40 del"></i>
                                    </div>
                                    <div class="per-pic-con">
                                        <i class="icon icon-add-130x130 add"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="add-module">
                                <i class="icon icon-add-32x32"></i>
                                <p>增加模块</p>
                            </div>
                        </div>
                        <div class="btns">
                            <div class="btn_back">返回修改</div>
                            <div class="btn_next">下一步</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script>

</script>
</body>
</html>
