<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main" class="">


            <header class="nav-header rank-v2-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>
                <h3 class="title">魅力排行榜</h3>
                <div class="right-button-wrap">
                    <i class="icon i-min-40x40"></i>
                </div>
            </header>

            <div>


                <div class="rank-v2">
                    <div class="p1th">
                        <div class="item-wrap">
                            <div class="item">

                                <div class="allow">
                                    <i class="icon one-18x18"></i>
                                </div>

                                <div class="imgbox"  style=" background: url(http://yueus.com/m/images/test/180x240.jpg);background-size:cover">
                                </div>
                                <div class="fade-box">
                                    张芷晴
                                </div>
                                <div class="txt"><span class="cor1">6280</span> <span class="cor2">魅力</span></div>
                                <div class="tags">性感</div>
                            </div>
                            
                            <div class="item">
                                <div class="allow allow-2">
                                    <i class="icon two-18x18"></i>
                                </div>

                                <div class="imgbox"  style=" background: url(http://yueus.com/m/images/test/180x240.jpg);background-size:cover">
                                </div>
                                <div class="fade-box">
                                    张芷晴
                                </div>
                                <div class="txt"><span class="cor1">6280</span> <span class="cor2">魅力</span></div>
                                <div class="tags">性感</div>

                            </div>
                            <div class="item">
                                <div class="allow allow-3">
                                    <i class="icon three-18x18"></i>
                                </div>

                                <div class="imgbox"  style=" background: url(http://yueus.com/m/images/test/180x240.jpg);background-size:cover">
                                </div>
                                <div class="fade-box">
                                    张芷晴
                                </div>
                                <div class="txt"><span class="cor1">6280</span> <span class="cor2">魅力</span></div>
                                <div class="tags">性感</div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="p2th">
                        <div class="item-wrap">
                            <div class="item">

                                <div class="lbox">
                                    <div class="num">1</div>
                                    <div class="allow-top">
                                    </div>

                                    <div class="allow-bottom">
                                    </div>

                                    <div class="img-box fldi" style=" background: url(http://yueus.com/m/images/test/120x160.jpg?12);background-size:cover"></div>

                                    <div class="txt-box fldi">
                                        <p class="p1">陈诗诗</p>
                                        <p class="p2">擅长 性感</p>
                                    </div> 
                                </div>
                                <div class="rbox">
                                    <div class="txt"><span class="cor1">6280</span> <span class="cor2">魅力</span></div>
                                </div>
                            </div>

                            <div class="item">

                                <div class="lbox">
                                    <div class="num">10</div>
                                    <div class="allow-top">
                                    </div>

                                    <div class="allow-bottom">
                                    </div>

                                    <div class="img-box fldi" style=" background: url(http://yueus.com/m/images/test/120x160.jpg?12);background-size:cover"></div>

                                    <div class="txt-box fldi">
                                        <p class="p1">陈诗诗</p>
                                        <p class="p2">擅长 性感</p>
                                    </div> 
                                </div>
                                <div class="rbox">
                                    <div class="txt"><span class="cor1">6280</span> <span class="cor2">魅力</span></div>
                                </div>
                            </div>


                        </div>

                        <div class="btn">加载更多</div>
                    </div>

                 
                </div>





            </div>


        </main>
    </div>
</div>

</body>
</html>
