<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main" class="">


            <header class="nav-header rank-v2-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>
                <h3 class="title">魅力排行榜</h3>
                <div class="right-button-wrap">
                   
                </div>
            </header>

            <div>

                <div class="rank-des-page">
                    <div class="box1">如何获得魅力值？</div>
                    <div class="box2">1.被约拍金额：<span class="txt-cor">1魅力/元</span></div>
                    <div class="box3">2.被约拍次数：<span class="txt-cor">50魅力/次</span></div>
                    <div class="box4">3.任务：<span class="txt-cor">注册成功即得100魅力</span></div>
                </div>

            </div>


        </main>
    </div>
</div>

</body>
</html>
