@import "../widget/ui-base";
@import "../widget/ui-list";
.certificate-container{
  // ------------------------------
  // 约拍app - 等级认证v2
  // ------------------------------
  background-color: #fff;
  .authentication_level_2_notice{

    .content-body{
      //margin-bottom: 50px;
      padding: 15px 15px 65px 15px;
      background: #ffffff;
      -webkit-transform: translateZ(0);
      .list-container{
        margin-top: 15px;
      }
      .img-con{
        display: -webkit-box;

      }
      .text-con{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        .line{
          margin-top: 10px;
        }
      }

      .red{
        color: #ff0000;
      }
      .exp{
        padding-left: 15px;
      }
    }

  }

  .authentication_level_2_ready{
    .content-body{
      margin-top: 0;
      //margin-bottom: 50px;
      padding: 15px 15px 65px 15px;
      -webkit-transform: translateZ(0);
      .list-container{
        margin-top: 15px;
      }
      .img-con{
        display: -webkit-box;
        -webkit-box-pack: center;

      }

      .text-con{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        .line{
          margin-top: 10px;
        }
      }
      .ui-input-mod{
        margin-top: 15px;
      }
    }
  }

  .authentication_level_2_status{
    .content-body{
      display: -webkit-box;
      margin-top: 45px;
      margin-bottom: 50px;
      padding: 0px 15px 15px 15px;
      background: #ffffff;
      .list-container{
        display: -webkit-box;
        -webkit-box-flex: 1;
        -webkit-box-pack: center;
        -webkit-box-orient: vertical;
        margin-top: 15px;
      }
      .img-con{
        display: -webkit-box;
        -webkit-box-pack: center;

      }

      .text-con{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        color: #666666;
        .title{
          margin: 8px 0px;
          text-align: center;
          font-size: 18px;
          color: #3fc585;
        }
        .text{
          text-align: center;
          font-size: 14px;

        }
        .line{
          margin-top: 10px;
        }
        &.exp{
          color:#000;

        }
      }
      .ui-input-mod{
        margin-top: 15px;
      }
    }
  }

  .authentication_btn-con{
    display: -webkit-box;
    -webkit-box-pack:center;
    border-top:1px solid #cccccc;
    height: 49px;
    width: 100%;
    background: #f2f2f2;
    position: absolute;
    bottom: 0px;
    &.notice{
      button{
        width: 140px;
        margin: 7px 50px 7px 50px;
      }
    }
    &.ready{
      button{
        width: 140px;
        margin: 7px;
      }
    }
    &.status{
      button{
        width: 140px;
        margin: 7px;
      }
    }
  }

  // ------------------------------
  // 约拍app - 等级认证v3
  // ------------------------------

  .authentication_level_3_ready{
    .content-body{
      display: -webkit-box;
      //margin-bottom: 50px;
      padding: 15px 15px 65px 15px;
      background: #ffffff;
      .list-container{
        display: -webkit-box;
        -webkit-box-flex: 1;
        -webkit-box-pack: center;
        -webkit-box-orient: vertical;
        margin-top: 15px;
      }
      .img-con{
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-orient: vertical;

        text-align: center;

        .title{
          color: #000;
          font-size: 14px;
        }
        .price{
          color: #ff5000;
          font-size: 24px;
          font-weight: 600;
          margin: 5px 0px 8px 0px;
        }
      }
      .pay-con{
        display: -webkit-box;
      }
      .text-con{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        color: #666666;
        margin: 30px 0px 30px 0px;
        .title{
          margin: 8px 0px;
          font-size: 14px;
          color: #000;
        }
        .gray{
          color: #8f8f8f;
          font{
            font-weight:600;
          }
        }
        .text{
          text-align: center;
          font-size: 14px;

        }
        .line{
          margin-top: 10px;
        }
      }
      .notice-con{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        color: #8f8f8f;
        font-size:10px;
      }
      .ui-input-mod{
        margin-top: 15px;
      }
    }
  }

  .authentication_level_3_status{
    .content-body{
      display: -webkit-box;
      margin-top: 45px;
      //margin-bottom: 50px;
      padding: 0px 15px 65px 15px;
      background: #ffffff;
      .list-container{
        display: -webkit-box;
        -webkit-box-flex: 1;
        -webkit-box-pack: center;
        -webkit-box-orient: vertical;
        margin-top: 15px;
      }
      .img-con{
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-orient: vertical;

        text-align: center;

        .title{
          color: #000;
          font-size: 14px;
        }
        .price{
          color: #ff5000;
          font-size: 24px;
          font-weight: 600;
          margin: 5px 0px 8px 0px;
        }
        .green
        {
          color: #fff;
          background: #3fc585;
          font-size: 10px;
          width: 60px;
          margin: 0 auto;
          border-radius: 15px;
          height: 20px;
          line-height: 19px;
        }
      }

      .text-con{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        color: #666666;
        margin: 70px 0px 30px 0px;
        .title{
          margin: 8px 0px;
          font-size: 14px;
          color: #000;
        }
        .gray{
          color: #8f8f8f;
          font{
            font-weight:600;
          }
        }
        .text{
          text-align: center;
          font-size: 14px;

        }
        .line{
          margin-top: 10px;
        }
      }
      .notice-con{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        color: #8f8f8f;
        font-size:10px;
      }
      .ui-input-mod{
        margin-top: 15px;
      }
    }
  }

  .ui-button-submit-area {
    &.v2{
      button{
        margin:4px auto;
        width: 50%;
      }
    }

  }

  .ui-list > li{
    margin-left: 0;
  }

  // 支付选择对号
  .icon-select-active:before {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-image: url('../../image/pai/select-40x40.png?__sprite');
  }
  .icon-select-no:before {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-image: url('../../image/pai/select-before-40x40.png?__sprite');
  }
  .icon-select-big:before {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-image: url('../../image/pai/select-big-100x100.png?__sprite');
    margin-bottom: 20px;
  }
  // 支付宝icon
  .icon-zhifubao:before {
    width: 46px;
    height: 17px;
    margin-top: 8px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-image: url('../../image/pai/zhifubao-92x34.png?__sprite');
  }
  // 支付宝icon
  .icon-wx-pay:before {
    width: 50px;
    height: 30px;
    margin-top: 0px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-image: url('../../image/pai/wx-100x60.png?__sprite');
  }
}


