<main role="main" class="index-find wryh">

    <header class="nav-header hot-find-nav-header">
        <div class="place_em"></div>
        <div class="place" data-role="select-loc" >
            <div data-loc>广州</div><i class="icon icon-allow-22x12"></i>
        </div>

        <hgroup>
            <h3 class="title has-new" data-role="select-hot">热门</h3>
            <h3 class="title has-new current" data-role="select-find">发现</h3>
        </hgroup>


        <div class="right-button-wrap r-icon">
            <!--div class="select-more-wrap" data-role="select-more">
                <i class="icon icon-sao-50x50 more-select-icon"></i>
            </div>

            <div class="search-more-wrap" data-role="search">
                <i class="icon icon-search-top-m"></i>
            </div-->

            <div class="search-more-wrap" data-role="select-more">
                <i class="icon btn-icon-cs-46x40 more-select-icon"></i>
            </div>
        </div>
    </header>

    <div class="content-body" data-role="content-body">
        <div>
            <div class="measure-choosen">
                <ul class="measure-choosen-in">
                    <i class="measure-choosen-child cur" data-tap data-role="style-style">风格</i>
                    <!--i class="measure-choosen-child" data-tap data-role="style-breast">胸围</i-->
                    <!--i class="measure-choosen-child" data-tap data-role="style-tall">身高</i-->
                    <i class="measure-choosen-child" data-tap data-role="topic">专题</i>
                </ul>
            </div>
            <div class="wonderful-grid-content" data-role="container">
                <div class="container_style" data-grid data-role="container_style"></div>
                <div class="container_breast" data-grid data-role="container_breast"></div>
                <div class="container_height" data-grid data-role="container_height"></div>
                <div class="container_topic" data-grid data-role="container_topic"></div>

            </div>
        </div>
    </div>

</main>