.seller-list-page .seller_list {
  display: -webkit-box;
  -webkit-box-orient: vertical; }
  .seller-list-page .seller_list .child {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    background: #fff;
    margin-top: 15px;
    position: relative;
    overflow: hidden; }
    .seller-list-page .seller_list .child i.min-height {
      height: 150px; }
    .seller-list-page .seller_list .child .pics_con {
      position: relative;
      font-size: 0px; }
      .seller-list-page .seller_list .child .pics_con .txt {
        position: absolute;
        bottom: 0px;
        font-size: 14px;
        width: 100%;
        color: #fff;
        padding: 10px 15px;
        background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8))); }
    .seller-list-page .seller_list .child .notice {
      display: -webkit-box;
      -webkit-box-pack: justify;
      font-size: 14px;
      padding: 18px 15px; }
      .seller-list-page .seller_list .child .notice .price .p2 {
        padding-top: 7px; }
      .seller-list-page .seller_list .child .notice .rbox {
        text-align: right; }
        .seller-list-page .seller_list .child .notice .rbox .stars-all-mod {
          display: inline-block; }
        .seller-list-page .seller_list .child .notice .rbox .p1 {
          padding-top: 5px; }
      .seller-list-page .seller_list .child .notice .name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;
        text-align: center; }
.seller-list-page .item-list {
  background: #ffffff; }
  .seller-list-page .item-list .item {
    padding: 15px 0 15px 0;
    margin: 0 15px 0 15px;
    border-bottom: 1px solid #e6e6e6;
    display: -webkit-box;
    display: box; }
    .seller-list-page .item-list .item .lbox {
      position: relative;
      width: 100px;
      height: 100px; }
      .seller-list-page .item-list .item .lbox i {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        display: block;
        background-repeat: no-repeat; }
    .seller-list-page .item-list .item .rbox {
      -webkit-box-pack: justify;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      margin-left: 15px;
      -webkit-box-flex: 1;
      box-flex: 1; }
      .seller-list-page .item-list .item .rbox .title {
        line-height: 20px; }
      .seller-list-page .item-list .item .rbox .price {
        margin-top: 2px;
        font-size: 12px; }
      .seller-list-page .item-list .item .rbox .num {
        padding-top: 2px; }
