// ui 颜色配置
// 汤圆
// 2015-7-9

.color-555{
    color: #555555;
}
.color-2c2{
    color: #2c2c2c;
}
.color-aaa{
    color: #aaaaaa;
}
.color-111{
    color: #111111;
}
.color-ff6{
    color: #ff6a6e;
}
.color-fe9{
    color: #fe9920;
}
.color-ffb{
    color: #ffb4b6;
}
.color-ddd{
    color: #dddddd;
}
.color-000{
    color: #000;
}
.color-333{
    color: #333;
}
.color-666{
    color: #666;
}
.color-999{
    color: #999;
}
.color-fe9{
    color: #fe9220;
}

