<main role="main" class="action-pub wryh">
    <header class="page-header wryh">
        <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
        发布活动
    </header>
    <div class="content-body">

        <div class="action-pub-content" data-role="action-pub-content">
            <div class="wrap-box">
                <div class="procedure-header-mod">
                    <ul class="step">
                        <li>活动信息</li>
                        <li>活动介绍</li>
                        <li class="current">活动流程</li>
                    </ul>
                    <ul class="num">
                        <li class="common">
                            <i class="num-icon">1</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                        <li class="common">
                            <i class="num-icon">2</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                        <li class="common current">
                            <i class="num-icon">3</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                    </ul>
                </div>
                <div class="parts-con" data-role="parts-con">
                    <p class="title">场次安排</p>
                </div>
                <div class="component-add-btn">
                    <div class="component-add-btn-con" data-role="add_panel">
                        <div class="mid">
                            <i class="icon icon-add-32x32"></i>
                            <p>增加场次</p>
                        </div>
                    </div>
                </div>
                <div class="text-container">
                    <input class="text" type="text" placeholder="备注信息" data-role="text">
                </div>
                <div class="lead-con" data-role="lead-con">
                    <p class="title">活动领队</p>
                </div>
                <div class="component-add-btn  add-leader">
                    <div class="component-add-btn-con" data-role="add_leader_panel">
                        <div class="mid">
                            <i class="icon icon-add-32x32"></i>
                            <p>增加领队</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="btns">


            <div class="btn_back" data-role="page-back">
                <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block ui-button-color2">
                    <span class="ui-button-content">返回修改</span>
                </button>
            </div>
            <div class="btn_next" data-role="next-step">
                <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block ">
                    <span class="ui-button-content">预览</span>
                </button>
            </div>



        </div>
    </div>
</main>