 <div class="item">
    <div class="wrap-c">
        <div class="lbox">RP：</div>
        <div class="rbox">
            <div class="start"><i data-role="rp" class="icon icon-start-l-g"></i><i data-role="rp" class="icon icon-start-l-g"></i><i data-role="rp"  class="icon icon-start-l-g"></i><i data-role="rp"  class="icon icon-start-l-g"></i><i class="icon icon-start-l-g" data-role="rp"></i></div>
        </div>
    </div>         
</div>

<div class="item">
    <div class="wrap-c">
        <div class="lbox">时间观念：</div>
        <div class="rbox">
            <ul class="up-wrap">
                <li class="" data-role="time_right" data="1"><span class="icon-wrap "><i class="icon icon-up-cancel-m"></i> 准时</span></li>
                <li data-role="time_right" data="2"><span class="icon-wrap"><i class="icon icon-up-cancel-m"></i> 不准时</span></li>
            </ul>        
        </div>
    </div>  
         
</div>