.poco-time-picker{
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-pack:center;
  font-size: 0px;
  position: fixed;
  top: 0px;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  z-index: 1001;
  .title{
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    background: #fff;
  }
  .hour_contain{
    display: block;
    background: #fff;
    width: 100%;
    padding-bottom: 10px;
  }
}