<main role="main" class=" ">

    <header class="nav-header my-zone-header">
            <div class="left-button-wrap" data-role="web-page-back">
                <a><i class="icon icon-back"></i></a>
            </div>

            <h3 class="title" data-role="main-title"></h3>

            <div class="right-button-wrap" style="font-size: 10px;">
                <a><span data-role="cur-page">1</span>/<span class="" data-role="all-page"></span></a>
            </div>
    </header>

    <div data-role="container" class="content-body"  >
        <div>

           <!-- 发需求 start -->
           <div class="demand-page" data-role="main-ele">
               
           </div>
           <!-- 发需求 end  -->
            
        </div>
    </div>

</main>