       <ul class="list clearfix">
           {{#each list}}
                  <li>
                      <i class="img" style="background:url({{avatar}});"></i>
                      <p class="f14 color-666 name-text">{{name}}</p>
                  </li>
              {{/each}}
      </ul>
