.login-tips-page{
    text-align: center;
    font-size: 16px;
    .box1{
        color: #666666;
        padding-top: 100px;
    }
    .box2{
        color: #666666;
        padding-top: 8px;
    }
    .box3{
        padding: 50px 60px;
    }
    .box4{

        color: #1d76d4;
        text-decoration: underline;
        font-size: 12px;
    }
}