<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-发现</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="index-find wryh">
            <header class="page-header wryh">
                <div class="location-select" data-role="select-loc">广州<i class="icon icon-allow-22x12"></i></div>
                <div class="hot-find-select">
                    <ul class="hot-find-select-in">
                        <i class="choosen hot" data-role="select-hot">热门</i>
                        <i class="choosen find cur" data-role="select-find">发现</i>
                    </ul>
                </div>
                <div class="more-select" data-role="select-more">
                    <i class="icon icon-add-40x40 more-select-icon"></i>
                </div>
            </header>
            <!-- drop module -->
            <div class="more-select-drop">
                <p class="more-select-choosen" data-role="sys"><i class="icon icon-sao-50x50 more-select-sys"></i>扫一扫</p>
                <p class="more-select-choosen" data-role="module-card"><i class="icon icon-set-50x50 more-select-module-card"></i>建立模特卡</p>
                <p class="more-select-choosen" data-role="go-act"><i class="icon icon-pub-50x50 more-select-go-act"></i>发活动</p>
            </div>
            <!-- drop module end-->
            <div class="content-body">
                <div>
                <div class="measure-choosen">
                    <ul class="measure-choosen-in">
                        <i class="measure-choosen-child cur" data-role="style-style">风格</i>
                        <i class="measure-choosen-child" data-role="style-breast">胸围</i>
                        <i class="measure-choosen-child" data-role="style-tall">身高</i>
                    </ul>
                </div>
                <div class="wonderful-grid-content">
                    <!-- loop view-->
                    <div class="grid-session">
                        <p class="grid-title" data-role="japan">#日系</p>
                        <div class="grid-pic-content">
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                        </div>
                    </div>
                    <!-- loop view end-->
                    <!-- loop view-->
                    <div class="grid-session">
                        <p class="grid-title" data-role="pens">#内衣</p>
                        <div class="grid-pic-content">
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic" style="margin-right: 0px;">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic" style="margin-right: 0px;">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                            <div class="grid-pic" data-role="grid-pic" style="margin-right: 0px;">
                                <img width="100%" src="../../assets/images/pai/test/test.jpg"/>
                            </div>
                        </div>
                    </div>
                    <!-- loop view end-->
                </div>
                </div>
            </div>
            <footer class="tab-footer" data-role="footer">
                <ul>
                    <li>
                        <div class="nav-wrap" data-role="footer-act">
                            <i class="icon icon-act">外拍活动</i>
                        </div>
                    </li>
                    <li>
                        <div class="nav-wrap current" data-role="footer-model">
                            <i class="icon icon-model">模特约拍</i>
                        </div>
                    </li>
                    <li>
                        <div class="nav-wrap" data-role="footer-my">
                            <i class="icon icon-my">我的</i>
                        </div>
                    </li>
                </ul>
            </footer>
        </main>
    </div>
</div>
<script>
    window.onload = function(){
        var click_or_not = false;
        var a = document.getElementsByClassName("more-select-drop")[0];
        document.getElementsByClassName("more-select")[0].onclick = function(){
            if(!click_or_not) {
                a.style.webkitAnimation = '0.6s index-select forwards';
                click_or_not = true;
            }
            else{
                a.style.webkitAnimation = '0.6s index-select-back forwards';
                click_or_not = false;
            }
        }
    }

</script>
</body>
</html>
