<main role="main" class="details-coupon">
    <header class="nav-header mine-model-car-header-opacity" data-role="slide-header">
        <div class="left-button-wrap" data-role="page-back">
            <a href="javascript:;"><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title" data-role="coupon-title">优惠券详情</h3>

       <div class="right-button-wrap" data-role="confirm">
           <a class="fn-hide" href="javascript:;">确定</a>
        </div> 
    </header>
    <div class="content-body" data-role="content-body">
        <div class="" data-role="list-container">

        </div>
    </div>
    <div class="bottom_container fn-hide" data-role="btn_footer">
        <button class="ui-button ui-button-size-middle ui-button-block ui-button-primary ui-button-size-radius-large fn-hide" data-role="use">

            <span class="ui-button-content" data-role="use-text"></span>

        </button>
        <button class="ui-button ui-button-size-middle ui-button-block ui-button-primary ui-button-size-radius-large fn-hide" data-role="free_get">

            <span class="ui-button-content" >免费领取</span>

        </button>
        <button class="ui-button ui-button-size-middle ui-button-block ui-button-dark ui-button-size-radius-large fn-hide" data-role="has">

            <span class="ui-button-content" >已领取</span>

        </button>



    </div>
</main>

