<main role="main" class="zone wryh">



    <header class="nav-header mine-model-car-header zone-cameraman-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">空间</h3>
        
        <div class="right-button-wrap" data-role="show-pop">
            <a class="fn-hide"><i class="circle-min"></i><i class="circle-min"></i><i class="circle-min"></i></a>
        </div>
    </header>


    <div class="content-body " data-role="container" >
        <div data-role="info">

        </div>

        

    </div>

    <!-- 大笨像 -->
        <div class="pop-max-dabenxiang fn-hide" data-role="pop-dabenxiang-cameraman" style="background-image:url(../mobile/images/pop-modelcar-tips.png);background-size:80%;background-repeat:no-repeat;background-position:50%">
        </div>
</main>