<main role="main" class="authentication_level_3_ready">
    <header class="nav-header mine-model-car-header-opacity" data-role="slide-header">
        <div class="left-button-wrap" data-role="page-back">
            <a href="javascript:;"><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title" data-role="moteka-title">V3 达人认证</h3>

       <div class="right-button-wrap" data-role="confirm">

        </div> 
    </header>
    <div class="content-body " data-role="content-body">
        <div class="list-container" data-role="list-container" >
            <div class="img-con" style="margin: 20px 0;">
                <p class="title">信用金担保</p>
                <p class="price">￥300.00</p>
            </div>
            <div class="pay-con" data-role="pay">

            </div>
            <div class="text-con">
                <p class="title">信用金担保的好处？</p>
                <p class="gray"><font>·</font> 约到更多优秀的模特</p>
                <p class="gray"><font>·</font> 增加约拍成功率</p>
            </div>
            <div class="notice-con">
                <p>温馨提示：信用金仅作为担保模特的安全，不予提现退款。</p>
                <p>若有问题，请致电客服400-82-9003</p>
            </div>
        </div>
    </div>
    <div class="btn-con">
        <button class="ui-button ui-button-size-middle ui-button-block ui-button-primary ui-button-size-radius-large auto_width" data-role="submit">
            <span class="ui-button-content">马上充值</span>
        </button>
    </div>
</main>

