<main role="main" class="explain">
    <header class="nav-header mine-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>
        <h3 class="title" data-role="title">{{title}}</h3>
        
        <div class="right-button-wrap">
            <a><i class="icon icon-cog"></i></a>
        </div>
    </header>
    
    <div class="content-body" data-role="container">

    </div>
</main>