.app_drop_menu_lock{
  position: fixed;
  background: none;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 9998;

}
.app_drop_menu{
  -webkit-box-orient:vertical;
  background: rgba(0,0,0,0.7);
  width: 130px;
  position: fixed;
  right: 0px;
  top:-250px;
  margin: 10px 5px 0px 0px;
  border-radius: 4px;
  padding: 0px 10px;
  font-size: 16px;
  z-index: 9999;
  -webkit-transform-style: preserve-3d;
  .delta{
    position: absolute;
    right: 15px;
    top: -6px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 6px solid rgba(0,0,0,.7);;
  }
  .child{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack:center;
    height: 50px;
    color: #fff;
    border-bottom: 1px solid #5c5b5d;
    p{
      max-height: 50px;
      overflow: hidden;
    }
    &:active p{
      color: #999;
    }
    &:last-child{
      border-bottom: none;
    }
    &.un{
      color: #717172;
    }
  }
  &.drop{
    animation:dropping 0.2s forwards ease-in;
    -webkit-animation:dropping 0.2s forwards ease-in;
  }
  &.up{
    animation:upping 0.2s;
    -webkit-animation:upping 0.2s;
  }
}

@-webkit-keyframes dropping
{
  from {top: -250px;display: -webkit-box;}
  to {top: 0px;}
}

@-webkit-keyframes upping
{
  from {top: 0px;}
  to {top: -250px;display: none;}
}