<div class="app_drop_menu_lock fn-hide" data-role="app_drop_menu_lock">

</div>
<div class="app_drop_menu" data-role="app_drop_menu">
    <div class="delta"></div>
    {{#each menu_data}}
        <div class="child" data-index="{{index}}"><p>{{content}}</p></div>
    {{/each}}
</div>
