<div class="share-mod">
    <div class="wbox3 clearfix">
        <div class="lbox3 fldi">分    享：</div>
        <div class="rbox3 fldi" id="share-data-wrap">
            <span class="share-icon" id="btn_wx" data="weixin"></span>

            <span class="share-icon share-sina" data="sina"></span>

            <span class="share-icon share-zone" data="qzone"></span>

            <span class="share-icon share-qq" data="qq"></span>
        </div>
    </div>
</div>