<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="gbk">
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
<link rel="stylesheet" type="text/css" href="./css/style.css">
<title>权限添加与编辑模板</title>
</head>
<body>
<style>
    .J_add_btn,.J_add_cover_img{
        overflow: hidden;
    }
    .model-img-list li{
        float:left; width:85px; height:100px; text-align:center; margin-right:10px
    }
</style>
{global_header_html}

<div class="mainbox">
  <div id="tabs" style="margin-top:10px;">
    <div class="tabbox">
      <div class="table-list">
        <div class="table" style="width:100%;">          
          <fieldset>
            <legend>权限增加/编辑</legend>
			<form id="form1" name="form1" method="post" action="">
			  <table width="90%" align="center">
				  <tr>
					  <td width="26%" height="25">权限名称</td>
					  <td width="74%" height="25">
						 <input name="name" type="text" id="name" value="{acl_one.name}" />
                      </td>
                  </tr>
                  <tr>
					  <td width="26%" height="25">权限值</td>
					  <td width="74%" height="25">
						 <input name="val" type="text" id="val" value="{acl_one.val}" />
                      </td>
                  </tr>
				  <tr>
					  <td width="26%" height="25">所属上一级类型</td>
					  <td width="74%" height="25">
                          <select name="parent_id" id="parent_id">
                                <option value="0">顶级</option>
                                <!-- BEGIN list -->
                                    <option value="{id}"  <!-- IF select_one --> selected <!-- ENDIF --> >
                                            {level}{name}
                                    </option>
                                <!-- END list -->
                          </select>
					  </td>
				  </tr>
                    <tr>
                      <td colspan="2" align="center">
                          <input type="button" name="button" id="button_return" value="返回" onclick="jump();" />&nbsp;&nbsp;<input type="button" name="button" id="button" value="提交" onclick="check();" />
                      </td>
                    </tr>
			  </table>
              <input type='hidden' name='id' value="{id}"/>
			</form>
          </fieldset>
        </div>
      </div>
    </div>   
    </div>
     </div>
<script>
    function jump()
    {
        window.location.href="admin_acl.php";
    }
    function check()
    {
        if($("#name").val()=='')
        {
            alert("名称不能为空");
            return false;
        }
        
        if($("#val").val()=='')
        {
            alert('权限值不能为空');
            return false;
        }
        
        if($("#parent_id").val()==='')
        {
            alert("上一级不能为空");
            return false;
        }
        
        $("#form1").submit();
        
        
    }
</script>
</body>
</html>