<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
<link rel="stylesheet" type="text/css" href="./css/style.css">
<title>添加商户模板</title>
</head>

<body>
    
{global_header_html}

<div class="mainbox">
  <div id="tabs" style="margin-top:10px;">
    <div class="tabbox">
      <div class="table-list">
        <div class="table" style="width:100%;">          
          <fieldset>
            <legend>添加商户</legend>
				<form method="post" onsubmit="return check();">
					<table width="90%" align="center">
						<tr>
							 <td width="26%" height="25">用户id</td>
							 <td width="74%" height="25">
								<input type="text" name="user_id"/>
							 </td>
						</tr>
						<tr>
							 <td width="26%" height="25">是否自动接受</td>
							 <td width="74%" height="25">
								<input type="radio" value='0' name="is_auto_accept"/>否
								</br>
								<input type="radio" value='1' name="is_auto_accept"/>是
							 </td>
						</tr>
						<tr>
							 <td width="26%" height="25">是否自动签到</td>
							 <td width="74%" height="25">
								<input type="radio" value='0' name="is_auto_sign"/>否
								</br>
								<input type="radio" value='1' name="is_auto_sign"/>是
							 </td>
						</tr>
                        <tr>
							 <td width="26%" height="25">&nbsp;</td>
							 <td width="74%" height="25">
								<input type="submit" value="提交"/>
							 </td>
						</tr>
										
				   </table>
			   </form>
			   <script>
				function check()
				{
					var user_id = $("input[name='user_id']").val();
					var is_auto_accept = $("input[name='is_auto_accept']:checked").length;
                    alert(is_auto_accept);
                    return false;
					var is_auto_sign = $("input[name='is_auto_sign']:checked").length;
                    if( ! user_id )
                    {
                        alert('用户id要选择');
                        return false;
                    }
                    if(is_auto_accept == 0)
                    {
                        alert('是否自动接受要选');
                        return false;
                    }
                    if(is_auto_sign == 0)
                    {
                        alert("是否自动签到要选");
                        return false;
                    }
                    
                    $("#the_form").submit();
                    
				}
			   </script>
           </fieldset>
        </div>
      </div>
    </div>   
</div>
</div>
</body>
</html>