<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>修改商品</title>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link type="text/css" href="css/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
<link type="text/css" href="css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="js/jquery-ui-timepicker-zh-CN.js"></script>
<script type="text/javascript" src="js/jquery.md5.js"></script>

<script src="js/shadowbox/shadowbox.js" type="text/javascript"></script>
<link href="js/shadowbox/shadowbox.css" rel="stylesheet" type="text/css" />
<script type="text/javascript"> 
$(function () {
	$(".ui_timepicker").datetimepicker({
	});
	$(".ui_timepicker_time").datetimepicker({
		//showOn: "button",
		//buttonImage: "./css/images/icon_calendar.gif",
		//buttonImageOnly: true,
		showSecond: true,
		timeFormat: 'hh:mm:ss',
		stepHour: 1,
		stepMinute: 1,
		stepSecond: 1
	});
})
</script>

</head>
<body>
<style>
    .J_add_btn,.J_add_cover_img{
        overflow: hidden;
    }
    .model-img-list li{
        float:left; width:85px; height:100px; text-align:center; margin-right:10px
    }
	#img_wid img{ 
	max-width:200px
	}
</style>
{global_header_html}
<script>
    /**
     * hudw 2015.1.23
     * @param  {[type]} window    [description]
     * @param  {[type]} seajs     [description]
     * @param  {[type]} undefined [description]
     * @return {[type]}           [description]
     */
    ;(function(window, seajs, undefined)
    {


        // 配置模块
        seajs.config
        ({

            paths:
            {
                utility: 'http://cb.poco.cn/utility',
                matcha: 'http://cb.poco.cn/matcha',
                yueyue_global : 'http://www.yueus.com/js/global'
            },
            alias:
            {
                handlebars: 'utility/handlebars/1.0.0/handlebars',
                jquery: 'utility/jquery/1.11.0/jquery',
                cookie: 'matcha/cookie/1.0.0/cookie',
                topbar : 'yueyue_global/topbar/topbar'
            },
            comboMaxLength: 5000,
            charset: 'utf-8'
        });

        seajs.use(['jquery','topbar'],function($,topbar)
        {
            var $user_state = $('#user_state');

            topbar.init
            ({
                container : $user_state,
                custom_logout : "http://www.yueus.com/reg/logout.php",
                custom_html : '<a href="http://www.yueus.com/reg/login.php?r_url='+encodeURIComponent(window.location.href)+'">登录</a><span class="pr15 pl15">|</span><a href="http://www.yueus.com/reg/register.php?r_url='+encodeURIComponent(window.location.href)+'">免费注册</a>'
            });
        });


    })(window, seajs);
</script>
<script>
Shadowbox.init({ 
    handleOversize: "drag", 
	overlayColor: '#000',
    modal: true,
    displayNav: true,
	displayCounter: false
}); 
Shadowbox.setup();    
function change_status(id,status)
{
	if(!confirm('是否确认修改状态？'))
	{
	   return;
	}
	$.ajax( {    
			url:'?action=chstatus&id='+id+'&status='+status,
			type:'post',    
			cache:false,    
			dataType:'json',    
			success:function(data) {    
			    alert(data.message);
			    /*   
				if(data.result==1){    
					alert('修改成功');
					location.reload();
				}else{    
					alert(data.message);  
				}
				*/    
			 },    
			 error : function() {    
				  alert("异常！");
			 }    
	});  
}
</script>
<script>

 
</script>
<script>

</script>	   
<div class="mainbox">
  <div id="tabs" style="margin-top:10px;">
    <div class="tabbox">
      <div class="table-list">
        <div class="table" style="width:100%;">          
          <fieldset>
            <legend>修改商品</legend>
			<form id="form1" name="form1" method="post" action="" target="_self" onsubmit="return check();">
			  <table width="90%" align="center">
                    <!-- BEGIN default_data -->
				    <tr>
                         <td width="26%" height="25">{name}</td>
                         <td width="74%" height="25">
                         <!-- IF input="3" -->
                         <input name="default_data[{key}]" type="text" id="default_data[{key}]" value="{value}" size="50" maxlength="50" />
                         <!-- ELSEIF input="5" -->
                         在线编辑器:<br>
                            <div class="container">
                               <div class="image-row">
                                   <div class="image-set">
                                           <div id='img_wid'>
                                              {value}
                                           </div>
                                       </div>
                               </div>    
                            </div>
                        
                         
                         <textarea name="default_data[{key}]" cols="50" rows="5" id="default_data[{key}]">{value}</textarea>
                            
                         <!-- ELSEIF input="8" -->
                         <input name="default_data[{key}]" type="hidden" id="default_data[{key}]" value="{value}" />
                         {data}
                         <!-- ELSE -->
                         <textarea name="default_data[{key}]" cols="50" rows="5" id="default_data[{key}]">{value}</textarea>
                         <!-- ENDIF -->
                         </td>
					</tr>
                    <!-- END default_data -->                     
                    <!-- BEGIN system_data -->
				    <tr>
                         <td width="26%" height="25">{name}</td>
                         <td width="74%" height="25">
                         <!-- IF input="3" -->
                         <input name="system_data[{key}]" type="text" id="system_data[{key}]" value="{value}" size="50" maxlength="50" />
                         <!-- ELSEIF input="4" -->
                         <textarea name="system_data[{key}]" cols="50" rows="5" id="system_data[{key}]">{value}</textarea>
                         <!-- ELSEIF input="9" -->
                         <input name="system_data[{key}]" type="hidden" id="system_data[{key}]" value="{value}" />
                         <!-- BEGIN child_data --> 
                         {name}:
                             <!-- IF input="3" -->
                             <input name="system_data[{parent.key}][{key}]" type="text" id="system_data[{parent.key}][{key}]" value="{value}" size="50" maxlength="50" />
                             <!-- ELSEIF input="4" -->
                             <textarea name="system_data[{parent.key}][{key}]" cols="50" rows="5" id="system_data[{parent.key}][{key}]">{value}</textarea>
                             <!-- ELSEIF input="1" -->
                                 <!-- BEGIN child_data --> 
                                 <input type="radio" name="system_data[{parent.parent.key}][{parent.key}]" id="system_data[{parent.parent.key}][{parent.key}]" value="{name}" <!-- IF is_select -->checked="checked"<!-- ENDIF --> />{name}&nbsp;&nbsp;
                                 <!-- END child_data -->
                             <!-- ELSEIF input="2" -->
                                 <!-- BEGIN child_data --> 
                                 <!-- END child_data -->
                             <!-- ENDIF -->
                         {mess}<br>
                         <!-- END child_data -->
                         <!-- ELSEIF input="6" -->
                         <input id="system_data[{key}]" type="text" size="20" name="system_data[{key}]" value="{value}" class="ui_timepicker" />
                         <!-- ELSEIF input="7" -->
                         <input id="system_data[{key}]" type="text" size="20" name="system_data[{key}]" value="{value}" class="ui_timepicker_time" />
                         <!-- ELSEIF input="1" -->
<!--                         <select name="system_data[{key}]" id="system_data[{key}]">
                             <!-- BEGIN child_data -->
                               <option value="{key}" <!-- IF is_select -->selected="selected"<!-- ENDIF -->>{name}</option>
                             <!-- END child_data -->
                         </select>
-->
                         <!-- BEGIN child_data -->                         
                           <input name="system_data[{parent.key}]" class="J_parent_type" data-mark="{id}" type="radio" id="system_data[{parent.key}]" value="{key}" <!-- IF is_select -->checked="checked"<!-- ENDIF --> />{name}
                           <!-- IF child_data -->                           
                           &nbsp;&nbsp;&nbsp;&nbsp;[详情:
                           <!-- IF input="2" -->
                           <!-- BEGIN child_data -->
                           <input name="system_data[{parent.key}][]" class="J_child_type" data-parent="{parent.id}" type="checkbox" id="system_data[{parent.key}][]" value="{key}" <!-- IF is_select -->checked="checked"<!-- ENDIF --> />{name}&nbsp;&nbsp;
                           <!-- END child_data -->
                           <!-- ELSEIF input="1" -->
                           <!-- BEGIN child_data -->
                           <input type="radio" name="system_data[{parent.key}]" class="J_child_type" data-parent="{parent.id}" id="system_data[{parent.key}]" value="{key}" <!-- IF is_select -->checked="checked"<!-- ENDIF --> />{name}&nbsp;&nbsp;
                           <!-- END child_data -->
                           <!-- ENDIF -->
                           ]
                           <!-- ENDIF -->
                           <br>
                         <!-- END child_data -->
                         
                         <!-- ELSEIF input="2" -->
                         <!-- BEGIN child_data -->
                           <input name="system_data[{parent.key}][]" class="J_parent_type" data-mark="{id}" type="checkbox" id="system_data[{parent.key}][]" value="{key}" <!-- IF is_select -->checked="checked"<!-- ENDIF --> />{name}
                           <!-- IF child_data -->                           
                           &nbsp;&nbsp;&nbsp;&nbsp;[详情:
                           <!-- IF input="2" -->
                           <!-- BEGIN child_data -->
                           <input name="system_data[{parent.key}][]" class="J_child_type" data-parent="{parent.id}" type="checkbox" id="system_data[{parent.key}][]" value="{key}" <!-- IF is_select -->checked="checked"<!-- ENDIF --> />{name}&nbsp;&nbsp;
                           <!-- END child_data -->
                           <!-- ELSEIF input="1" -->
                           <!-- BEGIN child_data -->
                           <input type="radio" name="system_data[{parent.key}]" class="J_child_type" data-parent="{parent.id}" id="system_data[{parent.key}]" value="{key}" <!-- IF is_select -->checked="checked"<!-- ENDIF --> />{name}&nbsp;&nbsp;
                           <!-- END child_data -->
                           <!-- ENDIF -->
                           ]
                           <!-- ENDIF -->
                           <br><br>
                         <!-- END child_data -->
                         <!-- ENDIF -->
                         </td>
					</tr>
                    <!-- END system_data -->                     
                    <!-- BEGIN diy_data -->
				    <tr>
                         <td width="26%" height="25">{name}</td>
                         <td width="74%" height="25">
                         <!-- IF input="3" -->
                         <input name="diy_data[{key}]" type="text" id="diy_data[{key}]" value="{value}" size="50" maxlength="50" />
                         <!-- ELSE -->
                         <textarea name="diy_data[{key}]" cols="50" rows="5" id="diy_data[{key}]">{value}</textarea>
                         <!-- ENDIF -->
                         </td>
					</tr>
                    <!-- END diy_data -->
                    
                    
                    <!-- BEGIN combination_data -->
				    <tr>
                         <td width="26%" height="25">标题:</td>
                         <td width="74%" height="25">
                         <input name="combination_data[{name}][titles]" type="text" id="combination_data[{name}][titles]" value="{data.titles}" size="50" maxlength="50" />
                         </td>
					</tr>
				    <tr>
                         <td width="26%" height="25">正文:</td>
                         <td width="74%" height="25">
                         <textarea name="combination_data[{name}][content]" cols="50" rows="5" id="combination_data[{name}][content]">{data.content}</textarea>
                      </td>
					</tr>
				    <tr>
                         <td width="26%" height="25">图片:</td>
                         <td width="74%" height="25">
                         <!-- BEGIN data.images -->
                         <input name="combination_data[{parent.name}][images][]" type="text" id="combination_data[{parent.name}][images][]" value="{src}" size="50" /><br>
                         <!-- END data.images -->
                         </td>
					</tr>
                    <!-- END combination_data -->
                    <!-- BEGIN contact_data -->
				    <tr>
                         <td width="26%" height="25">联系方式:</td>
                         <td width="74%" height="25">
						      <div>
						 	                                  联系人：<input name="contact_data[{name}][name]"  type="text" id="contact_data[{name}][name]"   value="{data.name}"     size="50" maxlength="50" />
						     &nbsp; &nbsp; 电话：<input name="contact_data[{name}][phone]" type="text" id="contact_data[{name}][phone]"  value="{data.phone}"    size="50" maxlength="50" />
						      </div>
					          <div class="item" id="J_add_contact_diy_btn_div">
                              <a href="javascript:;" class="ui-btn ui-btn-border-gray" style="cursor:pointer;color:red" id="J_add_contact_diy_btn" data-mark='2' >增加一项</a>
                              </div>
					  </td>  
					</tr>
                    <!-- END contact_data -->                  
                    
                    <!-- BEGIN prices_data_list -->
                    <!-- IF top.stock_type="7" -->
				    <tr>
                         <td width="26%" height="25">场次:</td>
                         <td width="74%" height="25"><div>
                          名称:
                          <input id="prices_diy[{type_id}][name]" type="text" size="14" name="prices_diy[{type_id}][name]" value="{name}"/>
                          <br />
                          时间:
                          <input id="prices_diy[{type_id}][time_s]" type="text" size="24" name="prices_diy[{type_id}][time_s]" value="{time_s}" class="ui_timepicker" readonly="readonly"/>
                          至
                          <input id="prices_diy[{type_id}][time_e]" type="text" size="24" name="prices_diy[{type_id}][time_e]" value="{time_e}" class="ui_timepicker" readonly="readonly"/>
                          <br />
                          名额:
                          <input id="prices_diy[{type_id}][stock_num]" type="text" size="14" name="prices_diy[{type_id}][stock_num]" value="{stock_num_total}"/><span>&nbsp;&nbsp;已报名：{has_num}&nbsp;&nbsp;剩下：{stock_num}</span>
                          <br />
						  <div>
                          <!-- BEGIN prices_list_data -->
                          名称:<input id="prices_diy[{parent.type_id}][detail][name][{id}]" type="text" size="24" name="prices_diy[{parent.type_id}][detail][name][{id}]" value="{name}"/>&nbsp;&nbsp;
                          价格:<input id="prices_diy[{parent.type_id}][detail][prices][{id}]" type="text" size="6" name="prices_diy[{parent.type_id}][detail][prices][{id}]" value="{prices}"/></div>
                            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" class="ui-btn ui-btn-border-gray" style="cursor: pointer;color:red;" onclick="add_price(this)"  data-mark="3">新增价格</a>
						 </div></div>
                          <!-- END prices_list_data --> 
                          <div class="item"  id="J_add_active_diy_btn_div">
                          <a href="javascript:;" class="ui-btn ui-btn-border-gray" style="cursor: pointer;color:red;" id="J_active_diy_add_btn" data-mark="2">增加场次</a>
						  </div>
					  </td>
					</tr>
                    <!-- ELSEIF top.stock_type="5" -->
				    <tr>
                         <td width="26%" height="25">自定义价格({type_id}):</td>
                         <td width="74%" height="25">
                          名称:
                          <input id="prices_diy[{type_id}][name]" type="text" size="14" name="prices_diy[{type_id}][name]" value="{name}"/>
                          <br />
                          时间:
                          <input id="prices_diy[{type_id}][time_s]" type="text" size="24" name="prices_diy[{type_id}][time_s]" value="{time_s}" class="ui_timepicker" readonly="readonly"/>
                          至
                          <input id="prices_diy[{type_id}][time_e]" type="text" size="24" name="prices_diy[{type_id}][time_e]" value="{time_e}" class="ui_timepicker" readonly="readonly"/>
                          <br />
                          名额:
                          <input id="prices_diy[{type_id}][stock_num]" type="text" size="14" name="prices_diy[{type_id}][stock_num]" value="{stock_num}"/>
                          <br />
                          价格:
                          <input id="prices_diy[{type_id}][prices]" type="text" size="14" name="prices_diy[{type_id}][prices]" value="{prices}"/>
                        </td>
					</tr>
                    <!-- ELSE -->
				    <tr>
                         <td width="26%" height="25">{goods_data.stock_type}[价格]({key})</td>
                         <td width="74%" height="25">{name}
                         <input id="prices_de[{key}]" type="text" size="14" name="prices_de[{key}]" value="{value}"/>
                         <!-- IF top.stock_type="4" -->
                         库存<input id="prices_de_detail[{key}][stock_num]" type="text" size="14" name="prices_de_detail[{key}][stock_num]" value="{stock_num}"/>
                         <!-- ENDIF -->
                         </td>
					</tr>
                    <!-- ENDIF -->
                    <!-- END prices_data_list -->
                    
				  <tr>
					  <td width="26%" height="25">{image_data.name}</td>
					  <td width="74%" height="25">
                          <!-- BEGIN image_data.value -->
                          <!--{img_url}<br>-->
                          <!-- END image_data.value -->
                          <div class="model-img-list clearfix">
                              <ul class="J_li_ul" data-mark="0">
                                  <!-- IF image_data.value -->
                                  <!-- BEGIN image_data.value -->
                                  <li class="J_upload_img_li" data-mark="{data_mark}_{ROWCNT}" data-index="SWFUpload_{data_mark}_{ROWCNT}">
                                      <img class="J_upload_img" src="{img_url}" big_src="{big_img_url}" style="width:80px;" data-mark="{data_mark}_{ROWCNT}"/>
                                      <a href="javascript:void(0);" class="cancle" data-class="J_delete_upload_img" data-mark="{data_mark}_{ROWCNT}" data-mark-par="{data_mark}" data-index="SWFUpload_{data_mark}_{ROWCNT}">删除</a>
                                      <input class="J_upload_img_input" type="hidden" name="upload_imgs_{data_mark}[]" value="{img_url}" data-mark="{data_mark}_{ROWCNT}"/>
                                  </li>
                                  <!-- END image_data.value -->
                                  <!-- ENDIF image_data.value -->
                                  <li class="add-btn J_add_btn" data-mark="0" <!-- IF fit_swf -->style="width:1px;height:1px;"<!-- ENDIF fit_swf -->>
                                      <span id="img_flash_btn_0"></span>
                                  </li>
                              </ul>
                          </div>
					  </td>
					</tr>
				<tr>
                <!-- IF admin_ac -->    
				<tr>
				  <td colspan="2" align="center">
                  <input id="user_str" type="text" size="50" name="user_str" value=""/>
                  <input type="button" name="button2" id="button2" value="拷贝" onclick="javascript:$('#form1').attr('action', '?action=copy');$('#form1').submit();"/></td>
                  </td>
				</tr>
                <!-- ENDIF -->
				  <td colspan="2" align="center">
                  <input name="goods_id" type="hidden" id="goods_id" value="{id}" />
                  <input type="button" name="button" id="button" value="修改资料" style="margin-right:20px;cursor:pointer;" />
                  
                  <!-- IF goods.goods_data.seller_status = "1" -->
                    <!-- IF goods.goods_data.status = "0" -->
                      <a href="javascript:change_status({goods.goods_data.goods_id},1)">通过</a>&nbsp;&nbsp; 
                      <a rel="shadowbox[goods_change_{goods.goods_data.goods_id}];height=350;width=420" href="?action=chstatus&id={goods.goods_data.goods_id}&status=2&note=show">不通过</a>&nbsp;&nbsp;
                      <!--<a href="javascript:change_status({goods_id},3)">删除</a>&nbsp;&nbsp;-->
                      <!-- ELSEIF goods.goods_data.status = "1" -->
                      <a rel="shadowbox[goods_change_{goods.goods_data.goods_id}];height=350;width=420" href="?action=chstatus&id={goods.goods_data.goods_id}&status=2&note=show">不通过</a>&nbsp;&nbsp;
                      <!--
                      <a href="javascript:change_status({goods_id},3)">删除</a>&nbsp;&nbsp;
                      -->
                      <!-- ELSEIF goods.goods_data.status = "2" -->
                      <a href="javascript:change_status({goods.goods_data.goods_id},1)">通过</a>&nbsp;&nbsp;
                      <!--
                      <a href="javascript:change_status({goods_id},3)">删除</a>&nbsp;&nbsp;
                      -->
                    <!-- ENDIF -->
                  <!-- ENDIF -->
                  </td>
				</tr>
			  </table>
			</form>
            <script>
                function check()
                {
                    if(confirm('是否确认修改,如果有多价格,请注意展示价格.'))
                    {
                        return true;
                    }
                    return false;
                }
            </script>
          </fieldset>
        </div>
      </div>
    </div>   
    </div>
     </div>
     
     
     
     
<div class="mainbox">
  <div id="tabs2" style="margin-top:10px;">
    <div class="tabbox">
      <div class="table-list">
        <div class="table" style="width:100%;">
          <fieldset>
            <legend>操作记录</legend>
            <form id="form2" name="form1" method="post" action="" target="_self">
              <table width="90%" align="center">
                <tr>
                  <td width="26%" height="25" align="center" valign="middle">操作类型</td>
                  <td width="18%" height="25" align="center" valign="middle">时间</td>
                  <td width="19%" align="center" valign="middle">操作人</td>
                  <td width="37%" align="center" valign="middle">备注</td>
                </tr>
                <!-- BEGIN log_list -->
                <tr>
                  <td width="26%" height="25" align="center" valign="middle">{type_name}</td>
                  <td width="18%" height="25" align="center" valign="middle">{add_time}</td>
                  <td width="19%" align="center" valign="middle">{user_name}</td>
                  <td width="37%" align="center" valign="middle">{note}</td>
                </tr>
                <!-- END log_list -->
                <tr>
                  <td colspan="4" align="center">&nbsp;</td>
                </tr>
              </table>
            </form>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="add_flash_num" value="1"/><!--要增加的falsh数值，页面有一个，则数值为二，同时也作为id标示-->


<script>
    
    $(function(){
        var len = $("#img_wid img").length;
        for(var i = 0; i < len;i++)
        {
            var src = $("#img_wid img").eq(i).attr("src");
            $("#img_wid img").eq(i).wrap("<a href='"+src+"' target='_blank' ></a>");
        }
        
        var len_small = $(".J_upload_img").length;
        for(var i = 0; i < len_small ; i++)
        {
            var src = $(".J_upload_img").eq(i).attr("big_src");
            $(".J_upload_img").eq(i).wrap("<a href='"+src+"' target='_blank' ></a>");
            
        }
    });
    
    seajs.use(['jquery','./js/img_upload_flash.js?t=112364651239'], function($,img_upload_flash) {
        $(document).ready(function(){
            //初始化上传封面图按钮
            //construct_flash("cover_img_flash_btn","cover_img_btn",1,0,0);
            //初始化第一个模特场地上传图按钮
            var add_flash_num = $("#add_flash_num").val();
            for(var j=0;j<add_flash_num;j++)
            {
                var param_1 = "img_flash_btn_"+j;
                var param_2 = j;
                var tmp_len = $(".J_li_ul[data-mark='"+j+"'] > .J_upload_img_li").length;
                var tmp_param_4 = parseInt(tmp_len);
                var tmp_param_5 = parseInt(tmp_len);
                construct_flash(param_1,"img_btn",param_2,tmp_param_4,tmp_param_5);
            }

            //构造flash函数
            function construct_flash(_swfPlaceholderId,flash_type,id_num,img_mark,construct_img_mark)
            {
                img_upload_flash.get_flash(_swfPlaceholderId,flash_type,id_num,img_mark,construct_img_mark);
            }
            //提交校验
            //封面图是否上传
            $("#button").click(function(){
                var res = form_check();
                //form_summit
                if(res)
                {
                    $("#form1").submit();
                }
            });
            function form_check()
            {
                if(($(".J_upload_cover_img[data-mark='1']").length)>0)
                {
                    if($(".J_upload_cover_img[data-mark='1']").attr("class").match("J_progress"))
                    {
                        alert('封面图在上传中');
                        return false;
                    }
                }
                //检查图文块
                if(($(".J_upload_img").length)>0)
                {
                    var upload_imgs_len = $(".J_upload_img").length;
                    for(var i=0;i<upload_imgs_len;i++)
                    {
                        var cur_class = $($(".J_upload_img")[i]).attr("class");

                        if(cur_class.match("J_progress"))
                        {
                            alert('图片还在上传中，请稍后');
                            return false;
                        }
                    }
                }
                return true;
                //检查是否有图片在上传，避免flash不能使用
            }


            /****2015-10-10-星星添加-分类初始化选择交互****/
                //初始化处理
                var J_parent_type_len = $(".J_parent_type").length;
                var cur_checked,cur_data_mark;
                for(var i=0;i<J_parent_type_len;i++)
                {
                    cur_checked = $($(".J_parent_type")[i]).prop("checked");
                    if(!cur_checked)
                    {
                        cur_data_mark = $($(".J_parent_type")[i]).attr("data-mark");
                        //子分类不能勾选
                        $(".J_child_type[data-parent='"+cur_data_mark+"']").attr("disabled","disabled");

                    }
                }
                //选择后处理
                $(".J_parent_type").on("change",function(){

                    var J_parent_type_len = $(".J_parent_type").length;
                    var cur_checked,cur_data_mark;
                    for(var i=0;i<J_parent_type_len;i++)
                    {
                        cur_checked = $($(".J_parent_type")[i]).prop("checked");
                        cur_data_mark = $($(".J_parent_type")[i]).attr("data-mark");
                        if(!cur_checked)
                        {  
                            //子分类不能勾选
                            $(".J_child_type[data-parent='"+cur_data_mark+"']").attr("disabled","disabled");
                            $(".J_child_type[data-parent='"+cur_data_mark+"']").prop("checked",false);

                        }
                        else
                        {
                            $(".J_child_type[data-parent='"+cur_data_mark+"']").removeAttr("disabled");
                        }
                    }

                    /*var new_data_mark =  $(this).attr("data-mark");
                    $(".J_parent_type").prop("checked",false);
                    $(this).prop("checked",true);
                    $(".J_child_type").attr("disabled","disabled");
                    $(".J_child_type").prop("checked",false);
                    //选中的可选
                    $(".J_child_type[data-parent='"+new_data_mark+"']").removeAttr("disabled");*/


                });

            /****2015-10-10-星星添加-分类初始化选择交互****/
        });
    });
</script>     
<script>
	//增加联系方式
	$("#J_add_contact_diy_btn").bind("click",function(){
        var data_mark=$(this).attr('data-mark');
	    var time = (Date.parse(new Date()))/1000;
		var time_str = time.toString();
        var data_mark_str = data_mark.toString();
        var cur_type_id = $.md5(time_str+data_mark_str);
	    var contact_data_name_value = "contact_data["+cur_type_id+"][name]";
        var contact_data_phone_value = "contact_data["+cur_type_id+"][phone]";
	    var diy_html = '<div class="mod-input-item" id="J_diy_'+data_mark+'">'+
                '联系人：<input  style="width:100x;" type="text" name="'+contact_data_name_value+'" value="" />'+
                '&nbsp;&nbsp;&nbsp; &nbsp;电话：<input  style="width:100px;" type="text" name="'+contact_data_phone_value+'" value="" />&nbsp;&nbsp;'+
                '<span   onclick="del_this(this)" data-mark="'+data_mark+'" style="cursor: pointer;color:#4997F2;">删除</span>'+
        '</div>';
		$("#J_add_contact_diy_btn_div").before(diy_html);  //按钮前添加
        data_mark = parseInt(data_mark)+1;
        $(this).attr("data-mark",data_mark);
	});
	//增加和活动场次
	$('#J_active_diy_add_btn').bind("click",function(){
		var data_mark = $(this).attr("data-mark");
        var time = (Date.parse(new Date()))/1000;
        var time_str = time.toString();
        var data_mark_str = data_mark.toString();
		var r=parseInt((Math.random())*100000);
		var cur_type_id = time_str+data_mark_str+r;   //type_id
		var cur_type_detail_id=time_str+r+data_mark;  //id
		
		var price_diy_data_name_value="prices_diy["+cur_type_id+"][name]";
		var price_diy_data_time_s_value="prices_diy["+cur_type_id+"][time_s]";
		var price_diy_data_time_e_value="prices_diy["+cur_type_id+"][name_e]";
		var price_diy_data_stock_num_value="prices_diy["+cur_type_id+"][stock_num]";
		var price_diy_data_detail_name_value="prices_diy["+cur_type_id+"][detail][name]["+cur_type_detail_id+"]";
		var price_diy_data_detail_price_value="prices_diy["+cur_type_id+"][detail][prices]["+cur_type_detail_id+"]";
				
		var diy_active_html='<div><hr/>'+
                          '名称: <input id="'+price_diy_data_name_value+'" type="text" size="14" name="'+price_diy_data_name_value+'" value=""/><br />'+                         
                          '时间: <input id="'+price_diy_data_time_s_value+'" type="text" size="24" name="'+price_diy_data_time_s_value+'" value="" class="ui_timepicker" readonly="readonly"/>'+
                          '&nbsp;&nbsp;&nbsp;至&nbsp; &nbsp;<input id="'+price_diy_data_time_e_value+'" type="text" size="24" name="'+price_diy_data_time_e_value+'" value="" class="ui_timepicker" readonly="readonly"/>&nbsp;&nbsp;<a href="javascript:;"  onclick="del_this(this)"  style="cursor: pointer;color:#4997F2;" class="ui-btn ui-btn-border-gray" id="J_section_diy_add_btn">删除</a><br/>'+
                          '名额: <input id="'+price_diy_data_stock_num_value+'" type="text" size="14" name="'+price_diy_data_stock_num_value+'" value=""/><span></span><br/>'+
                          '<div>  名称:&nbsp;<input id="'+price_diy_data_detail_name_value+'" type="text" size="24" name="'+price_diy_data_detail_name_value+'" value=""/>&nbsp;&nbsp;'+
                          '价格:<input id="'+price_diy_data_detail_price_value+'" type="text" size="6" name="'+price_diy_data_detail_price_value+'" value=""/></div> '+
                          '<div class="item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" onclick="add_price(this)" class="ui-btn ui-btn-border-gray" style="cursor: pointer;color:red;" data-mark="8">新增价格</a></div></div>&nbsp;&nbsp;';
		$('#J_add_active_diy_btn_div').before(diy_active_html);			 
	});
    //添加价格
     function add_price(obj)
	 {
	   var data_mark=$(obj).attr("data-mark");
	   var time = (Date.parse(new Date()))/1000;
       var time_str = time.toString();
       var data_mark_str = data_mark.toString();
	   var r=parseInt((Math.random())*100000);
	   var cur_type_id = time_str+data_mark_str+r;   //type_id
	   var cur_type_detail_id=time_str+r+data_mark;  //id
	   
	   var price_diy_data_detail_name_value="prices_diy["+cur_type_id+"][detail][name]["+cur_type_detail_id+"]";
	   var price_diy_data_detail_price_value="prices_diy["+cur_type_id+"][detail][prices]["+cur_type_detail_id+"]";
	   var diy_price_html='<div>名称:&nbsp;<input id="'+price_diy_data_detail_name_value+'" type="text" size="24" name="'+price_diy_data_detail_name_value+'" value=""/>&nbsp;&nbsp;'+
                           '价格:<input id="'+price_diy_data_detail_price_value+'" type="text" size="6" name="'+price_diy_data_detail_price_value+'" value=""/><a href="javascript:;"  onclick="del_this(this)"  style="cursor: pointer;color:green;" class="ui-btn ui-btn-border-gray">删除</a>'+
						   '</div>';
       $(obj).parent().prev().after(diy_price_html);						   
	 }	
	//删除指定行
    function del_this(obj)
	{    
		$(obj).parent().remove();
	}
</script>
</body>
</html>