@charset "UTF-8";
// ------------------------------
// POCO约拍app -模特卡
// ------------------------------

.v2-validation-page{
    .p1th{
        padding-top: 45px;
        text-align: center;
        font-size: 16px;
        .cor{
            color: $main-color;
        }
    }
    .p2th{
        padding: 25px 60px 0 60px;
        img{
            width: 100%;

        }
    }
    .p3th{
        padding: 25px 60px 0 60px ;
    }
}












