<div class="title">第二步：信用金担保<span class="status">充值完成</span></div>
<section class="pic small-pic">
    <div class="money"><span>总额：￥</span>300.00</div>
    <span class="tip money-tip">提示：信用金担保仅用于担保模特安全，约拍过程不会被扣费，需要的时候随时提现</span>
</section>
<div class="btn out-btn" data-role="{{#if from_date}}back-to-date{{else}}have-a-see{{/if}}">
    <button class="ui-button ui-button-primary ui-button-size-large ui-button-block">
        <span class="ui-button-content">{{#if from_date}}继续约拍{{else}}随便逛逛{{/if}}</span>
    </button>
</div>