<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main" class="">
            <header class="nav-header comment-page-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>
                <h3 class="title">模特积分榜</h3>
                <div class="right-button-wrap">
                </div>
            </header>

            <div>
                <div class="rank">
                    <div class="part-three">
                        <ul class="list">
                            <li>
                                <div class="avatar-size-top-mod avatar-size-top-mod-1">
                                    <span class="icon avatar-size-area"></span>
                                    <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                </div>
                                <h3>马冰玉</h3>
                                <p>
                                    <span class="num">8500</span>
                                    <span class="txt">分</span>
                                </p>
                            </li>

                            <li>
                                <div class="avatar-size-top-mod avatar-size-top-mod-2">
                                    <span class="icon avatar-size-area"></span>
                                    <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                </div>
                                <h3>马冰玉</h3>
                                <p><span class="num">8500</span><span class="txt"></span>分</p>
                            </li>

                            <li>
                                <div class="avatar-size-top-mod avatar-size-top-mod-3">
                                    <span class="icon avatar-size-area"></span>
                                    <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                </div>
                                <h3>马冰玉</h3>
                                <p><span class="num">8500</span><span class="txt"></span>分</p>
                            </li>
                        </ul>        
                    </div>

                    <div class="part-other">
                        <ul class="list clearfix">
                            <li>
                                <div class="list_container">
                                    <div class="container_left">
                                        <div class="lbox">4</div>
                                        <div class="cbox">
                                            <div class="avatar-size-mod avatar-size-mod-50">
                                                <span class="icon avatar-size-area"></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <p class="user_name">欧阳施敏</p>
                                        </div>
                                    </div>
                                    <div class="container_right">
                                        <div class="rbox">
                                            <p class="score">6500</p>
                                            <p class="score-txt">分</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_container">
                                    <div class="container_left">
                                        <div class="lbox">4</div>
                                        <div class="cbox">
                                            <div class="avatar-size-mod avatar-size-mod-50">
                                                <span class="icon avatar-size-area"></span>
                                                <i class="avatar-size-img" style="background-image: url(http://pai.poco.cn/mobile/images/test/160x160.png); background-size:cover"></i>
                                            </div>
                                            <p class="user_name">欧阳施敏</p>
                                        </div>
                                    </div>
                                    <div class="container_right">
                                        <div class="rbox">
                                            <p class="score">6500</p>
                                            <p class="score-txt">分</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>        
                    </div>

                    <div class="more">查看更多</div>
                </div>
            </div>


        </main>
    </div>
</div>

</body>
</html>
