.pay-success {
  font-size: 16px;
  color: #666;
  height: 100%;
  background-color: #FFF; }
  .pay-success .success-f {
    font-size: 14px; }
    .pay-success .success-f .title-1 {
      font-size: 16px;
      color: #333; }
  .pay-success .pay-status {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    padding-top: 75px;
    background-color: #FFF; }
    .pay-success .pay-status .success-icon {
      width: 50px;
      height: 50px; }
      .pay-success .pay-status .success-icon .icon {
        width: 50px;
        height: 50px; }
    .pay-success .pay-status .pay-order {
      text-align: center;
      width: 90%;
      margin-top: 8px;
      padding: 10px; }
    .pay-success .pay-status .gzh {
      text-align: center;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .pay-success .pay-status .gzh .pt30 {
        padding-top: 30px; }
      .pay-success .pay-status .gzh .border-top {
        border-top: 1px solid #ccc; }
      .pay-success .pay-status .gzh img {
        width: 120px; }
    .pay-success .pay-status .consult {
      text-align: center;
      width: 100%;
      margin-top: 35px;
      padding: 10px 0;
      display: -webkit-box;
      display: box;
      -webkit-box-pack: center;
      box-pack: center; }
      .pay-success .pay-status .consult .btn {
        width: 130px;
        height: 40px;
        background-color: #555;
        border-radius: 6px;
        color: #fff;
        padding: 0 5px; }
      .pay-success .pay-status .consult .btn:active {
        background-color: #aaa; }
