<section class="ui-pager">
    <div class="wrapper-v2">
        <!-- this is for all button -->
        <!--<div class="content">
            <div class="nav-bar">
                <div class="first fn-hide">
                    <a>首页</a>
                </div>
                <div class="pre">
                    <a>上一页</a>
                </div>
                <div class="nav-page-cur">
                    <div class="nav-page-text">
                        <span data-role="page-text"></span>
                        <i></i>
                    </div>
                    <select class="sel-control" id="sel-control">
                    </select>
                </div>
                <div class="next">
                    <a>下一页</a>
                </div>
                <div class="end fn-hide">
                    <a>末页</a>
                </div>
            </div>
        </div>-->

        <div class="content">
            <div class="nav-bar">
                <div class="pre btn-size">
                    <a>上一页</a>
                    <em class="v-line"></em>
                </div>
                <div class="nav-page-cur btn-size">
                    <div class="nav-page-text">
                        <span data-role="page-text"></span>
                    </div>
                    <em class="v-line"></em>
                </div>
                <div class="next btn-size">
                    <a>下一页</a>
                </div>
            </div>
        </div>
    </div>
</section>