.sales-info-page{
	.item-wrap{
		padding-bottom: 74px;
		.item{
			margin-top: 15px;
			background:#fff;
			.item-con-1{
				padding:15px 15px 15px 15px;
				display:-webkit-box;
				.img-item{
					width:60px;
					.img{
						width:60px;
						height:60px;
						img{
							width:100%;
						}
					}
				}
				.txt-item{
					-webkit-box-flex:1;
					margin:8px 0px 0px 14px;
					h3.title{
						line-height: 23px;
					}
				}
			}
			.item-con-2{
				.rbox{
					height:35px;
					overflow: hidden;
				}
				.checkbox{
					margin-right: 15px;
				}
				.checkbox:before{
					background-image:url(../../image/sales/circle-icon-40x40.png);
					content: "";
					display: block;
					width: 30px;
					height: 25px;
					background-size: 20px 20px;
					background-repeat: no-repeat;

					// margin-right: 15px;
				}
				.checkbox:checked:before{
					background-image:url(../../image/sales/circle-icon-choose-40x40.png);
				}

				padding:10px 15px 10px 0px;
				margin-left: 15px;
				border-top: 1px solid #e5e5e5;
				.lbox{
					margin-top: 7px;
					// width:126px;
					display:-webkit-box;
					.choose-icon{
						width:20px;
						height:20px;
						margin-right: 15px;
						display:inline-block;
						background-image:url(../../image/sales/circle-icon-40x40.png);
						background-repeat: no-repeat;
						background-size: cover;
					}
					.has-choose-icon{
						background-image:url(../../image/sales/circle-icon-choose-40x40.png);
					}
					.money{
						display:block;
						-webkit-box-flex:1;
						width: 100px;

					}
				}
			}
		}	
	}
	.sign-name-item{
		width:100%;
		height:50px;
		position:fixed;
		left:0px;
		bottom:0px;
	}
	.tips-item{
		width:100%;
		height:45px;
		background:#aaaaaa;
		.tips-item-con{
			padding: 12px 15px;
			.tips-icon{
				width:20px;
				height:20px;
				display:block;
				margin-right: 15px;
				background-image:url(../../image/sales/tips-icon-40x40.png);
				background-repeat: no-repeat;
				background-size: cover;
			}
			.tips-txt{
				color: #fff;
			}
		}
	}
}