<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>无标题文档</title>

<!-- modjs 必须引用 -->
<script src="../../../lib/mod.js"></script>

<link rel="import" href="./webcontrol/head.tpl.htm?__inline">

<!-- 当前页css -->
<!-- <link type="text/css" rel="stylesheet" href="../../../style/login-page.scss">  -->

</head>

<body>


<div class="login-page">
    测试
</div>


</body>

</html>
