.down-app-area-mod {
  margin-top: 80px; }
  .down-app-area-mod .pathA {
    background-color: #f8f8f8;
    padding: 80px 0px; }
    .down-app-area-mod .pathA .mod-title {
      margin-bottom: 80px; }
    .down-app-area-mod .pathA .item-wrap .item {
      width: 50%; }
      .down-app-area-mod .pathA .item-wrap .item .title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px; }
      .down-app-area-mod .pathA .item-wrap .item .code-img-con {
        padding: 5px;
        border: 1px solid #cccccc;
        margin-right: 20px; }
      .down-app-area-mod .pathA .item-wrap .item .btn-con .list li {
        line-height: 10px;
        width: 190px;
        height: 58px;
        background: #333333;
        margin-top: 15px;
        border-radius: 5px;
        color: #fff;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s; }
        .down-app-area-mod .pathA .item-wrap .item .btn-con .list li:hover {
          background: #666666; }
        .down-app-area-mod .pathA .item-wrap .item .btn-con .list li .icon-mod {
          width: 28px;
          height: 32px;
          float: left;
          margin: 12px 0 0 20px; }
        .down-app-area-mod .pathA .item-wrap .item .btn-con .list li .icon-iphone {
          background: url(http://static.yueus.com/mall/user/test/static/pc/images/icon-iphone-28x32.png); }
        .down-app-area-mod .pathA .item-wrap .item .btn-con .list li .icon-Android {
          background: url(http://static.yueus.com/mall/user/test/static/pc/images/icon-ad-28x32.png); }
        .down-app-area-mod .pathA .item-wrap .item .btn-con .list li .txt {
          margin: 5px 0 0 18px;
          float: left;
          display: inline; }
    .down-app-area-mod .pathA .item-wrap .left-item .code-img-con {
      margin-left: 40px;
      border-radius: 5px; }
    .down-app-area-mod .pathA .item-wrap .right-item .code-img-con {
      margin: 20px 20px 0px 110px; }
    .down-app-area-mod .pathA .item-wrap .right-item .txt-con {
      margin-top: 24px; }
      .down-app-area-mod .pathA .item-wrap .right-item .txt-con .list li {
        font-size: 18px;
        line-height: 28px; }
  .down-app-area-mod .pathB {
    background: #ffffff;
    padding: 80px 0 80px 0; }
    .down-app-area-mod .pathB .mod-title {
      padding-bottom: 2px;
      background: none;
      margin-bottom: 2px; }
    .down-app-area-mod .pathB .item-wrap .item .tips {
      text-align: center;
      font-size: 20px; }
    .down-app-area-mod .pathB .item-wrap .item .btn-item {
      text-align: center;
      margin-top: 80px;
      margin-bottom: 80px; }
      .down-app-area-mod .pathB .item-wrap .item .btn-item .ui-button {
        font-size: 22px; }
    .down-app-area-mod .pathB .item-wrap .item .phone-txt {
      text-align: center;
      font-size: 24px; }
