.global-tips.down-load {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 9999;
  height: 50px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .global-tips.down-load .yue-icon {
    background: url(http://static.yueus.com/mall/user/test/static/wap/image/yue_icon/yueyue-icon-86x86.png);
    width: 43px;
    height: 43px;
    background-size: 43px 43px;
    float: left;
    display: inline;
    margin-top: 4px; }
  .global-tips.down-load .text {
    color: #fff;
    font-size: 12px;
    line-height: 50px;
    padding-right: 15px;
    float: left;
    margin-left: 10px; }
  .global-tips.down-load .close {
    background: url(http://static.yueus.com/mall/user/test/static/wap/image/down-loadtips-48x48.png) no-repeat 0 14px;
    width: 24px;
    height: 30px;
    padding-top: 20px;
    background-size: 24px 24px;
    float: right; }
