<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>登录</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="account wryh">
            <header class="nav-header mine-edit-nav-header">
                <div class="left-button-wrap" data-role="page-back">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">登陆提示</h3>
                
                <div class="right-button-wrap">
                    <!--<button class="ui-button ui-button-dark ui-button-size-default" data-role="save" disabled="disabled">保存</button>-->
                </div>
            </header>
            <div class="content-body " data-role="" >
                <div>
                    <div class="login-tips-page">
                        <div class="box1">抱歉</div>
                        <div class="box2">微信约拍系统暂不支持模特登陆</div>
                        <div class="box3">
                            <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block ">
                                <span class="ui-button-content">下载APP</span>
                            </button>
                        </div>
                        <div class="box4">
                            使用摄影师账号登录
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
