<main role="main" class="location secondary">
    

    <header class="nav-header recharge-guide-header">
                <div class="left-button-wrap" data-role="page-back">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">信用金</h3>

                {{#if from_new}}
                    <div class="right-button-wrap fn-hide"  >
                        <a>跳过</a>
                    </div>
                {{else}}
                <div class="right-button-wrap "  >

                </div>    
                {{/if}}

    </header>

    <div  class="content-body"  >
        <div data-role="container">
                <div class="recharge-guide">
                    <h3 class="title">为什么要充值“信用金”</h3>
                    <ul class="list">
                        <li>
                            <div class="circle fn-invisible"></div>
                            <div class="r-txt">
                                <p class="p1"></p>
                                <p>1、提高约拍成功率。充值越多，信用越高，约拍更容易。</p>
                            </div>
                        </li>

                        <li>
                            <div class="circle fn-invisible"></div>
                            <div class="r-txt">
                                <p class="p1"></p>
                                <p>2、有“信用金”才能与模特进行私聊。</p>
                            </div>
                        </li>


                        <li>
                            <div class="circle fn-invisible"></div>
                            <div class="r-txt">
                                <p class="p1"></p>
                                <p>3、信用金余额不够则无法进行约拍。</p>
                            </div>
                        </li>

                        <li>
                            <div class="circle fn-invisible"></div>
                            <div class="r-txt">
                                <p class="p1"></p>
                                <p>4、信用金只用作支付拍摄和担保，充值后也可随时提取。</p>
                            </div>
                        </li>
                    </ul>

                    <div class="ul-wrap">
                        <div data-role="choosen_style_group"></div>
                    </div>

                    <ul class="list2 clearfix" >
                        <li data-role="btn-money-edit"><input type="number" data-role="money-other" class="input-text input-text3 money-other" placeholder="输入其他金额"></li>
                    </ul>

                    <div data-role="pay-item-container">

                    </div>

                         
                </div>        

            </div>
    </div>


   

</main>

 <div class="pop-btn-charge">
                    
                        <button data-role="btn-submit" class="ui-button ui-button-primary ui-button-size-large ui-button-block">
                            <span class="ui-button-content">马上充值</span>
                        </button>
    </div>   