<main role="main">
    <header class="nav-header mine-setting-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>
        <h3 class="title">验证手机号</h3>
        <div class="right-button-wrap">
        </div>
    </header>
    <div class="phone_and_pw_change_container" data-role="container">
        <div class="warp-box">
                <div class="verification-mobile" data-role="verification-mobile-container">
                    <ul class="list">
                        <li>
                            <span class="btn-get" data-role="get_code">获取验证码</span>
                            <input type="text" name=" " id=" " class="input-text"  placeholder="请输入手机号码" data-role="enter_phone">
                        </li>
                        <li>
                            <input type="text" name=" " id=" " class="input-text"  placeholder="验证码" data-role="verify_code">
                        </li>
                    </ul>
                

                    <button data-role="bind_phone"  style="margin-top:10px" class="ui-button ui-button-primary ui-button-size-large ui-button-block">
                        <span class="ui-button-content">绑定</span>
                    </button>

                    <p class="p1">您将收到一条验证短信，绑定成功后，您可以使用手机号登录。我们不会泄露您的隐私。</p>
                </div>
        </div>
    </div>
</main>