<div class="add-reduction-mod">
            <!-- add-no reduce-no -->
            <div class="reduce" btn-reduce><i class="icon icon-reduce-32x32-m"></i></div>  
            <div class="input-area">
            <input type="num"  value="{{default_btn_value}}" readonly="true" disabled="disabled"  class="input" btn-value>
            <input type="hidden" name="{{name}}" value="{{default_btn_value}}" class="fn-hide" data-role="real-text">
            </div>
            <div class="add" btn-add><i class="icon icon-add-32x32-m"></i></div>
</div>