<div class="panel" data-role="panel-pick-con">
    <div class="icon-con">
        <div>
            <p>第</p><p data-role="panel_index">{{arrange_panel_count}}</p><p>场</p>
        </div>
        <i class="icon icon-close-20x20 close" data-role="pick-close-panel"></i></div>
    <div class="line">
        <div class="notice">开始时间</div>
        <div class="data_input">
            <div class="side_border"></div>
            <div class="inside b">
                <div class="inside_input" data-role="begin-time">
                    <div class="details" data-role="select_container_for_hour_begin">请填写开始时间</div>
                </div>
                <div class="inside_arrow">
                    <i class="icon icon-r-16x26"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="line">
        <div class="notice">结束时间</div>
        <div class="data_input">
            <div class="side_border"></div>
            <div class="inside b">
                <div class="inside_input" data-role="end-time">
                    <div class="details" data-role="select_container_for_hour">请填写结束时间</div>
                </div>
                <div class="inside_arrow">
                    <i class="icon icon-r-16x26"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="line exp">
        <div class="notice">名额</div>
        <div class="data_input">
            <div class="side_border"></div>
            <div class="inside exp">
                <div class="inside_input" >
                    <div class="details" data-role="number_container_for_menber"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-one fn-hide">
        <div class="select_container_for_hour_begin" ></div>时至
        <div class="select_container_for_hour" ></div>时
        <div>
            <p class="number_notice">名额</p>
            <div class="number_container_for_menber" ></div>
        </div>
    </div>
</div>