.icon-camera{
	display: inline-block;
	background: url('../image/pai/cam-icon.png?__sprite') no-repeat;
	
	width: 212px;
	height: 212px;
}

.icon-model{
	display: inline-block;
	background: url('../image/pai/model-icon.png?__sprite') no-repeat;	
	width: 212px;
	height: 212px;
}