<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>约拍</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main" class="order_form wryh">
            <header class="nav-header comment-page-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">私人订制</h3>
                
                <div class="right-button-wrap">
                </div>
            </header>

            <div class="content-body native_scroll">
                <div class="group_title">
                    拍摄要求/价格(必填)
                </div>
                <ul class="container">

                    <li class="items b">
                        <div class="field name">主题风格</div>
                        <div class="data_input">
                            <div class="inside">
                                <div class="inside_input">
                                    <div class="details place_holder">请选择风格</div>    
                                </div>
                                
                                <div class="arrow">
                                    <i class="icon icon-r "></i>    
                                </div>                        
                            </div>
                        </div>                                                                                    
                    </li>

                    <li class="items b">
                        <div class="field name">地址</div>
                        <div class="data_input">
                            <div class="inside">
                                <div class="inside_input">
                                    <div class="details place_holder">请选择省市区</div>    
                                </div>
                                
                                <div class="arrow">
                                    <i class="icon icon-r "></i>    
                                </div>                        
                            </div>
                        </div>                                                                                    
                    </li>

                    <li class="items b">
                        <div class="field name">拍摄时间</div>
                        <div class="data_input">
                            <div class="inside">
                                <div class="inside_input">
                                    <div class="details place_holder">请选择开始时间</div>    
                                </div>
                                
                                <div class="arrow">
                                    <i class="icon icon-r "></i>    
                                </div>                        
                            </div>
                        </div>                                                                                    
                    </li>

                    <li class="items b">
                        <div class="field name">拍摄时长</div>
                        <div class="data_input">
                            <div class="inside">
                                <div class="inside_input">
                                    <div class="details place_holder">请选择时间长度</div>    
                                </div>
                                
                                <div class="arrow">
                                    <i class="icon icon-r "></i>    
                                </div>                        
                            </div>
                        </div>                                                                                    
                    </li>

                    <li class="items b">
                        <div class="field name">模特数量</div>
                        <div class="data_input">
                            <div class="inside">
                                <div class="inside_input">
                                    <div class="details place_holder">请输入所需模特数量</div>    
                                </div>
                                                                                
                            </div>
                        </div>                                                                                    
                    </li>

                    <li class="items b">
                        <div class="field name">报酬</div>
                        <div class="data_input">
                            <div class="inside">
                                <div class="inside_input">
                                    <div class="details place_holder">请选择时间长度</div>    
                                </div>
                                
                                <div class="arrow ">
                                    元/小时
                                </div>                        
                            </div>
                        </div>                                                                                    
                    </li>

                </ul>
                
                <div class="group_title">
                    模特要求(选填)
                </div>
                <ul class="container ">
                    <li class="items height-auto face_item">
                        <div class="field name">外貌要求</div>
                        <div class="data_input">
                            <div class="inside">
                                <div class="inside_input">
                                    <div class="details place_holder">
                                        此处填写对模特的面容、妆容、服装、身
                                        材等要求，拍摄一些模特需要知道的信息
                                        等，140字以内
                                    </div>    
                                </div>
                                                                    
                            </div>
                        </div>                                                                                    
                    </li>
                </ul>

                <footer class="btn-container">
                <button class="ui-button ui-button-primary ui-button-size-large ui-button-block">
                    <span class="ui-button-content">提交</span>
                </button>
            </footer>  

            </div>
               
                                                  

        </main>
    </div>
</div>

</body>
</html>
