<a href="{{link}}">
    <div class="personal-made-mod color-333">
        <div class="title f18 tc">{{title}}</div>
        <div class="wbox clearfix" >
            <div class="icon-dz fldi" style="background-image: url({{ico}}) ;"></div>
            <div class="rbox fldi">{{desc}}</div>
        </div>
    </div>
</a>