// 私人定制模块
.personal-made-mod{
    width: 100%;
    // background: #fff;
    margin: 15px 0;
    height: 190px;
    .title{
        padding: 15px 0 5px 0;
    }
    .wbox{
        margin: 0 auto;
        margin-top: 15px;
        padding: 10px 0 10px 0;
        // background: url(../../../image/srdz-bg-582x204.png)  no-repeat;
        border: 1px dashed #cbcbcb;
        border-radius: 5px;
        width: 291px;
        // height: 102px;
        background-size: 291px  102px;
        .icon-dz{
            // background: url(../../../image/srdz-80x80.png) no-repeat;
            width: 40px;
            height: 40px;
            background-size: 40px 40px;
            margin: 15px 25px 0 25px;
        }

        .rbox{
            width: 180px;
            line-height: 24px;
        }
    }

}
