<!--div class="ui-number-btn cbox">
    <div class="b" data-role="minus"><i class="icon icon-reduce"></i></div>
    <input type="{{type}}" {{#if disable}}readonly="true"{{/if}}  data-role="input-num-btn"  class="input-text">
    <div class="b" data-role="add"><i class="icon icon-add"></i></div>
</div-->
<div class="ui-add-reduce">
    <div class="add" data-role="minus"><i class="icon icon-reduce-32x32-m"></i></div>
    <div class="input-area"><input type="{{type}}" {{#if disable}}readonly="true"{{/if}}  data-role="input-num-btn"  class="input"></div>
    <div class="reduce " data-role="add"><i class="icon icon-add-32x32-m"></i></div>
</div>