<main role="main" class="authentication">
    <header class="nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">{{nav_title}}</h3>

        <div class="right-button-wrap">
            <a><i class="icon icon-cog"></i></a>
        </div>
    </header>

    <div class="content-body " data-role="container" >
        <div data-role="scoll-wrapper" style="height: {{scoll_wrapper_height}}px">

        </div>
    </div>

</main>