<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main" class="secondary">


            <header class="nav-header comment-page-header nav-header-special-pop" >
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>
                <h3 class="title">模特推送</h3>
                <div class="right-button-wrap">
                </div>
            </header>


            <div>

                <div class="model-push-page">

                    <ul class="style_2" >
                        <li >


                            <div class="img_container">
                                
                                <i class="img image-img avatar-size-img inner_img loaded" style="background-size: cover; background-image: url(http://yueus.com/m/images/test/274x366.jpg);"></i>
                            </div>
                            <div class="details">
                                <div class="item-wrap">
                                    <div class="item ">
                                        <div class="lbox  name">苏小可</div>
                   
                                    </div>


                                    <div class="item ">
                                        <div class="lbox ">她的标价：</div>
                                        <div class="rbox "><span class="cor2">￥<em>501-800</em></span></div>
                                    </div>


                                    <div class="item ">
                                        <div class="lbox ">接拍次数：</div>
                                        <div class="rbox ">91</div>
                                    </div>


                                    <div class="item ">
                                        <div class="lbox ">擅长风格：</div>
                                        <div class="rbox ">清新</div>
                                    </div>
                                </div>
                            </div>
                        </li>  


                        <li >


                            <div class="img_container">
                                
                                <i class="img image-img avatar-size-img inner_img loaded" style="background-size: cover; background-image: url(http://yueus.com/m/images/test/274x366.jpg);"></i>
                            </div>
                            <div class="details">
                                <div class="item-wrap">
                                    <div class="item ">
                                        <div class="lbox  name">苏小可</div>
                        
                                    </div>


                                    <div class="item ">
                                        <div class="lbox ">她的标价：</div>
                                        <div class="rbox "><span class="cor2">￥<em>501-800</em></span></div>
                                    </div>


                                    <div class="item ">
                                        <div class="lbox ">接拍次数：</div>
                                        <div class="rbox ">91</div>
                                    </div>


                                    <div class="item ">
                                        <div class="lbox ">擅长风格：</div>
                                        <div class="rbox ">清新</div>
                                    </div>
                                </div>
                            </div>
                        </li>  




   

                    </ul>


                    <div class="load-more">
                        正在加载，请稍候…
                    </div>
                    
                </div>
                


        </main>
    </div>
</div>

</body>
</html>
