<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main" class="secondary">


            <header class="nav-header comment-page-header nav-header-special-pop" >
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>
                <h3 class="title">报名成功</h3>
                <div class="right-button-wrap">
                </div>
            </header>


            <div>


                <div class="each-other-demand-success-page">


                    <div class="p1th">
                        <div class="title">
                            <div>
                                <i class="icon icon-success-max"></i>
                            </div>
                            <p class="p1">报名成功</p>
                        </div>
                        
                        <div class="txt">
                            稍后我们会通过消息给你推送摄影师， <br />
                            请你留意系统消息。
                        </div>
   
                    </div>

                
                    <div class="pop-each-other-demand-success">
                        <div class="btn">
                            <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block ui-button-size-radius-large">
                                    <span class="ui-button-content">确定</span>
                            </button>
                        </div>
                    </div>

                    
                </div>
                
                


        </main>
    </div>
</div>

</body>
</html>
