<div class="location-mod" data-role="location">

    <div data-role="local_storage_city" class="local-city city-style">
        
    </div>

    <div data-role="hot_city" class="city-style">
        
    </div>

    <div data-role="all_city" >
        
    </div>


    <div class="flight-ctltsfixed"  style="position: fixed;top: 0;">
        <div class="flight-ctltsfixed-pd" >
            <ul class="flight-ctlts" data-role="navigation">
                <li nav-id="history">历史</li>
                <li nav-id="hot">热门</li>
                <li nav-id="A">A</li>
                <li nav-id="B">B</li>
                <li nav-id="C">C</li>
                <li nav-id="D">D</li>
                <li nav-id="E">E</li>
                <li nav-id="F">F</li>
                <li nav-id="G">G</li>
                <li nav-id="H">H</li>
                <li nav-id="I">I</li>
                <li nav-id="J">J</li>
                <li nav-id="K">K</li>
                <li nav-id="L">L</li>
                <li nav-id="M">M</li>
                <li nav-id="N">N</li>
                <li nav-id="O">O</li>
                <li nav-id="P">P</li>
                <li nav-id="Q">Q</li>
                <li nav-id="R">R</li>
                <li nav-id="S">S</li>
                <li nav-id="T">T</li>
                <li nav-id="U">U</li>
                <li nav-id="V">V</li>
                <li nav-id="W">W</li>
                <li nav-id="X">X</li>
                <li nav-id="Y">Y</li>
                <li nav-id="Z">Z</li>
            </ul>
        </div>
    </div>


</div>