<main role="main" class="list-coupon">
    <header class="nav-header mine-model-car-header-opacity" data-role="slide-header">
        <div class="left-button-wrap" data-role="page-back">
            <a href="javascript:;"><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title" data-role="moteka-title">我的优惠券</h3>

        <div class="right-button-wrap" data-role="code">
            <a href="javascript:;">兑换</a>
        </div>
    </header>

    <div class="list-coupon-contain">
        <div class="choosen">
            <div class="available choosen-tap cur" data-tap="available"><span>可使用</span></div>
            <div class="used choosen-tap" data-tap="used"><span>已使用</span></div>
            <div class="unavailable choosen-tap" data-tap="expired"><span>已过期</span></div>
        </div>
        <div class="content-body native_scroll" data-role="content-body">
            <div class="list-container" data-role="list-container" >
            </div>
        </div>
    </div>
</main>

