<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main">
            <header class="nav-header agreement-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">拍摄协议</h3>
                
                <div class="right-button-wrap">
                    <a><i class="icon icon-cog"></i></a>
                </div>
            </header>   
            
            <div style="height:100%">

                <div class="agreement-page">
                    <h3>请仔细阅读【拍摄人体模特协议书】</h3>
                    <p class="p1">以下内容为虚构，请产品尽快给到文案”</p>
                    <ul class="list clearfix">
                        <li>1.资金保障。您付款后，款项由【约拍】平台保管，直至您在拍摄现场签到后，款项才会付给模特。</li>
                        <li>2.质量无忧。若您在现场发现模特货不对版，可拒绝签到并申请退款。</li>
                        <li>3.资金保障。您付款后，款项由【约拍】平台保管，直至您在拍摄现场签到后，款项才会付给模特.质量无忧。若您在现场发现模特货对版，可拒绝签到并申请退款。</li>
                    </ul>        
                </div>

            </div>

            <footer  class="pop-event-info" >
                 <div class="btn">
                     <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block ui-button-size-radius-large ">
                        <span class="ui-button-content">接受</span>
                    </button>
                 </div>
            </footer>

        </main>
    </div>
</div>
<script>
(function() {
    
})();
</script>
</body>
</html>
