<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO摄影 - 修改资料</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">

<main class="edit-condition-page" role="main">
    <header class="nav-header edit-condition-nav-header">
        <div class="left-button-wrap">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">编辑约拍条件</h3>
        
        <div class="right-button-wrap">
            <a><i>保存</i></a>
        </div>
    </header>

    <div class="edit-condition-container" data-role="container">
        <article>
            
            <div class="content">
                

                

                <section>
                    <h3>风格：</h3>
                    <div data-role="style"></div> 
                </section>

                <section>
                    <h3>价格：</h3>
                    <div data-role="price" class="price"></div>
                </section>

                <section>
                    <h3>摄影师信用金要求：</h3>
                    <div data-role="money"></div>
                </section>
            <div>
            <div class="complete-out"><a class="complete" data-role="complete">完成</a></div>
        </article>
        
    </div>
</main><!-- end main.mine-edit-page -->

</div><!-- end div#page-container -->
</body>
</html>
