<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main">
            <header data-role="header">
                
            </header>      
            

            <div class="model-car-v2">
                <div class="back" data-role="page-back"><i class="icon icon-moder-ka-back"></i></div>
                <div data-role="container-img-list" class="grid-pic-content" style="display:none">

                    <div class="img" ><img src="../../assets/images/pai/test/640x466.jpg" style="width:100%"></div>

                </div>


                <div class="part-two">

                    <div class="item">
                        <ul class="model-size">
                            <li class="icon">165.0cm</li>
                            <li class="icon">44.0kg</li>
                            <li class="icon">75A</li>
                            <li class="icon">80-61-85</li>
                        </ul>  
                    </div>

                    <div class="item">
                        <ul class="info">
                            <li>
                                    <div class="lbox ">信用金要求</div>
                                    <div class="rbox fldi"><span class="cor-y">￥500</span></div>
                            </li>
                            <li>
                                    <div class="lbox ">拍摄类型</div>
                                    <div class="rbox fldi">室内人像、平面广告、外拍活动性感写真、日韩风</div>
                            </li>          
                        </ul>  

                    </div>


                     <div class="item">
                        <ul class="info">
                            <i class="icon icon-r-16x26-cur"></i>
                            <li>
                                    <div class="lbox ">拍片次数</div>
                                    <div class="rbox fldi">136</div>
                            </li>
                            <li>
                                    <div class="lbox ">综合评价</div>
                                    <div class="rbox fldi">
                                        <i class="icon icon-stat-s-y"></i>
                                        <i class="icon icon-stat-s-g"></i>
                                        <span class="cor-y">9.2分</span>
                                    </div>
                            </li>
                        </ul>           
                    </div>


                    <header class="partc">

                        <div class="follw">
                            <i class="icon icon-add-98x98"></i>
                        </div>

                        <div class="avatar">
                            <a data-role="profile">
                                <i class="img avatar-img" style="background-image: url(../../assets/images/pai/test/156x156.jpg)"></i>
                            </a>
                        </div>
                        <div class="meta-info">
                            <h2 class="nickname">欧阳红美</h2>
                            <p class="user-data">
                                <span class="area">广东·广州</span>
                            </p>
                            <p class="action">
                                
                            </p>
                        </div>


                </header>

                <section class="score-info">
                            <a><em>345</em>粉丝</a>
                            <a><em>Lv2</em>级别</a>
                            <a><em>336</em>魅力指数</a>

                </section>
                    
                        
                </div>
                
    
                
            </div>

            <footer  class="pop-model-car-confirm" >
                <ul class="list clearfix">
                    <li>
                        <button class="ui-button ui-button-dark ui-button-size-large ui-button-block"><i class="icon icon-yuepai-m"></i>
                        <span class="ui-button-content">约拍</span>
                        </button>
                    </li>
                    <li>
                        <button class="ui-button ui-button-dark ui-button-size-large ui-button-block"><i class="icon icon-siliao-m">
                            <span class="ui-button-content">私聊</span>
                        </button>
                    </li>
                </ul>        
            </footer>

     
            <div class="pop-model-car-tips" style="display:none">
                <i class="icon icon-close"></i>
                <div class="txt">
                    <p class="p1">恭喜：</p>
                    <p class="p2">TONY，您的VIP等级符合模特的要求哦。赶紧约拍吧~</p>
                </div>
            </div>

            <footer data-role="footer">
                
            </footer>
        </main>
    </div>
</div>
<script>
(function() {
    
})();
</script>
</body>
</html>
