<div class="city border-radius-2px" data-role="now-city" data-location-id="{{location_id}}" data-location-name="{{location_name}}">
    <button class="ui-button ui-button-primary ui-button-size-middle ">
        <span class="ui-button-content" data-role="now-city-text">{{location_name}}</span>
    </button>
</div>