<div data-role="pull-down" class="pull-down-container " style="top: {{top}}px">
    <div class="icon-container">
        <i class="icon icon-more-24x32"></i>
    </div>
    <span class="text" data-role="pull-down-text">下拉刷新</span>
</div>
