<main role="main" class="order_form wryh">
    <header class="nav-header comment-page-header">
        <div class="left-button-wrap"  data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">私人订制</h3>

        <div class="right-button-wrap">
        </div>
    </header>

    <div data-role="main-container" class="content-body native_scroll">
        <div class="fn-hide p15" style="background-color: #ff9c00;color:#fff;" data-role="submit_after_txt">
            <p>你的定制订单正在审核中，请等待约约工作人员联系您，如需帮助请拨打4000-82-9003。</p>
        </div>
        <div class="group_title" style="font-weight:bold;">
            必填项
        </div>
        <ul class="container">

            <li class="items b">
                <div class="field name">手机号码</div>
                <div class="data_input" data-role="cellphone">
                    <div class="inside">
                        <div class="inside_input">
                            <input type="text" class="details place_holder" readonly placeholder="请输入手机号码">
                        </div>

                        <div class="arrow fn-hide">
                            <i class="icon icon-r "></i>
                        </div>
                    </div>
                </div>
            </li>
            <li class="items b">
                <div class="field name">主题风格</div>
                <div class="data_input" data-role="style">
                    <div class="inside">
                        <div class="inside_input">
                            <input type="text" class="details place_holder" readonly placeholder="请选择风格">
                        </div>

                        <div class="arrow fn-hide">
                            <i class="icon icon-r "></i>
                        </div>
                    </div>
                </div>
            </li>

            <li class="items b">
                <div class="field name">地址</div>
                <div class="data_input" data-role="address">
                    <div class="inside">
                        <div class="inside_input">
                            <input type="text" class="details place_holder" readonly placeholder="请选择省市">
                        </div>

                        <div class="arrow fn-hide">
                            <i class="icon icon-r "></i>
                        </div>
                    </div>
                </div>
            </li>

            <li class="items b">
                <div class="field name">拍摄时间</div>
                <div class="data_input" data-role="time">
                    <div class="inside">
                        <div class="inside_input">
                            <input type="text" class="details place_holder" readonly placeholder="请选择开始时间"/>
                        </div>

                        <div class="arrow fn-hide">
                            <i class="icon icon-r "></i>
                        </div>
                    </div>
                </div>
            </li>

            <li class="items b">
                <div class="field name">拍摄时长</div>
                <div class="data_input" data-role="hour">
                    <div class="inside">
                        <div class="inside_input">
                            <input type="text" class="details place_holder" readonly placeholder="请选择时间长度"/>
                        </div>

                        <div class="arrow fn-hide">
                            <i class="icon icon-r "></i>
                        </div>
                    </div>
                </div>
            </li>

            <li class="items b">
                <div class="field name">模特数量</div>
                <div class="data_input" data-role="model-num">
                    <div class="inside">
                        <div class="inside_input">
                            <input type="text" class="details place_holder" readonly placeholder="请输入所需模特数量"/>
                        </div>
                        <div class="arrow fn-hide">
                            <i class="icon icon-r "></i>
                        </div>
                    </div>
                </div>
            </li>

            <li class="items ">
                <div class="field name">报酬</div>
                <div class="data_input" data-role="money">
                    <div class="inside">
                        <div class="inside_input">
                            <input type="text" class="details place_holder" readonly placeholder="请填写每人时价"/>
                        </div>

                        <div class="arrow fn-hide">
                            元/小时
                        </div>
                    </div>
                </div>
            </li>

        </ul>

        <div class="group_title" style="font-weight:bold;">
           选填项
        </div>
        <ul class="container ">
            <li class="items height-auto face_item">
                <div class="field name">外貌要求</div>
                <div class="data_input" data-role="face">
                    <div class="inside" style="padding-right: 15px;">
                        <div class="inside_input">
                            <textarea style="width: 220px;height:50px;"  class="details place_holder" placeholder="此处填写对模特的面容、妆容、服装、身材等要求，拍摄一些模特需要知道的信息等，140字以内" readonly></textarea>
                        </div>

                    </div>
                </div>
            </li>
        </ul>

        <footer class="btn-container">
            <button class="ui-button ui-button-primary ui-button-size-large ui-button-block" data-role="submit">
                <span class="ui-button-content">提交</span>
            </button>

        </footer>



    </div>



</main>