<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>空间</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="commit wryh">
            <header class="nav-header account_details-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">账单</h3>
                
                <div class="right-button-wrap">
                    <a><i class="icon icon-cog"></i></a>
                </div>
            </header>
            
            <div>
                <div class="account_details">
                    <ul class="list clearfix">
                        <li>
                            <div class="lbox">
                                <div class="box1">收入-平面广告</div>
                                <div class="box2">2014-08-06</div>
                            </div>
                            <div class="rbox">
                                <div class="box1">+500.00</div>
                                <div class="box2"><span class="cor2">处理中</span></div>
                            </div>
                        </li>

                        <li>
                            <div class="lbox">
                                <div class="box1">收入-平面广告</div>
                                <div class="box2">2014-08-06</div>
                            </div>
                            <div class="rbox">
                                <div class="box1">+500.00</div>
                                <div class="box2"><span class="cor1">交易成功</span></div>
                            </div>
                        </li>


                        <li>
                            <div class="lbox">
                                <div class="box1">收入-平面广告</div>
                                <div class="box2">2014-08-06</div>
                            </div>
                            <div class="rbox">
                                <div class="box1">+500.00</div>
                                <div class="box2"><span class="cor1">交易成功</span></div>
                            </div>
                        </li>


                        <li>
                            <div class="lbox">
                                <div class="box1">提现</div>
                                <div class="box2">2014-08-06</div>
                            </div>
                            <div class="rbox">
                                <div class="box1">+500.00</div>
                                <div class="box2"><span class="cor1">交易失败</span></div>
                            </div>
                        </li>

                        <li>
                            <div class="lbox">
                                <div class="box1">支出-云南之旅外拍活动</div>
                                <div class="box2">2014-08-06</div>
                            </div>
                            <div class="rbox">
                                <div class="box1">+500.00</div>
                                <div class="box2"><span class="cor1">交易关闭</span></div>
                            </div>
                        </li>
                    </ul>        
                </div>
            </div>

        </main>
    </div>
</div>
</body>
</html>

