<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>空间</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main class="account-front" role="main">                        
           <div class="account-container" data-role="container" style="background-image:url('http://pai.poco.cn/mobile/images/pai/front.jpg')">
                
                <footer class="btn-container">
                    <div class="submit-btn-container">
                        <button class="ui-button submit-btn ui-button-size-large ui-button-block">
                            <span class="ui-button-content">我想拍模特</span>
                        </button>
                    </div>                                        
                    <div class="submit-btn-container">
                        <button class="ui-button submit-btn red-btn ui-button-size-large ui-button-block">
                            <span class="ui-button-content">我是模特</span>
                        </button>
                    </div>
                    <div class="submit-btn-container text">
                        选定角色后将无法修改，请谨慎选择！
                    </div>
                </footer>
                <div class="mask"></div>
            </div>
        </main>
    </div>
</div>
</body>
</html>

