<link href="js/web.css" rel="stylesheet" type="text/css">
<table width=100% cellpadding=0 cellspacing=1 border=0>
	<tr>
		<td width=100% valign=top bgcolor='#F5F5FF'>
			<table width=100% cellpadding=6 cellspacing=2 border=0 >
				<tr>
					<td bgcolor='#F5F5FF'>
						◇ <a href="index.php" target="_top">管理区首页</a> | <a href="http://www.poco.cn" target="_top">网站</a>
					</td>
				</tr>
				<tr>
					<td bgcolor="#F5F5FF">
						<table width=95% align=center cellspacing=0 cellpadding=0 bgcolor='#6A71A3'><tr><td><table width=100% cellspacing=1 cellpadding=3>
							<tr>
								<td class=head>
									<b>管理功能</b>
								</td>
							</tr>
							<tr>
								<td bgcolor='#F5F5FF'>
									◇ <a href="main.php?action=checkdel" target="mainFrame">网站查找</a><br>
									<!--◇ <a href="main.php?action=bbscheck" target="mainFrame">论坛查找</a><br>
									◇ <a href="main.php?action=gongancheck" target="mainFrame">公安非法信息相关</a><br>
									◇ <a href="main.php?action=gongancheck&type=nowday" target="mainFrame">最新非法信息相关</a><br>
									◇ <a href="main.php?action=wrongful" target="mainFrame">非法词汇增删</a><br>-->
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>		