<link href="js/web.css" rel="stylesheet" type="text/css">
<table width="100%" cellpadding="0" cellspacing="1" border="0">
	<tr>
		<td width="100%" align="left" bgcolor="#F5F5FF">查到相关信息：{TOTAL_SUM}条共{PAGE}页，{TOP_BAR}&nbsp;{UP_BAR}&nbsp;{NUM_BAR}&nbsp;{NEXT_BAR}&nbsp;{END_BAR}</td>
	</tr>
	<tr>
		<td width="100%" valign="top" bgcolor="#F5F5FF">
			<table width="100%" align="center" cellspacing="0" cellpadding="0" bgcolor="#6A71A3">
				<tr>
					<td >
					<table width=100% cellspacing=1 cellpadding=3>
						<tr align="center">
							<td width="5%" class="head">序号</td>
							<td width="85%" class="head">标题</td>
							<td width="10%" class="head">功能</td>
						</tr>
						<!-- DEFINE BLOCK TITLE_LIST -->
						<tr align="center">
							<td width="5%" valign="middle" bgcolor="#F5F5FF">{UIDS}</td>
							<td width="85%" valign="middle" bgcolor="#F5F5FF">{TITLE}</td>
							<td width="10%" valign="middle" bgcolor="#F5F5FF">{GOURL}</td>
						</tr>
						<!-- ENDDEF BLOCK TITLE_LIST -->
					</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>