@charset "UTF-8";
// ------------------------------
// POCO约拍app - 首页 选择城市
// ------------------------------


.index-select-city{
    padding-bottom: 45px;
    .now-city{
        font-size: 16px;
        padding: 5px 10px 5px 15px;
        color: #000;
        @include clearfix;
        .gps{
            padding: 6px 0 0 0px;
            @include float-left;
            .icon-gps{
                @include get-icon('place-40x40', true, block);
                vertical-align: middle;
            }
        }
        .city{
            @include float-right;
        }
    }
    .item{
        h3{
            width: 100%;
            background-color: #eeeeee;
            height: 30px;
            line-height: 30px;
            padding-left: 12px;
            color: #aaaaaa;
        }
        
        .list{
            font-size: 16px;
            @include clearfix;
            li{
                width: 33%;
                text-align: center;
                height: 50px;
                line-height: 50px;
                @include float-left;
                //border-bottom: 1px solid #ebebeb;
                @include image-border-m(bottom);
                &:active{
                    background-color: #f5f5f5;
                };
            }
            li:nth-child(3n+2){
                //border-left: 1px solid #ebebeb;
                //border-right: 1px solid #ebebeb;

                @include image-border-m(left);
                @include image-border-m(right);

            }
        }
    }
}








