<main role="main" class="procedure-succeed">
    <!-- <header class="page-header wryh">
        <div class="page-back fn-hide" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                提交成功
    </header> -->
    <header class="nav-header mine-nav-header">
        <h3 class="title">提交成功</h3>
    </header>
    <div data-role="container" class="content-body">
        <div data-role="procedure_wrap_page">
            <div>
                <div class="wrap-div" data-role="procedure_wrap">
                    <!-- <div class="procedure-header-mod">
                        <ul class="step">
                            <li>提交约拍申请</li>
                            <li>支付</li>
                            <li class="current">提交成功</li>
                        </ul>
                        <ul class="num">
                            <li class="common">
                                        <i class="num-icon">1</i>
                                        <div class="line-grey"></div>
                                        <div class="line-red"></div>
                                    </li>
                                    <li class="common">
                                        <i class="num-icon">2</i>
                                        <div class="line-grey"></div>
                                        <div class="line-red"></div>
                                    </li>
                                    <li class="common  current">
                                        <i class="num-icon">3</i>
                                        <div class="line-grey"></div>
                                        <div class="line-red"></div>
                                    </li>
                        </ul>
                    </div> -->


                    <div class="icon-yes"><i class="icon icon-success-60x60"></i></div>
                    <div class="notice-one">约拍申请提交成功</div>



                    <div class="v2_area fn-hide" data-role="v2-level">
                        <div class="level-des">
                            模特的等级要求为<span class="cor">V2实名认证</span> <br>
                            为提高约拍成功率
                        </div>

                        <div class="wx_download_contain">
                         <!--    <button class="ui-button ui-button-primary ui-button-size-large ui-button-block download"  data-role="button" data-name="wx_card_download_btn"><span class="ui-button-content">下载约yue APP</span></button>

                            <button class="ui-button ui-button-nocolor ui-button-size-large ui-button-block return_find"  data-role="wx_return"><span class="ui-button-content">返回约拍页</span></button> -->

                            <div class="btn-vacation">
                                <button class="ui-button ui-button-primary ui-button-size-large ui-button-block download"  data-role="btn-v2-validation" ><span class="ui-button-content">快点击这里认证吧</span></button>
                            </div>
                        </div>
                    </div>




                    <ul class="list-txt">
                        <li><div class="circle"></div> <div class="txt">模特会在48小时内处理你的申请，请耐心等待。</div></li>
                        <li><div class="circle"></div> <div class="txt">想要提前了解模特沟通拍摄细节，请下载约yue APP。</div></li>
                        <li><div class="circle"></div> <div class="txt">付款后款项将暂时由【约yue】平台保管，成功签到后，款项才会支付给模特。如果想尽快联系模特或者咨询交易，可致电：400-082-9003</div></li>
                    </ul>




                </div>    
                        
            </div>
        </div>


        <div class="btn_container_success ">
            <div class="left fn-hide">
                <button class="ui-button ui-button-size-middle ui-button-block ui-button-color2 ui-button-size-radius-large auto_width" data-role="to_date_list">
                    <span class="ui-button-content">去约拍列表</span>
                </button>
            </div>
            <div class="right mr10">
                <button class="ui-button ui-button-size-middle ui-button-block ui-button-primary ui-button-size-radius-large auto_width ui-button-color2" data-role="btn-role-down-app">  <!-- data-role="talk" -->
                    <span class="ui-button-content">下载约yue APP</span>
                </button>
            </div>
            <div class="right">
                <button class="ui-button ui-button-size-middle ui-button-block ui-button-primary ui-button-size-radius-large auto_width" data-role="to_message">
                    <span class="ui-button-content">返回约拍页</span>
                </button>
            </div>
        </div>
    </div>
</main>