<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script type="text/javascript" src="../resources/js/jquery.min.js"></script>
<script type="text/javascript" src="../resources/js/admin.js"></script>
<script type="text/javascript" src="./js/examine.js"></script>
<script type="text/javascript" src="../js/DatePicker/WdatePicker.js"></script>
<link rel="stylesheet" type="text/css" href="../resources/css/style.css">
<title>约约APP后台</title>
<style type="text/css">
.table-list li
{
	margin-left: 20px;
	border-bottom: 1px solid #d5dfe8;
}
.table-list li p span
{
	width: 18%;
	display: inline-block;
}
.table-list .btn{
	clear: both;
}
</style>
</head>
<body>
<div class="mainbox">
<!--top-->
<div id="nav" class="mainnav_title">
	<ul>
		<a href="#" class="on">待审核文字</a>
	</ul>
</div>
<!--top-->
<!--search form-->
<table class="search_table" width="100%">
	<tbody>
		<tr>
			<td class="search">
				<form action="text_examine_list.php" method="get">
					提交时间:
					<input type="text" size="14" class="input-text Wdate" id="d434" onFocus="WdatePicker()" name="start_date" value="{start_date}" readonly="readonly" style="width:80px;">至 <input type="text" size="14" class="input-text Wdate" id="d21" onFocus="WdatePicker()" name="end_date" value="{end_date}" readonly="readonly" style="width:80px;">
					UID:<input type="text" size="12" class="input-text" name="user_id" value="{user_id}" style="width:80px;">
					手机号码:<input type="text" size="12" class="input-text" name="cellphone" value="{cellphone}">
					&nbsp;类型:
					<select name="type">
                        <option value="">全部</option>
                        <!-- BEGIN type_list -->
                        <option value="{type}" <!-- IF selected -->selected="selected"<!-- ENDIF -->>{name}</option>
                        <!-- END type_list -->
					</select>
					<input type="submit" value="查询" class="button">
					<input type="reset" value="重置" class="button">
				</form>
			</td>
		</tr>
	</tbody>
</table>
<!--search form end-->
<form name="list_form" id="list_form" action="" method="post">
	<div class="table-list">
		<table width="100%" cellspacing="0">
			<thead>
				<tr>
				<th width="120">
					<input type="checkbox" value="" id="check_box" onclick="select_all('ids[]', 'check_box');">全选/全不选
				</th>
				<th width="200">
					<input type="button" class="button" name="dosubmit" value="通过" class="text_pass" onclick="textPass()"/> 
					<input type="button" class="button" name="dosubmit" value="删除" class="pic_del" onclick="textDel()"/>
				</th>
				<th>&nbsp;</th>
				</tr>
		</table>
		<!--list-->
			<ul>
				<!-- BEGIN list -->
				<li>
					<p><input class="inputcheckbox " name="ids[]" value="{id}" type="checkbox">&nbsp;&nbsp;[<font color="red">{type_name}</font>]</p>
					<p>{after_edit}</p>
					<p><span>用户名:{nickname}</span>
                        <span>UID: {user_id} </span> <span>上传时间:[<font color="green">{add_time}</font>]</span></p>
				</li>
				<!-- END list -->								
			</ul>
		<!--list end-->
		<div class="btn">
			<input type="button" class="button" name="dosubmit" value="通过" class="pic_pass" onclick="textPass()"> 
			<input type="button" class="button" name="dosubmit" value="删除" class="pic_del" onclick="textDel()"> 
		</div>
	</div>
</form>
<div id="pages" class="page">
	<!-- <a href="#this">1</a>
	<a href="#this" class="cur">2</a> -->
	{page}
</div>
</div>
</body>
</html>