@charset "GB2312";
.clearfix{clear: both;}
.ui-item .ui-btn{margin:5px;float: left;position: relative;}
.ui-item .ui-btn a{display: block;height:130px;width: 130px;}
/*上传完成*/
.ui-item .ui-upload .close-img{cursor:pointer;background:url(../img/close.png) no-repeat; width:30px;height:30px;position: absolute;right: -10px;top: -10px;}
.ui-item .ui-upload .close-img:hover{background:url(../img/close-hover.png) no-repeat;}
.ui-item .show .close-img{display:block;}
/*上传进行中*/
.ui-upload-ongo{}
.ui-item .ui-btn .ui-upload-progress{width: 130px;height: 130px;position: absolute;left: 0;top: 0;  background: rgba(0, 0, 0, 0.5)!important;z-index: 99;filter: alpha(opacity=50);background: #000;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;text-align: center;line-height: 130px;}
/*添加上传*/
.ui-item .ui-btn-add{background: url(../img/add.png) no-repeat;  background-position: -1px 0px;}
.ui-item .ui-btn-add:hover{background-position: -151px 0px;}
