.talk_title{
    height: 50px;
    line-height: 49px;
    color: #000;
    font-size: 20px;
    padding: 10px 15px 0px 15px;
    background: #fff;
}
.talk_btn_con{
    height: 32px;
    background: #fff;
    padding: 0px 15px;
    padding-bottom: 20px;
}
.talk_status{
    padding: 15px;
    background: #fff;
    font-size: 14px;
    border-top:4px solid #5daaeb;
}
.talk_send_con{
    border-top:1px solid #e6e6e6;
    background: #fff;
    padding: 15px;
}
.talk_send_icon{
    width: 40px;
    -webkit-box-pack:center;
    margin-right: 15px;
}
.talk_send_icon > img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #aaaaaa;
}
.talk_send_input{
    -webkit-box-flex:1;
}
.talk_btn{
    width: 55px;
    bottom: 0px;
    height: 35px;
    color: #fff;
    line-height: 34px;
    text-align: center;
    background: #4092f1;
    font-size: 12px;
    border-radius: 4px;
    margin-top: 15px;
}
.talk_btn:active{
    background: #66a8f4;
}
.talk_content_input{
    padding: 10px;
    height: 36px;
    resize: none;
    font-size: 14px;
    width: 90%;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0;
    -webkit-user-select: auto;
    outline: 0;
    border: 1px solid rgb(204, 204, 204);
    overflow-y: hidden;
}
.talk_input_content{
    overflow: hidden;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #cccccc;
    height: 38px;
    padding-left: 10px;
}
.bd_or{
    border-top:4px solid #fe9920;
}
.bd_gray{
    border-bottom:4px solid #aaaaaa;
}
.inner_name{
    -webkit-box-pack:justify;
    font-size: 12px;
    color: #c1c1c1;
}
.quests{
    padding: 13px 0px;
    border-bottom: 1px solid #e6e6e6;
}
.quests_name{
    font-size: 14px;
    color: #000;
    margin-bottom: 12px;
}
.inner_title{
    color: #8f8f8f;
    font-size: 12px;
}
.inner_content{
    font-size: 12px;
    word-break: break-all;
}
.quests_title{
    font-size: 12px;
}
.quests_content{
    font-size: 12px;
    color: #666666;
}
.quests:nth-last-child(1){
    padding-bottom: 0px;
    border-bottom: none;
}
.talk_tips_blue{
    -webkit-box-pack:justify;
    border-left:4px solid #5daaeb;
    background: #e6f1fd;
    padding: 9px 15px 9px 66px;
}
.talk_tips_blue > .tips_content{
    font-size: 12px;
    -webkit-box-flex:3;
    color: #888b8e;
}
.talk_tips_blue > .tips_time {
    font-size: 10px;
    -webkit-box-flex:1;
    text-align: end;
    color: #888b8e;
    min-width: 45px;
}

.talk_tips_gray{
    -webkit-box-pack:justify;
    border-left:4px solid #9ba5b1;
    background: #ebebeb;
    padding: 9px 15px 9px 66px;
}
.talk_tips_gray > .tips_content{
    font-size: 12px;
    -webkit-box-flex:3;
    color: #888b8e;
}
.talk_tips_gray > .tips_time {
    font-size: 10px;
    -webkit-box-flex:1;
    text-align: end;
    color: #888b8e;
    min-width: 45px;
}

.talk_tips_white{
    -webkit-box-pack:justify;
    border-left:4px solid #fff;
    background: #fff;
    padding: 9px 15px 9px 66px;
}
.talk_tips_white > .tips_content{
    font-size: 12px;
    -webkit-box-flex:3;
    color: #888b8e;
}
.talk_tips_white > .tips_time {
    font-size: 10px;
    -webkit-box-flex:1;
    text-align: end;
    color: #888b8e;
    min-width: 45px;
}

.talk_tips_green{
    -webkit-box-pack:justify;
    border-left:4px solid #63cb76;
    background: #eefeed;
    padding: 9px 15px 9px 66px;
}
.talk_tips_green > .tips_content{
    font-size: 12px;
    -webkit-box-flex:3;
    color: #888b8e;
}
.talk_tips_green > .tips_time {
    font-size: 10px;
    -webkit-box-flex:1;
    text-align: end;
    color: #888b8e;
    min-width: 45px;
}

.talk_tips_orange{
    -webkit-box-pack:justify;
    border-left:4px solid #fe9920;
    background: #ffe6c8;
    padding: 9px 15px 9px 66px;
}
.talk_tips_orange > .tips_content{
    font-size: 12px;
    -webkit-box-flex:3;
    color: #888b8e;
}
.talk_tips_orange > .tips_time {
    font-size: 10px;
    -webkit-box-flex:1;
    text-align: end;
    color: #888b8e;
    min-width: 45px;
}



.details_request{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 0px 20px 0px 20px;
    background: #fff;
    font-size: 12px;
    margin-bottom: 30px;
}
.details_request_title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #666666;
}

.details_request_title > .exp{
    font-weight: 600;
    color: #000000;
}
.details_request_answer{
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.details_request_answer > p{
    display: -webkit-box;
    margin-top: 4px;
}
.details_request_answer > p > img{
    width: 11px;
    margin-right: 10px;

}
.details_request_answer > p > span{
    -webkit-box-flex:1;
}