
<!DOCTYPE html>
<html>
<head>
    <meta charset="gb2312" />
    <meta http-equiv = "X-UA-Compatible" content ="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>约约--最高效的摄影服务平台</title>
   
    <link rel="stylesheet" href="http://app.yueus.com/css/dhy-download-v2.css?2014121712" media="all">
</head>

<body>
<script>
    document.addEventListener('touchstart',function(){},false);
    function isWeiXin(){
        var ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == 'micromessenger'){
            return true;
        }else{
            return false;
        }
    }

    function download_android_apk(){
        if(isWeiXin()){
            alert('微信用户，请点击页面右上角“┇”—>“在浏览器中打开”，进行安装，谢谢~');
        }
    }

    function download_ios_apk(){
        if(isWeiXin()){
            alert('微信用户，请点击页面右上角“...”—>“在浏览器中打开”，进行安装，谢谢~');
        }
    }
</script>
<div class="download-page">
    <!--头部-->
    <div class="download-header">
        <div class="download-banner">
            <img class="download-logo" src="http://image16-c.poco.cn/yueyue/20150720/20150720134029_705086_100001_44867.png?447x120_130" alt="" />
            <ul class="download-item">
                <li>
                    <a class="download-iphone-btn download-btn" href="http://app.yueus.com/download_iphone_plist_isd.php"  onclick="javascript:download_ios_apk();">
                        <small class="version-text">v1.0.0</small>
                    </a>
                </li>
                <li>
                    <a class="download-android-btn download-btn" href="http://y.poco.cn/s/ys201507171607.apk" onClick="javascript:download_android_apk();">
                        <small class="version-text">v1.0.0</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <iframe width="0" height="0" name="_iframe" id="_iframe" style="display: none;"></iframe>
    <!--头部 end-->

    <!--主体内容-->
    <div class="download-main">       
        <!--内容-保障-->
        <div class="main-protection main-item">
            <!-- <div class="item-title"><img src="images/dhy-download-title2.jpg" alt="多重保障放心拍" /></div> -->
            <div class="title-mod">最让人放心的约拍</div>
            <ul class="item-list clearfix">
                <li>
                    <img class="download-icon" src="http://app.yueus.com/images/dhy-download-icon5.jpg" alt="" />
                    <div class="item-text">三重身份认证  </div>
                </li>
                <li>
                    <img class="download-icon" src="http://app.yueus.com/images/dhy-download-icon6.jpg" alt="" />
                    <div class="item-text">首创二维码签到</div>
                </li>
                <li>
                    <img class="download-icon" src="http://app.yueus.com/images/dhy-download-icon7.jpg?9" alt="" />
                    <div class="item-text">支付担保系统</div>
                </li>
                <li>
                    <img class="download-icon" src="http://app.yueus.com/images/dhy-download-icon8.jpg" alt="" />
                    <div class="item-text">双向评价机制</div>
                </li>
            </ul>
        </div>
        <!--内容-保障 end-->
    </div>
    <!--主体内容 end-->

    <!--底部-->
    <div class="download-footer">
        <div class="download-footer">

            <div class="service-text">公司介绍：广州摩幻时信息技术有限公司，创办于2014年8月，已获得千万天使轮资金。</div>
            <div class="service-text">产品介绍：项目主要以时间电商为目标。通过平台 ，让每个用户都能利用自己的零碎时间，提供摄影有关的服务来变现。目前项目在公测阶段，可以通过“约yue”APP以及微信服务号（yueyuemt）来体验全新的约拍服务。</div>


            <div class="service-text">客服电话：4000-82-9003</div><div class="service-text">地址：广州市天河区员村一横路七号大院1号2层215房</div>
            <div class="copyright-text">Copyright&copy; 2014  Yueus.com</div>
        </div>

    </div>
    <!--底部 end-->

</div>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?9fa08589aee02a0d763d50fe4dca33cd";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</body>
</html>