<main role="main" class="action-list wryh">

<!--     <header class="page-header wryh">
        外拍活动
        <div class="select-drop-trigger fn-hide" data-role="select-more">
            <i class="icon icon-pub-50x50 more-select-icon"></i>
        </div>
    </header> -->

    <header class="nav-header" data-role="test_to_coupon">


        <h3 class="title">外拍活动</h3>
        

    </header>
    <!-- drop module -->

    <!-- drop module end-->
    <div class="content-body" data-role="content-body">
        <div data-role="ad-pic-out">

        </div>

        <div class="measure-choosen" data-role="measure-choosen">
            <ul class="measure-choosen-in">
                <li class="tap_choosen" data-tap>
                    <i class="measure-choosen-child"  data-text data-role="time">时间</i>
                    <div class="icon-container">
                        <i class="icon icon-act-list-arrow" data-role="arrow"></i>
                    </div>
                </li>
                <li class="tap_choosen" data-tap>
                    <i class="measure-choosen-child" data-text data-role="price">价格</i>
                    <div class="icon-container">
                        <i class="icon icon-act-list-arrow" data-role="arrow"></i>
                    </div>
                </li>
                <li class="tap_choosen" data-tap>
                    <i class="measure-choosen-child"  data-text data-role="start">发起者</i>
                    <div class="icon-container">
                        <i class="icon icon-act-list-arrow" data-role="arrow"></i>
                    </div>
                </li>
                <!--i class="measure-choosen-child" data-tap data-role="time">时间</i><i class="icon icon-r-16x26"></i>
                <i class="measure-choosen-child" data-tap data-role="price">价格</i>
                <i class="measure-choosen-child" data-tap data-role="start">发起者</i-->
            </ul>
        </div>
        <div class="action-list-condition  fn-hide"  data-role="condition-con">
            <div class="price-condition condition fn-hide" data-con data-role="price-con">
                <div class="child cur" data-carry=""><p class="child-child">全部</p>
                </div>
                <div class="child" data-type="budget_0-100" data-carry="budget_0-100"><p class="child-child">0-100元</p>
                </div>
                <div class="child" data-carry="budget_101-200"><p class="child-child">101-200元</p>
                </div>
                <div class="child" data-carry="budget_201-500"><p class="child-child">201-500元</p>
                </div>
                <div class="child" data-carry="budget_501-1000"><p class="child-child">501-1000元</p>
                </div>
            </div>
            <div class="day-condition condition fn-hide" data-con data-role="time-con">
                <div class="child cur" data-carry=""><p class="child-child">全部</p>
                </div>
                <div class="child" data-carry="today"><p class="child-child">今天</p>
                </div>
                <div class="child" data-carry="weekend"><p class="child-child">周末</p>
                </div>
                <div class="child" data-carry="history"><p class="child-child">活动回顾</p>
                </div>
            </div>
            <div class="history-condition condition fn-hide" data-con data-role="start-con">
                <div class="child cur" data-carry=""><p class="child-child">全部</p>
                </div>

                <div class="child" data-carry="start_by_authority"><p class="child-child">官方</p>
                </div>
                <div class="child" data-carry="start_by_net_friends"><p class="child-child">网友</p>
                </div>
            </div>
            <div class="fade" data-role="fade">1</div>
        </div>

        <div class="action-list-content h-100" data-role="action-list-content">
            <div class="wrap-box">
                <div class="pull_down_container" data-role="pull_down_container"></div>
                <div class="action-child-con h-100" data-role="action-child-con">

                </div>
            </div>
        </div>

    </div>

</main>