
{{#each data_main}} 
    <div class="title" data-id="{{id}}">{{title}}</div>
    <div class="city-wrap clearfix">
        {{#each data}} 
            <div class="item" data-role="item" location_id="{{location_id}}">{{city}}</div>
        {{/each}}
    </div>
{{/each}}

    


    
