.page-view {
  height: 100%;
  width: 100%;
  position: relative; }
  .page-view .apps_page .native_scroll .scoll-wrapper .topic-list-container .topic-front {
    margin: 5px 5px 0; }
  .page-view .apps_page .native_scroll .scoll-wrapper .space-bottom {
    width: 100%;
    height: 45px;
    padding-bottom: 10px; }
