<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>
<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main">

            <header class="nav-header my-zone-header">
                    <div class="left-button-wrap" data-role="page-back">
                        <a><i class="icon icon-back"></i></a>
                    </div>

                    <h3 class="title">活动名称</h3>

                    <div class="right-button-wrap">
                        <a><i class="icon icon-model-card-share"></i></a>
                    </div>
            </header>

            <div class="act_topic_style_1 native_scroll">
               <div class="p1th" style="display:; ">
                    <div class="img">
                        <img src="http://image16-d.poco.cn/best_pocoers/20150206/7514201502061218592167450.jpg" />
                    </div>
                    <div class="txt">
                        <p class="p1">春暖花开-小清新专场</p>
                        <p class="p2">
                            这里是活动内容的介绍 <br />
                            把心就当做地平线，把所有烦恼都抛在地平线下。
                            还自己一个海阔天空！人生是路过，不是埋在这个地方。
                        </p>
                    </div>
               </div>

               <ul class="style_2" >
                   <li >
                       <div class="img_container">
                           
                           <i class="img image-img avatar-size-img inner_img loaded" style="background-size: cover; background-image: url(http://yueus.com/m/images/test/274x366.jpg);"></i>
                       </div>
                       <div class="details">
                            <div class="name">雯雯</div>
                            <div class="wbox ">
                                <div class="lbox ">￥<span class="sz">159</span> /2小时</div>
                                <div class="rbox ">￥320 /2小时</div>
                            </div>
                            <p class="style"><span class="cor">风格 </span>  性感 清新 清新</p>
                       </div>
                   </li>  


                   <li >
                       <div class="img_container">
                           
                           <i class="img image-img avatar-size-img inner_img loaded" style="background-size: cover; background-image: url(http://yueus.com/m/images/test/274x366.jpg);"></i>
                       </div>
                       <div class="details">
                            <div class="name">雯雯</div>
                            <div class="wbox ">
                                <div class="lbox ">￥<span class="sz">159</span> /2小时</div>
                                <div class="rbox ">￥320 /2小时</div>
                            </div>
                            <p class="style"><span class="cor">风格 </span>  <span class="pl5">性感</span> <span class="pl5">清新</span> <span class="pl5">清新</span></p>
                       </div>
                   </li>      

               </ul>

            </div>

        </main>
    </div>
</div>

</body>
</html>
