<main role="main" class="credit">
    <header class="nav-header credit-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>
        <h3 class="title">个人信用度</h3>
        <div class="right-button-wrap"></div>
    </header>

    <div class="content-body">
        <div class="credit-container" data-role="container">
            <div class="warp-box">
                <div class="credit-inside" data-role="credit-inside">
                    <div class="item">
                        <div class="available">
                            <div class="available_balance" >￥<label data-role="available_balance">{{available_balance}}</label></div>
                            <div class="available_notice">信用金</div>
                        </div>
                        <div>
                            <button  data-role="get-money-btn"   class="fn-hide add-btn ui-button ui-button-primary ui-button-size-min ui-button-block ">
                                <span class="ui-button-content">提现</span>
                            </button>

                            <button  data-role="get-available-money-btn" style="display: inline-block;width: auto;"   class="add-btn ui-button ui-button-primary ui-button-size-min ui-button-block ">
                                <span class="ui-button-content">信用金提现</span>
                            </button>

                            <button   data-role="add-value-btn" style="display: inline-block;width: auto;"  class=" add-btn ui-button ui-button-primary ui-button-size-min ui-button-block ">
                                <span class="ui-button-content">充值</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>