@charset "UTF-8";
// ------------------------------
// POCO约拍app - 首页 发现
// ------------------------------
$background : #ffffff;
$gray: #fafafa;
$gray_dark:#666666;
$gray_font:#aaaaaa;
$border:#dddddd;
$header_select: #ff0052;
$header_unselect:#f0f0f0;
$border_a:#e6e6e6;
$chooen_border:#ebebeb;
$header_font:#000;

//定义tips样式
@mixin color-tips($tip-color,$delta-color) {
  position: relative;
  left:-5px;
  width: 33px;
  height: 21px;
  z-index: 1;
  .tips{
    color: $background;
    width: 33px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background: $tip-color;
    font:{
      size: 11px;
    }
  }
  .delta{
    width: 0;
    height: 0;
    border-top: 5px solid $delta-color;
    border-left: 5px solid transparent;
  }
}

.action-list{
  .action_query{
    display: -webkit-box;
    background: #fff;
    position: fixed;
    top: 45px;
    width: 100%;
    z-index: 999;
    font-size: 14px;
    border-bottom: 1px solid #dddddd;
    color: #666666;
    .query{
      display: -webkit-box;
      -webkit-box-pack:center;
      text-align: center;
      width: 33%;
      height: 40px;
      &.cur{
        color:$header_select;
        .arrow{
          background: url('../../image/pai/act-list-arr-red-24x14.png?__sprite');

        }
      }
      div{
        margin-top: 10px;
      }
      .notice{
        text-align: end;
        width: auto;
        height: 20px;
        margin-right: 5px;
      }
      .arrow{
        margin-top: 17px;
        width: 12px;
        height: 7px;
        background: url('../../image/pai/act-list-arr-24x14.png?__sprite');
      }
    }
  }
  .action_list_contain{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    position: relative;
    background: #eeeeee;
    top:0px;
    padding-top: 40px;
    .action-child-con{
      position: relative;
      padding-bottom: 44px;

    }
    .child{
      display: -webkit-box;
      -webkit-box-flex:1;
      -webkit-box-pack:start;
      -webkit-box-orient:horizontal;
      border-bottom: 1px solid $border;
      margin-top: 10px;
      background: #ffffff;
      //height: 120px;
      .child-img{
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 10px;
        background-size:cover;
        border-radius: 2px;
        overflow: inherit;

        .tips-con-red{
          @include color-tips(#ff4978,#c31b46);
        }
        .tips-con-green{
          @include color-tips(#1abc9c,#00755e);
        }
        .tips-con-orange{
          @include color-tips(#ff6b28,#b63900);
        }

      }
      .child-text{
        display: -webkit-box;
        -webkit-box-orient:vertical;
        margin: 10px 10px 10px 0px;
        -webkit-box-flex:1;
        .icon{
          margin-right: 5px;
          height: 12px;
          width: 12px;
        }
        .icon-act-list-athor{
          background: url('../../image/pai/athor-24x24.png?__sprite');
        }
        .icon-act-list-date{
          background: url('../../image/pai/date-24x24.png?__sprite');
        }
        .icon-act-list-price{
          background: url('../../image/pai/price-24x24.png?__sprite');
        }
        .icon-act-list-join-num{
          background: url('../../image/pai/join_num-24x24.png?__sprite');
        }
        .title{
          margin-bottom: 4px;
          font:{
            size:16px;
            color:#000;
          }
        }
        .detail{
          color: $gray_font;
          font: {
            size:12px;
          };
          word-break: break-all;
        }
      }
      .pic-fade{
        position: absolute;
        width: 100px;
        height: 100px;
        background: #000;
        opacity: 0.6;
        top: 0px;
        z-index: 0;
      }
      .act_is_finish{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 31px;
        left: 22px;
        z-index: 1;
        background: url('../../image/pai/finish-112x76.png?__sprite');
      }
    }
  }
  .action-list-condition{
    display: -webkit-box;
    -webkit-box-pack:start;
    -webkit-box-orient:vertical;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: none;

    .condition{
      display: -webkit-box;
      -webkit-box-pack:start;
      -webkit-box-orient:vertical;
      position: relative;
      z-index: 3;
      top: 0px;
      .child {
        display: -webkit-box;
        width: 100%;
        background: $background;
        height: 40px;
        border-bottom: 1px solid $border;
        .child-child{
          font:{
            size: 14px;
          }
          margin: 10px 0px 0px 20px;
        }
        &.cur{
          color:$header_select;
        }

      }
    }

  }
  .inner_fade{
    margin-top: 86px;
  }
  .load_more{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    text-align: center;
    padding: 15px 0px;
    color: #555555;
  }

}