@charset "UTF-8";

@import "../widget/ui-base";
@import "../widget/ui-list";
@import "../widget/ui-tab";
@import "../../sass/compass";

body,html{
  overflow: hidden;
}

.act-order-list{

  .ui-tab-nav{
    position: relative;
  } 
  .ui-tab-nav li a{
    color:#aaa;
  }
  .ui-tab-nav li.current{

    border-bottom: 1px #333 solid;
  }
  .ui-tab-nav li.current a {
    color: #333;
  }
  .nav-list{
    background-color: #fafafa;
    a{
      display: block;
      width: 100%;
      height: 100%;
    }

  }
  .ui-tab-content {
    margin-top: 0px;

  }

  $consider-background : #ffffff;
  $consider-gray: #fafafa;
  $consider-gray_dark:#666666;
  $consider-gray_font:#aaaaaa;
  $consider-border:#dddddd;
  $consider-header_select: #ff0052;
  $consider-header_unselect:#f0f0f0;
  $consider-border_a:#e6e6e6;
  $consider-chooen_border:#ebebeb;
  $gray_font:#aaaaaa;
  $border:#dddddd;
  $chooen_border:#ebebeb;
  $background : #ffffff;

  //定义tips样式
  @mixin color-tips($tip-color,$delta-color) {
    position: relative;
    left:-5px;
    width: 33px;
    height: 21px;
    z-index: 1;
    .tips{
      color: $background;
      width: 33px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      background: $tip-color;
      font:{
        size: 11px;
      }
    }
    .delta{
      width: 0;
      height: 0;
      border-top: 5px solid $delta-color;
      border-left: 5px solid transparent;
    }
  }

  .status{
    .content-body{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      // margin-top: 86px;

      .status-container {

        .paid-inside{
          position: relative;
          padding-bottom: 50px;
        }
        .pub-inside{
          position: relative;
          padding-bottom: 50px;
        }
        .unpaid-inside{
          position: relative;
          padding-bottom: 50px;
        }
        .unpay-inside{
          position: relative;
        }
        .payed-inside{
          position: relative;
        }
        .my_pub-inside{
          position: relative;
        }
        .child{
          display: -webkit-box;
          -webkit-box-flex:1;
          -webkit-box-pack:start;
          -webkit-box-orient:vertical;
          border-bottom: 1px solid $border;
          margin-top: 10px;
          background: #ffffff;
          .lists{
            display: -webkit-box;
            -webkit-box-flex:1;
            -webkit-box-pack:start;
            -webkit-box-orient:horizontal;

            .child-img{
              display: inline-block;
              width: 100px;
              height: 100px;
              margin: 10px 20px 10px 10px;
              background-size:cover;
              overflow: inherit;
              position: relative;
              .tips-con-red{
                @include color-tips(#ff0052,#d90348);
              }
              .tips-con-green{
                @include color-tips(#1abc9c,#028c71);
              }
              .tips-con-orange{
                @include color-tips(#ff6b28,#be3c00);
              }
              .pic-fade{
                position: absolute;
                width: 100px;
                height: 100px;
                background: #000;
                opacity: 0.6;
                top: 0px;
                z-index: 0;
              }
              .pic-logo-reject{
                position: absolute;
                top: 0px;
                padding: 30px 0px 0px 17px;
              }
              .pic-logo-no-reject{
                position: absolute;
                top: 0px;

                padding: 32px 0px 0px 22px;
              }
            }
            .child-text{
              display: -webkit-box;
              -webkit-box-orient:vertical;
              margin: 10px 10px 10px 0px;
              -webkit-box-flex:1;
              .title{
                margin-bottom: 10px;
                font:{
                  size:16px;
                  color:#000;
                }
              }
              .detail{
                color: $gray_font;
                font: {
                  size:12px;
                };
                .icon{
                  margin-right: 5px;
                }
              }

            }
          }
          .list-btns{
            display: -webkit-box;
            margin: 0px 10px 0px 10px;
            border-top: 1px solid $border;
            -webkit-box-pack:end;
            button {
              width: auto;
              margin: 5px 0px 5px 10px;
              background-color: #fff;
            }
          }

        }
      }
      .btn_unpaid_container {
        display: -webkit-box;
        -webkit-box-flex:1;
        -webkit-box-pack:end;
        margin-top: 5px;
        .auto_width{
          margin-left: 10px;
          width: auto;

          .icon{
            margin-right: 5px;
          }
        }
        .btn_unpaid_pay {
          background: $consider-header_select;
          width: auto;
          padding: 0px 10px 0px;
          height: 30px;
          line-height: 30px;
          border-radius: 2px;
          color: #FFF;
          text-align: center;
        }
        .btn_unpaid_delete {
          background: $consider-header_select;
          width: auto;
          padding: 0px 10px 0px;
          height: 30px;
          line-height: 30px;
          border-radius: 2px;
          margin-left: 10px;
          color: #FFF;
          text-align: center;
        }
      }
      .btn_paid_container{
        display: -webkit-box;
        -webkit-box-flex:1;
        -webkit-box-pack:end;
        margin-top: 5px;
        .auto_width{
          width: auto;
          margin-left: 10px;
          .icon{
            margin-right: 5px;
          }
        }
        .btn_paid_commit{
          background: $consider-header_select;
          width: auto;
          padding: 0px 10px 0px;
          height: 30px;
          line-height: 30px;
          border-radius: 2px;
          color: #FFF;
          text-align: center;
        }
        .canot{
          background:#cecece;
        }
      }
      .btn_pub_container{
        display: -webkit-box;
        -webkit-box-flex:1;
        -webkit-box-pack:end;
        margin-top: 5px;
        .auto_width{
          width: auto;
          margin-left: 10px;
          .icon{
            margin-right: 5px;
          }
        }
        .btn_pub_finnish{
          background: $consider-header_select;
          width: auto;
          padding: 0px 10px 0px;
          height: 30px;
          line-height: 30px;
          border-radius: 2px;
          color: #FFF;
          text-align: center;
          margin-right: 10px;
        }
        .btn_pub_cencel{
          background: $consider-header_select;
          width: auto;
          padding: 0px 10px 0px;
          height: 30px;
          line-height: 30px;
          border-radius: 2px;
          color: #FFF;
          text-align: center;
        }
      }
      .status-content {
        .unpay-inside{
          position: relative;
        }
        .payed-inside{
          position: relative;
        }
        .my_pub-inside{
          position: relative;
        }
        .child{
          display: -webkit-box;
          -webkit-box-flex:1;
          -webkit-box-pack:start;
          -webkit-box-orient:horizontal;
          border-bottom: 1px solid $border;
          .child-img{
            display: inline-block;
            width: 100px;
            height: 100px;
            margin: 10px 20px 10px 10px;
            background-size:cover;
            overflow: inherit;
            .tips-con-red{
              @include color-tips(#ff0052,#d90348);
            }
            .tips-con-green{
              @include color-tips(#1abc9c,#028c71);
            }
            .tips-con-orange{
              @include color-tips(#ff6b28,#be3c00);
            }


          }
          .child-text{
            display: -webkit-box;
            -webkit-box-orient:vertical;
            margin: 10px 10px 10px 0px;
            -webkit-box-flex:1;
            .title{
              margin-bottom: 10px;
              font:{
                size:16px;
                color:#000;
              }
            }
            .detail{
              color: $gray_font;
              font: {
                size:12px;
              };

            }
            .btn_unpaid_container {
              display: -webkit-box;
              margin-top: 5px;
              .btn_unpaid_pay {
                background: $consider-header_select;
                width: auto;
                padding: 0px 10px 0px;
                height: 30px;
                line-height: 30px;
                border-radius: 2px;
                color: #FFF;
                text-align: center;
              }
              .btn_unpaid_delete {
                background: $consider-header_select;
                width: auto;
                padding: 0px 10px 0px;
                height: 30px;
                line-height: 30px;
                border-radius: 2px;
                margin-left: 10px;
                color: #FFF;
                text-align: center;
              }
            }
            .btn_paid_container{
              display: -webkit-box;
              margin-top: 5px;
              .btn_paid_commit{
                background: $consider-header_select;
                width: auto;
                padding: 0px 10px 0px;
                height: 30px;
                line-height: 30px;
                border-radius: 2px;
                color: #FFF;
                text-align: center;
              }
              .canot{
                background:#cecece;
              }
            }
            .btn_pub_container{
              display: -webkit-box;
              margin-top: 5px;
              .btn_pub_finnish{
                background: $consider-header_select;
                width: auto;
                padding: 0px 10px 0px;
                height: 30px;
                line-height: 30px;
                border-radius: 2px;
                color: #FFF;
                text-align: center;
                margin-right: 10px;
              }
              .btn_pub_cencel{
                background: $consider-header_select;
                width: auto;
                padding: 0px 10px 0px;
                height: 30px;
                line-height: 30px;
                border-radius: 2px;
                color: #FFF;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}