// ------------------------------
// 约拍app - 活动 我的活动
// ------------------------------
@import "../../sass/compass";
$border-radius : 4px;
.action-signin{
  h1{
    padding:30px 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
  }
  .action-signin-content{
    // padding-top: $content-margin-top;
    .action-signin-new
    {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      padding-bottom: 50px;

      ul{

        display: -webkit-box;
        -webkit-box-flex:1;
        -webkit-box-orient: vertical;
        margin: 0px 10px 0px 10px;
      }
      .game-part{
        display: -webkit-box;
        margin-bottom: 10px;
        -webkit-box-pack:justify;
        -webkit-box-orient: vertical;
        background: #ffffff;
        @include border-radius($border-radius);
        border: 1px solid #cccccc;
        .item{
          display: -webkit-box;
          -webkit-box-pack: justify;
          -webkit-box-flex: 1;
          height: 45px;
          .title{
            padding-left: 15px;
            line-height: 45px;

          }
          .title-text{
            display: -webkit-box;
            .text{
              line-height: 45px;
              margin-right: 5px;
            }
          }
          .icon{
            margin: 19px 15px 0px 0px;
          }
        }
        .item-details{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          border-top:1px solid #cccccc;
          padding-bottom: 25px;
          .list{
            display: -webkit-box;

            margin-top: 15px;
            -webkit-box-orient: vertical;
            .title{
              display: -webkit-box;
              -webkit-box-pack:justify;
              margin-bottom: 5px;
            }
            .title-left{
              color: #ffffff;
              font-size: 10px;
              text-align: center;
              height: 20px;
              line-height: 20px;
              width: 70px;
              border-radius: 0px 4px 4px 0px;
            }
            .title-right{
              padding-right: 15px;
              .icon{
                margin-bottom: 3px;
              }
            }
            .details{
              display: -webkit-box;
              -webkit-box-orient: vertical;
              .child{
                display: -webkit-box;
                height: 50px;
                padding: 5px 15px 5px 15px;
                .img-container{
                  width: 50px;
                  height: 50px;
                  margin-right: 10px;
                  border-radius: 25px;
                }
                .info-container{
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-box-pack:center;
                  -webkit-box-flex:1;

                  .top{
                    display: -webkit-box;
                    margin-bottom: 5px;
                    .nickname{
                      font-size: 12px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 60%;
                      height: 16px;
                      margin: 0px 5px 0px 0px;
                      word-break: break-all;
                    }
                    .num{
                      color: #999999;
                      font-size: 10px;
                      line-height: 16px;
                      margin: 0px 5px 0px 0px;
                    }
                    .sign-tip{
                      height: 13px;
                      font-size: 8px;
                      text-align: center;
                      line-height: 13px;
                      background: #27a569;
                      color: #ffffff;
                      margin-top: 2px;
                      padding: 0px 5px;
                      border-radius: 4px;
                    }
                  }
                  .btm{
                    display: -webkit-box;
                    font-size: 12px;
                    color: #8f8f8f;
                    .identity{
                      font-size: 12px;
                      color: #8f8f8f;
                      margin-right: 15px;
                    }
                    .phone{
                      font-size: 12px;
                      color: #2197e9;
                    }
                  }
                }
              }
            }
          }
          .first{
            .title-left{
              background: #ff4978;
            }
            .first-details{
            }
          }
          .backup{
            .title-left{
              background: #ffa4bb;
            }
            .title-right{
            }
          }
          .onlook{
            .title-left{
              background: #999999;
            }
            .title-right{
            }
          }
        }
      }
    }
    .action-signin-list{
      padding: 10px;
      .game{
        margin-bottom: 10px;
        @include border-radius($border-radius);
        border: 1px solid #cccccc;
        .dropdown{
          @include flexbox((
                  box-align: center
          ));
          //@include get-icon('r-16x26', true, block);
          @include transform(rotateZ(-90deg));
        }
        .open{
          .dropdown{
            @include transform(rotateZ(90deg));
          }
        }
        .item{
          @include flexbox((
                  display: box
          ));
          padding: 0 15px;
          height: 45px;
          line-height: 45px;
          background: #f5f5f5;
          .title{
            @include flexbox((
                    box-flex: 1,
                    box-align: center
            ));

            .text{
              white-space: nowrap;
              font-size: 10px;
              h2{
                line-height: 1;
                font-size: 14px;
                &:last-child{
                  margin-top: 4px;
                  color: #aaa;
                }
              }
            }
          }
        }
        .person{
          padding: 15px 15px 0;
          border-top: 1px solid #cccccc;
          overflow: hidden;
          li{
            margin-bottom: 30px;
            .title-out{
              @include flexbox((display: box));
              .title{
                .tips{
                  @include border-radius($border-radius);
                  @include border-left-radius(0);
                  background: #ff0052;
                  border: 1px solid #ff0052;
                  color: #fff;
                  padding: 5px 7px;
                }
                .tips-is-checked{
                  background: #3fc585;
                  border: 1px solid #3fc585;
                }
                .delta{
                  width: 0;
                  height: 0;
                  border-top: 5px solid #ff0052;
                  border-left: 5px solid transparent;
                }
                .delta-is-checked{
                  border-top: 5px solid #3fc585;
                }
              }
              .amount{
                @include flexbox((
                        box-flex: 1,
                        box-align: center
                ));
                text-align: right;
                .dropdown{

                }
              }

            }
            .people{
              font-size: 0;
              //text-align: justify;
              &:after {
                content: '.';
                display: inline-block;
                width: 100%;
              }
              li{
                display: inline-block;
                margin: 5px 14px 15px 0;
                &:nth-child(4n){margin-right: 0};
                font-size: 0px;
              }
              .is-checked{
                @include opacity(0.25);
              }
              .avatar{
                @include border-radius($border-radius);
                border: 1px solid #cccccc;
                display: inline-block;
                margin-bottom: 7px;
                //height: 54px;
                //width: 54px;
                i{
                  display: block;
                  width: 100%;
                  height: 100%;
                  background-position:50%;
                  background-size: cover;
                  background-repeat: no-repeat;
                }
              }
              .name{
                text-align: center;
                line-height: 1;
                font-size: 14px;
                height: 15px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }

    }
  }
  .signin-footer{
    @include flexbox((
            display: box
    ));
    border-top: 1px solid #e6e6e6;
    height:49px;
    &:nth-child(n){
      line-height: 49px;
    }
    .icon{

    }
    .follow{
      @include flexbox((
              box-flex: 3,
      ));
      text-align: center;
      .icon-follow{
        //@include get-icon('follow-40x40', true, inline-block);
        line-height: 1.5;
        &:before{
          margin-right: 10px;
        };
      }
    }
    .followed{
      .icon-follow{
        //@include get-icon('follow-40x40-has', true, inline-block);
        line-height: 1.5;
      }
    }
    .apply{
      border-top: #ff0052;
      background: #ff0052;
      color: #fff;
      text-align: center;
      @include flexbox((
              box-flex: 4,
              box-align: center,
      ));
    }

    .comment{
      @include flexbox((
              box-flex: 3,
      ));
      text-align: center;
      //line-height: 1.5;
      .icon-comment{
        //@include get-icon('comment-40x40', true, inline-block);
        line-height: 1.5;
        &:before{
          margin-right: 10px;
        };
      }

    }
  }
  .btns_success {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    width: 100%;
    height: 50px;
    background: #f5f5f5;
    color: #fff;
    text-align: center;
    font-size: 16px;
    .btn {
      width: 170px;
      text-align: center;
      background: #18cea7;
      color: #fff;
      @include border-radius($border-radius);
      height: 36px;
      line-height: 36px;
      margin: 0 auto;
      &:active {
        background: #74e2ca;
      }
    }
  }

  .ui-button-submit-area.v2 button {
    margin: 5px auto;
    width: 50%;
  }
}