<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main" class="">
            <header class="nav-header comment-page-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">摄影师评价</h3>
                
                <div class="right-button-wrap">
                </div>
            </header>

            <div>
                <div class="comment-page">
                    <div class="item-wrap">
                        <div class="item">
                            <div class="wrap-c">
                                <div class="lbox">总体评价：</div>
                                <div class="rbox">
                                    <div class="start"><i class="icon icon-start-l-y"></i><i class="icon icon-start-l-y"></i><i class="icon icon-start-l-y"></i><i class="icon icon-start-l-y"></i><i class="icon icon-start-l-g"></i></div>
                                </div>
                            </div>         
                        </div>
                    </div>  

                    <div class="item-wrap part2">
                        <div class="item">
                            <div class="wrap-c">
                                <div class="lbox">RP：</div>
                                <div class="rbox">
                                    <div class="start"><i class="icon icon-start-l-y"></i><i class="icon icon-start-l-y"></i><i class="icon icon-start-l-y"></i><i class="icon icon-start-l-y"></i><i class="icon icon-start-l-g"></i></div>
                                </div>
                            </div>         
                        </div>

                        <div class="item">
                            <div class="wrap-c">
                                <div class="lbox">时间观念：</div>
                                <div class="rbox">
                                    <ul class="up-wrap">
                                        <li class="current"><span class="icon-wrap "><i class="icon icon-up-cancel-m"></i> 准时</span></li>
                                        <li><span class="icon-wrap"><i class="icon icon-up-cancel-m"></i> 不准时</span></li>
                                    </ul>        
                                </div>
                            </div>  
                                 
                        </div>

                        <div class="input-area">
                                <textarea name=" " id=" " class="textarea-class"  placeholder="亲，活动拍摄愉快吗？（140字内）"></textarea>
                        </div>  
                        <div class="no-name">
                            
                            <div class="switch-container">
                                <span class="ui-switch ui-switch-off">  <!-- ui-switch-on 开关 -->
                                    <input checked="checked" class="ui-switch-checkbox" type="checkbox">
                                    <span class="ui-switch-wrapper">
                                        <span class="ui-switch-background"></span>
                                    </span>
                                    <span class="ui-switch-container">
                                        <span class="ui-switch-handle"></span>
                                    </span>
                                </span>
                            </div>

                            <span class="txt">匿名评价</span>
                        </div>
                    </div> 

                    <div class="btn">
                        <button class="ui-button ui-button-dark ui-button-size-large ui-button-block">
                            <span class="ui-button-content">发表评价</span>
                        </button>
                    </div>




                </div>
            </div>


        </main>
    </div>
</div>

</body>
</html>
