@charset "UTF-8";
// ------------------------------
// POCO约拍app -模特卡
// ------------------------------

.choose_coupon{
  background: #FAF;
  .right-button-wrap{
    color:#ff5480;
    font-size: 15px;
  }
  .content-body{
    margin-top: 45px;
  }
}