<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title></title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
<style type="text/css">
	.icon-container{
    padding-top: 3px;
    margin-right: 5px;
  }
</style>
</head>

<body style="background:">



<div id="page-container">

    <div class="dropload-box" style="height:50px;">
    	<div class="dropload-refresh">
    		<i class="icon icon-more-24x32"></i>  
    		
    		<span>下拉刷新</span> 		
    	</div>    	
    </div>

    <br />

    <div class="dropload-box" style="height:50px;">
    	<div class="dropload-load">
    		<i class="icon icon-loading ui-loading-animate"></i>   
    		<span>加载中...</span> 		
    	</div>    	
    </div>

    <br/>

    <div class="dropload-box" style="height:50px;">
    	<div class="dropload-update_down">
    		<i class="icon icon-more-24x32"></i>   
    		<span>释放更新</span> 		
    	</div>    	
    </div>

</div>

</body>
</html>
