<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO摄影 - 导航栏</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
<style type="text/css">
/*demo代码，不要使用*/
header {
    margin-bottom: 5px;
}
body{
    background: #fafafa;
}
</style>
</head>

<body>
<div id="page-container">




    <!-- 支付 -->
    <header class="nav-header profile-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">支付</h3>
        
        <div class="right-button-wrap">
            <a><i class="icon icon-envelope"></i></a>
        </div>
    </header>

    <!-- 我的首页 -->
    <header class="nav-header mine-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">我的</h3>
        
        <div class="right-button-wrap">
            <a><i class="icon icon-cog"></i></a>
        </div>
    </header>

    <!-- 热门列表 -->
    <header class="nav-header hot-find-nav-header">
        <div class="place">
            广州 <i class="icon icon-allow-22x12"></i>
        </div>

        <hgroup>
            <h3 class="title has-new current">热门</h3>
            <h3 class="title has-new ">发现</h3>
        </hgroup>
        
        <div class="right-button-wrap">
            <!-- <i class="icon icon-add-40x40 more-select-icon"></i> -->
        </div>
    </header>

    <!-- 编辑个人资料 -->
    <header class="nav-header mine-edit-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">编辑个人资料</h3>
        
        <div class="right-button-wrap">
            <!--<button class="ui-button ui-button-dark ui-button-size-default" data-role="save" disabled="disabled">保存</button>-->
        </div>
    </header>

    <!-- 登录 -->
    <header class="nav-header account-login-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">登录</h3>
        
        <div class="right-button-wrap">
<!--             <a class="ui-button ui-button-dark ui-button-size-default reg-button">注册</a> -->
        </div>
    </header>

    <!-- 设置 -->
    <header class="nav-header mine-setting-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">设置</h3>
        
        <div class="right-button-wrap">
        </div>
    </header>

    <!-- 模特卡 -->
    <header class="nav-header mine-model-car-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">模特卡</h3>
        
        <div class="right-button-wrap">
            <a><i class="circle-min"></i><i class="circle-min"></i><i class="circle-min"></i></a>
        </div>
    </header>

    <!-- 模特卡半透明 -->
    <header class="nav-header mine-model-car-header-opacity">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">模特卡</h3>

        <div class="right-button-wrap">
            <a><i class="circle-min"></i><i class="circle-min"></i><i class="circle-min"></i></a>
        </div>
    </header>


    <!-- 我的 -->
    <header class="nav-header my-zone-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">我的</h3>

        <div class="right-button-wrap">
            <a><i class="icon icon-my-edit-m"></i></a>
        </div>
    </header>


    <br>
    //********** 漂浮说明
    如果需要左边按钮，右边按钮漂浮，中间文字居中，<br>
    加 nav-header-special-pop

</div>
</body>
</html>
