<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO摄影 - 按钮</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
<style type="text/css">

.ui-button {
    margin: 5px 0;
}
.des{
    margin: 3px 0;
}
html, body{
    width: auto;
    height: auto;
    overflow: auto; 
    padding: 0 10px;
}
</style>
</head>
<body>

<div style="display:">
/******** *******/
<br>
默认是行内inline-block元素，加 ui-follow-mod-block 为100%，block元素

</div>


<div id="page-container">

    <br />
    <br />

    <div class="ui-follow-mod ">
        <i class="icon icon-ui-follow-m"></i> <span class="txt">关注</span>
    </div>

    <br />
    <br />
    
    <div class="ui-follow-mod ui-hasfollow-mod ">
        <i class="icon icon-ui-hasfollow-m"></i> <span class="txt">已关注</span>
    </div>

    <br />
    <br />
    
    <div class="ui-follow-mod ui-eachotherfollow-mod ">
        <i class="icon icon-ui-eachotherfollow-m"></i> <span class="txt">相互关注</span>
    </div>




</div>
</body>
</html>
