<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍 - 下拉</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
<style type="text/css">
.ui-dialog .ui-dialog-container:nth-child(2) {
    top: 10%;
}

.ui-dialog .ui-dialog-container:nth-child(3) {
    top: 15%;
}
.ui-dialog .ui-dialog-container:nth-child(4) {
    top: 20%;
}
</style>
</head>

<body>
    <div class="ui-dialog">
        <div class="ui-mask"></div>        

        <!-- 例子2 -->
        <div class="ui-dialog-container">
            <div class="ui-dialog-content ui-select" data-role="content">
                <section class="select-container">
                    <ul data-role="scroll_warpper">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                    </ul>
                </section>
                <section class="select-container">
                    <ul data-role="scroll_warpper">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                    </ul>
                </section>
                <section class="select-container">
                    <ul data-role="scroll_warpper">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                    </ul>
                </section>
                <div data-role="selected-area" class="selected-area">
                    
                </div>
            </div>
            <footer class="ui-dialog-footer">
                <button class="ui-dialog-button">取消</button>
                <button class="ui-dialog-button">确认</button>
            </footer>
        </div>


    </div>
    
</body>
</html>