<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main" class="">
            <header class="nav-header comment-page-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">用户评价</h3>
                
                <div class="right-button-wrap">
                </div>
            </header>

            <div>
                <div class="comment-list-page">
                    <div class="item-wrap">
                        <div class="item">
                            <div class="box1">
                                <div class="lbox fldi">团团</div>
                                <div class="rbox fldi">
                                    <i class="icon icon-stat-s-y"></i>
                                    <i class="icon icon-stat-s-g"></i>
                                    <i class="icon icon-stat-s-g"></i>
                                    <i class="icon icon-stat-s-g"></i>
                                    <i class="icon icon-stat-s-g"></i>
                                </div>
                            </div>
                            <div class="box2">
                                拍摄速度很快哦，而且拍的很清晰，图修的也很好，模特长相甜美，人又好说话，很喜欢呢，下次还找她拍要的朋友们别错过哦，真心不错，点赞。
                            </div>
                            <p class="time">2014-03-13 15:30</p>
                        </div>

                        <div class="item">
                            <div class="box1">
                                <div class="lbox fldi">团团</div>
                                <div class="rbox fldi">
                                    <i class="icon icon-stat-s-y"></i>
                                    <i class="icon icon-stat-s-g"></i>
                                    <i class="icon icon-stat-s-g"></i>
                                    <i class="icon icon-stat-s-g"></i>
                                    <i class="icon icon-stat-s-g"></i>
                                </div>
                            </div>
                            <div class="box2">
                                拍摄速度很快哦，而且拍的很清晰，图修的也很好，模特长相甜美，人又好说话，很喜欢呢，下次还找她拍要的朋友们别错过哦，真心不错，点赞。
                            </div>
                            <p class="time">2014-03-13 15:30</p>
                        </div>


                        <div class="item">
                            <div class="box1">
                                <div class="lbox fldi">团团</div>
                                <div class="rbox fldi">
                                    <i class="icon icon-stat-s-y"></i>
                                    <i class="icon icon-stat-s-g"></i>
                                    <i class="icon icon-stat-s-g"></i>
                                    <i class="icon icon-stat-s-g"></i>
                                    <i class="icon icon-stat-s-g"></i>
                                </div>
                            </div>
                            <div class="box2">
                                拍摄速度很快哦，而且拍的很清晰，图修的也很好，模特长相甜美，人又好说话，很喜欢呢，下次还找她拍要的朋友们别错过哦，真心不错，点赞。
                            </div>
                            <p class="time">2014-03-13 15:30</p>
                        </div>



                    </div>

                   <div class="ui-btn-refresh" >
                        <i class="icon icon-spinner ui-loading-animate"></i> 加载更多... 
                        <!-- ui-loading-animate  刷新中加css名-->
                    </div>

                </div>
            </div>


        </main>
    </div>
</div>

</body>
</html>
