<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>无标题文档</title>
	<link rel="import" href="./webcontrol/head.tpl.htm?__inline">
	<!-- 当前页css -->
	<link type="text/css" rel="stylesheet" href="../../../style/activity-sign-name-list.scss">
</head>

<body>
	<div class="global-top-bar global-top-bar-seller" id="global-top-bar-seller"> 

		<div class="top-bar clearfix w1000 font_wryh">

			<div class="logo fldi">
				<a href="#"></a>
			</div>

			<div class="nav clearfix">
				<div class="item">
					<a href="#">服务管理</a>
				</div>
				<div class="item "   menu-item-trigger>
					<!-- 触发样式 dropdown-menu-hover -->

					<a href="#">
						<span class="txt">账户管理</span> <b class="ui-triangle ui-triangle-bottom-min-white"></b>
					</a>
					<div class="dropdown-menu">
						<ul class="list clearfix">
							<li>
								<a href="#">账户余额：￥5000.00</a>
							</li>
							<li>
								<a href="#">提现</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="nav clearfix seller-info">
				<div class="item "  menu-item-trigger>
					<!-- 触发样式 dropdown-menu-hover -->
					<a href="#"><span class="txt">商家用户名</span> <b class="ui-triangle ui-triangle-bottom-min-white"></b></a>
					
					<div class="dropdown-menu">
						<ul class="list clearfix">
							<li>
								<a href="#">个人中心</a>
							</li>
							<li>
								<a href="#">认证中心</a>
							</li>
							<li>
								<a href="#">约约首页</a>
							</li>
							<li>
								<a href="#">退出</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="content w1000">

		<div class="mod-nav-item font_wryh">
			<a href="#">约约商家主页</a>
			&gt;
			<a href="#">活动管理</a>
			&gt;
			<span>报名名单</span>
		</div>

		<!-- 模板start -->
		<div class="activity-sign-name-page content-bg  font_wryh">
			<h3 class="f16 mb10">活动类别：摄影外拍-室外</h3>
			<h3 class="f16">活动标题：美丽旧时光佳能EOS学院专场 POCO精品人像摄影</h3>
			<div class="item-wrap font_wryh">
				<h4 class="title f16">报名名单</h4>
				<div class="item">
					<div class="item-title f14 cor-333">
						<span class="number-txt">1</span>
						<span class="time-txt">2015-10-21 9:09 至 2015-10-22 19:00</span>
						<span class="sign-name-txt"> 已报名： 50/200人</span>
						<a href="#" class="export-btn cor-409">导出名单</a>
						<div class="ui-triangle-item">
							<b class="ui-triangle ui-triangle-bottom-min-grey"></b>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item-title f14 cor-333">
						<span class="number-txt">2</span>
						<span class="time-txt">2015-10-21 9:09 至 2015-10-22 19:00</span>
						<span class="sign-name-txt"> 已报名： 50/200人</span>
						<a href="#" class="export-btn cor-409">导出名单</a>
						<div class="ui-triangle-item">
							<b class="ui-triangle ui-triangle-top-min-grey"></b>
						</div>
					</div>
					<div class="item-con cor-333 ">
						<table class="sign-name-table">
							<tr>
								<th width="50px;">序号</td>
								<th width="100px;">昵称</th>
								<th width="100px;">电话</th>
								<th width="80px;">用户ID</th>
								<th width="80px;">规格</th>
								<th width="140px;">报名时间</th>
								<th width="60px;">人数</th>
								<th width="140px;">备注</th>
							</tr>
							<tr>
								<td>
									<p>100</p>
								</td>
								<td>如若初见明天</td>
								<td>13544598788</td>
								<td>123155</td>
								<td>自驾到达</td>
								<td>2015-11-15 10:34</td>
								<td>500</td>
								<td>
									<div class="remark-txt">
										<div class="remark-txt-con">
										我想去流浪去流浪去流浪去流浪
										</div>
										<div class="more-txt dn">
											2222我想去流浪天涯，度过度过度过
											度过度过度过度过度过度过度过
											度过度过度过度过度过度过
											<b class="triangle-icon-bg"></b>
										</div>
									</div>
								</td>	
							</tr>  
							<tr>
								<td>100</td>
								<td>如若初见明天</td>
								<td>13544598788</td>
								<td>123155</td>
								<td>自驾到达</td>
								<td>2015-11-15 10:34</td>
								<td>500</td>
								<td>
									<div class="remark-txt">
										<div class="remark-txt-con">
										我想去流浪去流浪去流浪去流浪
										</div>
										<div class="more-txt">
											2222我想去流浪天涯，度过度过度过
											度过度过度过度过度过度过度过
											度过度过度过度过度过度过
											<b class="triangle-icon-bg"></b>
										</div>
									</div>
								</td>	
								
							</tr>  
						</table>

					</div>
				</div>
			</div>

		</div>
		<!-- 模板end -->

		<!-- 手机预览插入节点  -->
		<div data-role="qr_code_preview_ele" class="qr_code_preview_ele"></div>
		<!-- 手机预览插入节点 end  -->
		


	</div>



	<div class="footer font_wryh">
		<a href="#" class="mr10">关于约约</a>
		|
		<span class="ml10">Copyright &copy; 2003-2015 YUEUS.COM</span>
	</div>



<script type="text/javascript">
	// 头部
	require('../../../modules/common/global-top-bar/global-top-bar');
	
	// 弹窗口
	require('../../../modules/common/layer/layer');


	//手机二维码预览 start


	// 初始化
	var qr_code_preview = require('../../../modules/common/qr_code_preview/qr_code_preview');
	var qr_code_preview_obj = new qr_code_preview({
		render_ele : $('[data-role="qr_code_preview_ele"]'),
		click_ele : 'click_ele' //点击class
	});
	// 初始化 end


	// 点击触发
	$('.click_ele').on('click', function() {
		// 设置二维码
		qr_code_preview_obj.set_qr_img('http://image16.poco.cn/yueyue/20150907/20150907210529_353313_100207_66636_640.jpg?1600x1067_120');

		qr_code_preview_obj.change_hide()

		// dosomething

	});
	//手机二维码预览 end





	$('#btn_input').on('click', function() {
		$('#ele_input').val('承德市123cds测试')
	});


	$('.item table tr').find("td:last").hover(function() {
		$(this).find('.more-txt').removeClass('dn');
		
	}, function() {
		/* Stuff to do when the mouse leaves the element */
		$(this).find('.more-txt').addClass('dn');
	});

</script>


</body>

</html>