<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{page_title}</title>

    <!-- <link rel="import" href="./webcontrol/head.tpl.htm?__inline">
    -->
    <!-- 公共css，js引入 -->{pc_global_top}</head>
<body >

{global_top_bar}



<div class="content">
    <div class="checking-page  w1000 font_wryh">
        <div class="mod-nav-item">
            <a href="./">约约商家主页</a>
            &gt;
            <a href="./normal_certificate_basic.php">个人中心</a>
            &gt;
            <span>{nav_guide}</span>
        </div>
        <div class="content-bg checking-page-wrap" >
            <div class="item-wrap">
                <div class="item">
                    <!-- IF type =="order" -->
                    <div class="img-con" style="padding-bottom:0px">
                        <img src="../../../images/logo-72x72.png">
                    </div>
                    <div class="txt-con">
                        <p>下载商家版APP，实时管理您的订单</p>
                    </div>
                    <!-- ELSE -->
                    <div class="img-con" style="padding-bottom:0px">
                        <img src="../../../images/logo-72x72.png">
                    </div>
                    <div class="txt-con">
                        <p>您当前账户余额为：￥{user_available_balance}</p>
                        <p>下载商家版APP，将余额提现吧</p>
                    </div>
                    <!-- ENDIF type -->
                    <div class="img-con" style="padding-bottom:0px;padding-top:30px;">
                        <img src="../../../images/erweima-160x160.jpg">
                    </div>
                    <div class="txt-con">
                        <p>约约商家版app下载</p>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
{footer}

<script type="text/javascript">
    // 头部
    require('../../../modules/common/global-top-bar/global-top-bar');



</script>


</body>
</html>