<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>约约-商家版</title>
	<!-- <link rel="import" href="./webcontrol/head.tpl.htm?__inline">
	-->
	<!-- 公共css，js引入 -->
	{pc_global_top}
	<!-- 当前页面css-->
	<link type="text/css" rel="stylesheet" href="../../../style/index-page.scss">
</head>

<body class="index-bg">

	{global_top_bar}
	
	<!-- <div class="content" style="">		 -->

		<!-- 模板start -->

		<div class="index-page font_wryh">
		        <div class="p1th" >
		            <div class="scrollBox" id="scrollBox">
		                <ul class="img_list clearfix" id="foo2">
		                    <li class="banner1" >
		                        <div class="w1200 item">
                                    <div class="text-item">
                                        <h3 class="title">成就第一代时间变现弄潮儿</h3>
                                        <p class="p1">赚别人赚不到的钱  让订单源源不断</p>
                                        <div class="btn-item"> 
                                            <a href="./goods_list.php" class="index-ui-btn">商家入驻</a>
                                         
                                        </div>
                                        
                                    </div>
                                </div>

		                    </li>


                        <!--     <li  class="banner2" >     
                            	<a href="./recruit/operate.php"></a>
                            </li> -->
                       
		                </ul>

		                <div class="page-wrap">
		                	<a href="javascript:;" class="pre fl " id="prev2" ></a>
		                    <div class="page-box fl" id="pager2">
		                        <a href="#this" class="selected"></a>
		                        <a href="#this"></a>
		                    </div>
		                   <a href="javascript:;" class="next fl " id="next2" ></a>
		                </div>
		            </div>

		        </div>

		      <div class="orders-info-item">
		   	<div class="w1200">
		   		<h3 class="title"></h3>
		   		<div class="item">
		   			<ul class="list clearfix">
		   				<li>
		   					<div class="icon-item">
		   						<i class="icon icon-free"></i>
		   					</div>
		   					<div class="txt-item">
		   						<h4 class="title">
		   							免费
		   						</h4>
		   						<p>0门槛的服务交易平台</p>
		   					</div>
		   				</li>
		   				<li>
		   					<div class="icon-item">
		   						<i class="icon icon-award"></i>
		   					</div>
		   					<div class="txt-item">
		   						<h4 class="title">
		   							奖励
		   						</h4>
		   						<p>任性的你赚钱我补贴</p>
		   					</div>
		   				</li>
		   				<li>
		   					<div class="icon-item">
		   						<i class="icon icon-efficient"></i>
		   					</div>
		   					<div class="txt-item">
		   						<h4 class="title">
		   							高效
		   						</h4>
		   						<p>即时的交易买卖沟通</p>
		   					</div>
		   				</li>
		   				<li>
		   					<div class="icon-item">
		   						<i class="icon icon-heart">	</i>
		   					</div>
		   					<div class="txt-item">
		   						<h4 class="title">
		   							贴心
		   						</h4>
		   						<p>24小时的客服在线支持</p>
		   					</div>
		   				</li>
		   			</ul>
		   		</div>
		   	</div>
		      </div>
			<div class="Case-item w1000">
				<div class="index-listItem">
					<span class="title">商家案例</span>
				</div>
				<div class="list clearfix font_wryh" id="CaseList">
					<ul>
						<li>
							
							<div class="show-box-pop">
								<div class="icon-top icon-top-1"></div>
								<div class="txt-box">
									<div class="item">
										<p class="p1">第一位学员</p>
										<p class="p2">2015/05/10  报读《商业大片拍摄实战班》</p>
									</div>

									<div class="item">
										<p class="p1">第一期开班</p>
										<p class="p2">2015/06/10  约约学员课程班开班</p>
									</div>
								</div>
							</div>

							<div class="img-item"><img src="../../../images/test/340x340-1.jpg" /></div>
							<div class="text-item">
								<dl>
									<dt>一开始我是拒绝的</dt>
									<dd>其实一开始我是拒绝的，之前一直都有与其他平台合作，效果一般而且成本越来越高，但约约平台强势推出免手续费又对学员补贴的政策，我尝试加入成为约约培训导师，仅仅2周的时间推广，第一期课程班名额就报满了，效果超乎我的预期，让我坚信约约平台的未来价值。我将会带给约约学员更多实战课程和让相信我的学员靠谱地学摄影。</dd>
								</dl>
							</div>
						</li>
						<li>

							<div class="show-box-pop">
								<div class="icon-top icon-top-2"></div>
								<div class="txt-box">
									<div class="item">
										<p class="p1">全方位发展</p>
										<p class="p2">通过培训考试，成为签约模特，微信、app、<br />市场活动同步主推</p>
									</div>

									<div class="item">
										<p class="p1">突破2万</p>
										<p class="p2">2015/05  月收入突破2万</p>
									</div>
								</div>
							</div>


							<div class="img-item"><img src="../../../images/test/340x340-2.jpg" /></div>
							<div class="text-item">
								<dl>
									<dt>模特榜首的告白</dt>
									<dd>在模特生涯里遇到瓶颈期，经模特介绍注册约约，这是我遇到最棒的模特平台，摄影师约拍之后可以获得改进的意见和评价，这令我突破了自己的瓶颈期。约约根据我获得的好评度和约拍次数，给予我很多的榜单推广位置，工作机会越来越多，越来越喜欢约约了！</dd>
								</dl>
							</div>
						</li>
						<li>

							<div class="show-box-pop">
								<div class="icon-top icon-top-3"></div>
								<div class="txt-box">
									<div class="item">
										<p class="p1">83个忠实客户</p>
										<p class="p2">成交金额 65200元</p>
									</div>

									<div class="item">
										<p class="p1">0单广告支出</p>
										<p class="p2">节约广告费 8500元</p>
									</div>
								</div>
							</div>


							<div class="img-item"><img src="../../../images/test/340x340-3.jpg" /></div>
							<div class="text-item">
								<dl>
									<dt>爆棚原来可以这么简单</dt>
									<dd>以前我花费大量的时间在接各种预约电话，还经常被放飞机导致影棚闲置，加入约约之后，有个后台帮助我管理和操作订单，对我来说太太太方便了，并且让我能更及时接到精准的预约订单，轻松坐等生意来敲门！</dd>
								</dl>
							</div>
						</li>
						<li>

							<div class="show-box-pop">
								<div class="icon-top icon-top-4"></div>
								<div class="txt-box">
									<div class="item">
										<p class="p1">46个忠实客户</p>
										<p class="p2">成交金额 25620元</p>
									</div>


									<div class="item">
										<p class="p1">0单广告支出</p>
										<p class="p2">节约广告费 5337元</p>
									</div>
								</div>
							</div>
							<div class="img-item"><img src="../../../images/test/340x340-4.jpg" /></div>
							<div class="text-item">
								<dl>
									<dt>时间变现</dt>
									<dd>一开始加入约约我是抱着试一试的心态，没接工作空闲的时候可以看看这边能否有单。没想到还真的陆续有单找我，现在超过一半的工作都来自约约，从零碎时间到绝大部分时间。约约让我相信了，原来我的时间就是金钱！</dd>
								</dl>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="use-step-item">
				<div class="index-listItem w1000">
					<span class="title">如何使用</span>
					<em class="tips">
						入门很简单<br />
						我们一步步引导你如何把时间变现
					</em>
				</div>
				<div class="use-step-con">
					<div class="w1200">
						<div class="btn-item">
							<a href="./goods_list.php" class="index-ui-btn">点此开通</a>
						</div>
					</div>
				</div>
			</div>


			<!-- IF formal_is_hide --> 
			<div class="down-app-item w1000 "  id="jqqd"  name="jqqd">
				<div class="index-listItem">
					<span class="title">下载约约商家APP</span>
					<em class="tips">
						根据不同平台下载不同版本的约约商家APP<br />
						或用手机扫描二维码直接下载
					</em>
				</div>
				<div class="item clearfix">
					<div class="lbox fldi">
						<div class="code-item">
							<div class="code-con"><img src="../../../images/test/code-177x177.jpg"></div>
							<div class="txt-con">
								<p>手机扫描二维码下载</p>
							</div>
						</div>
					</div>
					<div class="rbox fldi">
						<div class="icon-item">
							<a href="{down_iPhone_app}" class="icon-con"  onclick="javascript:download_apk();">
								<i class="icon iphone-icon"></i>
								<em>iPhone版本下载</em>
							</a>
							<a href="{down_android_app}" class="icon-con"  onclick="javascript:download_apk();">
								<i class="icon android-icon"></i>
								<em>Android版本下载</em>
							</a>
						</div>
						<div class="txt-item">
							下载到电脑
						</div>
						<!--临时处理ios9提示-->
	                    <style type="text/css">
	                    .ios9-warning
	                    {
	                        text-align: center;
	                        clear: both;
	                        
	                        padding-top: 10px;
	                    }
	                    .ios9-warning a
	                    {
	                        font-size: 16px;
	                        color: #2e78f1;
	                        padding-left: 5px;
	                        position: relative;
							top: -6px;
	                    }
	                    </style>                  
	                    <div class="ios9-warning txt-item"><img src="http://static.yueus.com/mall/user/test/static/pc/images/red-warn-icon-29x24.png" /><a href="./topic.php?topic_id=656
	" target="_blank">IOS9 安装提示!</a></div>
						</div>
				</div>
			</div>
			<!-- ENDIF --> 

			<!-- IF wait_is_hide --> 
			<div class="jqqd "  id="jqqd"   id="jqqd"  name="jqqd">
					<div class="nr w1000">
						<img src="../../../images/test/jqxd-1000x600.jpg" />
					</div>
			</div>
			<!-- ENDIF --> 




		</div>
		<!-- 模板end -->
	<!-- </div> -->
	<div class="footer font_wryh">
		<div class="w1000">
			<div class="yue-info-item clearfix">
				<div class="info-item">
					<h1 class="logo"><a href="javascript:;"></a></h1>
					<div class="txt">
						<p>约约是由资深投资人士和摄影行业大咔联手重金打造的平台，在成立短短半年，就已经获得天使轮和PreA轮合计近5000万的投资。内测阶段已经获得了许多大师级的认可，同时也和POCO摄影社区形成了战略合作，并且得到众多摄影网站的推荐。</p>
					</div>
				</div>
				<div class="code-item">
					<div class="code-img"><img src="../../../images/test/test-code-148x148.png" alt=""></div>
					<p>扫一扫 关注微信服务号</p>
				</div>
			</div>
			<div class="mes-item">
				
				<div class="text-item clearfix">
					<div class="l-item">
						<h4 class="title">广州摩幻时信息技术有限公司</h4>
						<p class="pt5"><span>工作时间 9:00 - 18:00</span><span class="pl20">电话 4000-82-9003</span></p>
					</div>
					<div class="r-item">
						<p><a href="http://www.yueus.com/about.php">关于约约 </a> | Copyright &copy; 2003-2015 YUEUS.COM</p>
						<p class="pt5">帮助说明： <a href="http://s.yueus.com/download_pdf.php?type=seller">新进驻商家请下载</a> <span class="pl5 pr5">|</span> <a href="http://s.yueus.com/download_pdf.php?type=model">原约约模特请下载</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>


<script type="text/javascript">
	// 头部
	require('../../../modules/common/global-top-bar/global-top-bar');

	// 头部大图滚动
	var carouFredSel_auto = require('../../../modules/common/jquery.carouFredSel/5.5.0/jquery.carouFredSel-5.5.0-auto');
	
	// 弹窗口
	// require('../../../modules/common/layer/layer');



	// 首页商家案例弹层
	$(document).ready(function(){


		$('#foo2').carouFredSel_auto({
			width: '100%',
			scroll: {
				items: 1,
				duration:600,
				timeoutDuration: 600
			},
			prev: '#prev2',
			next: '#next2',
			pagination: "#pager2",
			auto: true
		 });



		$("#CaseList li").hover(function(){
			$(this).find('.show-box-pop').hide();
			$(this).find('.text-item').stop().animate({bottom:0},300);
		}, function() {
			$(this).find('.show-box-pop').show();
			$(this).find('.text-item').stop().animate({bottom:-340},300);
		});

		$('#btn-down').on('click', function() {
			$("html,body").animate({scrollTop:$("#jqqd").offset().top},600);
		});


	});


	// 微信下载提示
	function isWeiXin()
	{
		var ua = window.navigator.userAgent.toLowerCase();
		if(ua.match(/MicroMessenger/i) == 'micromessenger'){
			return true;
		}else{
			return false;
		}
	}
	
	function download_apk()
	{
		if(isWeiXin()){
			alert('微信用户，请点击页面右上角“┇”—>“在浏览器中打开”，进行安装，谢谢~');
			return false ;
		}
	}



// 头部banner左右箭头处理
$('#scrollBox').hover(function() {
	$(this).addClass('slide-pic-hover') ;
}, function() {
	$(this).removeClass('slide-pic-hover');
});


</script>


</body>

<!-- 底部统计 -->
<script type="text/javascript">__poco_site_stat_request_filename = 'poco_tj.css';</script>
<script type="text/javascript" src="//www1.poco.cn/site_stat_code.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67307238-1', 'auto');
  ga('send', 'pageview');

</script>


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?d3f6d15244a0b41207c934710304445d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


</html>