<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{page_title}</title>

    <!-- <link rel="import" href="./webcontrol/head.tpl.htm?__inline">
    -->
    <!-- 公共css，js引入 -->{pc_global_top}</head>
<body >

{global_top_bar}


<iframe id="form_iframe" name="form_iframe" style="display:none;"></iframe>
<form action="./module/pai_mall_certificate_service_op.php" method="post"  name="publish_form" id="publish_form" target="form_iframe">
    <div class="content">
        <div class="choose-type-page  w1000 font_wryh">
            <!--<div class="mod-choose-step-zone">
                <ul>
                    <li class="cur">
                        <i class="icon-radius ">1</i>
                        <a href="javascript:;" class="step-1" onclick="return false">选择类型</a>
                    </li>
                    <li class="cur">
                        <i class="icon-radius ">2</i>
                        <a href="javascript:;" class="step-2" onclick="return false">服务标准</a>
                    </li>
                    <li>
                        <i class="icon-radius ">3</i>
                        <a href="javascript:;" class="step-3" onclick="return false">开通</a>
                    </li>
                </ul>
            </div>-->
            <div class="mod-nav-item">
                <a href="./">约约商家主页</a>
                &gt;
                <a href="./normal_certificate_choose.php">认证中心</a>
                &gt;
                <a href="./normal_certificate_choose.php">品类认证</a>
                &gt;
                <span>{page_type_name}认证</span>
            </div>
            <div class="service-page mod-attest-page content-bg">
                <div class="mod-listItem">
                    <span>{page_type_name}认证</span>
                </div>
                <div class="form-warp" id="form-warp">
                    <div class="item">
                        <div class="mod-form-title">
                            <span>您现在的职业是：</span>
                        </div>
                        <div class="item-con">
                            <div class="mod-radio-item font_wryh clearfix">
                                <!-- BEGIN certificate_diet_job -->
                                <label>
                                    <input type="radio" name="diet_job" value="{value}" <!-- IF ROWCNT=="0" -->checked="checked"<!-- ENDIF ROWCNT -->/>
                                    {value_name}
                                </label>
                                <!-- END certificate_diet_job -->
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="mod-form-title">
                            <span>你的从业年限是：</span>
                        </div>
                        <div class="item-con">
                            <div class="mod-radio-item font_wryh clearfix">
                                <!-- BEGIN certificate_diet_years -->
                                <label>
                                    <input type="radio" name="diet_years" value="{value}" <!-- IF ROWCNT=="0" -->checked="checked"<!-- ENDIF ROWCNT -->/>
                                    {value_name}
                                </label>
                                <!-- END certificate_diet_years -->
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="mod-form-title">
                            <span>您的微博（微信公号）最大转发量是：</span>
                        </div>
                        <div class="item-con">
                            <div class="mod-radio-item font_wryh clearfix">
                                <!-- BEGIN certificate_diet_max_forward -->
                                <label>
                                    <input type="radio" name="diet_max_forward" value="{value}" <!-- IF ROWCNT=="0" -->checked="checked"<!-- ENDIF ROWCNT -->/>
                                    {value_name}
                                </label>
                                <!-- END certificate_diet_max_forward -->
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="mod-form-title">
                            <span> 请输入你的自媒体地址（微博、微信帐号）</span>
                        </div>
                        <div class="item-con">
                            <div class="mod-input-item">
                                <input tabindex="1"  type="text" name="diet_media_address" class="input-txt input-txt-1 font_wryh" placeholder="自媒体地址"  valid-rule="**0-100" valid-index='3'/>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="mod-form-title">
                            <span>你希望被认证的身份是：</span>
                        </div>
                        <div class="item-con">
                            <div class="mod-radio-item font_wryh clearfix">
                                <!-- BEGIN certificate_diet_identification -->
                                <label>
                                    <input type="radio" name="diet_identification" value="{value}" <!-- IF ROWCNT=="0" -->checked="checked"<!-- ENDIF ROWCNT -->/>
                                    {value_name}
                                </label>
                                <!-- END certificate_diet_identification -->
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="mod-form-title">
                            <span>您的网络名称：</span>
                        </div>
                        <div class="item-con">
                            <div class="mod-input-item">
                                <input tabindex="2"  type="text" name="diet_web_name" class="input-txt input-txt-1 font_wryh" placeholder="网络名称"  valid-rule="**0-100" valid-index='1'/>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="mod-form-title">
                            <span>一句话介绍您：</span>
                        </div>
                        <div class="item-con">
                            <div class="textarea-item">
                                <textarea name="diet_self_desc" class="textarea-txt font_wryh" placeholder="介绍" valid-rule="**1-300" valid-index='2'  tabindex="3" ></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="mod-form-title">
                            <span>上传认证相关凭证：</span>
                            <span style="padding-left:20px;font-size: 14px;color:#aaa">（上传证件，证书图片。文件格式为jpg、jpeg、png，每张图片大小不超过3M）</span>
                        </div>
                        <div class="item-con">
                            <div class="J_upload-container_1 ui-item" style="overflow:hidden;" >
                            </div>
                        </div>
                    </div>
                    <div class="btn-item">
                        <a href="javascript:;" class="ui-btn ui-btn-blue" id="J_form_submit" data-lock="unlock">提交审核</a>
                    </div>
                    <div style="text-align:center;color:#333;padding-top:10px;font-size:16px">等待审核过程中，可先发布服务</div>
                    <div style="text-align:center;color:#333;padding-top:10px;font-size:14px">若有问题，请联系客服4000-82-9003</div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="{type_id}" name="type_id"/>

</form>
<input type="hidden" value="{user_id}" id="J_user_id">
{footer}

<script type="text/javascript" src="http://static.yueus.com/yue_ui/upload/1.0.0/webuploader.min.js"></script>
<script type="text/javascript">
    // 头部
    require('../../../modules/common/global-top-bar/global-top-bar');

    require('../../../modules/common/layer/layer');

    //初始化作品上传
    require('../../../modules/common/upload/1.0.0/yueyue_uploader');



    // 表达验证类
    var VA = require('../../../modules/common/valid/index');
    // 设置容器
    var valid = new VA($('#form-warp'));

    add_collection("J_upload-container_1","1");

    function error_tips(ele,str)
    {
        $("html,body").animate({scrollTop:ele.offset().top},300);
        layer.alert(str);
        return false;
    }



    fresh_bind();

    function fresh_bind(){
        //绑定事件
        valid.pushfunctions
                ([
                    {
                        index:'1',
                        ValidError : function(){
                            error_tips($("[valid-index='1']").parents(".item"),'请填入网络名称');
                        }
                    },
                    {
                        index:'2',
                        ValidError : function(){
                            error_tips($("[valid-index='2']").parents(".item"),'请正确填入化妆师介绍');
                        }
                    },
                    {
                        index:'3',
                        ValidError : function(){
                            error_tips($("[valid-index='3']").parents(".item"),' 请输入你的自媒体地址');
                        }
                    }

                ]);
    }


    //提交form
    $("#J_form_submit").on("click",function(){

        //获取验证结果
        var resault = valid.checkValid();

        if(resault.isPass)
        {


            //判断图片
            /*if(!$(".J_upload-container_1 input").val())
             {
             error_tips($('.J_upload-container_1').parents(".item"), '请传入作品图');
             return
             }*/



            var data_lock = $(this).attr("data-lock");
            if(data_lock!="lock")
            {
                $(this).attr("data-lock","lock");//锁住
                layer.msg("正在提交中...");
                $("#publish_form").submit();
            }
            else
            {
                layer.msg("正在提交中...");
                return false;
            }
        }

    })

    //添加作品集
    /*
     *ele_container:容器
     *part_id：模块标记值
     */
    function add_collection(ele_container,part_id)
    {
        $(function()
        {


            //todo 使用之前要确定userid是否传递进去
            var user_id = $("#J_user_id").val();
            var yue_upload_obj = new yue_upload_class
            ({
                upload_total_limit : 20,
                upload_container : $('.'+ele_container),
                user_id :  user_id,
                multiple : true,
                imgs : [],
                fileSizeLimit: 60 * 1024 * 1024,    // 60 M 总文件大小
                fileSingleSizeLimit: 3 * 1024 * 1024,    // 3 M 单文件大小
                gid : part_id
            });

            $('#popup_'+part_id).on('click', function()
            {
                var upload_obj = {};
                first_layer = layer.open
                ({
                    type: 1,
                    area: ['800px', '450px'],
                    fix: false, //不固定
                    title:'上传图片',
                    maxmin: false,
                    content: yue_upload_obj.tpl,
                    success : function($el,index)
                    {
                        var sec_layer = null;
                        var index = index;


                        setTimeout(function()
                        {
                            upload_obj = yue_upload_obj.init_upload($el);

                            upload_obj.on('uploadProgress',function()
                            {

                            })
                                    .on('fileQueued',function(file)
                                    {

                                    })
                                    .on('fileDequeued',function(file)
                                    {

                                    })
                                    .on('uploadSuccess',function(file,response)
                                    {
                                        // response 服务端返回数据
                                        //console.log(response);
                                    })
                                    .on('uploadError',function()
                                    {

                                    })
                                    .on('uploadFinished',function()
                                    {
                                        layer.close(index);
                                    })
                        },500);
                    },
                    cancel : function()
                    {
                        if(!confirm('注意！关闭弹窗会终止上传图片'))
                        {
                            return false;
                        }

                        upload_obj && upload_obj.stop(true);
                    }
                });
            });
        });
    }


</script>



</body>
</html>