<main role="main" class="procedure-succeed secondary">
    <!-- <header class="page-header wryh">
        <div class="page-back fn-hide" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                提交成功
    </header> -->

    <header class="nav-header mine-nav-header">

        <div class="left-button-wrap fn-invisible" data-role="app-back"><i class="icon icon-back-40x40"></i></div>
        <h3 class="title">提交成功</h3>
        <div class="right-button-wrap" ></div>

    </header>


    <div data-role="container" class="content-body">
        <div data-role="procedure_wrap_page">
            <div>

                <div class="wrap-div" data-role="procedure_wrap">
                    <div class="procedure-header-mod">
                        <ul class="step">
                            <li>提交约拍申请</li>
                            <li class="current">模特接受约拍</li>
                            <li>拍摄/完成</li>
                        </ul>
                        <ul class="num">
                            <li class="common">
                                        <i class="num-icon">1</i>
                                        <div class="line-grey"></div>
                                        <div class="line-red"></div>
                                    </li>
                                    <li class="common current">
                                        <i class="num-icon">2</i>
                                        <div class="line-grey"></div>
                                        <div class="line-red"></div>
                                    </li>
                                    <li class="common">
                                        <i class="num-icon">3</i>
                                        <div class="line-grey"></div>
                                        <div class="line-red"></div>
                                    </li>
                        </ul>
                    </div>
                    <div class="icon-yes"><i class="icon icon-success-60x60"></i></div>
                    <div class="notice-one">约拍申请提交成功。</div>
                    <div class="notice-two">请耐心等待模特回应，或私信TA</div>

                    <div class="details-notice">
                        <p class="tips">提示：</p>
                        <p><i class="icon icon-icon-money-c"></i> 支付的款项会在现场签到后才支付给模特。</p>
                        <p><i class="icon icon-icon-zhi-c"></i> 现场发现模特货不对板可拒绝签到，并申请退款。</p>
                    </div>
                </div>    
                        
            </div>
        </div>


        <div class="btn_container_success">
            <div class="left fn-hide">
                <button class="ui-button ui-button-size-middle ui-button-block ui-button-color2 ui-button-size-radius-large auto_width" data-role="to_date_list">
                    <span class="ui-button-content">去约拍列表</span>
                </button>
            </div>
            <div class="right fn-hide">
                <button class="ui-button ui-button-size-middle ui-button-block ui-button-primary ui-button-size-radius-large auto_width" data-role="talk">
                    <span class="ui-button-content">私信Ta</span>
                </button>
            </div>
            <div class="right">
                <button class="ui-button ui-button-size-middle ui-button-block ui-button-primary ui-button-size-radius-large auto_width" data-role="to_message">
                    <span class="ui-button-content">去聊聊</span>
                </button>
            </div>



        </div>


    </div>
</main>