<div class="component-panel-leader" data-role="component-panel-leader">
    <div class="icon-con">
        <div>
            <p>领队</p><p data-role="leader_panel_index">{{leader_panel_count}}</p>
        </div>
        <i class="icon icon-close-20x20 close" data-role="leader-close-panel"></i></div>
    <input class="name-input" type="text" placeholder="联系人昵称" data-role="name-input"/>
    <input class="tel-input" type="text" placeholder="手机号码" data-role="tel-input"/>
</div>