@charset "UTF-8";
// ------------------------------
// POCO约拍app - 首页 最新
// ----------------------

    .hot-find-nav-header{
        z-index:996;
        position: relative;
      .wx-find-title{
        font-size: 18px;
      }
      .icon-fix-exp{
        margin: 12px 8px 10px 10px;
      }
    }
    .content-body{
        //@include backface-visibility(hidden);
    }

.new-index-hot{
    // background-color: #eeeeee;
    //padding-top: 45px;
    .item-wrap{
        padding-bottom: 71px;
        .item{

            // @include txt-resolve-float();
            
            background: #fff;
            margin-top: 10px;
            //border-top: 1px solid #dddddd;
            //border-bottom: 1px solid #dddddd;

            @include image-border-m(top);
            @include image-border-m(bottom);

        }
        .part-a{
            padding: 10px 0px 10px 0px;
            color: #666666;
            //border-bottom: 1px solid #dddddd;
            //@include image-border-m(bottom);
            margin-right: 15px;
            margin-left: 15px;
            position: relative;
            @include clearfix;
            .lbox{
                // @include txt-resolve-float();
                @include float-left;
                font-size: 16px;
            }
            .rbox{
                // @include txt-resolve-float();
                @include float-right;
                color: $main-color;
                .icon-allow-22x12{
                    -webkit-transform:rotate(270deg);
                    vertical-align:2px;

                }
            }
            .more{
                &:before{
                    content:'';
                    height: 100%;
                    width: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                };
            }
        }
        .part-b{
            .list{

                @include clearfix;
                padding: 15px 0 0 0;
                //height: 143px;
                li{
                    @include float-left;
                    width: 33.3%;
                    text-align: center;
                    padding-bottom: 15px;


                    
                    h3{
                        

                        padding-top: 8px;
                        height: 20px;
                        white-space:nowrap;
                        color: #666666;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        // @include txt-resolve-float()

                    }
                    p{
                        // display:none;
                        // @include txt-resolve-float();
                        .num,
                        .txt,
                        .x-css
                        {
                            // @include txt-resolve-float()
                        }
                        
                    }
                    .num{
                        color: $main-color;
                        font-size: 16px;
                    }
                    .sec-num{
                        color: #ff9c00;
                    }
                    .avatar-size-mod-80{
                        margin: 0 auto;


                        .avatar-size-area:before{
                            background: none;
                        }
                        .avatar-size-img{
                            @include border-radius(80px);
                        }
                        

                    }

                    .txt{
                        color: #aaaaaa;
                        font-size: 10px;
                    }

                    .x-css
                    {
                        color: $main-color;
                        font-size: 10px;
                    }

                }
            }
            //新列表样式2015/2/2 by zy
            .new-list{
                margin-right: 15px;
                font-size: 0;
                li{
                    margin: 0 0 15px 15px;
                    @include border-radius(4px);
                    border: 1px solid #ddd;
                    display: inline-block;
                    vertical-align: top;
                    .avatar-size-mod{
                        i{
                            display:block;
                            width: 100%;
                            height: 100%;
                        }
                        div{
                            position: absolute;
                            bottom: 0;
                            height: 30px;
                            line-height: 30px;
                            color: #fff;
                            background:rgba(0,0,0,0.7);
                            width: 100%;
                            span{
                                margin: 0 5px 0 10px;
                            }
                            span.score{
                                font-weight: bolder;
                                font-size: 14px;
                            }
                            span.text{
                                margin-left: 0;
                                font-size: 10px;
                            }
                        }
                    }
                    .avatar-info{
                        padding: 0 10px;
                        height: 35px;
                        line-height: 35px;
                        h3{
                            @include float-left;
                            font-size: 12px;
                            height: 35px;
                            line-height: 35px;
                            width: 65px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        label{
                            @include float-right;
                            @include border-radius(30px);
                            border: 1px solid #bbb;
                            padding: 0 10px;
                            height: 20px;
                            line-height: 20px;
                            color: #666;
                            font-size: 10px;
                            margin-top: 7px;
                        }
                    }
                }
            }
            /* .rank-v2{
                .p1th{
                    .item-wrap{
                            .item{
                                margin: 0 0 15px 15px;
                                .imgbox{
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }

                            }
                    }
                }
            } */
            .show-all{
                height: auto;
            }
     

            .list-2{
                padding: 15px 0 0 0;
                @include clearfix;
                li{
                        @include float-left;
                        width: 33.3%;
                        text-align: center;
                        padding-bottom: 15px;
                }
                .size-img{
                        display: inline-block;
                        width: 78px;
                        height: 78px;
                        text-align: center;
                        border: 1px solid #dddddd;
                    }
            }
                
           
        }
        .btn-option{
            width: 100%;
            background: #fff;
            //border-bottom: 1px solid #dddddd;
            @include image-border-m(bottom);
            height: 30px;
            line-height: 30px;
            text-align: center;
            .icon-r-16x26-cur{
                -webkit-transform:rotate(90deg);
            }
            
            &:active{
                background: #fafafa;
                .icon-r-16x26-cur{
                     @include get-icon('r-16x26', true, block);
                }
            };
        }

        .btn-option-more{
                .icon-r-16x26-cur{
                    -webkit-transform:rotate(270deg);
                }

                &:active{
                    background: #fafafa;
                    .icon-r-16x26-cur{
                         @include get-icon('r-16x26', true, block);
                         -webkit-transform:rotate(270deg);
                    }
            };
        }
    }


    // .avatar-size-area{
    //     display:none
    // }
}