
<!doctype html>
<html lang="zh">
<head>
    <meta charset="gb2312">
    <title></title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body style="background:">



<div id="page-container">
<div class="absolute_notice_con" data-role="absolute_notice_con">
    <div class="absolute_notice">
        <div class="alerm_left">
            <i class="icon icon-laba"></i>
            <p class="text" data-role="text">默认提示</p>
        </div>
        <div class="alerm_right">
            <i class="icon icon-r-16x26-white"></i>
        </div>
    </div>
</div>


</div>

</body>
</html>
