<main role="main">
    <header class="nav-header mine-setting-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>
        <h3 class="title">设定密码</h3>
        <div class="right-button-wrap">
        </div>
    </header>
    <div data-role="container" class="change-password-container">
        <div class="warp-box">

            <div class="set-password">
                <ul class="list clearfix">
                    <li>
                        <input type="password" name=" " id=" " class="input-text"  placeholder="密码" data-role="submit_pw">
                    </li>
                </ul>
                <ul class="list clearfix" style="margin-top: 5px;">
                    <li >
                        <input type="password" name=" " id=" " class="input-text"  placeholder="再输入密码" data-role="submit_pw_sec">
                    </li>
                </ul>
                <div class="btn" data-role="finish-reg">完成</div>
                <div data-role="user-role-container" style="width: 100%;margin-top: 10px;"></div>
                <p class="p1">该密码将用于您的登录，并保护您的账户安全。</p>
            </div>
        </div>
    </div>
</main>