<main role="main" class="event-info-page-main wryh">
    <header class="nav-header event-info-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">活动详情</h3>

        <div class="right-button-wrap">
            <a><i class="icon icon-cog"></i></a>
        </div>
        <div class="right-tap fn-hide" data-role="finish-tap-right" data-tap-tap>完成活动</div>
        <div class="right-tap fn-hide" data-role="cancel-tap-right" data-tap-tap>取消活动</div>
        <div class="right-tap fn-hide" data-role="quit-tap-right" data-tap-tap>删除订单</div>
    </header>
    <div class="event-info-page-container" data-role="info-container">
        <div class="warp">
            <div class="refresh-container"></div>
            <div class="event-info-page" data-role="insert-container">

            </div>
        </div>
    </div>
</main>