

    {{#each arr}}
        <li data-role="nav-to-info" data-role-id="{{id}}">
            <div class="topic-front">
                <i class="image-img" data-lazyload-url="{{cover_image}}"></i>
            </div>
        </li>
    {{/each}}



