<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>我要约拍</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="commit wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-add-06"></i></div>
                提交约拍申请
            </header>
            
            <div>
                <div class="procedure-1">
                    <!-- 头部模块 start  -->
                    <div class="procedure-header-mod">
                        <ul class="step">
                            <li class="current">提交约拍申请</li>
                            <li>模特接受约拍</li>
                            <li>拍摄/完成</li>
                        </ul>
                        <ul class="num">
                            <li class="common  current">        
                                <i class="num-icon">1</i>
                                <div class="line-grey"></div>
                                <div class="line-red"></div>
                            </li>
                            <li class="common ">        
                                <i class="num-icon">2</i>
                                <div class="line-grey"></div>
                                <div class="line-red"></div>
                            </li>
                            <li class="common ">        
                                <i class="num-icon">3</i>
                                <div class="line-grey"></div>
                                <div class="line-red"></div>
                            </li>
                        </ul>                
                    </div>
                    <!-- 头部模块 end  -->

                    <div class="data-area">
                        <div class="item">
                                <div class="lbox">出价：</div>
                                <div class="ui-number-btn  cbox">
                                    
                                    <div class="b" data-role="reduce"><i class="icon icon-reduce"></i></div>
                                    <input type="text"  data-role="input-area"  name=" " id=" " value="500" class="input-text">
                                    <div class="b" data-role="add"><i class="icon icon-add"></i></div>
                                </div>
                                <div class="rbox">/小时</div>
                        </div>
                        <div class="item">
                                <div class="lbox">时长：</div>
                                <div class="ui-number-btn  cbox">
                                    
                                    <div class="b" data-role="reduce"><i class="icon icon-reduce"></i></div>
                                    <input type="text"  data-role="input-area"  name=" " id=" " value="500" class="input-text">
                                    <div class="b" data-role="add"><i class="icon icon-add"></i></div>
                                </div>
                                <div class="rbox">小时</div>
                        </div>
                        <div class="item">
                                <div class="lbox">风格：</div>
                                <div class="style">
                                    <i class="current">日系</i>
                                    <i>内衣</i>
                                    <i>人体</i>
                                </div>
                                
                        </div>

                    <div class="op show">
                        <div class="partB">
                            <i class="icon icon-allow"></i>
                            选填项
                        </div>

                    <div class="content-box bottom-box">                        
                        <div class="item item-two select-row-container">                            
                            <div class="lbox lbox-two ltime">时间：</div>
                            <div class="select-container">         
                                <label>年</label>                       
                                <div class="cvox">
                                    <select name="">
                                        <option value="1">2016</option>
                                        <option value="2">2016</option>
                                    </select>
                                </div>
                            </div>   
                            <div class="select-container">         
                                <label>月</label>                       
                                <div class="cvox">
                                    <select name="">
                                        <option value="1">12</option>
                                        <option value="2">12</option>
                                    </select>
                                </div>
                            </div>      
                            <div class="select-container">         
                                <label>日</label>                       
                                <div class="cvox">
                                    <select name="">
                                        <option value="1">12</option>
                                        <option value="2">12</option>
                                    </select>
                                </div>
                            </div>      
                            <div class="select-container">         
                                <label>时</label>                       
                                <div class="cvox">
                                    <select name="">
                                        <option value="1">12</option>
                                        <option value="2">12</option>
                                    </select>
                                </div>
                            </div>                                   
                                
                        </div>

                        <div class="item">
                                <div class="lbox">类型：</div>
                                <div class="style">
                                    <i class="current">室内人像</i>
                                    <i>平面广告</i>
                                    <i>外拍活动</i>
                                </div>
                                
                        </div>

                        <div class="item item-two">
                                <div class="select-container">
                                    <div class="lbox lbox-two">地点</div>
                                    <div class="cvox">
                                        <select name="">
                                            <option value="1">广州市 天河区</option>
                                            <option value="2">广州市 天河区</option>
                                        </select>
                                    </div>
                                </div>
                                
                        </div>

                        <div class="item item-three">
                                <div class="lbox lbox-two">&nbsp;</div>
                                <div class="cvox">
                                   <input type="text" name=" " id=" " class="input-text-place" placeholder="请填写拍摄地点 ">
                                </div>
                                
                        </div>
                        </div>
                    </div>

                    </div>

                    <!--  -->
                    <footer class="page-footer">
                        <div class="btn" >提交</div>
                    </footer>

                </div>
            </div>


        </main>
    </div>
</div>

</body>
</html>
