<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>约拍流程-接受邀请</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="procedure-finish wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                模特约拍
            </header>
            <div class="content-body">
                <div>
                <div class="procedure-header-mod">
                    <ul class="step">
                        <li>提交约拍申请</li>
                        <li>模特接受约拍</li>
                        <li class="current">拍摄/完成</li>
                    </ul>
                    <ul class="num">
                        <li class="common">
                            <i class="num-icon">1</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                        <li class="common">
                            <i class="num-icon">2</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                        <li class="common current">
                            <i class="num-icon">3</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                    </ul>
                </div>
                    <div class="icon-yes"><i class="icon icon-success-60x60"></i></div>
                    <div class="notice-one">恭喜，模特已接受您的邀请</div>
                    <div class="details-content">
                        <div class="details-content-top">
                            <i class="icon icon-time-48x46 icon-one"></i>
                            <div class="middle">
                                <p>模特：</p><p data-role="finish-date-name">杨诗乐</p>
                                <p>时间：</p><p data-role="finish-date-time">2014-06-01</p>
                            </div>
                            <i class="icon icon-r-16x26-cur icon-two"></i>
                        </div>
                        <div class="details-content-bot">
                            <p>密码：</p>
                            <p class="pw" data-role="finish-date-pw">1357 9246 8526</p>
                            <img class="ewm" data-role="finish-date-ewm" src="../../assets/images/pai/test/test.jpg"/>
                        </div>
                    </div>


                <div class="details-notice">
                    <p>温馨提示：</p>
                    <p>1.拍摄时，出示此二维码或密码，给模特扫描，即可开拍</p>
                    <p>2.拍摄完成后，记得对模特评价哦。</p>
                </div>

            </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
