<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>约拍流程-约拍详情</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="procedure-finish-info wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                约拍详情
            </header>
            <div class="content-body">
                <div>
                    <div class="info-first">
                        <div class="info-line">
                            <p>总价：</p><p data-role="price">￥500</p>
                            <p>时长：</p><p data-role="time">2小时</p>
                            <p>风格：</p><p data-role="style">内衣</p>
                            <p>摄影师：</p><p data-role="acter">形色无痕<i class="icon icon-r-16x26"></i></p>

                        </div>
                    </div>
                    <div class="info-second">
                        <div class="info-line">
                            <p>时间：</p><p data-role="date-time">2014-06-01 09:00</p>
                            <p>类型：</p><p data-role="date-style">室内人像</p>
                            <p>地点：</p><p data-role="date-address">广州市天河区 富力盈丰酒店</p>
                            <p data-role="more-info-head">备注：</p><p data-role="more-info">这里是备注，留给用户填写时才会出现在这里。</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
