@charset "utf-8";
.input-information{
  .red{
    color:red;
  }

  

  //个人简介
.textarea-con{
  position: relative;
  margin-top:15px;

  .ui-textarea-info{
    height:165px;
    width: 100%;
    //border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px 15px 30px 15px;
    background: #fff;
    font-size: 14px;
    box-sizing: border-box;
  }
  .num-word{
    background-color: #fff;
    position: absolute;
    right: 15px;
    top: 135px;
    font-size: 15px;
    color: #aaa;
  }
}


}