{{#each search_list}}
    <li data-user-id="{{user_id}}" data-role="to-model">
        <div class="avatar-size-mod avatar-size-mod-80">
            <span class="icon avatar-size-area "></span>
            <i class="img image-img avatar-size-img" data-lazyload="{{user_icon}}"></i>
        </div>
        <h3 class="name">{{nickname}}</h3>
    </li>
{{/each}}
