<main role="main" class="secondary">
    <header class="nav-header search-header">
        <div class="left-button-wrap">
            <a data-role="page-back"><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">搜索结果</h3>

        <div class="right-button-wrap">
            <a><i class="icon icon-cog"></i></a>
        </div>
    </header>

    <div style="height:100%" data-role="container">


        <div class="search-result" data-role="search-result">

            <div class="name-show" data-id="{{id}}">当前搜索：{{tag}}</div>

            <ul class="list clearfix" data-role="search-result-list">

            </ul>

            <div class="btn" data-role="load-more">上拉加载更多</div>

        </div>

    </div>
</main>