<main class="edit-condition-page" role="main">
    <header class="nav-header edit-condition-nav-header">
        <div class="left-button-wrap">
            <a data-role="web-page-back"><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">编辑约拍条件</h3>

        <div class="right-button-wrap">
        </div>
    </header>

    <div class="edit-condition-container" data-role="container">
        <article>
            <div class="content">
                <!--<section>
                    <h3>风格：</h3>
                    <div data-role="style"></div>
                </section>

                <section>
                    <h3>价格：</h3>
                    <div class="price-out" data-role="price-out">
                    </div>
                </section>-->


                <div class="model-price price-style" data-role="model_price">
                    <div class="content">

                        <section class="price-style-list">
                            <div class="ui-input-title-mod ui-input-title-size-large item title">
                                <div class="left">价格及风格</div>
                                <div class="middle"></div>
                                <div class="right">必选、最多3个</div>
                            </div>
                            <div data-role="price-style-list-main">

                            </div>
                        </section>


                        <section class="price-style-list price-style-list-other">
                            <div class="ui-input-title-mod ui-input-title-size-large item title" data-role="add-other-style">
                                <div class="left">其他价格及风格</div>
                                <div class="middle"></div>
                                <div class="right pt5"><i class="icon icon-circle-add"></i></div>
                            </div>


                            <div data-role="price-style-list-other">

                            </div>


                        </section>
                    </div>
                </div>

                <div class="model-price">
                    <div class="content">
                        <section class="money">
                            <h3>信用等级要求：</h3>
                            <h4>摄影师约拍你的认证要求</h4>
                            <div data-role="money"></div>
                            <div data-role="remark" class="remark">{{level_require_text}}</div>
                        </section>
                    </div>
                </div>

                <section>
                    <h3>每次拍摄人数不得超过：</h3>
                    <div class="max-person" data-role="max-person"></div>
                </section>
            <div>
            <div class="complete-out"><a class="complete" data-role="complete">完成</a></div>
        </article>

    </div>
</main>