<!-- 修改密码  -->
<iframe id="form_iframe" name="form_iframe" style="display:none;"></iframe>

<form action="../action/general_reset_op.php" method="post" name="change_pw_form" id="change_pw_form" target="form_iframe">
    <div class="change-password-page">
        <div class="err-tips fn-hide" err_tips id="error_tips"><i class="icon-error"></i> <span err_tips_txt  id="err_tips_txt"> </span></div>
        <div class="item-wrap">

            <div class="item mb20">
                <input phone_number type="tel" name="phone" id="phone" class="ui-input ui-input-block ui-input-primary ui-input-size-middle f14 " placeholder="请输入注册手机号码">
            </div>

            

            <div class="item mt20 mb20 clearfix">
                <div  class="fl lbox"><input yzm_number type="tel" name="active_word" id="active_word" class="ui-input ui-input-block ui-input-primary ui-input-size-middle f14 yzm " placeholder="验证码"></div>
                <div class="fr rbox">
                    <div class="btn-tel" msg_num_geetest>获取短信验证码</div>
                </div>
            
            </div>

            <!--校验-->
            <div id="div_geetest_lib" style="margin-bottom:10px;"><div class="box" style="margin:0 auto;width:320px;text-align:center;" id="div_id_embed"></div></div>
            <!--校验-->

            <div class="item">
                <input  pass_word  type="password" name="password" id="password" class="ui-input ui-input-block ui-input-primary ui-input-size-middle f14 " placeholder="请输入新的密码(密码不能少于6位)">
            </div>
        </div>


        <div class="btn mt20">
            <a href="javascript:void(0)"  class="tdn">
                <div btn_submit class="ui-button ui-button-primary ui-button-block ui-button-100per  ui-button-size-s-large">
                    <span class="ui-button-content"><em id="submit_btn">立即修改</em></span>
                </div>
            </a>
        </div>

        <input type="hidden" value="" name="r_url"></input>  <!--  来源地址配置 -->
        <input type="hidden" value="form" name="action_mode"></input> 
        


    </div>

</form>