
{{#each data}}
    <div class="item">
        <div class="item-area">
            <a href="{{link_1}}">
                <div class="img-box">
                    <i style="background-image:url({{img_1}})"></i>
                </div>
            </a> 
            <div class="txt-area">
                <p class="price">{{txt_2}}</p>
                <p class="des">{{txt_3}}</p>
            </div>
        </div>
    </div>
{{/each}}