{{#if options}}
    {{#each options}}
        <section class="select-container" data-role="scroll_warpper">
            <ul >
                {{#each this}}
                    <li data-id="{{this.id}}" data-value="{{this.value}}" {{#if this.selected}}selected="{{this.selected}}"{{/if}}>{{this.text}}</li>
                {{/each}}
            </ul>
        </section>
    {{/each}}

{{/if}}