<div class="ui-dialog fn-hide" >
    <div class="ui-mask"></div>
    <div class="ui-dialog-container-out">
        <div class="ui-dialog-container" >
            <div class="ui-dialog-content ui-select" data-role="content" >
                <div data-role="select-wrapper" class="select-wrapper" style="overflow:hidden;">

                </div>
                <div data-role="selected-area" class="selected-area" style="height: 1px;background: #cccccc;border: none;"></div>
                <div data-role="selected-area" class="selected-area" style="height: 1px;background: #ccc;margin-top: 18px;border: none;"></div>
            </div>
            <footer class="ui-dialog-footer">
                <button class="ui-dialog-button" data-role="confirm">确认</button>
                <button class="ui-dialog-button" data-role="cancel">取消</button>
            </footer>
        </div>
    </div>


</div>