<ul class="ui-list ui-list-text ui-border-b" >
    {{#each data}}
    <li class="ui-border-t">
        <div class="ui-list-info">
            <h4 class="ui-nowrap">{{subject}}</h4>
            <h5 class="ui-nowrap">{{add_date}}</h5>

        </div>
        <div class="ui-badge">{{amount}}</div>
    </li>
    {{/ each}}
</ul>