.show-money-detail-page .item-wrap .item {
  padding: 15px 0px 15px 15px;
  margin-top: 15px;
  background: #ffffff; }
.show-money-detail-page .item-wrap .item-1 .img-con {
  width: 50px;
  height: 50px;
  margin-right: 15px; }
  .show-money-detail-page .item-wrap .item-1 .img-con i.img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    background-size: cover; }
.show-money-detail-page .item-wrap .item-1 .txt-con .cust-name {
  font-size: 16px;
  font-weight: 500; }
.show-money-detail-page .item-wrap .item-1 .txt-con .cust-ip {
  color: #aaaaaa;
  margin-top: 5px; }
.show-money-detail-page .item-wrap .item-2 .txt-con .tip-title {
  font-size: 14px;
  color: #333; }
.show-money-detail-page .item-wrap .item-2 .txt-con .money-txt {
  font-size: 14px;
  color: #ff6a6e; }
.show-money-detail-page .item-wrap .item-2 .txt-con .time-txt {
  font-size: 14px;
  color: #333333; }
.show-money-detail-page .item-wrap .item-3 .txt-con {
  font-size: 14px;
  padding-right: 10px;
  display: -webkit-box;
  display: box; }
  .show-money-detail-page .item-wrap .item-3 .txt-con .tip-title {
    color: #333333; }
  .show-money-detail-page .item-wrap .item-3 .txt-con .money-txt {
    color: #aaaaaa;
    display: -webkit-box;
    display: box;
    -webkit-box-flex: 1;
    box-flex: 1;
    word-break: break-all; }
.show-money-detail-page .item-wrap .item-4 {
  margin-top: 15px;
  padding: 0px 15px; }
  .show-money-detail-page .item-wrap .item-4 p.tips {
    padding: 15px 0px;
    text-align: center;
    font-size: 14px;
    color: #aaaaaa; }
  .show-money-detail-page .item-wrap .item-4 .is-comment {
    background: #aaaaaa; }
