<header class="nav-header yueyue-header" id="nav-header">
    <div class="left-btn" data-role="left-btn">{{left_text}}</div>
    <div class="title">{{title}}</div>
    <div class="right-btn" data-role="right-btn">{{right_text}}</div>
</header>