.cor-409 {
  color: #4092f1; }

.cor-fe9 {
  color: #fe9920; }

.cor-000 {
  color: #000; }

.cor-666 {
  color: #666; }

.cor-999 {
  color: #999; }

.cor-333 {
  color: #333; }

.cor-aaa {
  color: #aaaaaa; }

.cor-17b {
  color: #17b535; }

.cor-faa {
  color: #faa34e; }

.cor-409 {
  color: #4092f1; }

.cor-f14 {
  color: #f14040; }

.bg-color-f2f {
  background-color: #f2f2f2; }

.bg-color-fff {
  background-color: #fff; }

.bg-color-000 {
  background-color: #000; }
