<div class="upload-pic-list">
    <div class="image-item" data-role="add-pic" style="width:{{max_size}}px;height:{{max_size}}px;">
        <div class="add-btn-out">
            <img style="width:{{max_size}}px;height:{{max_size}}px;" src="images/pai/add.png">
        </div>
    </div>
</div>