<main role="main" class="action-info wryh">

    <header class="page-header wryh">
        <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
        发布活动
    </header>
    <div class="content-body">

        <div class="action-info-content" data-role="action-info-content">
            <div class="wrap-box">
                <div class="procedure-header-mod">
                    <ul class="step">
                        <li class="current">活动信息</li>
                        <li>活动介绍</li>
                        <li>活动流程</li>
                    </ul>
                    <ul class="num">
                        <li class="common current">
                            <i class="num-icon">1</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                        <li class="common">
                            <i class="num-icon">2</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                        <li class="common">
                            <i class="num-icon">3</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                    </ul>
                </div>
                <div class="action-info-inside">
                    <div class="info_new">
                        <div class="block">
                            <div class="line">
                                <div class="notice">标题</div>
                                <div class="data_input">
                                    <div class="side_border"></div>
                                    <div class="inside">
                                        <div class="inside_input">
                                            <input class="input-title" type="text" data-role="title" placeholder="请输入活动标题"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block fn-hide">
                            <div class="line">
                                <div class="notice">开始时间</div>
                                <div class="data_input">
                                    <div class="side_border"></div>
                                    <div class="inside b">
                                        <div class="inside_input" data-role="begin-time">
                                            <div class="details" data-role="begin-time-str">请填写开始时间</div>
                                        </div>
                                        <div class="inside_arrow">
                                            <i class="icon icon-r-16x26"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line">
                                <div class="notice">结束时间</div>
                                <div class="data_input">
                                    <div class="side_border"></div>
                                    <div class="inside">
                                        <div class="inside_input" data-role="end-time">
                                            <div class="details" data-role="end-time-str">请填写结束时间</div>
                                        </div>
                                        <div class="inside_arrow">
                                            <i class="icon icon-r-16x26"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="line">
                                <div class="notice">地址</div>
                                <div class="data_input">
                                    <div class="side_border"></div>
                                    <div class="inside b" data-role="address">
                                        <div class="inside_input">
                                            <div class="details" data-role="address_str">请选择地址</div>
                                        </div>
                                        <div class="inside_arrow">
                                            <i class="icon icon-r-16x26"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line">
                                <div class="notice"></div>
                                <div class="data_input">
                                    <div class="side_border"></div>
                                    <div class="inside">
                                        <input class="input-title" type="text" placeholder="请输入详细地址" data-role="address-input"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="line">
                                <div class="notice">俱乐部</div>
                                <div class="data_input">
                                    <div class="side_border"></div>
                                    <div class="inside" data-role="club">
                                        <div class="inside_input">
                                            <div class="details" data-role="club_str">无</div>
                                        </div>
                                        <div class="inside_arrow">
                                            <i class="icon icon-r-16x26"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="line">
                                <div class="notice">费用</div>
                                <div class="data_input">
                                    <div class="side_border"></div>
                                    <div class="inside b">
                                        <div class="inside_input">
                                            <div class="details">
                                                <input class="input-title org_font"  placeholder="请输入金额" type="tel"  data-role="fee-input"/>
                                            </div>
                                            <div class="org_font">元</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line">
                                <div class="notice"></div>
                                <div class="data_input">
                                    <div class="inside">
                                        <div class="inside_input">
                                            <div class="notice-tap details current">支持：随时退款、过期退款</div>
                                            <div class="details red_font">(推荐)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div class="btn-con">
            <!-- <div class="btn" data-role="next">下一步</div> -->
            <div class="btn" data-role="next">
            <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block">
                <span class="ui-button-content">下一步</span>
            </button>
            </div>

        </div>
    </div>
</main>