<main role="main" class="bill secondary">
    <header class="nav-header withdrawals-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>
        <h3 class="title">账单</h3>
        <div class="right-button-wrap"></div>
        <div class="tap" data-role="bill-withdrawals">提现</div>
    </header>

    <div class="content-body">
        <div class="measure-choosen">
            <ul class="measure-choosen-in">
                <i class="measure-choosen-child cur" data-tap data-role="trade">交易</i>
                <i class="measure-choosen-child" data-tap data-role="recharge">充值</i>
                <i class="measure-choosen-child" data-tap data-role="withdraw">提现</i>
                <i class="measure-choosen-child" data-tap data-role="repay">退款</i>
            </ul>
        </div>
        <div class="bill-container native_scroll" data-role="container" style="-webkit-box-flex: 1;box-flex: 1;" >
            <div class="bill-bill" data-role="bill-bill">

            </div>
        </div>
    </div>
</main>