

.login-page{
    width: 280px;
    margin: 0 auto;

    .checkbox-box{
        padding: 20px 0;
    }

    .ui-input{
        width: 250px;
    }

    .ui-button {
        text-align: center;
        line-height: 50px;
    }

    .btn{

    }
}