{{#if items.edit}}<a data-role="navigate"  data-target="edit" data-uid={{uid}}>编辑个人资料</a>{{/if}}
{{#if items.report}}<a data-role="navigate"  data-target="report">举报</a>{{/if}}
{{#if items.share}}<a data-role="navigate"  data-target="share_act">分享</a>{{/if}}
<!--<a data-role="navigate" data-target="setting">设置</a>-->
<!--<a data-role="navigate" data-target="about">关于</a>-->