@charset "UTF-8";
.txt-long-cut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.icon-allow-grey {
  background: url(http://static.yueus.com/mall/user/test/static/wap/image/arrow-icon-12x20.png) no-repeat;
  width: 6px;
  height: 10px;
  background-size: 6px 10px;
  display: inline-block; }

.icon-allow-grey-bottom {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.icon-allow-grey-left {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.icon-allow-grey-top {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg); }

.ui-avatar-icon {
  overflow: hidden; }
  .ui-avatar-icon i, .ui-avatar-icon span {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    border-radius: 50%; }

.ui-avatar-icon-s {
  width: 32px;
  height: 32px; }

.ui-avatar-icon-m {
  width: 50px;
  height: 50px; }

.ui-avatar-icon-l {
  width: 80px;
  height: 80px; }

.ui-line-item-mod .item {
  height: 45px;
  padding: 0px 15px;
  border-bottom: 1px solid #d2d2d2;
  background: #fff;
  position: relative;
  display: -webkit-box; }
  .ui-line-item-mod .item .icon {
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 12px;
    margin-right: 10px;
    background-size: 100% 100%;
    background-position: center center; }
  .ui-line-item-mod .item .phone-icon {
    background-image: url(http://static.yueus.com/mall/user/test/static/wap/image/ui/phone-icon-40x40.png); }
  .ui-line-item-mod .item .txt-icon {
    background-image: url(http://static.yueus.com/mall/user/test/static/wap/image/ui/txt-icon-40x40.png); }
  .ui-line-item-mod .item .txt {
    line-height: 45px;
    font-size: 14px; }
  .ui-line-item-mod .item .txt-color-grey {
    color: #333; }
  .ui-line-item-mod .item .icon-allow-grey {
    position: absolute;
    right: 15px;
    top: 17px; }
.ui-line-item-mod .item-arrow-bottom .icon-allow-grey {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

/* 输入框规范 */
.ui-input-info-mod .item {
  height: 45px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px 15px;
  background: #fff;
  box-sizing: border-box; }
  .ui-input-info-mod .item .ui-input-info {
    width: 100%;
    font-size: 14px; }
  .ui-input-info-mod .item .ui-btn {
    width: 80px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #555;
    border-radius: 5px;
    position: absolute;
    right: 8px;
    top: 8px; }
    .ui-input-info-mod .item .ui-btn:active {
      background: #ffa4bb; }
.ui-input-info-mod .border-bottom-left-radius-0 {
  border-bottom-left-radius: 0px; }
.ui-input-info-mod .border-bottom-right-radius-0 {
  border-bottom-right-radius: 0px; }
.ui-input-info-mod .border-top-left-radius-0 {
  border-top-left-radius: 0px; }
.ui-input-info-mod .border-top-right-radius-0 {
  border-top-right-radius: 0px; }
.ui-input-info-mod .border-radius-0 {
  border-radius: 0px; }
.ui-input-info-mod .ui-input-border-bottom {
  border-bottom: none; }

.ui-search-info-mod {
  position: relative; }
  .ui-search-info-mod:after {
    content: " ";
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(http://static.yueus.com/mall/user/test/static/wap/image/ui/ui-search-32x32.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 8px;
    top: 8px; }
  .ui-search-info-mod .item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 15px 5px 30px;
    background: #fff;
    font-size: 14px;
    box-sizing: border-box; }
    .ui-search-info-mod .item .ui-search-info {
      width: 100%; }

.ui-title-info-mod .item {
  height: 45px;
  background: #fff;
  display: -webkit-box;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  background: #fff;
  font-size: 14px; }
  .ui-title-info-mod .item .ui-title-info-con {
    -webkit-box-flex: 1; }
    .ui-title-info-mod .item .ui-title-info-con .ui-title-info {
      width: 100%;
      padding: 15px 0px; }
  .ui-title-info-mod .item .title {
    height: 15px;
    line-height: 15px;
    display: block;
    margin: 15px 15px 15px 0px;
    padding: 0px 15px 0px 30px;
    border-right: 1px solid #ddd; }

.ui-textarea-info-mod {
  padding: 15px;
  background: #fff; }
  .ui-textarea-info-mod .textarea-con .ui-textarea-info {
    height: 75px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background: #fff;
    font-size: 14px;
    box-sizing: border-box; }
  .ui-textarea-info-mod .title {
    font-size: 14px;
    margin-bottom: 10px; }

.ui-input-line-item-mod .item {
  height: 45px;
  position: relative;
  padding: 15px;
  background: #fff;
  box-sizing: border-box; }
  .ui-input-line-item-mod .item .ui-input-info {
    font-size: 14px;
    width: 100%; }
  .ui-input-line-item-mod .item .ui-btn {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 15px;
    top: 15px;
    display: block;
    background-image: url(http://static.yueus.com/mall/user/test/static/wap/image/ui/ui-close-32x32.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    .ui-input-line-item-mod .item .ui-btn:active {
      background-image: url(http://static.yueus.com/mall/user/test/static/wap/image/ui/ui-close-active-32x32.png); }

.ui-user-info-mod .item {
  background: #fff;
  position: relative; }
  .ui-user-info-mod .item .user-info-item {
    padding: 15px;
    display: -webkit-box; }
    .ui-user-info-mod .item .user-info-item .ui-avatar-icon {
      margin-right: 15px; }
    .ui-user-info-mod .item .user-info-item .user-info-con {
      -webkit-box-flex: 1; }
      .ui-user-info-mod .item .user-info-item .user-info-con .title {
        padding-top: 6px;
        font-size: 16px; }
      .ui-user-info-mod .item .user-info-item .user-info-con .txt {
        line-height: 20px;
        color: #999; }
  .ui-user-info-mod .item .icon-allow-grey {
    position: absolute;
    right: 15px;
    top: 35px; }

.ui-edit-user-info-mod .item {
  height: 55px;
  background-color: #fff; }
  .ui-edit-user-info-mod .item .user-info-item {
    padding: 18px 15px;
    font-size: 14px; }
    .ui-edit-user-info-mod .item .user-info-item .rbox .tips-value {
      color: #aaa;
      margin-right: 8px; }
.ui-edit-user-info-mod .item-border-bottom-1 {
  border-bottom: 1px solid #eee; }

.ui-switch-bar {
  width: 52px;
  height: 32px; }
  .ui-switch-bar input {
    width: 52px;
    height: 32px;
    position: absolute;
    z-index: 10;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    outline: 0; }
    .ui-switch-bar input:before {
      content: '';
      width: 50px;
      height: 30px;
      border: 1px solid #dfdfdf;
      background-color: #fdfdfd;
      border-radius: 20px;
      cursor: pointer;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      -webkit-user-select: none;
      user-select: none;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      border-color: #dfdfdf;
      -webkit-box-shadow: #dfdfdf 0 0 0 0 inset;
      box-shadow: #dfdfdf 0 0 0 0 inset;
      -webkit-transition: border .4s, -webkit-box-shadow .4s;
      transition: border .4s, box-shadow .4s;
      -webkit-background-clip: content-box;
      background-clip: content-box; }
    .ui-switch-bar input:checked:before {
      border-color: #555555;
      -webkit-box-shadow: #555555 0 0 0 16px inset;
      box-shadow: #555555 0 0 0 16px inset;
      background-color: #555555;
      transition: border .4s, box-shadow .4s, background-color 1.2s;
      -webkit-transition: border .4s, -webkit-box-shadow .4s, background-color 1.2s;
      background-color: #555555; }
    .ui-switch-bar input:after {
      content: '';
      width: 30px;
      height: 30px;
      position: absolute;
      top: 1px;
      left: 0;
      border-radius: 100%;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      -webkit-transition: left .2s;
      transition: left .2s; }
    .ui-switch-bar input:checked:after {
      left: 21px; }

.ui-form-item-switch .item {
  background: #fff;
  height: 55px;
  line-height: 55px;
  position: relative; }
  .ui-form-item-switch .item span {
    padding-left: 15px;
    font-size: 14px;
    color: #333; }
  .ui-form-item-switch .item .ui-switch-bar {
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 7; }

.button-wrap .ui-button-submit {
  height: 49px;
  line-height: 49px; }

.ui-start-mod .icon-s-mod {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  margin-right: 3px; }
.ui-start-mod .icon-start-yellow {
  background-image: url(http://static.yueus.com/mall/user/test/static/wap/image/pai/star-active.png); }
.ui-start-mod .icon-start-grey {
  background-image: url(http://static.yueus.com/mall/user/test/static/wap/image/pai/star.png); }

.stars-all-mod {
  position: relative;
  width: 102px; }
  .stars-all-mod .ui-stars-grey {
    background: url(http://static.yueus.com/mall/user/test/static/wap/image/stars-grey-200x32.png) no-repeat;
    width: 100px;
    height: 16px;
    background-size: 100px 16px; }
  .stars-all-mod .ui-stars-yellow {
    background: url(http://static.yueus.com/mall/user/test/static/wap/image/stars-yellow-200x32.png) no-repeat;
    height: 16px;
    background-size: 100px 16px;
    position: absolute;
    left: 0px;
    top: 0px; }

.icon-v1-level {
  display: inline-block;
  background: url(http://static.yueus.com/mall/user/test/static/wap/image/v1-level.png) no-repeat;
  width: 62px;
  height: 16px;
  background-size: 62px 16px; }

.native-scroll {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  overflow-scrolling: touch !important; }

/*列表头部角标*/
.ui-list-item-tips {
  display: block;
  position: absolute;
  left: -8px;
  top: 0px;
  width: 30px;
  height: 15px;
  background-color: #ff6a6e;
  color: #fff;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  padding: 2px;
  z-index: 99; }
  .ui-list-item-tips .ui-list-item-tips-triangle {
    width: 0;
    height: 0;
    border-top: 8px solid #e25357;
    border-left: 8px solid transparent;
    position: relative;
    top: 10px;
    left: -13px; }

/*列表icon遮罩*/
.ui-list-item-fade {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
  box-pack: center;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center; }
  .ui-list-item-fade .icon-list-item-fade {
    width: 56px;
    height: 38px;
    display: block;
    background-size: 100% 100%;
    background-position: center center;
    background-image: url("http://static.yueus.com/mall/user/test/static/wap/image/pai/finish-112x76.png"); }
