@charset "UTF-8";
.mod-directory {
  padding: 25px 0;
  line-height: 20px;
  font-size: 14px;
  color: #333; }
  .mod-directory a {
    color: #333; }
  .mod-directory .current {
    color: #999; }

.mod-star-item {
  text-justify: inter-ideograph;
  font-size: 0;
  height: 16px; }
  .mod-star-item i.icon {
    display: inline-block;
    font-size: 12px;
    width: 16px;
    height: 16px;
    margin: 0 3px;
    background-repeat: no-repeat; }
    .mod-star-item i.icon.had-star {
      background-image: url(http://static.yueus.com/pcpredev/static/images/icon-start-yellow-16x16.png); }
    .mod-star-item i.icon.none-star {
      background-image: url(http://static.yueus.com/pcpredev/static/images/icon-start-gray-16x16.png); }

.mod-appraise-item .list {
  padding-bottom: 30px; }
.mod-appraise-item .item {
  padding-top: 30px; }
  .mod-appraise-item .item .user-img {
    width: 64px;
    float: left;
    text-align: center;
    color: #999; }
    .mod-appraise-item .item .user-img .img {
      width: 64px;
      height: 64px;
      overflow: hidden;
      border-radius: 64px;
      background: #eee;
      display: table; }
      .mod-appraise-item .item .user-img .img a {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
      .mod-appraise-item .item .user-img .img img {
        max-width: 64px;
        max-height: 64px;
        border-radius: 64px;
        vertical-align: middle; }
    .mod-appraise-item .item .user-img .id-num {
      padding-top: 4px; }
  .mod-appraise-item .item .item-main {
    float: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee; }
    .mod-appraise-item .item .item-main .mod-star-item {
      height: 26px; }
    .mod-appraise-item .item .item-main .text-item {
      font-size: 14px;
      color: #000;
      padding-bottom: 8px;
      word-wrap: break-word;
      word-break: normal; }
    .mod-appraise-item .item .item-main .info-item {
      color: #999; }
      .mod-appraise-item .item .item-main .info-item .name {
        margin-right: 9px; }
.mod-appraise-item .page {
  text-align: center;
  font-size: 16px; }
  .mod-appraise-item .page a {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding: 0 13px;
    color: #333;
    border: 1px solid #e0e0e0;
    border-radius: 34px; }
    .mod-appraise-item .page a.click, .mod-appraise-item .page a:hover {
      color: #fff;
      font-weight: normal;
      background: #333;
      border: 1px solid #333;
      text-decoration: none; }

.service-detail-page {
  color: #333;
  padding-bottom: 120px; }
  .service-detail-page em {
    font-style: normal; }
  .service-detail-page .intro-item {
    padding-bottom: 30px; }
    .service-detail-page .intro-item .scroll-imgList {
      float: left;
      width: 544px; }
      .service-detail-page .intro-item .scroll-imgList .scrollBox {
        width: 544px;
        position: relative; }
        .service-detail-page .intro-item .scroll-imgList .scrollBox .img_list li {
          float: left;
          display: inline;
          width: 544px;
          height: 468px;
          overflow: hidden; }
        .service-detail-page .intro-item .scroll-imgList .scrollBox .page-wrap {
          position: absolute;
          bottom: 21px;
          left: 0;
          width: 100%; }
        .service-detail-page .intro-item .scroll-imgList .scrollBox .pre, .service-detail-page .intro-item .scroll-imgList .scrollBox .next {
          display: none; }
        .service-detail-page .intro-item .scroll-imgList .scrollBox .page-box {
          text-align: center;
          text-justify: inter-ideograph;
          font-size: 0; }
          .service-detail-page .intro-item .scroll-imgList .scrollBox .page-box a {
            display: inline-block;
            border: 1px solid #ceb9b6;
            width: 22px;
            height: 4px;
            overflow: hidden;
            margin: 0 4px;
            border-radius: 4px;
            text-indent: -9999px; }
            .service-detail-page .intro-item .scroll-imgList .scrollBox .page-box a.selected {
              background-color: #ff6a6e;
              border: 1px solid #ff6a6e; }
    .service-detail-page .intro-item .item-info {
      float: left;
      padding-left: 30px;
      width: 426px; }
      .service-detail-page .intro-item .item-info dl.title-item {
        padding-bottom: 8px; }
        .service-detail-page .intro-item .item-info dl.title-item dt.title {
          font-size: 24px;
          padding-bottom: 5px; }
        .service-detail-page .intro-item .item-info dl.title-item dd.ad-mes {
          color: #aaa;
          font-size: 14px;
          padding-bottom: 5px; }
          .service-detail-page .intro-item .item-info dl.title-item dd.ad-mes span.title {
            float: left; }
          .service-detail-page .intro-item .item-info dl.title-item dd.ad-mes .assess-item {
            float: left;
            padding-right: 27px; }
            .service-detail-page .intro-item .item-info dl.title-item dd.ad-mes .assess-item .mod-star-item {
              float: left; }
      .service-detail-page .intro-item .item-info .price-item {
        font-size: 24px;
        padding-bottom: 33px; }
        .service-detail-page .intro-item .item-info .price-item .now-price {
          color: #fe9920; }
          .service-detail-page .intro-item .item-info .price-item .now-price em {
            font-size: 36px; }
        .service-detail-page .intro-item .item-info .price-item .original-price {
          color: #aaa;
          padding-left: 30px;
          text-decoration: line-through; }
      .service-detail-page .intro-item .item-info .choose-item {
        height: 246px; }
        .service-detail-page .intro-item .item-info .choose-item h3.title {
          font-size: 16px;
          font-weight: normal;
          padding-left: 5px;
          border-bottom: 1px solid #eee;
          padding-bottom: 11px; }
        .service-detail-page .intro-item .item-info .choose-item .item {
          padding-top: 19px; }
          .service-detail-page .intro-item .item-info .choose-item .item h4.title {
            color: #aaa;
            font-weight: normal;
            padding-left: 5px;
            padding-bottom: 13px; }
          .service-detail-page .intro-item .item-info .choose-item .item .list {
            text-justify: inter-ideograph;
            font-size: 0;
            width: 426px;
            overflow: hidden; }
            .service-detail-page .intro-item .item-info .choose-item .item .list ul {
              width: 444px; }
            .service-detail-page .intro-item .item-info .choose-item .item .list li {
              font-size: 18px;
              display: inline-block;
              padding: 0 18px 12px 0; }
              .service-detail-page .intro-item .item-info .choose-item .item .list li a {
                display: block;
                padding: 0 28px;
                height: 48px;
                line-height: 48px;
                border: 1px solid #ccc;
                color: #333;
                border-radius: 10px; }
                .service-detail-page .intro-item .item-info .choose-item .item .list li a:hover {
                  text-decoration: none; }
              .service-detail-page .intro-item .item-info .choose-item .item .list li.cur a {
                color: #ff6a6e;
                border: 1px solid #ff6a6e; }
      .service-detail-page .intro-item .item-info .btn-item {
        position: relative; }
        .service-detail-page .intro-item .item-info .btn-item .ui-btn-gray {
          display: block;
          background: #2c2c2c;
          width: 100%;
          color: #fff;
          height: 60px;
          line-height: 60px;
          font-size: 24px;
          text-align: center; }
          .service-detail-page .intro-item .item-info .btn-item .ui-btn-gray:hover {
            background: #aaa;
            text-decoration: none; }
        .service-detail-page .intro-item .item-info .btn-item .pop-code-item {
          display: none;
          position: absolute;
          top: -273px;
          left: 90px;
          font-size: 14px;
          color: #333; }
          .service-detail-page .intro-item .item-info .btn-item .pop-code-item.pop-open {
            display: block; }
          .service-detail-page .intro-item .item-info .btn-item .pop-code-item .pop-con {
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            width: 200px;
            padding: 18px 21px 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
            .service-detail-page .intro-item .item-info .btn-item .pop-code-item .pop-con .code-img {
              width: 200px;
              height: 200px;
              overflow: hidden;
              text-align: center;
              padding-bottom: 6px; }
              .service-detail-page .intro-item .item-info .btn-item .pop-code-item .pop-con .code-img img {
                max-width: 200px;
                max-height: 200px; }
          .service-detail-page .intro-item .item-info .btn-item .pop-code-item .ui-triangle-bottom-max-black {
            border-width: 9px 9px 0px 9px;
            top: 262px;
            left: 114px;
            border-color: #ddd transparent transparent  transparent;
            /* ÑÕÉ« */
            _border-color: #ddd  #fff #fff  #fff; }
          .service-detail-page .intro-item .item-info .btn-item .pop-code-item .ui-triangle-bottom-max-white {
            border-width: 9px 9px 0px 9px;
            top: -11px;
            left: -9px; }
  .service-detail-page .personal-info-item {
    background: #fbfbfb;
    border: 1px solid #eee;
    margin-bottom: 30px; }
    .service-detail-page .personal-info-item .personal-item {
      width: 338px;
      text-align: center;
      height: 290px;
      border-right: 1px solid #eee;
      float: left;
      padding-top: 34px;
      font-size: 20px; }
      .service-detail-page .personal-info-item .personal-item .img-item {
        width: 130px;
        height: 130px;
        border-radius: 130px;
        background: #eee;
        overflow: hidden;
        display: table;
        margin: 0 auto; }
        .service-detail-page .personal-info-item .personal-item .img-item span {
          display: table-cell;
          vertical-align: middle;
          text-align: center; }
        .service-detail-page .personal-info-item .personal-item .img-item img {
          max-width: 130px;
          max-height: 130px;
          border-radius: 130px;
          vertical-align: middle; }
      .service-detail-page .personal-info-item .personal-item .info {
        padding-top: 16px; }
        .service-detail-page .personal-info-item .personal-item .info dt {
          padding-bottom: 5px; }
      .service-detail-page .personal-info-item .personal-item .link-item {
        padding-top: 10px; }
        .service-detail-page .personal-info-item .personal-item .link-item a {
          color: #ff6a6e; }
    .service-detail-page .personal-info-item .info-item {
      float: left;
      width: 659px; }
      .service-detail-page .personal-info-item .info-item .item .item-info {
        padding-bottom: 28px; }
        .service-detail-page .personal-info-item .info-item .item .item-info h4.title {
          font-size: 20px;
          font-weight: normal;
          padding-bottom: 9px; }
        .service-detail-page .personal-info-item .info-item .item .item-info p {
          color: #666;
          font-size: 16px; }
      .service-detail-page .personal-info-item .info-item .item.item-model {
        padding: 36px 0 0 106px; }
        .service-detail-page .personal-info-item .info-item .item.item-model .model-mes-list {
          padding: 19px 0 10px; }
          .service-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li {
            float: left;
            width: 61px;
            text-align: center;
            padding-right: 62px; }
            .service-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li i.icon {
              display: block;
              width: 61px;
              height: 61px;
              margin: 0 auto 10px;
              background-repeat: no-repeat; }
              .service-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li i.icon.icon-cm {
                background-image: url(http://static.yueus.com/pcpredev/static/images/model-icon-cm-61x61.png); }
              .service-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li i.icon.icon-kg {
                background-image: url(http://static.yueus.com/pcpredev/static/images/model-icon-kg-61x61.png); }
              .service-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li i.icon.icon-size {
                background-image: url(http://static.yueus.com/pcpredev/static/images/model-icon-size-61x61.png); }
              .service-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li i.icon.icon-figure {
                background-image: url(http://static.yueus.com/pcpredev/static/images/model-icon-figure-61x61.png); }
            .service-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li.li-size {
              padding-right: 42px; }
            .service-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li.li-figure {
              width: 100px; }
      .service-detail-page .personal-info-item .info-item .item.item-photograph {
        padding-top: 83px;
        text-align: center; }
      .service-detail-page .personal-info-item .info-item .item.item-assess {
        padding-top: 83px;
        text-align: center; }
        .service-detail-page .personal-info-item .info-item .item.item-assess .deal-times {
          padding-top: 40px; }
          .service-detail-page .personal-info-item .info-item .item.item-assess .deal-times .times {
            display: inline-block;
            color: #ff6a6e;
            font-size: 18px;
            border: 1px solid #ff6a6e;
            padding: 0 30px;
            height: 48px;
            line-height: 48px;
            border-radius: 30px; }
  .service-detail-page .service-item {
    background: #fbfbfb;
    border: 1px solid #eee;
    padding: 12px 0 21px;
    margin-bottom: 70px;
    position: relative; }
    .service-detail-page .service-item h3.title {
      font-size: 20px;
      font-weight: normal;
      padding: 0 0 6px 21px;
      background: url(http://static.yueus.com/pcpredev/static/images/bg-line-51x1.png) 21px bottom no-repeat; }
    .service-detail-page .service-item .list {
      padding-top: 14px;
      font-size: 16px;
      color: #939393; }
      .service-detail-page .service-item .list .item {
        float: left;
        padding: 0 21px;
        border-right: 1px dashed #d9d9d9;
        line-height: 33px; }
        .service-detail-page .service-item .list .item.item-last {
          border-right: 0; }
    .service-detail-page .service-item .btm-item {
      position: absolute;
      bottom: -33px;
      left: 0;
      width: 100%;
      text-align: center; }
      .service-detail-page .service-item .btm-item .op-btn {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        padding: 0 18px;
        background: #fbfbfb;
        border: 1px solid #eee;
        border-top: 0;
        cursor: pointer;
        color: #666;
        font-size: 14px; }
        .service-detail-page .service-item .btm-item .op-btn i.icon {
          display: inline-block;
          width: 14px;
          height: 7px;
          overflow: hidden;
          margin-left: 4px;
          vertical-align: middle;
          background-repeat: no-repeat; }
        .service-detail-page .service-item .btm-item .op-btn.more-btn i.icon {
          background-image: url(http://static.yueus.com/pcpredev/static/images/down-icon-14x7.png); }
        .service-detail-page .service-item .btm-item .op-btn.packup-btn i.icon {
          background-image: url(http://static.yueus.com/pcpredev/static/images/top-icon-14x7.png); }
  .service-detail-page .detail-item {
    width: 850px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
    color: #939393;
    padding-bottom: 58px;
    word-wrap: break-word;
    word-break: normal; }
    .service-detail-page .detail-item p.img {
      margin: 30px 0; }
  .service-detail-page .appraise-item {
    padding-left: 22px; }
    .service-detail-page .appraise-item h3.title {
      font-size: 20px;
      font-weight: normal;
      padding: 0 0 6px 0;
      background: url(http://static.yueus.com/pcpredev/static/images/bg-line-51x1.png) left bottom no-repeat; }
    .service-detail-page .appraise-item .mod-appraise-item .item .item-main {
      width: 904px;
      margin-left: 10px; }

/*# sourceMappingURL=service-detail-page.css.map */