<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO摄影 - 按钮</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
<style type="text/css">
body{
    background-color: #666666
}
</style>
</head>


<body>

<!-- 按钮 -->
<div class="switch-container">
    <span class="ui-switch ui-switch-on">  <!-- ui-switch-on 开关 -->
        <input checked="checked" class="ui-switch-checkbox" type="checkbox">
        <span class="ui-switch-wrapper">
            <span class="ui-switch-background"></span>
        </span>
        <span class="ui-switch-container">
            <span class="ui-switch-handle"></span>
        </span>
    </span>
</div>


<br><br>



<!-- 进度条 -->
<div class="switch-container">
    <span class="ui-loading"><i class="t1"></i><i class="t2"></i><i class="t3"></i></span>
    
    <span class="ui-switch ui-switch-on fn-hide">
        <input checked="checked" class="ui-switch-checkbox" type="checkbox">
        <span class="ui-switch-wrapper">
            <span class="ui-switch-background"></span>
        </span>
        <span class="ui-switch-container">
            <span class="ui-switch-handle"></span>
        </span>
    </span>
</div>





</body>
</html>
