@charset "UTF-8";

// -------------------------------------------------
// 颜色配置
// -------------------------------------------------

$color-3fa: #3fa900; //绿色

$color-666: #666666;//深灰色
$color-333: #333333;//灰色
$color-999: #999999; //浅灰色99
$color-e6e: #e6e6e6; //浅灰色e6e
$color-efe: #efefef; //浅灰色
$color-faf: #fafafa; //最浅灰

$color-f48: #f48c12; //黄色
$color-fee: #feebbd; //浅中黄色
$color-fdf: #fdfcef; //浅黄色

$color-fff: #fff; //白色
$color-000: #000; //黑色

$color-db0: #db0432; //红色