<div >
    <div class="more-select-drop-cover fn-hide" data-role="more-select-drop-cover"></div>
    <div class="more-select-drop fn-hide" data-role="more-select-drop">
        <div class="delta"></div>
            <p class="more-select-choosen" data-role="sys"><i class="icon icon-btn-icon-cs more-select-sys"></i><span class="notice">扫一扫</span></p>
            <!--p class="more-select-choosen {{#if is_model}}{{else}}fn-hide{{/if}}" data-role="module-card"><i class="icon icon-set-50x50 more-select-module-card"></i>建立模特卡</p-->
            <!--p class="more-select-choosen" data-role="go-act"><i class="icon icon-pub-50x50 more-select-go-act"></i>发活动</p-->
            <p class="more-select-choosen" data-role="go-search"><i class="icon search-top-m-w more-select-go-act"></i><span class="notice">搜索</span></p>
    </div>
</div>