@charset "UTF-8";
.mod-directory {
  padding: 25px 0;
  line-height: 20px;
  font-size: 14px;
  color: #333; }
  .mod-directory a {
    color: #333; }
  .mod-directory .current {
    color: #999; }

.mod-star-item {
  text-justify: inter-ideograph;
  font-size: 0;
  height: 16px; }
  .mod-star-item .icon {
    display: inline-block;
    font-size: 12px;
    width: 16px;
    height: 16px;
    margin: 0 3px;
    background-repeat: no-repeat; }
    .mod-star-item .icon.none-star {
      background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/icon-start-gray-16x16.png); }
    .mod-star-item .icon .yellow {
      height: 16px;
      background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/icon-start-yellow-16x16.png);
      background-repeat: no-repeat; }
    .mod-star-item .icon .full {
      width: 16px; }
    .mod-star-item .icon .half {
      width: 8px; }
    .mod-star-item .icon .none {
      width: 0px; }

.mod-appraise-item .list {
  padding-bottom: 30px; }
.mod-appraise-item .item {
  padding-top: 30px; }
  .mod-appraise-item .item .user-img {
    width: 64px;
    float: left;
    text-align: center;
    color: #999; }
    .mod-appraise-item .item .user-img .img {
      width: 64px;
      height: 64px;
      overflow: hidden;
      border-radius: 64px;
      background: #eee;
      display: table; }
      .mod-appraise-item .item .user-img .img a {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
      .mod-appraise-item .item .user-img .img img {
        max-width: 64px;
        max-height: 64px;
        border-radius: 64px;
        vertical-align: middle; }
    .mod-appraise-item .item .user-img .id-num {
      padding-top: 4px; }
  .mod-appraise-item .item .item-main {
    float: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee; }
    .mod-appraise-item .item .item-main .mod-star-item {
      height: 26px; }
    .mod-appraise-item .item .item-main .text-item {
      font-size: 14px;
      color: #000;
      padding-bottom: 8px;
      word-wrap: break-word;
      word-break: normal; }
    .mod-appraise-item .item .item-main .info-item {
      color: #999; }
      .mod-appraise-item .item .item-main .info-item .name {
        margin-right: 9px; }

.activity-detail-page {
  color: #333;
  /***********活动页面特殊处理***************/
  /*价钱场次切换样式*/
  /*重写结构样式*/
  /*切换栏样式*/
  /*获取地图按钮样式*/
  /*人头样式*/
  /*地图*/
  /*****作品结果样式*****/
  /*作品处理样式*/
  /*****作品结果样式*****/
  /*****地图样式处理*****/
  /*****地图样式处理*****/ }
  .activity-detail-page em {
    font-style: normal; }
  .activity-detail-page .intro-item {
    padding-bottom: 30px; }
    .activity-detail-page .intro-item .scroll-imgList {
      float: left;
      width: 544px; }
      .activity-detail-page .intro-item .scroll-imgList .scrollBox {
        width: 544px;
        position: relative; }
        .activity-detail-page .intro-item .scroll-imgList .scrollBox .img_list li {
          float: left;
          display: inline;
          width: 544px;
          height: 468px;
          overflow: hidden; }
        .activity-detail-page .intro-item .scroll-imgList .scrollBox .page-wrap {
          position: absolute;
          bottom: 21px;
          left: 0;
          width: 100%; }
        .activity-detail-page .intro-item .scroll-imgList .scrollBox .pre, .activity-detail-page .intro-item .scroll-imgList .scrollBox .next {
          display: none; }
        .activity-detail-page .intro-item .scroll-imgList .scrollBox .page-box {
          text-align: center;
          text-justify: inter-ideograph;
          font-size: 0; }
          .activity-detail-page .intro-item .scroll-imgList .scrollBox .page-box a {
            display: inline-block;
            border: 1px solid #ceb9b6;
            width: 22px;
            height: 4px;
            overflow: hidden;
            margin: 0 4px;
            border-radius: 4px;
            text-indent: -9999px; }
            .activity-detail-page .intro-item .scroll-imgList .scrollBox .page-box a.selected {
              background-color: #ff6a6e;
              border: 1px solid #ff6a6e; }
    .activity-detail-page .intro-item .item-info {
      float: left;
      padding-left: 30px;
      width: 426px; }
      .activity-detail-page .intro-item .item-info dl.title-item {
        padding-bottom: 8px; }
        .activity-detail-page .intro-item .item-info dl.title-item dt.title {
          font-size: 24px;
          padding-bottom: 5px; }
        .activity-detail-page .intro-item .item-info dl.title-item dd.ad-mes {
          color: #aaa;
          font-size: 14px;
          padding-bottom: 5px; }
          .activity-detail-page .intro-item .item-info dl.title-item dd.ad-mes span.title {
            float: left; }
          .activity-detail-page .intro-item .item-info dl.title-item dd.ad-mes .assess-item {
            float: left;
            padding-right: 27px; }
            .activity-detail-page .intro-item .item-info dl.title-item dd.ad-mes .assess-item .mod-star-item {
              float: left; }
      .activity-detail-page .intro-item .item-info .price-item {
        font-size: 24px;
        padding-bottom: 33px; }
        .activity-detail-page .intro-item .item-info .price-item .now-price {
          color: #fe9920; }
          .activity-detail-page .intro-item .item-info .price-item .now-price em {
            font-size: 36px; }
        .activity-detail-page .intro-item .item-info .price-item .original-price {
          color: #aaa;
          padding-left: 30px;
          text-decoration: line-through; }
      .activity-detail-page .intro-item .item-info .choose-item {
        min-height: 246px; }
        .activity-detail-page .intro-item .item-info .choose-item h3.title {
          font-size: 16px;
          font-weight: normal;
          padding-left: 5px;
          border-bottom: 1px solid #eee;
          padding-bottom: 11px; }
        .activity-detail-page .intro-item .item-info .choose-item .item {
          padding-top: 19px; }
          .activity-detail-page .intro-item .item-info .choose-item .item h4.title {
            color: #aaa;
            font-weight: normal;
            padding-left: 5px;
            padding-bottom: 13px; }
          .activity-detail-page .intro-item .item-info .choose-item .item .list {
            text-justify: inter-ideograph;
            font-size: 0;
            width: 426px;
            overflow: hidden; }
            .activity-detail-page .intro-item .item-info .choose-item .item .list ul {
              width: 444px; }
            .activity-detail-page .intro-item .item-info .choose-item .item .list li {
              font-size: 18px;
              display: inline-block;
              padding: 0 18px 12px 0; }
              .activity-detail-page .intro-item .item-info .choose-item .item .list li p {
                display: block;
                padding: 0 28px;
                height: 48px;
                line-height: 48px;
                border: 1px solid #ccc;
                color: #333;
                border-radius: 10px;
                cursor: pointer; }
                .activity-detail-page .intro-item .item-info .choose-item .item .list li p:hover {
                  text-decoration: none; }
              .activity-detail-page .intro-item .item-info .choose-item .item .list li.cur p {
                color: #ff6a6e;
                border: 1px solid #ff6a6e; }
      .activity-detail-page .intro-item .item-info .btn-item {
        position: relative; }
        .activity-detail-page .intro-item .item-info .btn-item .ui-btn-gray {
          cursor: pointer;
          display: block;
          background: #2c2c2c;
          width: 100%;
          color: #fff;
          height: 60px;
          line-height: 60px;
          font-size: 24px;
          text-align: center; }
          .activity-detail-page .intro-item .item-info .btn-item .ui-btn-gray:hover {
            background: #fe9920;
            text-decoration: none; }
        .activity-detail-page .intro-item .item-info .btn-item .pop-code-item {
          display: none;
          position: absolute;
          top: -273px;
          left: 90px;
          font-size: 14px;
          color: #333; }
          .activity-detail-page .intro-item .item-info .btn-item .pop-code-item.pop-open {
            display: block; }
          .activity-detail-page .intro-item .item-info .btn-item .pop-code-item .pop-con {
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            width: 200px;
            padding: 18px 21px 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
            .activity-detail-page .intro-item .item-info .btn-item .pop-code-item .pop-con .code-img {
              width: 200px;
              height: 200px;
              overflow: hidden;
              text-align: center;
              padding-bottom: 6px; }
              .activity-detail-page .intro-item .item-info .btn-item .pop-code-item .pop-con .code-img img {
                max-width: 200px;
                max-height: 200px; }
          .activity-detail-page .intro-item .item-info .btn-item .pop-code-item .ui-triangle-bottom-max-black {
            border-width: 9px 9px 0px 9px;
            top: 262px;
            left: 114px;
            border-color: #ddd transparent transparent  transparent;
            /* 颜色 */
            _border-color: #ddd  #fff #fff  #fff; }
          .activity-detail-page .intro-item .item-info .btn-item .pop-code-item .ui-triangle-bottom-max-white {
            border-width: 9px 9px 0px 9px;
            top: -11px;
            left: -9px; }
  .activity-detail-page .personal-info-item {
    background: #fbfbfb;
    border: 1px solid #eee;
    margin-bottom: 30px; }
    .activity-detail-page .personal-info-item .personal-item {
      width: 338px;
      text-align: center;
      height: 290px;
      border-right: 1px solid #eee;
      float: left;
      padding-top: 34px;
      font-size: 20px; }
      .activity-detail-page .personal-info-item .personal-item .img-item {
        width: 130px;
        height: 130px;
        border-radius: 130px;
        background: #eee;
        overflow: hidden;
        display: table;
        margin: 0 auto; }
        .activity-detail-page .personal-info-item .personal-item .img-item span {
          display: table-cell;
          vertical-align: middle;
          text-align: center; }
        .activity-detail-page .personal-info-item .personal-item .img-item img {
          max-width: 130px;
          max-height: 130px;
          border-radius: 130px;
          vertical-align: middle; }
      .activity-detail-page .personal-info-item .personal-item .info {
        padding-top: 16px; }
        .activity-detail-page .personal-info-item .personal-item .info dt {
          padding-bottom: 5px; }
      .activity-detail-page .personal-info-item .personal-item .link-item {
        padding-top: 10px; }
        .activity-detail-page .personal-info-item .personal-item .link-item a {
          color: #ff6a6e; }
    .activity-detail-page .personal-info-item .info-item {
      float: left;
      width: 659px; }
      .activity-detail-page .personal-info-item .info-item .item .item-info {
        padding-bottom: 28px; }
        .activity-detail-page .personal-info-item .info-item .item .item-info h4.title {
          font-size: 20px;
          font-weight: normal;
          padding-bottom: 9px; }
        .activity-detail-page .personal-info-item .info-item .item .item-info p {
          color: #666;
          font-size: 16px; }
      .activity-detail-page .personal-info-item .info-item .item.item-model {
        padding: 36px 0 0 106px; }
        .activity-detail-page .personal-info-item .info-item .item.item-model .model-mes-list {
          padding: 19px 0 10px; }
          .activity-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li {
            float: left;
            width: 61px;
            text-align: center;
            padding-right: 62px; }
            .activity-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li i.icon {
              display: block;
              width: 61px;
              height: 61px;
              margin: 0 auto 10px;
              background-repeat: no-repeat; }
              .activity-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li i.icon.icon-cm {
                background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/model-icon-cm-61x61.png); }
              .activity-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li i.icon.icon-kg {
                background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/model-icon-kg-61x61.png); }
              .activity-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li i.icon.icon-size {
                background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/model-icon-size-61x61.png); }
              .activity-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li i.icon.icon-figure {
                background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/model-icon-figure-61x61.png); }
            .activity-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li.li-size {
              padding-right: 42px; }
            .activity-detail-page .personal-info-item .info-item .item.item-model .model-mes-list li.li-figure {
              width: 100px; }
      .activity-detail-page .personal-info-item .info-item .item.item-photograph {
        padding-top: 83px;
        text-align: center; }
      .activity-detail-page .personal-info-item .info-item .item.item-assess {
        padding-top: 83px;
        text-align: center; }
        .activity-detail-page .personal-info-item .info-item .item.item-assess .deal-times {
          padding-top: 40px; }
          .activity-detail-page .personal-info-item .info-item .item.item-assess .deal-times .times {
            display: inline-block;
            color: #ff6a6e;
            font-size: 18px;
            border: 1px solid #ff6a6e;
            padding: 0 30px;
            height: 48px;
            line-height: 48px;
            border-radius: 30px; }
  .activity-detail-page .service-item {
    background: #fbfbfb;
    border: 1px solid #eee;
    padding: 12px 0 21px;
    margin-bottom: 30px;
    position: relative; }
    .activity-detail-page .service-item h3.title {
      font-size: 20px;
      font-weight: normal;
      padding: 0 0 6px 21px;
      background: url(http://static.yueus.com/mall/user/test/static/pc/images/bg-line-51x1.png) 21px bottom no-repeat; }
    .activity-detail-page .service-item .list {
      padding-top: 14px;
      font-size: 16px;
      color: #939393; }
      .activity-detail-page .service-item .list .item {
        padding: 0 21px;
        margin-top: 10px; }
        .activity-detail-page .service-item .list .item.item-last {
          border-right: 0; }
        .activity-detail-page .service-item .list .item:nth-last-child(1) {
          border-right: 0; }
    .activity-detail-page .service-item .btm-item {
      position: absolute;
      bottom: -33px;
      left: 0;
      width: 100%;
      text-align: center; }
      .activity-detail-page .service-item .btm-item .op-btn {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        padding: 0 18px;
        background: #fbfbfb;
        border: 1px solid #eee;
        border-top: 0;
        cursor: pointer;
        color: #666;
        font-size: 14px; }
        .activity-detail-page .service-item .btm-item .op-btn i.icon {
          display: inline-block;
          width: 14px;
          height: 7px;
          overflow: hidden;
          margin-left: 4px;
          vertical-align: middle;
          background-repeat: no-repeat; }
        .activity-detail-page .service-item .btm-item .op-btn.more-btn i.icon {
          background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/down-icon-14x7.png); }
        .activity-detail-page .service-item .btm-item .op-btn.packup-btn i.icon {
          background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/top-icon-14x7.png); }
  .activity-detail-page .detail-item {
    font-size: 14px;
    line-height: 24px;
    color: #939393;
    padding-bottom: 58px;
    word-wrap: break-word;
    word-break: normal;
    margin-top: 70px; }
    .activity-detail-page .detail-item .edui-faked-video {
      display: none; }
    .activity-detail-page .detail-item img {
      max-width: 1000px;
      margin: 15px 0px;
      display: block; }
    .activity-detail-page .detail-item p.img {
      margin: 30px 0; }
  .activity-detail-page .appraise-item {
    padding-left: 22px; }
    .activity-detail-page .appraise-item h3.title {
      font-size: 20px;
      font-weight: normal;
      padding: 0 0 6px 0;
      background: url(http://static.yueus.com/mall/user/test/static/pc/images/bg-line-51x1.png) left bottom no-repeat; }
    .activity-detail-page .appraise-item .mod-appraise-item .item .item-main {
      width: 904px;
      margin-left: 10px; }
  .activity-detail-page .pink-color {
    color: #ff6a6e; }
  .activity-detail-page #J_section_select .section_name {
    text-align: left; }
  .activity-detail-page .J_price_text {
    color: #aaa;
    padding-left: 20px;
    font-size: 14px; }
  .activity-detail-page .ui-selectbox-dropdown {
    font-size: 14px; }
  .activity-detail-page #J_stock_detail {
    padding: 10px;
    font-size: 14px; }
  .activity-detail-page #J_price_de_list {
    min-height: 165px; }
  .activity-detail-page .tag-check {
    float: left;
    background: #fbfbfb;
    width: 100px;
    height: 25px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    cursor: pointer; }
  .activity-detail-page .tag-check-div {
    height: 46px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-top: 55px; }
  .activity-detail-page .tag-check-div .tag-check-cur {
    border-top: 3px solid black;
    background: white;
    height: 25px; }
  .activity-detail-page #J_check_map {
    border: 1px solid #cecece;
    text-align: center;
    width: 110px;
    height: 25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f5f5f5;
    margin-left: 20px;
    background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/icon-location-16x16.png);
    background-repeat: no-repeat;
    background-position: 5px;
    display: inline;
    padding: 3px 23px;
    font-size: 12px;
    color: black;
    padding-left: 30px; }
  .activity-detail-page #join_div {
    position: relative; }
  .activity-detail-page #join_div .icon-img-div {
    float: left;
    width: 64px;
    margin-right: 40px; }
  .activity-detail-page #join_div .icon-img {
    width: 64px;
    -moz-border-radius: 130px;
    -webkit-border-radius: 130px;
    border-radius: 130px;
    vertical-align: middle;
    overflow: hidden; }
  .activity-detail-page #join_div img {
    max-height: 64px;
    max-width: 64px;
    -moz-border-radius: 130px;
    -webkit-border-radius: 130px;
    border-radius: 130px;
    vertical-align: middle;
    margin-bottom: 0px; }
  .activity-detail-page #join_div .icon-img-text {
    text-align: center;
    height: 55px;
    overflow: hidden;
    line-height: 18px; }
  .activity-detail-page #join_div .icon-img-head {
    font-size: 18px; }
  .activity-detail-page #join_div .icon-more {
    position: absolute;
    top: 150px;
    right: 5px; }
  .activity-detail-page #join_div .icon-more a {
    color: #4092f1; }
  .activity-detail-page .J_content_empty_tips {
    width: 24px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    top: -2px;
    position: relative; }
  .activity-detail-page .J_content_empty_p {
    color: #333333;
    font-size: 20px;
    margin-top: 20px; }
  .activity-detail-page #map_container {
    width: 700px;
    height: 400px;
    border: 1px solid #ddd;
    margin: 10px auto 30px; }
  .activity-detail-page #J_close_map {
    position: absolute;
    z-index: 1000;
    left: 704px;
    top: 16px;
    cursor: pointer;
    width: 16px;
    height: 15px;
    background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/btn-close-16x16-hover.jpg); }
  .activity-detail-page #J_close_map:hover {
    background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/btn-close-16x16_03.jpg); }
  .activity-detail-page .service-detail-page .service-item .list .item {
    word-break: break-all; }
  .activity-detail-page .ui-btn-blue {
    background: #4092f1;
    color: #fff;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding: 0 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer; }
  .activity-detail-page .fade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 999;
    zoom: 1;
    clear: both;
    _height: 1000px;
    _position: absolute;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000');
    background: rgba(0, 0, 0, 0.6); }
  .activity-detail-page .pop-standard-service {
    width: 700px;
    height: 200px;
    background: #fff;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    margin-top: -220px;
    margin-left: -400px;
    border: 1px #8f8f8f solid;
    border-radius: 5px; }
  .activity-detail-page .pop-standard-service .item-wrap {
    padding: 20px 0px 40px 30px; }
  .activity-detail-page .pop-standard-service .item-wrap .item h3.title {
    line-height: 40px;
    text-align: right;
    font-size: 16px;
    width: 80px; }
  .activity-detail-page .pop-standard-service .item-wrap .item .item-con {
    margin-left: 20px; }
  .activity-detail-page .pop-standard-service .item-wrap .item .item-con .mod-input-item .input-txt-1 {
    width: 380px; }
  .activity-detail-page .mod-input-item .input-txt {
    border: 1px solid #ddd;
    width: 270px;
    height: 18px;
    padding: 10px 14px;
    font-size: 14px;
    background: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .activity-detail-page .pop-standard-service .item-wrap .item-title {
    font-size: 16px;
    margin-top: 35px; }
  .activity-detail-page .J_close_article_div {
    position: absolute;
    z-index: 1000;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/btn-close-16x16-hover.jpg); }
  .activity-detail-page .J_close_article_div:hover {
    background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/btn-close-16x16_03.jpg); }
  .activity-detail-page .pop-standard-service-del {
    width: 500px;
    height: 300px;
    background: #fff;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    margin-top: -220px;
    margin-left: -280px;
    border: 1px #8f8f8f solid;
    border-radius: 5px; }
  .activity-detail-page .pop-standard-service-del .item-wrap {
    padding: 20px 0px 40px 30px; }
  .activity-detail-page .pop-standard-service-del .item-wrap .item h3.title {
    line-height: 40px;
    text-align: right;
    font-size: 16px;
    width: 80px; }
  .activity-detail-page .pop-standard-service-del .item-wrap .item .item-con {
    margin-left: 20px; }
  .activity-detail-page .pop-standard-service-del .item-wrap .item .item-con .mod-input-item .input-txt-1 {
    width: 380px; }
  .activity-detail-page .J_tanhao {
    height: 175px;
    width: 500px;
    text-align: center;
    line-height: 200px;
    background-image: url(http://static.yueus.com/mall/user/test/static/pc/images/banner/activity_del_article.png);
    background-position: center;
    background-repeat: no-repeat; }
  .activity-detail-page .J_del_article_text {
    cursor: pointer; }
  .activity-detail-page .J_del_art_btn {
    background-color: #f8f8f8;
    height: 72px;
    border-top: 1px solid #ddd; }
  .activity-detail-page #J_del_article_cancel {
    background-color: #F5F5F5;
    color: #6B6B6B;
    height: 33px;
    border-style: solid;
    line-height: 33px;
    border: 1px solid #CCCCCC; }
  .activity-detail-page .pop-standard-service-map-title-tips {
    padding: 10px;
    padding-left: 20px;
    text-align: left; }
  .activity-detail-page .pop-standard-service-map {
    width: 750px;
    height: 530px;
    background: #fff;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    margin-top: -220px;
    margin-left: -350px;
    border: 1px #8f8f8f solid;
    border-radius: 5px; }
  .activity-detail-page .pop-standard-service-map-tips {
    margin: 20px 22px 10px 0px;
    text-align: right; }
