.search_con_2 {
  padding-top: 7px;
  padding-left: 10px; }

.search_text > img {
  margin: 9px; }

.data_res {
  color: #333333;
  font-size: 20px;
  margin-top: 20px; }
  .data_res img {
    margin-right: 10px; }

.search-page .search-filter {
  margin-top: 40px; }

.search_seller_info {
  font-size: 14px;
  color: #000;
  padding: 20px;
  background: #fff; }
  .search_seller_info .item-li .span-1 {
    padding: 9px 0; }
  .search_seller_info .item-li .f26-color-ff5959 {
    font-size: 26px;
    color: #ff5959; }
  .search_seller_info .item-li .color-ff5959 {
    color: #ff5959; }
  .search_seller_info .item-li .name {
    position: relative;
    top: -4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 130px;
    display: inline-block; }
  .search_seller_info .item-li .seller-info-1 {
    margin-left: 15px; }
    .search_seller_info .item-li .seller-info-1 .seller-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 130px; }
  .search_seller_info .item-li .seller-info-2 {
    text-align: right; }
    .search_seller_info .item-li .seller-info-2 .child-1 {
      margin-top: 1px; }
    .search_seller_info .item-li .seller-info-2 .child-2 {
      margin-top: 6px; }
  .search_seller_info .item-li.title {
    padding: 7px 0 15px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 280px; }
