<div>
    <div class="stream-abnormal {{#if broken_network}}stream-network-error{{else}}stream-empty{{/if}}" data-role="tap-screen" style="height:{{content_height}}px">
        <h4 data-role="a" class="icon {{#if broken_network}}icon-stream-network-error{{else}}icon-stream-empty{{/if}}">{{#if broken_network}}当前网络不可用{{else}}暂无内容{{/if}}</h4>
        {{#if broken_network}}<p>请检查网络后，轻触屏幕重新加载</p>{{/if}}
    </div>
</div>