<main role="main" class="secondary ">

    <header class="nav-header city-nav-header">
        <!-- <div class="left-button-wrap" data-role="page-back">
            <a> <i class="icon icon-back"></i>
            </a>
        </div> -->
        <h3 class="title">支付成功</h3>
    <!--     <div class="right-button-wrap">
            <a> <i class="icon icon-cog"></i>
            </a>
        </div> -->
    </header>

    <div data-role="container" class="content-body"  >
        <div>
            <div class="pay-success-page">
                <div class="pay-wrap">
                    <div class="box1"><i class="icon icon-success-min"></i></div>
                    <div class="box2">恭喜您，支付成功。</div>
                    <div class="box3" data-role="event_txt">
                       
                    </div>
                </div>

                <div class="btn-wrap">

                    <div class="btn">
                        <button data-role="confirm" class="ui-button ui-button-primary ui-button-size-middle ui-button-block ui-button-size-radius-large ">
                                <span class="ui-button-content">确认</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>