@charset "UTF-8";
// ------------------------------
// POCO约拍app - 活动 报名
// ------------------------------

.action-apply{
  .content-body{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack:justify;


  }
  .pay{
    text-align: center;
    padding: 7px 50px;
    background: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;


    .pay-btn{
      background: #ff0052;
      width: 170px;
      height: 36px;
      font-size: 16px;
      color: #fff;
      @include border-radius($border-radius);
    }
  }
  .action-apply-content{
    // padding-top: $content-margin-top;
    .action-apply-list{
      padding: 20px 10px 30px;
      li{
        @include flexbox((
            display: box
        ), $version: 1);
        margin-bottom: 20px;
        overflow: hidden;
        &:last-child{margin-bottom: 0}
        .item{
          margin-right: 12px;
          font-size: 16px;
          height: 36px;
          line-height: 36px;
        }
        .item-input{
          @include flexbox((
                box-flex: 1
            ), $version: 1);
          .ui-choosen-group{
            width: 100%;
            .ui-choosen-btn {
              display: block;
              @include box-sizing(border-box);
              margin: 0 0 20px 0;
              //padding: 0 20px;
              width: 100%;
              &:last-child{margin-bottom: 0}
            }
          }
        }
        .phone-number{
            padding: 8px 1%;
            @include border-radius($border-radius);
            @include box-sizing(border-box);
            border: 1px solid #cccccc;
            width: 98%;
        }
      }
    }
  }

}
