@charset "utf-8";
.bg-cfff{
  background-color: #FFFFFF;
}
.search{
  position: relative;
  padding: 0 15px 15px;
  .global-header{
    height: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #cdcdd1;
    position: fixed;
    z-index: 9;
    background: #fafafa;
    width: 100%;
    top: 0px;
    left: 0px;
    .back{
      width: 50px;
      height: 44px;
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      .icon-back{
        width: 11px;
        height: 20px;
        display: block;
        margin: 12px auto 0 auto;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: 11px 20px;
        background-image: url("../../image/icon-back-22x40.png");
      }
      .icon-back:active{
        background-image: url("../../image/icon-back-22x40-active.png");
      }
    }
    .search-head{
      text-align: center;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 60%;
      margin: 0 auto;
    }
    .side-txt{
      position: absolute;
      right: 0px;
      top: 0px;
      font-size: 16px;
      color: #333;
      line-height: 44px;
      width: 50px;
      text-align: center;
    }
    .side-txt:active{
      color: #aaaaaa;
    }
  }
.search-head{
  padding: 6px;
  line-height: 32px;
  color: #999;
  .search-box{
    border: solid 1px #aaa;
    border-radius: 5px;
    height: 20px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
    line-height: 20px;
    .search-type{
      float: left;
      padding-right: 15px;
      position: relative;
      color: #999;
      .search-type-btn{
        width: 30px;
        height: 16px;
        color: #999;
      }
      .r-icon{
        display: inline-block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: solid 5px transparent;
        border-right: solid 5px transparent;
        border-top: solid 5px #999;
        top: 8px;
        left: 34px;
      }
    }
    .search-text{
      width: 70%;
      border-radius: 5px;
      padding-left: 5px;
      color: #000;
      height: 16px;
      line-height: 16px;
      font-size: 14px;
    }
  }

}
  .type-select{
    position: absolute;
    width: 98px;
    left: 16%;
    top: 110%;
    color: #fff;
    .type-select-span{
      width: 98px;
      height: 45px;
      display: inline-block;
      text-align: center;
      line-height: 45px;
      background: rgba(76, 76, 76, 0.9);
    }
    .t-span{
      border-radius: 5px 5px 0 0;
      border-bottom: solid 1px #949494;
    }
    .b-span{
      border-radius:0 0 5px 5px ;
    }
    .type-select-i{
      display: inline-block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
      border-bottom: solid 10px rgba(76,76,76,.9);
      top: -10px;
      left: 38px;
    }
  }
  .seach-content{
    .seach-title{
      padding: 15px 0 20px;
      color: #999;
      .hot-btn{
        margin:0 10px 15px 0;
        border-radius: 15px;
        font-size: 14px;
        padding: 0 15px;
      }
      .hot-btn:active{
        background:#eeeeee;
      }
      .hot-title{
        padding-bottom: 15px;
      }
    }
    .empty{
      height: 40px;
      border: solid 1px #555555;
      border-radius: 5px;
      width: 100%;
      display: block;
      margin: 0 auto 15px;
      font-size: 14px;
    }
    .empty:active{
      border: solid 1px #aaaaaa;
    }
  }
}
