<main role="main" class="secondary">
    <header class="nav-header search-header">
        <!-- <div class="btn-back" data-role="btn-back">
            <button class="ui-button ui-button-primary ui-button-size-min ui-button-block ">
                <span class="ui-button-content">返回</span>
            </button>
        </div> -->

        <div class="left-button-wrap" data-role="btn-back" style="position:absolute">
            <a><i class="icon icon-back"></i></a>
        </div>
        
        <div class="search-index-wrap">
            <!--<div class="lbox"><i class="icon icon-srarch-m"></i></div>-->
            <!-- <div class="rbox" data-role="cancel">取消</div> -->
            <div class="main-search" >
                <button class="icon icon-search-gray" type="button" data-role="search-form"></button>
                <input type="text" class="input-text" placeholder="搜索模特" data-role="input" autocomplete="off">
            </div>
        </div>
    </header>

    <div style="height:100%" data-role="container">

        <div class="search-index" data-role="search-index">
            <div class="tags-wrap">
                <section class="tags">
                    <ul data-role="search-list">
                    </ul>

                </section>
                <div class="btn-wrap" data-role="change-btn-wrap">
                    <div class="btn" data-role="change"><i class="icon icon-refresh-m"></i> 换一批</div>
                </div>
            </div>
        </div>

    </div>
</main>