<main class="account-front" role="main">
    <div class="account-container" data-role="container" style="background-image:url('/mobile/images/pai/front.jpg')">

        <footer class="btn-container">
            <div class="submit-btn-container" data-role="select-role" data-role-val="cameraman">
                <button class="ui-button submit-btn ui-button-size-large ui-button-block">
                    <span class="ui-button-content">我是摄影师</span>
                </button>
            </div>
            <div class="submit-btn-container" data-role="select-role" data-role-val="model">
                <button class="ui-button submit-btn red-btn ui-button-size-large ui-button-block">
                    <span class="ui-button-content">我是模特</span>
                </button>
            </div>
            <div class="submit-btn-container text fn-hide">
                选定角色后将无法修改，请谨慎选择！
            </div>
        </footer>
    </div>
</main>