<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>空间</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="commit wryh">
            <header class="nav-header mine-nav-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">绑定支付宝</h3>
                
                <div class="right-button-wrap">
                    <a><i class="icon icon-cog"></i></a>
                </div>
            </header>
            
            <div>
               <div class="bind-alipay-success">
            
                    <div class="p1">您已成功绑定支付宝账号</div>
                    <div class="p2">xinl****@163.com</div>
                    <div class="p3">如需解绑，请联系客服</div>
                    <div class="p4">400-082-9003</div>

               </div> 

               


            </div>

        </main>
    </div>
</div>
</body>
</html>

