<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>空间</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="commit wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                摄影社区等级认证
            </header>
            
            <div>
                <div class="level_verification">
                    <div class="item-wrap">
                        <div class="item">
                            <p class="p1">第一步：打开您的社区个人空间页。</p>
                            <p class="p2">具体位置如下所示：</p>
                             <ul class="list">
                                <li>POCO摄影</li>
                                <li>色影无忌</li>
                                <li>网易摄影</li>
                            </ul>   
                        </div>

                        <div class="item item2">
                            <p class="p1">第二步：拍下您的个人空间页，上传图片。</p> 
                        </div>
                            
                    </div>


                    <!-- <div class="btn  btn-success"><i class="icon icon-sty"></i>上传成功</div> -->
                    <!-- <div class="btn  btn-error"><i class="icon icon-sty"></i>失败，点击重传</div> -->
                    <!-- <div class="btn  btn-loading"><i class="icon icon-sty"></i>上传中...   30%</div> -->
                    <div class="btn  btn-photo"><i class="icon icon-sty"></i>立即拍照</div>
                    <div class="tips">
                        <p>请等待人工审核，</p>
                        <p>审核通过会在我的-消息中提示，谢谢！</p>
                    </div>


                </div>

            </div>

        </main>
    </div>
</div>
</body>
</html>

