<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO摄影 - 修改资料</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">

<main class="mine-edit-page" role="main">
    <header class="nav-header mine-edit-nav-header">
        <div class="left-button-wrap">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">编辑个人资料</h3>
        
        <div class="right-button-wrap">
            <a><i>保存</i></a>
        </div>
    </header>

    <div class="mine-edit-container" data-role="container">
        <article>
            <header>
                <div class="avatar">
                    <a>
                        <input type="file" name="uploadfile">
                        <i class="img avatar-img" style="background-image: url(../../assets/images/pai/test/156x156.jpg)"></i>
                    </a>
                </div>

                <h2>POCO号：7734111</h2>
            </header>

            <section>
                <ul class="ui-table-list">
                    <li>
                        <label>昵称：</label>
                        <div><input type="text" value="Bowie"></div>
                    </li>
                    <li class="block">
                        <label>我的作品：</label>
                        <div></div>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="ui-table-list">
                    <li>
                        <label>绑定手机号：</label>
                        <div>18594651561</div>
                    </li>
                    <li class="block">
                        <label>摄影等级：</label>
                        <ul>
                            <li>【POCO摄影网】加盟摄影师、玩家一级</li>
                            <li>
                                <div class="component-add-btn">
                                <div class="component-add-btn-con" data-role="add_panel">
                                    <div class="mid">
                                        <i class="icon icon-add-32x32"></i>
                                        <p>增加认证</p>
                                    </div>
                                </div>
                                </div>
                            </li>
                            <li class="fx12"><p>支持【POCO摄影】、【网易摄影】、【色影无忌】网站</p></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </article>
    </div>
</main><!-- end main.mine-edit-page -->

</div><!-- end div#page-container -->
</body>
</html>
