<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>空间</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="zone wryh">
            <header class="page-header wryh">                
                空间 
            </header>
            <div class="content-body " data-role="container" >
                <div data-role="scoll-wrapper">
                    <section class="group-items no-top " >
                        <ul>
                            <li data-role="grid-container" style="height:351px;" >
                                
                            </li>
                        </ul>                        
                    </section>             
                    <section class="group-items no-top" >
                        <ul>
                            <li data-role="user-info" class="item user-info">
                                <div data-role="head-icon" class="head-icon-items">
                                    <i class="img circle-img head-icon" style="background-image:url(http://myicon211-c.poco.cn/5325/53253899.jpg);"></i>
                                    <div class="user-name">肥龙在天</div>
                                </div>                                
                            </li>                           
                        </ul>
                    </section>             
                    <section class="group-items no-top" >
                        <ul>                            
                            <li class="item rel-count">
                                <div data-role="follow" class="counts">
                                    <em>300</em>
                                    关注
                                </div>
                                <div data-role="meber-lv" class="counts">
                                    <em>VIP_1</em>
                                    会员等级
                                </div>
                                <div data-role="fans" class="counts">
                                    <em>300</em>
                                    粉丝
                                </div>
                            </li>
                        </ul>
                    </section>             
                    <section class="group-items ">
                        <ul>
                            <li data-role="items " class="item score">
                                <div class="container">
                                    <div class="com">
                                        <span class="txt">评价 : </span>                                            
                                        <i class="icon icon-red"></i>                                                               
                                        <i class="icon icon-grey"></i>                                                                                
                                        <i class="icon icon-grey"></i>                                                                            
                                        <i class="icon icon-grey"></i>
                                        <i class="icon icon-grey"></i>
                                        <span class="red">0分</span>
                                        </div>      
                                    <div>
                                        <span class="">136人评价
                                            <i class="icon icon-r"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li data-role="items" class="item score">                                
                                <div class="container no-border-style">
                                    <div class="com">
                                        <span>出勤率 : </span>                                            
                                        <i class="icon icon-red"></i>                                                               
                                        <i class="icon icon-grey"></i>                                                                                
                                        <i class="icon icon-grey"></i>                                                                            
                                        <i class="icon icon-grey"></i>
                                        <i class="icon icon-grey"></i>
                                        <span class="red">0分</span>
                                    </div>      
                                </div>
                            </li>
                        </ul>                             
                    </section>             
                    <section class="group-items">
                        <ul>
                            <li data-role="items photo-lv-container" class="item photo-lv">
                                <div class="name">摄影等级：</div>
                                <div class="txt"></div>
                            </li>                            
                        </ul>    
                    </section>             
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>

