<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>空间</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="commit wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                约拍邀请
            </header>
            
            <div>
                <div class="yuepai-receive">
                    <div class="icon-yes"><i class="icon icon-success-60x60"></i></div>
                    <div class="notice-one">您已接受约拍邀请</div>

                    <div class="yuepai-info-mod">
                        <ul class="list1">
                            <li>
                                <div class="l">总价：</div>
                                <div class="r">￥1000</div>
                            </li>
                            <li>
                                <div class="l">时长：</div>
                                <div class="r">2小时</div>
                            </li>
                            <li>
                                <div class="l">风格：</div>
                                <div class="r">内衣</div>
                            </li>
                            <li>
                                <div class="icon icon-r-16x26"></div>
                                <div class="l">摄影师：</div>
                                <div class="r">形色无痕</div>
                            </li>
                        </ul>

                        <ul class="list2 ">
                            <li>
                                <div class="l">时间：</div>
                                <div class="r">2014-06-01 09:00</div>
                            </li>
                            <li>
                                <div class="l">类型：</div>
                                <div class="r">室内人像</div>
                            </li>
                            <li>
                                <div class="l">地点：</div>
                                <div class="r">广州市天河区  富力盈丰酒店</div>
                            </li>
                        </ul>   
                    </div> 

                    <div class="details-notice">
                        <p>温馨提示：</p>
                        <p>1.资金保障：您在现场拍摄前，必须先扫描摄影师的二维码，款项才会支付给您。避免人财两空。</p>
                        <p>2.如何取钱：扫描二维码签到后，您需要在约拍中点击【封单】。即可在【我的钱包】进行提现，1个工作日内就会转账到您的支付宝账户。</p>
                    </div>


                </div>


            </div>

        </main>
    </div>
</div>
</body>
</html>

