<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约拍-模特卡</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container">
    <div class="apps_page">
        <main role="main">
            <header class="nav-header mine-setting-nav-header">
                <div class="left-button-wrap">
                    <a><i class="icon icon-back"></i></a>
                </div>

                <h3 class="title">设置</h3>
                
                <div class="right-button-wrap">
                </div>
            </header>   

            <div class="setup-page">
                <ul class="list">
                    <li>
                        <div class="lbox">绑定手机号</div>
                        <div class="rbox">18666006716</div>
                    </li>
                    <li>
                        <div class="lbox">修改密码</div>
                    </li>
                </ul>   
                <div class="btn">关于约约</div>    
                <div class="btn">退出当前账号</div>    
            </div>
     
            <footer data-role="footer">
                
            </footer>
        </main>
    </div>
</div>
<script>
(function() {
    
})();
</script>
</body>
</html>
