<main role="main" class="action-intro wryh">
    <header class="page-header wryh">
        <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
        发布活动
    </header>
    <div class="content-body">

        <div class="action-intro-content" data-role="action-intro-content">
            <div class="wrap-box">
                <div class="procedure-header-mod">
                    <ul class="step">
                        <li>活动信息</li>
                        <li class="current">活动介绍</li>
                        <li>活动流程</li>
                    </ul>
                    <ul class="num">
                        <li class="common">
                            <i class="num-icon">1</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                        <li class="common current">
                            <i class="num-icon">2</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                        <li class="common">
                            <i class="num-icon">3</i>
                            <div class="line-grey"></div>
                            <div class="line-red"></div>
                        </li>
                    </ul>
                </div>
                <div class="fmt-con">
                    <p class="title">封面图：</p>
                    <div class="title-pic-con" data-role="title-pic-con">

                    </div>
                </div>
                <div class="theme-con">
                    <p class="title">主题：</p>
                    <textarea data-role="theme" placeholder="请输入活动主题"></textarea>
                </div>
                <div class="module-con" data-role="module-con">
                    <p class="title">场地/模特：</p>
                </div>
                <div class="component-add-btn">
                <div class="component-add-btn-con" data-role="add_panel">
                    <div class="mid">
                        <i class="icon icon-add-32x32"></i>
                        <p>增加图文模块</p>
                    </div>
                </div>
                </div>

            </div>

        </div>
        <div class="btns">
            <div class="btn_back" data-role="page-back">
                <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block ui-button-color2">
                    <span class="ui-button-content">返回修改</span>
                </button>
            </div>
            <div class="btn_next" data-role="next-step">
                <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block ">
                    <span class="ui-button-content">下一步</span>
                </button>
            </div>
        </div>
    </div>
</main>