<div class="scroll-area" data-role="ad-pic">
{{{picture_html}}}
<div class="ad-pic-point-out">
        <ul data-role="ad-pic-point" class="ad-pic-point">
        {{#each points}}
            <li data-index="{{@index}}"></li>
        {{/each}}
        </ul>
</div>
</div>