<main role="main" class="location ">

    <header class="nav-header mine-edit-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">登陆提示</h3>
        
        <div class="right-button-wrap">
            <!--<button class="ui-button ui-button-dark ui-button-size-default" data-role="save" disabled="disabled">保存</button>-->
        </div>
    </header>

    <div data-role="container" class="content-body"  >

            <div>
                <div class="login-tips-page">
                    <div class="box1">抱歉</div>
                    <div class="box2">微信约拍系统暂不支持模特登陆</div>
                    <div class="box3">
                        <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block " data-role="btn-role-down-app">
                            <span class="ui-button-content">下载APP</span>
                        </button>
                    </div>
                    <div class="box4" data-role="btn-role-camera">
                        使用摄影师账号登录
                    </div>
                </div>
            </div>

    </div>

</main>