<main role="main">
    <header class="nav-header mine-setting-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back" ></i></a>
        </div>
        <h3 class="title">用户许可协议</h3>
        <div class="right-button-wrap"></div>
    </header>
    <div class="setup-page" style="background: #fff;padding:0;">
        <div class="warp-box"  data-role="container">
            <article style="line-height: 1.5;padding: 30px 15px;">
            <h3 style="font-size: 24px;margin-bottom: 10px;">用户许可协议</h3>
            <p>请仔细阅读以下使用许可, 如果您不同意以下任何一点, 请立即停止使用此软件。<br>
            </p>
            <p>广州数联软件技术有限公司（以下简称数联公司）将本软件程序的最终使用许可权授予您。但您必须向数联公司作出以下保证：<br>
            </p>
            <p>本《用户许可协议》(以下简称《协议》)是您(个人或单一机构团体)与上述 POCO 软件(以下称"软件"或"软件产品")版权所有人数联公司之间的法律协议。在您使用本软件产品之前,请务必阅读此《协议》, 任何与《协议》有关的软件、电子文档等都应是按本协议的条款而授予您的, 同时本《协议》亦适用于任何有关本软件产品的后期发行和升级。您一旦安装、复制、下载、访问或以其它方式使用本软件产品, 即表示您同意接受本《协议》各项条款的约束。如您不同意本《协议》的条款, 那么, 版权所有人数联公司则不予将本软件产品的使用权授予您。在这种情况下, 您不得使用、复制或传播本软件产品。<br>
            </p>
            <p>本软件产品受著作权法及国际著作权条约和其它知识产权法及条约的保护。本软件产品只许可使用, 而不出售。不得用于商业目的的活动之中。<br>
            </p>
            <p>一、软件产品保护条款<br>
            </p>
            <p>1.许可证的授予：本《协议》授予您下列权利<br>
                安装和使用：<br>
                您可安装无限制数量的本软件产品来使用。 <br>
            </p>
            <p>复制、分发和传播：<br>
                您可以复制、分发和传播无限制数量的软件产品, 但您必须保证每一份复制、分发和传播都必须是完整和真实的, 包括所有有关本软件产品的软件、电子文档, 版权和商标宣言, 亦包括本协议。 <br>
                本软件可以独立分发亦可随同其他软件一起分发, 但如因此而引起任何问题, 版权人将不予承担任何责任。</p>
            <p>&nbsp;</p>
            <p>2.其它权利和限制说明<br>
                禁止反向工程、反向编译和反向汇编： <br>
                您不得对本软件产品进行反向工程、反向编译和反向汇编, 同时不得改动编译在程序文件内部的任何资源。除非适用法律明文允许上述活动, 否则您必须遵守此协议限制。<br>
            </p>
            <p>组件的分隔：<br>
                本软件产品是被当成一个单一产品而被授予许可使用, 不得将各个部分分开用于任何目的行动。<br>
            </p>
            <p>终止：<br>
                如您未遵守本《协议》的各项条件, 在不损害其它权利的情况下, 版权人可将本《协议》终止，并保留通过法律手段追究责任的权力。如发生此种情况, 则您必须销毁"软件产品"及其各部分的所有副本。<br>
            </p>
            <p>商标： <br>
                本《协议》不授予您由版权人广州数联软件技术有限公司所拥有的任何商标或服务商标有关的任何权利。<br>
            </p>
            <p>个别授权：<br>
                如有任何组织或个人利用本软件以任何方式为公众服务并同时满足其自身特定目的而分发、复制和传播本软件产品, 均须得到版权人授权同意后方可进行, 否则视为侵权。<br>
            </p>
            <p>3.版权<br>
                本软件产品(包括但不限于本软件产品中所含的任何图象、照片、动画、文字和附加程序(applets))、随附的印刷材料、及本软件产品的任何副本的一切所有权和知识产权, 均由版权人广州数联软件技术有限公司拥有。通过使用本"软件产品"可访问的内容的一切所有权和知识产权均属于各自内容的所有者拥有并可能受适用著作权或其它知识产权法律和条约的保护。本《协议》不授予您使用这些内容的权利。<br>
            </p>
            <p>4.有限保证<br>
                无保证：<br>
                使用本软件产品涉及到Internet服务，可能会受到各个环节不稳定因素的影响，因此服务存在不可抗力、计算机病毒、黑客攻击、系统不稳定、用户所在位置、用户关机、及其他任何技术、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险。用户须承担以上风险，广州数联软件技术有限公司不承诺对因此导致用户不能搜索和下载文件、发送和接收信息等各项POCO提供的服务承担任何的责任，使用本软件产品由用户自己承担风险,在适用法律允许的最大范围内, 数联公司在任何情况下不就因使用或者不能使用本软件产品所发生的特殊的、意外的非直接或者间接的损失承担赔偿责任，即使已实现被告知此事件发生的可能性。<br>
            </p>
            <p>对造成损失无责任：<br>
                在使用本软件产品存在有来自任何他人的包括威胁性、亵渎性、令人反感的、侵害个人隐私权、版权、或者非法的内容或者行为，或对他人权利的侵犯（包括知识产权）的匿名或者署名的信息的风险。用户须承担以上风险，数联公司对POCO服务不作任何类型的担保和承诺，不论是明确的或者隐含的，包括所有有关信息的真实性、适用性、适于某一特定用途、所有权和非侵权的默示担保和条件，对因此导致任何因用户不正当或非法使用服务产生的直接、间接、偶然、特殊、及后续的损害，不承担任何的责任。<br>
            </p>
            <p>二、用户使用须知<br>
            </p>
            <p>　　特别提醒用户，使用互联网必须遵守国家有关的政策和法律，如刑法、国家安全法、保密法、计算机信息系统安全保护条例，保护国家利益;保护国家安全。对于违法或者不当使用互联网络而引起的一切责任，由用户负全部责任。<br>
            </p>
            <p>1.用户不得使用POCO发送或者传播敏感信息或者违反国家法律制度的信息；用户不得使用POCO发送或者传播虚假、骚扰性、侮辱性、恐吓性、伤害性、挑衅性、庸俗性、淫秽色情性信息；<br>
                <br>
                2.POCO和大多数因特网软件一样，易受到各种安全问题的困挠，包括：<br>
                透露详细个人资料，被不法分子利用，造成现实生活中的骚扰；<br>
                哄骗、破译密码；<br>
                下载安装的其他软件或者文件中含有各种病毒，威胁到个人计算机上信息和数据的安全，进而威胁POCO软件的使用。 <br>
                <br>
                3.用户应加强个人资料保护意识，以免对个人生活和正常使用POCO服务造成不必要的影响；<br>
                <br>
                4.盗取他人用户帐号,共享和传播非法和不良信息、文件，或利用网络通讯骚扰他人，均属于违法行为；<br>
            </p>
            <p>5.青少年上网应该在父母和老师的指导下，正确学习使用网络，青少年应避免沉迷于网络虚拟世界及各种网络不良、非法信息和内容影响正常的学习和生活；<br>
            </p>
            <p>6.用户注册POCO帐号后，如果长期不使用，数联公司有权收回号码，以免造成资源浪费；<br>
            </p>
            <p>7.用户应规范合法地使用POCO,如骚扰、欺骗其他用户，本公司有权回收其帐号； <br>
            </p>
            <p>8.用户不应散布对poco公司不利言论和诋毁poco形象的行为， 情节恶劣者可以予以封ID处罚，本公司有权回收其帐号； <br>
            </p>
            <p>9.用户不得利用POCO进行违反国家法律的活动，如有发现，数联公司会应公安部门的要求，全力协助调查工作。<br>
            </p>

            <p>10.POCO摄影只是提供一个摄影活动信息发布平台，所有非POCO官方组织的网友活动，活动过程中产生的一切法律纠纷，均与POCO摄影无关，由网友活动组织者承担相关责任 </p>
            <p>11.用户选择同意协议并打勾，即表示用户愿意接受广州数联软件技术有限公司发出的相关群发邮件。此群发邮件的解释权归广州数联软件技术有限公司所有。<br>
            </p>
            <p> <br>
                三、特别提醒用户注意，为了保证业务发展调整的自主权利，数联公司拥有随时修改或者中断服务而不需要通知用户的权利，本公司行使修改或者中断服务的权利不需对用户或者第三方负责，用户必须在同意本条款的前提下，本软件才开始对用户提供服务。<br>
            </p>
            <p>四、POCO软件中涉及的宽带娱乐服务内容的所有权界定<br>
                广州数联软件技术有限公司仅提供POCO软件，内容搜索于互联网中同意本协议的个人用户终端，下载的音乐仅做试听，用户必须在23小时内删除，版权归属唱片公司所有，请购买正版唱片。软件中的涉及的所有宽频娱乐服务内容与广州数联软件技术有限公司无关，其所有权归各影音内容提供商，该所有权受法律的保护，所以，用户只能在影音内容提供商的正式授权下才能使用这些内容，而不能擅自复制、链接、再造、非法传播这些内容、或创造与内容有关的派生产品，不得以任何方式建立镜像站点，否则，用户应赔偿由此给影音内容提供商和广州数联软件技术有限公司造成的损失。<br>
            </p>
            <p>广州数联软件技术有限公司对他人权利的侵犯（包括知识产权）不承担责任，且对任何第三方通过服务发送或在服务中包含的任何内容不承担责任。<br>
            </p>
            <p>&nbsp;</p>
            <p>五、法律适用<br>
                本协议条款应符合中华人民共和国法律法规的规定，用户和广州数联软件技术有限公司一致同意接受中华人民共和国法律的管辖。当本协议条款与中华人民共和国法律相抵触时，则这些条款将完全按法律规定重新解释或重新修订，而其它条款则依旧对广州数联软件技术有限公司及用户产生法律效力。<br>
            </p>
            <p>六、协议条款和资费标准的修改<br>
                广州数联软件技术有限公司有权在必要时修改本协议条款的内容和服务资费标准，且该修改以符合国家法律法规的规定，并不侵害用户的合法权益为必要前提。<br>
                广州数联软件技术有限公司协议条款一旦发生变动，将会在重要页面上提示修改内容。用户若不同意广州数联软件技术有限公司改动的内容，可以主动取消所申请的网络服务，并可按照广州数联软件技术有限公司当时已经公布的收费办法办理相关退费手续；若用户继续享用广州数联软件技术有限公司网络服务，则广州数联软件技术有限公司有权视为该用户已接受该协议条款的变动并原意受变动后协议条款的约束。<br>
            </p>
            <p>&nbsp;</p>
            <p>八、协议生效<br>
                用户选择同意协议并打勾，则本协议即时生效。<br>
            </p>
            <p>九、广州数联软件技术有限公司拥有对以上各项条款和内容的最终解释权。<br>
            </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>约yue客户端用户许可协议<br>
                　
                一、用户必须遵守中华人民共和国有关的各项法律法规；严禁在广州数联软件技术有限公司摄影频道上发布有关危害国家安全、泄漏国家机密、妨碍社会治安、系统破坏、黑客教程、色情、迷信和歧视性内容等违法息；严禁链接有关危害国家安全、泄漏国家机密、妨碍社会治安、系统破坏、黑客教程、色情、迷信和歧视性内容等违法信息；不得利用广州数联软件技术有限公司摄影频道发布恶意的、向他人挑衅的信息。用户必须承担由于发布或链接的影集、相片及评论所产生的任何法律责任。<br>
                　　
                二、用户不得利用广州数联软件技术有限公司摄影频道从事任何非法活动。因非法使用引发的各种纠纷和责任由该图文拥有者负责。<br>
                　　
                三、未完整填写注册资料，或使用不雅或者不恰当的帐号名称和昵称者，将不会通过身份确认。<br>
                　　
                四、个人档案公开与否由用户自行决定，广州数联软件技术有限公司遵照中华人民共和国法律保护用户的个人隐私权利。<br>
                　　
                五、对于非过错或不可抗力原因导致的数据损失、丢失或服务停止，广州数联软件技术有限公司将不承担任何责任。<br>
                　　
                六、如用户使用此摄影频道服务，即表示用户愿意接受广州数联软件技术有限公司摄影频道服务发出的相关群发邮件。此群发邮件的解释权归广州数联软件技术有限公司所有。<br>
                　　
                七、如用户使用此摄影频道服务，即表示用户愿意将其图文供广州数联软件技术有限公司合法使用。<br>
                　　
                八、广州数联软件技术有限公司在必要时会对本摄影频道服务条款进行修改，服务条款发生任何变动，将会即时通知用户。用户可随时根据实际情况决定是否接受摄影频道服务。广州数联软件技术有限公司有权根据市场情况和技术条件决定是否提供本服务。用户若违反本服务条款，广州数联软件技术有限公司有权立即中止该用户服务。用户如果反对本服务条款，或对后来的条款修改有异议，或对广州数联软件技术有限公司服务不满，用户有以下权利：<br>
            </p>
            <p>（1）不再使用广州数联软件技术有限公司摄影频道服务。<br>
                （2）通告广州数联软件技术有限公司停止该用户的服务。<br>
                （3）通知管理员注销在广州数联软件技术有限公司摄影频道的帐号。<br>
                　　
                结束用户服务后，用户使用广州数联软件技术有限公司摄影频道主页服务的权利和义务马上中止。<br>
            </p>
            <p> 九、广州数联软件技术有限公司有权将用户在摄影频道发表的文字或图片用于公司其他用途，包括网站（含POCO联盟站）、电子杂志、无线应用等，版权仅归原作者所有。若作者有版权声明或原作从其它网站转载而附带有原版权声明者，其版权归属及使用方式以附带声明为准。当原作者对影集中图片或文字的版权有异议时，欢迎Email: webmaster@poco.cn联系，我们会在确认后作出相应决定。 <br>
                　　
                十、欲转载广州数联软件技术有限公司摄影频道中无专门声明或无附带声明的文字及图片时，须遵守以下规定：<br>
                （1）在用于非商业、非盈利、非广告性目的时需注明作者及文字及图片的出处为"约yue客户端"。<br>
                （2）在用于商业、盈利、广告性目的时需征得文字或图片原作者的同意，并注明作者姓名、授权范围及原作出处"约yue客户端"。<br>
                （3）任何文字或图片的修改或删除均应保持作者原意并征求原作者同意.并注明授权范围。<br>
            </p>



            <p>一、服务条款的确认和接纳<br>
                　　
                广州数联软件技术有限公司网站（WWW.POCO.COM）以下简称 POCO摄影站。POCO摄影站和软件所提供的各项服务的所有权和运作权归广州数联软件技术有限公司。所提供的服务必须按照其发布的公司章程，服务条款和操作规则严格执行。广州数联软件技术有限公司社区是广州数联软件技术有限公司网站为网友提供的一项服务，用户通过完成注册程序并打钩"我同意"的按钮，这表示用户与广州数联软件技术有限公司网站达成协议并接受所有的服务条款。<br>
                　
                <br>
                二、服务条款<br>
                　　
                1、服务内容<br>
                　　
                广州数联软件技术有限公司社区是由广州数联软件技术有限公司网站根据实际情况向网友提供论坛(BBS)、MYPOCO个人主页、留言板、俱乐部等服务，广州数联软件技术有限公司网站保留随时变更、中断或终止部分或全部网络服务的权利。</p>
            <p>　　用户理解，广州数联软件技术有限公司网站仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如电脑、调制解调器及其他与接入互联网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费）均应由用户自行负担<br>
                　　
                2、服务开通及终止的情形：<br>
                　　　　
                1)用户注册后，即可使用。 　　　<br>
                　　　　
                2) 用户违反本服务条款，经广州数联软件技术有限公司核实后，将删除其帐号。<br>
                　　
                3、服务修订：<br>
                　　
                广州数联软件技术有限公司社区保留随时修改或中断服务而不需通知用户的权利。用户接受广州数联软件技术有限公司社区行使修改或中断服务的权利，广州数联软件技术有限公司网站不需对用户或第三方负责。<br>
                <br>
            </p>


            <p>三、用户管理<br>
                　　
                1、用户管理<br>
                　　
                用户单独承担发布内容的责任。用户对服务的使用是根据所有适用于服务的地方法律、国家法律和国际法律标准的。用户承诺：<br>
                　
                （1）在广州数联软件技术有限公司的网页上发布信息或者利用广州数联软件技术有限公司的服务时必须符合中国有关法规(部分法规请见附录)，不得在广州数联软件技术有限公司的网页上或者利用广州数联软件技术有限公司的服务制作、复制、发布、传播以下信息：<br>
                　　
                1. 反对宪法所确定的基本原则的；<br>
                　　
                2. 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>
                　　
                3. 损害国家荣誉和利益的；<br>
                　　
                4. 煽动民族仇恨、民族歧视，破坏民族团结的；<br>
                　　
                5. 破坏国家宗教政策，宣扬邪教和封建迷信的；<br>
                　　
                6. 散布谣言，扰乱社会秩序，破坏社会稳定的；<br>
                　　
                7. 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br>
                　　
                8. 侮辱或者诽谤他人，侵害他人合法权益的；<br>
                　　
                9. 含有法律、行政法规禁止的其他内容的。<br>
                　　
                10. 散布危害国家安全的；攻击我党，我国领导人的;颠覆国家政权，破坏国家统一的资料的；<br>
                　　
                11. 干扰广州数联软件技术有限公司社区正常秩序，经多次警告不听劝告的；<br>
                　　
                12. 恶意攻击损害广州数联软件技术有限公司网站和社区形象的。<br>
                　　
                13. 使用带有性别歧视、种族歧视、个人侮辱、自侮辱、猥亵等不雅ID或者昵称;<br>
                　　
                （2）在广州数联软件技术有限公司的网页上发布信息或者利用广州数联软件技术有限公司的服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。<br>
                　　
                （3）不利用广州数联软件技术有限公司的服务从事以下活动：<br>
                　　
                1. 未经允许，进入计算机信息网络或者使用计算机信息网络资源的； 未经允许，对计算机信息网络功能进行删除、修改或者增加的；<br>
                　　
                2. 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；<br>
                　　
                3. 故意制作、传播计算机病毒等破坏性程序的；<br>
                　　
                4. 其他危害计算机信息网络安全的行为。<br>
                　　
                （4）不以任何方式干扰广州数联软件技术有限公司的服务。</p>
            <p>　　（5）遵守广州数联软件技术有限公司的所有其他规定和程序。<br>
                　　
                用户必须对自己在使用广州数联软件技术有限公司社区服务过程中的行为承担法律责任。如果发现其网站传输的信息明显属于上段第(1)条所列内容之一，依据中国法律，广州数联软件技术有限公司有义务立即停止传输，并保存有关记录和用户上网日志，向国家有关机关报告，并且删除含有该内容的地址、目录或关闭服务器。<br>
                若用户的行为不符合以上提到的服务条款，广州数联软件技术有限公司网站将有权利取消用户服务帐号。 <br>
                四、保守用户隐私<br>
                　　
                真实的用户资料将作为广州数联软件技术有限公司提供售后服务的依据和用户获得法律保障的前提，用户必须提供真实的用户资料， 如上述资料有变动，请及时更新。广州数联软件技术有限公司保留对不如实填写个人资料的社区用户取消其使用广州数联软件技术有限公司社区服务的权利。<br>
                　　
                尊重用户个人隐私是广州数联软件技术有限公司的一项基本政策，除以下五种情况外，广州数联软件技术有限公司不会在未经合法用户授权时，同意公开、编辑或透露用户资料及其它保存在广州数联软件技术有限公司 中的保密性内容：<br>
                　　
                1. 根据有关法律规定要求；<br>
                　　
                2. 有关权力机关的要求；<br>
                　　
                3. 事先获得用户的明确授权。<br>
                　　
                4. 为维护社会公众的利益；<br>
                　　
                5. 为维护广州数联软件技术有限公司网站的合法权益。<br>
                五、用户的帐号、密码和安全性<br>
                　　
                请妥善保管好你注册时的用户名和密码。每个用户都要对您的帐户中所有的活动和事件负全部责任。如果您没有保管好自己的帐号和密码，而对您、广州数联软件技术有限公司或第三方造成的损害，您将负全部责任。当您发现有任何非法使用用户帐号或安全漏洞的情况，必须立即通告广州数联软件技术有限公司网站。<br>
                六、有限责任<br>
                　　
                在技术条件和商业条件允许情况下，广州数联软件技术有限公司社区提供如下免费服务，广州数联软件技术有限公司不对其他服务或其它原因导致社区系统不能正常运行做出任何承诺。<br>
                　　
                广州数联软件技术有限公司免费邮箱提供的服务：BBS、留言板、MYPOCO个人主页、俱乐部系统日常维护、处理客户投诉；广州数联软件技术有限公司不对其它服务提出承诺。<br>
                　　
                用户的责任：由于用户过错原因导致广州数联软件技术有限公司损失（包括因此广州数联软件技术有限公司需对第三方承担的损失）由用户赔偿；<br>
                用户明确同意其使用广州数联软件技术有限公司社区网络服务所存在的风险将完全由其自己承担；因其使用广州数联软件技术有限公司社区服务而产生的一切后果也由其自己承担，广州数联软件技术有限公司社区对用户不承担任何责任。<br>
                　　广州数联软件技术有限公司网站不对用户所发布信息的删除或储存失败负责。本社区内所有的文章版权归原文作者和广州数联软件技术有限公司网站共同所有，任何人需要转载社区内文章，必须征得原文作者或广州数联软件技术有限公司网站授权。<br>
                　　广州数联软件技术有限公司社区不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。<br>
                　　用户利用广州数联软件技术有限公司网页或其他服务形式发布的一切信息（如图片、文字、影音等形式的作品），如涉及第三方的肖像权、著作权等一切国家法律规定的公民权利，发布人必须取得第三方授权，否则引起的一切纠纷、责任、经济补偿等由该图文拥有者负责，广州数联软件技术有限公司不承担任何直接或连带责任。<br>

                七、中断、结束服务<br>
                　
                （1）用户或广州数联软件技术有限公司网站可随时根据实际情况中断服务。广州数联软件技术有限公司网站不需对任何个人或第三方负责而随时中断服务。<br>
                　
                （2）如因系统维护或升级的需要而需暂停网络服务，广州数联软件技术有限公司网站将尽可能事先进行通告。<br>
                　
                （3）如发生下列任何一种情形，广州数联软件技术有限公司有权随时中断或终止向用户提供服务，无需通知用户<br>
                　
                1、违反本服务条款，经广州数联软件技术有限公司核实后，用户将不能使用广州数联软件技术有限公司社区服务。<br>
                　
                2、用户提供的个人资料不真实；<br>
                八、违约赔偿<br>
                　　
                如因用户违反有关法律、法规或本协议项下的任何条款而给广州数联软件技术有限公司或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。<br>
                九、 法律适用<br>
                　　
                用户对所发布信息的内容单独承担责任，用户对服务的使用是根据国家法律、地方法律和国际成文法律，国际惯例及本协议规定；<br>
                用户需对自己在网上的行为承担法律责任。用户不得在广州数联软件技术有限公司上散布和传播反动、色情或其他违反国家法律的信息；<br>
                若用户的行为不符合以上条款，广州数联软件技术有限公司将通知该用户，并保留立即终止对该用户的社区服务的权利。<br>
                十、服务条款的调整<br>
                　　
                此服务条款要与中华人民共和国的法律法规及其解释相一致，如发生广州数联软件技术有限公司服务条款与中华人民共和国法律相抵触时，广州数联软件技术有限公司有权单方将这些条款完全按法律规定重新调整，其它条款效力不受影响。<br>
            </p>
            <p>广州数联软件技术有限公司</p>
            </article>


        </div>
    </div>
</main>