<ul class="ui-list ui-list-text ui-border-b" >
    {{#each data}}
    <li class="ui-border-t">
        <div class="ui-list-info">
            {{{content1}}}
        </div>
        <div >{{{content2}}}</div>
    </li>
    {{/ each}}
</ul>