<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO约约 - 报名网友</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="action-signin wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                报名网友
            </header>

            <div class="more-select-drop">
                <p class="more-select-choosen" data-role="sys"><i class="icon icon-sao-50x50 more-select-sys"></i>扫一扫</p>
                <p class="more-select-choosen" data-role="module-card"><i class="icon icon-set-50x50 more-select-module-card"></i>建立模特卡</p>
                <p class="more-select-choosen" data-role="go-act"><i class="icon icon-pub-50x50 more-select-go-act"></i>发活动</p>
            </div>
            
            <div class="content-body">
                <div class="action-signin-content">
                    <h1>忆夏-POCO小型精品外拍</h1>
                    <section class="action-signin-list">
                        <ul>
                            <li class="game">
                                <div class="item" data-role="dropdown">
                                    <div class="title">第一场拍摄 10：30-12：00</div>
                                    <i class="icon dropdown"></i>
                                </div>
                                <div class="person">
                                    <ul>
                                        <li>
                                            <div class="title-out" data-role="dropdown">
                                                <div class="title">
                                                    <div class="tips tips-is-checked">已签到</div>
                                                    <div class="delta delta-is-checked"></div>
                                                </div>
                                                <div class="amount">
                                                    178人
                                                    <i class="icon dropdown"></i>
                                                </div>
                                            </div>
                                            <ul class="people">
                                                    <li>
                                                        <a class="avatar" data-role="navigate" data-target="zone">
                                                            <i></i>
                                                        </a>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <a class="avatar" data-role="navigate" data-target="zone">
                                                            <i></i>
                                                        </a>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <a class="avatar" data-role="navigate" data-target="zone">
                                                            <i></i>
                                                        </a>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <a class="avatar" data-role="navigate" data-target="zone">
                                                            <i></i>
                                                        </a>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <a class="avatar" data-role="navigate" data-target="zone">
                                                            <i></i>
                                                        </a>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <a class="avatar" data-role="navigate" data-target="zone">
                                                            <i></i>
                                                        </a>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="title-out">
                                                <div class="title">
                                                    <div class="tips">已签到</div>
                                                    <div class="delta"></div>
                                                </div>
                                                <div class="amount">
                                                    178人
                                                    <i class="icon dropdown"></i>
                                                </div>
                                            </div>
                                            <ul class="people">
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="game">
                                <div class="item">
                                    <div class="title">第一场拍摄 10：30-12：00</div>
                                    <i class="icon dropdown"></i>
                                </div>
                                <div class="person">
                                    <ul>
                                        <li>
                                            <div class="title-out">
                                                <div class="title">
                                                    <div class="tips">已签到</div>
                                                    <div class="delta"></div>
                                                </div>
                                                <div class="amount">
                                                    178人
                                                    <i class="icon dropdown"></i>
                                                </div>
                                            </div>
                                            <ul class="people">
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="game">
                                <div class="item">
                                    <div class="title">第一场拍摄 10：30-12：00</div>
                                    <i class="icon dropdown"></i>
                                </div>
                                <div class="person">
                                    <ul>
                                        <li>
                                            <div class="title-out">
                                                <div class="title">
                                                    <div class="tips">已签到</div>
                                                    <div class="delta"></div>
                                                </div>
                                                <div class="amount">
                                                    178人
                                                    <i class="icon dropdown"></i>
                                                </div>
                                            </div>
                                            <ul class="people">
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                                    <li>
                                                        <i class="avatar"></i>
                                                        <p class="name">逃之夭夭</p>
                                                    </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>   
            </div>
            <footer class="signin-footer" data-role="footer">
                <div class="follow" data-role="follow">
                    <a class="icon icon-follow">关注</a>
                </div>
                <div class="apply">马上报名</div>
                <div class="comment" data-role="comment">
                    <a class="icon icon-comment">留言</a>
                </div>
            </footer>
        </main>
    </div>
</div>
</body>
</html>