<main role="main" class="location">
    

    <header class="nav-header ">
        <div class="left-button-wrap"  data-role="page-back">
            <a><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">关于我们</h3>
        
        <div class="right-button-wrap">
            <a><i class="icon icon-cog"></i></a>
        </div>
    </header>  

    <div data-role="container" class="content-body"  style="background:#eeeeee;" >
        <div style="height:100%">

            <div class="yue-about">


                <div class="logo" data-role="logo"><i class="icon icon-yue-about-m"></i></div>
                <p data-role="app-ver" class="p1">V1.0.0</p>
                <p class="p2">100000+ 模特随心约</p>


                <p class="p3">广州摩幻时信息技术有限公司于2014年成立，拥有强大的互联网技术团队，丰富的社区运营经验。业务主要为移动平台服务开发，致力于向摄影师邀约模特提供最优质的服务。 </p>
                <p class="p4" data-role="cache-ver">
                    广州摩幻时信息技术有限公司
                </p>


                <button class="ui-button ui-button-primary ui-button-size-large ui-button-block ui-button-color1 fn-hide"  data-role="alipay_purse" style="margin-left:0;color:#fff;">
                    <span class="ui-button-content  icon-phone-logo">支付宝支付测试</span>
                </button>

                <br />

                <button class="ui-button ui-button-primary ui-button-size-large ui-button-block ui-button-color2 fn-hide"  data-role="wxpay-btn" style="margin-left:0;color:#fff;">
                    <span class="ui-button-content  icon-phone-logo">微信支付测试</span>
                </button>

                
            </div>



        </div>
    </div>


</main>