/* 详情页 */
.detail-page{padding-bottom: 100px;}
.detail-page .dtitle{font-size: 28px;color: #000000;padding: 40px 0 30px 0;}
.detail-page .main-part{width: 560px;}
.detail-page .main-part .details_pass_date{
    font-size: 14px;
}
.detail-page .main-part .details_pass_date_title{font-size: 16px;}

.detail-page .main-part .p1th{border: 1px solid #e6e6e6;border-radius: 5px}
.detail-page .main-part .p1th .box-line{background-color: #ff6763;height: 3px;overflow: hidden;border-radius: 5px 5px 0 0}


.detail-page .main-part .area-box{padding: 30px;}
.detail-page .main-part .area-box .wbox{}
.detail-page .main-part .area-box .wbox .lbox{}
.detail-page .main-part .area-box .wbox .lbox img{border-radius: 5px}

.detail-page .main-part .area-box .wbox .cbox{padding: 3px 0 0 20px;}
.detail-page .main-part .area-box .wbox .cbox h3{font-size: 20px;}
.detail-page .main-part .area-box .wbox .cbox .p1{color: #666666;padding-top: 5px;}
.detail-page .main-part .area-box .wbox .cbox .p2{padding: 5px 0;color: #666666;}

.detail-page .main-part .area-box .wbox .rbox{text-align: right;}
.detail-page .main-part .area-box .wbox .rbox .start{}
.detail-page .main-part .area-box .wbox .rbox .start span{background: url(../../image/task/start-16x16.png) ;width: 16px;height: 16px;display: inline-block;}
.detail-page .main-part .area-box .wbox .rbox .txt{padding-top: 5px;color: #aaaaaa;}

.detail-page .main-part .price{}
.detail-page .main-part .price h3{padding: 25px 0 0 0;font-size: 14px;}
.detail-page .main-part .price .wbox2{border: 1px solid #cccccc;width: 120px;border-radius: 3px;margin-top: 10px;}
.detail-page .main-part .price .wbox2 .lbox2{width: 40px;height: 40px;line-height: 40px;text-align: center;color: #333333;font-size: 18px;background-color: #f1f1f1;border-right: 1px solid #cccccc}
.detail-page .main-part .price .input-text{width: 78px;height: 40px;text-align: center;font-size: 14px;
*line-height: 40px;
}

.detail-page .main-part .txt-area{}
.detail-page .main-part .txt-area h3{font-size: 14px;margin-top: 30px;}
.detail-page .main-part .txt-area .textarea-class{width: 460px;height: 110px;border: 1px solid #cccccc;padding: 10px;margin-top: 15px;border-radius: 5px}

.detail-page .main-part .btn{width: 114px;text-align: center;height: 40px;line-height: 40px;border-radius: 5px;background-color: #4092f1;cursor: pointer;font-size: 16px;color: #fff;margin-top: 30px;}
.detail-page .main-part .btn:hover{background-color: #66a8f4;}

.detail-page .sidebar{width: 350px;}
.detail-page .sidebar .icon-l{background: url(../../image/task/icon-yuepi-20x20.png);width: 20px;height: 20px;margin-right: 8px;}
.detail-page .sidebar .r{width: 315px;}
.detail-page .sidebar .r .p1{color: #666666;}
.detail-page .sidebar .r .p2{color: #aaaaaa;padding-top: 5px;}
.detail-page .sidebar .icon-b{background: url(../../image/task/icon-baojia-20x20.png);}

.detail-page .sidebar .user-area{}
.detail-page .sidebar .user-area .name{font-size: 20px;color: #333333;margin-top: 40px;}
.detail-page .sidebar .item-wrap{color: #666;margin-top: 20px;}
.detail-page .sidebar .item-wrap h3{}
.detail-page .sidebar .item-wrap .p1{padding-top: 5px;}

.detail-page .sidebar .item-wrap .item{border-bottom: 1px solid #e6e6e6;padding: 15px 0px;}