<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>POCO摄影 - 按钮</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
<style type="text/css">

.ui-button {
    margin: 5px 0;
}
.des{
    margin: 3px 0;
}
html, body{
    width: auto;
    height: auto;
    overflow: auto; 
}
</style>
</head>
<body>

<div style="display:">
/********大小*******/
<p class="des">ui-button-block 为block元素，100% </p>
<p class="des">ui-button-size-large 为高度 45px 按钮 </p>
<p class="des">ui-button-size-middle 为高度 35px 按钮 </p>
<p class="des">ui-button-size-min 为高度 30px 按钮 </p>

/********圆角*******/
<p class="des">ui-button-size-radius-large  圆角为90px </p>

/********配色*******/
<p class="des">ui-button-primary  默认色粉色</p>
<p class="des">ui-button-color2  绿色</p>
<p class="des">ui-button-color3   黄色</p>
<p class="des">ui-button-nocolor   没有背景色</p>
<p class="des">ui-button-dark   不可以点击黑色</p>
</div>


<div id="page-container">
    <button class="ui-button ui-button-primary ui-button-block">
        <span class="ui-button-content">编辑个人资料</span>
    </button>


    <button class="ui-button ui-button-primary ui-button-size-default">
        <span class="ui-button-content">关注</span>
    </button>


    <button class="ui-button ui-button-primary ui-button-size-large ui-button-block">
        <span class="ui-button-content">立即注册</span>
    </button>

    <button class="ui-button ui-button-primary ui-button-size-middle ui-button-block ui-button-color2">
        <span class="ui-button-content">约拍</span>
    </button>

    <button class="ui-button ui-button-primary ui-button-size-min ui-button-block ui-button-color3">
        <span class="ui-button-content">约拍</span>
    </button>


    <button class="ui-button ui-button-primary ui-button-size-min ui-button-block ui-button-color3 ui-button-size-radius-large">
        <span class="ui-button-content"><i class="icon icon-laba"></i> 约拍</span>
    </button>

    <button class="ui-button  ui-button-size-min ui-button-block ui-button-nocolor">
        <span class="ui-button-content">约拍</span>
    </button>

    <button class="ui-button ui-button-size-min ui-button-block ui-button-dark">
        <span class="ui-button-content">约拍</span>
    </button>


</div>
</body>
</html>
