<!doctype html>
<html lang="zh">
<head>
<meta charset="gb2312">
<title>约拍 - 三角形</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
<style type="text/css">

.ui-button {
    margin: 5px 0;
}
.des{
    margin: 3px 0;
}
html, body{
    width: auto;
    height: auto;
    overflow: auto; 
    
}
body{
    padding: 20px;
}
</style>
</head>
<body>

<div style="display:">

<p class="des">三角形icon说明</p>

</div>


<div id="page-container">
<br><br>

<i class="icon icon-r-red-m"></i>

<br><br>

<i class="icon icon-r-grey-m"></i>

<br><br>

<p class="des">如果角向上，加 icon-triangle-top</p>


<i class="icon icon-triangle-grey"></i>

<br><br>

<i class="icon icon-triangle-red"></i>

<br><br>

<i class="icon icon-triangle-grey icon-triangle-top"></i>

<br><br>

<i class="icon icon-triangle-red icon-triangle-top"></i>


</div>
</body>
</html>
