<!doctype html>
<html lang="zh">
<head>
    <meta charset="gb2312">
    <title>POCO约约 - 发布活动</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link charset="utf-8" rel="stylesheet" href="../../../css/pai/paiappstyle.css">
</head>

<body>
<div id="page-container" >
    <div class="apps_page">
        <main role="main" class="action-intro wryh">
            <header class="page-header wryh">
                <div class="page-back" data-role="page-back"><i class="icon icon-back-40x40"></i></div>
                发布活动
            </header>
            <div class="content-body">
                <div class="upload-pic">
                    <div class="upload-pic-list">
                        <div class="image-item">
                            <img class="upload-image" src="../../assets/images/pai/test/test.jpg">
                            <i class="icon close-btn" data-role="del-pic"></i>
                        </div>
                        <div class="image-item">
                            <img class="upload-image" src="../../assets/images/pai/test/test.jpg">
                            <i class="icon close-btn" data-role="del-pic"></i>
                        </div>
                        <div class="image-item">
                            <img class="upload-image" src="../../assets/images/pai/test/test.jpg">
                            <i class="icon close-btn" data-role="del-pic"></i>
                        </div>
                        <div class="image-item">
                            <img class="upload-image" src="../../assets/images/pai/test/test.jpg">
                            <i class="icon close-btn" data-role="del-pic"></i>
                        </div>
                        <div class="image-item">
                            <img class="upload-image" src="../../assets/images/pai/test/test.jpg">
                            <i class="icon close-btn" data-role="del-pic"></i>
                        </div>
                        <div class="image-item">
                            <!--<a class="add-btn">+</a>-->
                            <!--<button class="add-btn">+</button>-->
                            <div class="add-btn">+</div>
                            <!--<input type="file" class="add-btn" value="+" accept="image/gif,image/jpeg,image/png">-->
                            <!--<i class="add-btn">+</i>-->
                        </div>
                        <div class="cover-image">
                            <img class="upload-image" src="../../assets/images/pai/test/test.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script>

</script>
</body>
</html>
