.location-mod {
  background: #fff; }
  .location-mod .city-style .city-wrap {
    padding: 5px 0; }
  .location-mod .city-style .item {
    float: left;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 5px 0 5px 10px;
    padding: 0;
    width: 87px;
    height: 34px;
    line-height: 34px;
    text-align: center; }
  .location-mod .local-city .item:nth-child(1) {
    background-color: #ebf4fa;
    color: #099fde; }
  .location-mod .title {
    height: 30px;
    line-height: 30px;
    background: #efefef;
    border-bottom: 1px solid #dfdfdf;
    font-size: 14px;
    font-family: Arial;
    color: #4e5f71;
    padding-left: 15px; }
  .location-mod .item {
    background: #fff;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 16px;
    padding-left: 15px;
    color: #4e5f71; }
    .location-mod .item:active {
      background: #f4f2f2; }
  .location-mod .flight-ctlts-selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 33px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    color: #fff;
    font-size: 15px;
    margin-left: -38px;
    margin-top: -4px;
    background: rgba(9, 159, 222, 0.5);
    border-radius: 4px;
    z-index: 200; }
    .location-mod .flight-ctlts-selected:after {
      content: '';
      position: absolute;
      right: -16px;
      top: 8px;
      width: 0;
      height: 0;
      border-width: 5px 8px;
      border-style: solid;
      border-color: transparent transparent transparent rgba(9, 159, 222, 0.5); }
  .location-mod .flight-ctltsfixed {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 28px;
    height: 100%; }
    .location-mod .flight-ctltsfixed .flight-ctltsfixed-pd {
      position: fixed;
      bottom: 0;
      height: 100%; }
    .location-mod .flight-ctltsfixed .flight-ctlts {
      height: 100%;
      -webkit-user-select: none; }
    .location-mod .flight-ctltsfixed li {
      font-size: 14px;
      text-align: center;
      color: #099fde;
      height: 3.5714%;
      position: relative; }
