<main role="main" class="">

    <header class="nav-header comment-page-header">
        <div class="left-button-wrap" data-role="page-back">
            <a ><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">用户评价</h3>
        
        <div class="right-button-wrap">
        </div>
    </header>

    <div data-role="container" class="content-body secondary"   >
        <div>
            <div class="comment-list-page">
                    <div class="item-wrap" data-role="item-data">
                    </div>

                   <!-- <div class="ui-btn-refresh"  data-role="load-more-container"  >
                        <i class="icon icon-spinner "></i> 加载更多... 
                        ui-loading-animate  刷新中加css名
                    </div> -->

                    <div class="ui-btn-refresh  " data-role="load-more-container-v2">
                        <i class="icon icon-spinner  fn-hide"></i> <span class="load-txt" data-role="load-txt">点击加载更多...</span>  <!-- ui-loading-animate -->
                    </div>

                    <!-- <div class="space-bottom"></div> -->

                </div>
        </div>
    </div>

</main>