.Wdate{
	border:#999 1px solid;
	height:20px;
	background:#fff url(http://static.yueus.com/taskpredev/static/modules/common/widget/DatePicker/skin/datePicker.gif) no-repeat right;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}