<li data-role="iphone-msg" data-iphone-remote-notify="{{iphone_remote_notify}}">
    接收新消息通知
    <div class="switch-container">
        <div class="right-text" data-role="iphone-msg-text">{{#if iphone_remote_notify}}已开启{{else}}未开启{{/if}}</div>
    </div>
</li>
<li class="li-text">如果你要开启或关闭约的新消息通知，请在手机的“设置”-“通知”功能中，找到应用程序“约”更改</li>