<main class="mine-setting-page" role="main">
    <header class="nav-header mine-setting-nav-header">
        <div class="left-button-wrap" data-role="page-back">
            <a><i class="icon icon-back" ></i></a>
        </div>
        <h3 class="title">系统设置</h3>
        <div class="right-button-wrap"></div>
    </header>
    <div class="mine-setting-container mt10" data-role="container">
        <section>
            <ul class="ui-table-list" data-role="ui-table-list">
                <li data-role="shake">
                    震动
                    <div class="switch-container">
                         <span class="ui-loading" data-role="ui-loading-shake"><i class="t1"></i><i class="t2"></i><i
                                 class="t3"></i></span>
                        <span class="fn-hide" data-role="switch" data-target="shake">
                            <input checked="checked" class="ui-switch-checkbox" type="checkbox">
                            <span class="ui-switch-wrapper">
                                <span class="ui-switch-background"></span>
                            </span>
                            <span class="ui-switch-container">
                                <span class="ui-switch-handle"></span>
                            </span>
                        </span>
                    </div>
                </li>
                <li data-role="sound">
                    声音
                    <div class="switch-container">
                         <span class="ui-loading" data-role="ui-loading-sound"><i class="t1"></i><i class="t2"></i><i
                                 class="t3"></i></span>
                        <span class="fn-hide" data-role="switch" data-target="sound">
                            <input checked="checked" class="ui-switch-checkbox" type="checkbox">
                            <span class="ui-switch-wrapper">
                                <span class="ui-switch-background"></span>
                            </span>
                            <span class="ui-switch-container">
                                <span class="ui-switch-handle"></span>
                            </span>
                        </span>
                    </div>
                </li>
                <li class="li-text">当约在运行时，你可以设置是否需要声音或者震动</li>
            </ul>
        </section>
    </div>
</main>