<main class="mine-edit-page" role="main">
    <header class="nav-header mine-edit-nav-header nav-header-special-pop">
        <div class="left-button-wrap">
            <a data-role="back">
                <i class="icon icon-back"></i>
            </a>
        </div>

        <h3 class="title">拍摄图片</h3>

        <div class="right-button-wrap">

        </div>
    </header>

    <div  data-role="container">
        <div class="ml20 mb20 mr20">
            <h1 class="pt20">请确保身份证四角完整，文字清晰可辨认</h1>
            <i data-role="ID-pic"  class="img image-img child-img loaded mt20" style="background-image: url('{{pic}}');height: 240px;border-radius: 2px;">

            </i>
            <div class="mt20">
                <button class="ui-button ui-button-primary ui-button-size-large ui-button-block" data-role="btn">
                    <span class="ui-button-content">拍摄</span>
                </button>
            </div>
        </div>
    </div>
</main>